<template>
    <v-pagination
		color="#009583"
        @input="paginationChangeHandler"
        :value="pagination.now"
        :length="pages"
        :total-visible="pagination.navigationLength">
    </v-pagination>
</template>

<script>
import {EventBus} from "../../utils/bus";

export default {
    name: "PaginationComponent",
    props: {
        pagination: {
            type: Object
        },
    },
    computed: {
        pages() {
            if (
                this.pagination.rowsPerPage == null ||
                this.pagination.length == null
            ) {
                return 0;
            }

            return Math.ceil(
                this.pagination.length / this.pagination.rowsPerPage
            );
        }
    },
    watch: {
        'pagination.now'() {
            this.pagination.startRow = (this.pagination.now - 1) * this.pagination.rowsPerPage;
            this.pagination.endRow = (this.pagination.now - 1) * this.pagination.rowsPerPage + this.pagination.rowsPerPage;
            if(this.pagination.endRow > this.pagination.length) this.pagination.endRow = this.pagination.length; // 마지막 페이지 보정
            this.pagination.callback();
        }
    },
    methods: {
        paginationChangeHandler(pageNumber) {
            this.pagination.now = pageNumber;
        },
    },
    created() {
        this.pagination.startRow = (this.pagination.now - 1) * this.pagination.rowsPerPage;
        this.pagination.endRow = (this.pagination.now - 1) * this.pagination.rowsPerPage + this.pagination.rowsPerPage;
    }
}
</script>

<style scoped>

</style>