<template>
    <div>
        <!-- .srchArea -->
        <div class="srchArea">
            <table class="tbl_line_view" summary="조직, 내선번호, 상담원으로 구성">
                <caption class="hide">검색조건</caption>
                <colgroup>
                    <col width="80"><col><col width="80"><col><col width="80"><col><col width="80"><col>
                </colgroup>

                <tbody>
                <tr>
                    <th scope="row">조직1</th>
                    <td>
                        <select class="select">
                            <option value="">조직1옵션</option>
                            <option value="">조직1옵션</option>
                            <option value="">조직1옵션</option>
                            <option value="">조직1옵션</option>
                            <option value="">조직1옵션</option>
                        </select>
                    </td>

                    <th scope="row">조직2</th>
                    <td>
                        <select class="select">
                            <option value="">조직2옵션</option>
                            <option value="">조직2옵션</option>
                            <option value="">조직2옵션</option>
                            <option value="">조직2옵션</option>
                            <option value="">조직2옵션</option>
                        </select>
                    </td>

                    <th scope="row">내선번호</th>
                    <td>
                        <div class="iptBox">
                            <input type="text">
                        </div>
                    </td>

                    <th scope="row">상담원</th>
                    <td>
                        <div class="iptBox">
                            <input type="text">
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- [D] 조회 버튼(.btn_srch)클릭 시 하단 리스트 오름차순으로 기본 정렬된 상태로 조회되며, 입력된 검색조건 값들은 reset되어야함 -->
            <!-- [D] 초기화 버튼(.btn_reset)클릭 시 검색조건 테이블 상 입력값들 모두 reset됨 -->
            <div class="btnBox">
                <a href="#none" class="btn_srch">조회</a>
                <!-- AMR 기획서에 초기화버튼이 없어져서 가렸습니다. 필요시 사용해주세요. -->
                <!-- <a href="#none" class="btn_reset">초기화</a> -->
            </div>
        </div>
        <!-- //.srchArea -->

        <!-- [D] 상담사 카드의 순번은 갯수만큼 자동 카운트됨 -->
        <!-- [D] 카드에 마우스 오버 시 버튼 나타남 -->
        <ul class="cslr_lst">
            <!-- [D] 대기중일때 -->
            <li>
                <div class="imgBox">
                    <img src="~@/assets/images/ico_no_connection.svg" alt="대기중아이콘">
                </div>
                <p class="cslr_name">
                    김아람
                    <span>&#40;0000&#41;</span>
                </p>
                <div class="btnBox">
                    <a href="#none">
                        <em class="far fa-file-alt"></em>
                    </a>
                    <a href="#none">
                        <em class="fas fa-tasks"></em>
                    </a>
                    <a href="#none">
                        <em class="fas fa-comment-slash"></em>
                    </a>
                    <a href="#none">
                        <em class="far fa-comment-dots"></em>
                    </a>
                </div>
            </li>
            <!-- [D] 통화중일때 addClass('connection') 해주면 아이콘 변경됨 - 하단 script 참고 -->
            <li class="connection">
                <div class="imgBox">
                    <img src="~@/assets/images/ico_no_connection.svg" alt="대기중아이콘">
                </div>
                <p class="cslr_name">
                    김아람
                    <span>&#40;0000&#41;</span>
                </p>
                <div class="btnBox">
                    <a @click="openRealtimeSttMonitoringModal(1)">
                        <em class="fas fa-tasks"></em>
                    </a>
                </div>
            </li>
            <li class="connection">
                <div class="imgBox">
                    <img src="~@/assets/images/ico_no_connection.svg" alt="대기중아이콘">
                </div>
                <p class="cslr_name">
                    김아람
                    <span>&#40;0000&#41;</span>
                </p>
                <div class="btnBox">
                    <a @click="openRealtimeSttMonitoringModal(2)">
                        <em class="fas fa-tasks"></em>
                    </a>
                </div>
            </li>
            <li>
                <div class="imgBox">
                    <img src="~@/assets/images/ico_no_connection.svg" alt="대기중아이콘">
                </div>
                <p class="cslr_name">
                    김아람
                    <span>&#40;0000&#41;</span>
                </p>
                <div class="btnBox">
                    <a href="#none">
                        <em class="fas fa-tasks"></em>
                    </a>
                </div>
            </li>
            <li>
                <div class="imgBox">
                    <img src="~@/assets/images/ico_break_time.svg" alt="휴식중아이콘">
                </div>
                <p class="cslr_name">
                    김아람
                    <span>&#40;0000&#41;</span>
                </p>
                <div class="btnBox">
                    <a href="#none">
                        <em class="fas fa-tasks"></em>
                    </a>
                </div>
            </li>
            <li>
                <div class="imgBox">
                    <img src="~@/assets/images/ico_close.svg" alt="휴가중아이콘">
                </div>
                <p class="cslr_name">
                    김아람
                    <span>&#40;0000&#41;</span>
                </p>
                <div class="btnBox">
                    <a href="#none">
                        <em class="fas fa-tasks"></em>
                    </a>
                </div>
            </li>
            <li>
                <div class="imgBox">
                    <img src="~@/assets/images/ico_no_connection.svg" alt="대기중아이콘">
                </div>
                <p class="cslr_name">
                    김아람
                    <span>&#40;0000&#41;</span>
                </p>
                <div class="btnBox">
                    <a href="#none">
                        <em class="fas fa-tasks"></em>
                    </a>
                </div>
            </li>
            <li>
                <div class="imgBox">
                    <img src="~@/assets/images/ico_no_connection.svg" alt="대기중아이콘">
                </div>
                <p class="cslr_name">
                    김아람
                    <span>&#40;0000&#41;</span>
                </p>
                <div class="btnBox">
                    <a href="#none">
                        <em class="fas fa-tasks"></em>
                    </a>
                </div>
            </li>
            <li>
                <div class="imgBox">
                    <img src="~@/assets/images/ico_no_connection.svg" alt="대기중아이콘">
                </div>
                <p class="cslr_name">
                    김아람
                    <span>&#40;0000&#41;</span>
                </p>
                <div class="btnBox">
                    <a href="#none">
                        <em class="fas fa-tasks"></em>
                    </a>
                </div>
            </li>
            <li>
                <div class="imgBox">
                    <img src="~@/assets/images/ico_no_connection.svg" alt="대기중아이콘">
                </div>
                <p class="cslr_name">
                    김아람
                    <span>&#40;0000&#41;</span>
                </p>
                <div class="btnBox">
                    <a href="#none">
                        <em class="fas fa-tasks"></em>
                    </a>
                </div>
            </li>
            <li>
                <div class="imgBox">
                    <img src="~@/assets/images/ico_no_connection.svg" alt="대기중아이콘">
                </div>
                <p class="cslr_name">
                    김아람
                    <span>&#40;0000&#41;</span>
                </p>
                <div class="btnBox">
                    <a href="#none">
                        <em class="fas fa-tasks"></em>
                    </a>
                </div>
            </li>
            <li>
                <div class="imgBox">
                    <img src="~@/assets/images/ico_no_connection.svg" alt="대기중아이콘">
                </div>
                <p class="cslr_name">
                    김아람
                    <span>&#40;0000&#41;</span>
                </p>
                <div class="btnBox">
                    <a href="#none">
                        <em class="fas fa-tasks"></em>
                    </a>
                </div>
            </li>
            <li>
                <div class="imgBox">
                    <img src="~@/assets/images/ico_no_connection.svg" alt="대기중아이콘">
                </div>
                <p class="cslr_name">
                    김아람
                    <span>&#40;0000&#41;</span>
                </p>
                <div class="btnBox">
                    <a href="#none">
                        <em class="fas fa-tasks"></em>
                    </a>
                </div>
            </li>
            <li>
                <div class="imgBox">
                    <img src="~@/assets/images/ico_no_connection.svg" alt="대기중아이콘">
                </div>
                <p class="cslr_name">
                    김아람
                    <span>&#40;0000&#41;</span>
                </p>
                <div class="btnBox">
                    <a href="#none">
                        <em class="fas fa-tasks"></em>
                    </a>
                </div>
            </li>
            <li>
                <div class="imgBox">
                    <img src="~@/assets/images/ico_no_connection.svg" alt="대기중아이콘">
                </div>
                <p class="cslr_name">
                    김아람
                    <span>&#40;0000&#41;</span>
                </p>
                <div class="btnBox">
                    <a href="#none">
                        <em class="fas fa-tasks"></em>
                    </a>
                </div>
            </li>
            <li>
                <div class="imgBox">
                    <img src="~@/assets/images/ico_no_connection.svg" alt="대기중아이콘">
                </div>
                <p class="cslr_name">
                    김아람
                    <span>&#40;0000&#41;</span>
                </p>
                <div class="btnBox">
                    <a href="#none">
                        <em class="fas fa-tasks"></em>
                    </a>
                </div>
            </li>
            <li>
                <div class="imgBox">
                    <img src="~@/assets/images/ico_no_connection.svg" alt="대기중아이콘">
                </div>
                <p class="cslr_name">
                    김아람
                    <span>&#40;0000&#41;</span>
                </p>
                <div class="btnBox">
                    <a href="#none">
                        <em class="fas fa-tasks"></em>
                    </a>
                </div>
            </li>
            <li>
                <div class="imgBox">
                    <img src="~@/assets/images/ico_no_connection.svg" alt="대기중아이콘">
                </div>
                <p class="cslr_name">
                    김아람
                    <span>&#40;0000&#41;</span>
                </p>
                <div class="btnBox">
                    <a href="#none">
                        <em class="fas fa-tasks"></em>
                    </a>
                </div>
            </li>
            <li>
                <div class="imgBox">
                    <img src="~@/assets/images/ico_no_connection.svg" alt="대기중아이콘">
                </div>
                <p class="cslr_name">
                    김아람
                    <span>&#40;0000&#41;</span>
                </p>
                <div class="btnBox">
                    <a href="#none">
                        <em class="fas fa-tasks"></em>
                    </a>
                </div>
            </li>
            <li>
                <div class="imgBox">
                    <img src="~@/assets/images/ico_no_connection.svg" alt="대기중아이콘">
                </div>
                <p class="cslr_name">
                    김아람
                    <span>&#40;0000&#41;</span>
                </p>
                <div class="btnBox">
                    <a href="#none">
                        <em class="fas fa-tasks"></em>
                    </a>
                </div>
            </li>
            <li>
                <div class="imgBox">
                    <img src="~@/assets/images/ico_no_connection.svg" alt="대기중아이콘">
                </div>
                <p class="cslr_name">
                    김아람
                    <span>&#40;0000&#41;</span>
                </p>
                <div class="btnBox">
                    <a href="#none">
                        <em class="fas fa-tasks"></em>
                    </a>
                </div>
            </li>
            <li>
                <div class="imgBox">
                    <img src="~@/assets/images/ico_no_connection.svg" alt="대기중아이콘">
                </div>
                <p class="cslr_name">
                    김아람
                    <span>&#40;0000&#41;</span>
                </p>
                <div class="btnBox">
                    <a href="#none">
                        <em class="fas fa-tasks"></em>
                    </a>
                </div>
            </li>
            <li>
                <div class="imgBox">
                    <img src="~@/assets/images/ico_no_connection.svg" alt="대기중아이콘">
                </div>
                <p class="cslr_name">
                    김아람
                    <span>&#40;0000&#41;</span>
                </p>
                <div class="btnBox">
                    <a href="#none">
                        <em class="fas fa-tasks"></em>
                    </a>
                </div>
            </li>
            <li>
                <div class="imgBox">
                    <img src="~@/assets/images/ico_no_connection.svg" alt="대기중아이콘">
                </div>
                <p class="cslr_name">
                    김아람
                    <span>&#40;0000&#41;</span>
                </p>
                <div class="btnBox">
                    <a href="#none">
                        <em class="fas fa-tasks"></em>
                    </a>
                </div>
            </li>
            <li>
                <div class="imgBox">
                    <img src="~@/assets/images/ico_no_connection.svg" alt="대기중아이콘">
                </div>
                <p class="cslr_name">
                    김아람
                    <span>&#40;0000&#41;</span>
                </p>
                <div class="btnBox">
                    <a href="#none">
                        <em class="fas fa-tasks"></em>
                    </a>
                </div>
            </li>
            <li>
                <div class="imgBox">
                    <img src="~@/assets/images/ico_no_connection.svg" alt="대기중아이콘">
                </div>
                <p class="cslr_name">
                    김아람
                    <span>&#40;0000&#41;</span>
                </p>
                <div class="btnBox">
                    <a href="#none">
                        <em class="fas fa-tasks"></em>
                    </a>
                </div>
            </li>
            <li>
                <div class="imgBox">
                    <img src="~@/assets/images/ico_no_connection.svg" alt="대기중아이콘">
                </div>
                <p class="cslr_name">
                    김아람
                    <span>&#40;0000&#41;</span>
                </p>
                <div class="btnBox">
                    <a href="#none">
                        <em class="fas fa-tasks"></em>
                    </a>
                </div>
            </li>
            <li>
                <div class="imgBox">
                    <img src="~@/assets/images/ico_no_connection.svg" alt="대기중아이콘">
                </div>
                <p class="cslr_name">
                    김아람
                    <span>&#40;0000&#41;</span>
                </p>
                <div class="btnBox">
                    <a href="#none">
                        <em class="fas fa-tasks"></em>
                    </a>
                </div>
            </li>
            <li>
                <div class="imgBox">
                    <img src="~@/assets/images/ico_no_connection.svg" alt="대기중아이콘">
                </div>
                <p class="cslr_name">
                    김아람
                    <span>&#40;0000&#41;</span>
                </p>
                <div class="btnBox">
                    <a href="#none">
                        <em class="fas fa-tasks"></em>
                    </a>
                </div>
            </li>
            <li>
                <div class="imgBox">
                    <img src="~@/assets/images/ico_no_connection.svg" alt="대기중아이콘">
                </div>
                <p class="cslr_name">
                    김아람
                    <span>&#40;0000&#41;</span>
                </p>
                <div class="btnBox">
                    <a href="#none">
                        <em class="fas fa-tasks"></em>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</template>

<script>
import {EventBus} from "@/utils/bus";
import { RepositoryFactory } from "@/repositories/RepositoryFactory";
import {Stomp} from "@/assets/js/stomp/stomp.min";
import {mapActions} from "vuex";
const SockJS = require("@/assets/js/sockjs/sockjs.min");
const RealtimeRepository = RepositoryFactory.get("realtime");

export default {
    name: "RealtimeDashboard",
    data() {
        return {
            sock: new SockJS("/ws"),
            client: null,
        }
    },
    methods: {
        ...mapActions('base', {
            setModal: 'setModal'
        }),
        openRealtimeSttMonitoringModal(callId){
            this.setModal({name: 'RealtimeSttMonitoringModal', parameters: {repository: RealtimeRepository, callId: callId}});
        },
    },
    async mounted() {
        const {data: result} = await RealtimeRepository.connect();
        if(result){
            Stomp.over(this.sock).connect({}, () => {
                Stomp.over(this.sock).subscribe('/ws/subscribe/realtime/monitoring', (msg) => {

                });
            });
        }
    },
    async created() {
        EventBus.$emit("setContetnsClass", { className: "admin call_mntr NH" });
    },
}
</script>

<style lang="scss">
    @import "~css/nh";
</style>