<template>
    <modal-component modal-add-class="small" :modal-add-style="{width: 'auto', height: 'auto'}" :is-close="true" @modal:close="closeModal">
        <section slot="title">
            문장 추가
        </section>
        <section slot="content">
            <div class="admin medium">
                <!-- .counsel_stn_manage -->
                <div class="prdt_script_manage">
                    <!-- .pop_mdl -->
                    <div class="pop_mdl">
                        <!-- .setBox -->
                        <div class="setBox add_sentence">
                            <h2>문장 검색</h2>

                            <div class="srchBox">
                                <input type="search" v-model="searchKeyword" @keyup.enter="fn_getSentenceList">
                                <a @click="fn_getSentenceList" class="btn_srch">
                                    <span>검색버튼</span>
                                </a>
                            </div>

                            <!-- .dataTableBox -->
                            <div class="dataTableBox">
                                <!-- [D] datatables 라이브러리 영역 -->
                                <table class="dataTable tbl_include_btn">
                                    <colgroup>
                                        <col width="50"><col width="200"><col><col width="80">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th>NO</th>
                                        <th>가이드 문장</th>
                                        <th>표준스크립트 문장 내용</th>
                                        <th>선택</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-if="!sentenceList">
                                        <td colspan="4">조회된 데이터가 없습니다.</td>
                                    </tr>
                                    <template v-else>
                                        <tr v-for="(item, index) in sentenceList" :key="index">
                                            <td>{{item.rowNum}}</td>
                                            <td>{{item.gudStmt}}</td>
                                            <td :title="item.scrp">{{item.scrp}}</td>
                                            <td>
                                                <div class="btnBox">
                                                    <a @click="fn_selectSentence(item)" class="btn_slt">선택</a>
                                                </div>
                                            </td>
                                        </tr>
                                    </template>
                                    </tbody>
                                </table>
                            </div>
                            <!-- //.dataTableBox -->

                            <v-app>
                                <pagination-component :pagination="pagination"/>
                            </v-app>
                        </div>
                        <!-- //.setBox -->

                        <!-- .setBox -->
                        <div class="setBox add_sentence">
                            <h2>선택 문장 리스트</h2>

                            <div class="tbl_popup_set tbl_include_btn">
                                <div class="tbl_hd">
                                    <table summary="NO, 상담 문장, 삭제(버튼)으로 구성됨">
                                        <caption class="hide">선택 문장 리스트</caption>
                                        <colgroup>
                                            <col width="50"><col width="200"><col><col width="80">
                                        </colgroup>

                                        <thead>
                                        <tr>
                                            <th scope="col">NO</th>
                                            <th scope="col">가이드 문장</th>
                                            <th scope="col">표준스크립트 문장 내용</th>
                                            <th scope="col">삭제</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>

                                <div class="tbl_bd tbl_scroll" style="max-height: 300px;">
                                    <table>
                                        <colgroup>
                                            <col width="50"><col width="200"><col><col width="80">
                                        </colgroup>

                                        <tbody>
                                        <tr v-if="!selectedSentence.length">
                                            <td colspan="4">선택된 데이터가 없습니다.</td>
                                        </tr>
                                        <template>
                                            <tr v-for="(item, index) in selectedSentence" :key="index">
                                                <td>{{index + 1}}</td>
                                                <td>{{item.gudStmt}}</td>
                                                <td>{{item.scrp}}</td>
                                                <td>
                                                    <div class="btnBox">
                                                        <a @click="fn_delSentence(item)" class="btn_slt">삭제</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </template>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- //.setBox -->
                    </div>
                    <!-- //.pop_mdl -->

                    <!-- .pop_btm -->
                    <div class="pop_btm">
                        <div class="btnBox">
                            <a @click="fn_setScriptSentence" class="btn_save">저장</a>
                            <a @click="closeModal" class="btn_close">닫기</a>
                        </div>
                    </div>
                    <!-- //.pop_btm -->
                </div>
                <!-- //.counsel_stn_manage -->
            </div>
        </section>
    </modal-component>
</template>

<script>
import ModalComponent from "../../ModalComponent";
import {mapActions} from "vuex";
import PaginationComponent from "@/components/pagination/PaginationComponent";

export default {
    name: "ManageSenteceModal",
    components: {PaginationComponent, ModalComponent},
    props: {
        parameters: {
            type: Object,
            default: {}
        },
    },
    watch: {

    },
    data(){
        return {
            searchParam: {
                scrp: null,
            },
            sentences: null,
            activeSentences: [],
            sentence: {
                set: [],
                del: [],
            },
            consult: this.parameters.consult,
            //manageRepository: this.parameters.repositoryFactory.get('manage'),
            pagination: {
                length: 0, // total row
                rowsPerPage: 5, // row per page
                now: 1, // now page
                navigationLength: 10, // navigation length
                callback: this.fn_getSentenceList, // callback
                startRow: 0, // startRow
                endRow: 0, // endRow
                sortingColumn: null,
                sorting: null,
            },

            repository: this.$props.parameters.repository,
            sentenceList: null,
            searchKeyword: '',
            selectedSentence: [],
        }
    },
    computed: {

    },
    methods: {
        ...mapActions('base', {
            clearModal: 'clearModal'
        }),
        closeModal() {
            this.clearModal();
        },
        paginationCallback() {
            this.getSentences(null);
        },
        // 문장 검색 목록 조회 API
        async fn_getSentenceList() {
            const {data: result} = await this.repository.getSentenceList(new URLSearchParams({searchKeyword: this.searchKeyword, ...this.pagination}).toString());
            this.sentenceList = result.data;
            this.pagination.length = result.cnt || 0;
            if(this.sentenceList) {
                this.sentenceList.forEach((v, i) => v.rowNum = (this.pagination.length - ((this.pagination.now - 1) * this.pagination.rowsPerPage)) - (i));
            }
        },
        // 문장 선택
        fn_selectSentence(item) {
            let index = _.findIndex(this.selectedSentence, v => v.dtctDtcNo === item.dtctDtcNo);
            if(index >= 0) {
                alert("이미 선택된 문장입니다.");
            }else {
                this.selectedSentence.push(item);
            }
        },
        // 선택된 문장 삭제
        fn_delSentence(item) {
            this.selectedSentence = this.selectedSentence.filter(v => v.dtctDtcNo != item.dtctDtcNo);
        },
        // 문장 등록
        async fn_setScriptSentence() {
            this.selectedSentence.forEach(v => {
                v.scrpLctgCd = this.$props.parameters.data.scrpLctgCd;
                v.scrpMctgCd = this.$props.parameters.data.scrpMctgCd;
                v.scrpSctgCd = this.$props.parameters.data.scrpSctgCd;
                v.scrpAppOrd = this.$props.parameters.data.scrpAppOrd;
            });
            const {data: result} = await this.repository.setScriptSentence(this.selectedSentence);
            if(result.status === 'SUCCESS') {
                alert("문장을 저장했습니다.");
                this.$props.parameters.callback();
            }else if(result.status === 'PARTIAL_SUCCESS') {
                alert(`중복된 ${result.data}건의 문장을 제외한 ${this.selectedSentence.length - result.data}건의 문장을 저장했습니다.`);
                this.$props.parameters.callback();
            }else {
                alert("오류가 발생했습니다.");
            }
        },
    },
    mounted() {

    },
    created() {
        //Promise.all([this.getSentences(), this.getConsultSentences()]);
        this.fn_getSentenceList();
    }
}
</script>

<style lang="scss" scoped>
    @import '~css/popup';
</style>