<template>
    <div>
        <modal-component  :is-close="true" @modal:close="clearModal" :modal-add-style="{width: '940px'}">
            <section slot="title">
                구간 코드 관리
            </section>
            <section slot="content">
                <div class="admin medium">
                    <div class="prdt_script_manage">
                        <div class="pop_mdl">
                            <!-- .setBox -->
                            <div class="setBox">
                                <h2>구간 코드 추가</h2>
                                
                                <div class="btnBox">
                                    <a @click="fn_setCode" class="btn_add_item">추가</a>
                                </div>
                                
                                <div class="tbl_popup_set">
                                    <table summary="대분류코드, 대분류명, 중분류코드, 중분류명, 소분류코드, 소분류명으로 구성됨">
                                        <caption class="hide">분류 코드 추가 내용</caption>
                                        <colgroup>
                                            <col width="100"><col width="100"><col width="100">
                                            <col width="100"><col width="100"><col width="100">
                                        </colgroup>

                                        <thead>
                                            <tr>
                                                <th scope="col">대분류코드</th>
                                                <th scope="col">대분류명</th>
                                                <th scope="col">중분류코드</th>
                                                <th scope="col">중분류명</th>
                                                <th scope="col">소분류코드</th>
                                                <th scope="col">소분류명</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td scope="row">
                                                    <div class="iptBox">
                                                        <input type="text" v-model="setCode.scrpLctgCd" maxlength="10">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="iptBox">
                                                        <input type="text" v-model="setCode.scrpLctgNm" maxlength="100">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="iptBox">
                                                        <input type="text" v-model="setCode.scrpMctgCd" maxlength="10">
                                                    </div>
                                                </td>
                                                <td scope="row">
                                                    <div class="iptBox">
                                                        <input type="text" v-model="setCode.scrpMctgNm" maxlength="100">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="iptBox">
                                                        <input type="text" v-model="setCode.scrpSctgCd" maxlength="10">
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="iptBox">
                                                        <input type="text" v-model="setCode.scrpSctgNm" maxlength="100">
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- //.setBox -->

                            <!-- .setBox -->
                            <div class="setBox">
                                <h2>구간 코드 조회</h2>
                                
                                <div class="btnBox">
                                    <a @click="fn_getCodeList" class="btn_srch">조회</a>
                                </div>
                                
                                <div class="tbl_popup_set">
                                    <table summary="대분류명, 중분류명, 소분류명으로 구성됨">
                                        <caption class="hide">분류 코드 조회 목록</caption>
                                        <colgroup>
                                            <col width="80"><col width="180"><col width="80"><col width="180">
                                            <col width="80"><col width="180">
                                        </colgroup>

                                        <tbody>
                                            <tr>
                                                <th scope="row">대분류명</th>
                                                <td>
                                                    <select class="select" v-model="searchCode.scrpLctgCd">
                                                        <option v-for="item in lctgList" :key="item.scrpLctgCd" :value="item.scrpLctgCd">{{item.scrpLctgNm}}</option>
                                                    </select>
                                                </td>

                                                <th>중분류명</th>
                                                <td>
                                                    <div class="iptBox">
                                                        <input type="text" v-model="searchCode.scrpMctgNm" maxlength="100" @keyup.enter="fn_getCodeList">
                                                    </div>
                                                </td>

                                                <th>소분류명</th>
                                                <td>
                                                    <div class="iptBox">
                                                        <input type="text" v-model="searchCode.scrpSctgNm" maxlength="100" @keyup.enter="fn_getCodeList">
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- //.setBox -->

                            <!-- .setBox -->
                            <div class="setBox">
                                <h2>구간 코드 리스트</h2>
                                
                                <div class="btnBox btn_change_group">
                                    <a @click="fn_updCode">수정</a>
                                    <a @click="fn_delCode" class="btn_close">삭제</a>
                                </div>

                                <div class="tbl_popup_set">
                                    <div class="tbl_hd">
                                        <table summary="선택, 대분류 코드, 대분류명, 중분류 코드, 중분류명, 소분류 코드, 소분류명으로 구성됨">
                                            <caption class="hide">분류 코드 리스트</caption>
                                            <colgroup>
                                                <col width="50"><col width="140"><col width="140">
                                                <col width="140"><col width="140"><col width="140"><col width="140">
                                            </colgroup>
                
                                            <!-- [D] 테이블 상단 수정버튼(.btn_edit)클릭 시 선택 컬럼 열 보여주어야함 -->
                                            <thead>
                                                <tr>
                                                    <th scope="col">선택</th>
                                                    <th scope="col">대분류 코드</th>
                                                    <th scope="col">대분류명</th>
                                                    <th scope="col">중분류 코드</th>
                                                    <th scope="col">중분류명</th>
                                                    <th scope="col">소분류 코드</th>
                                                    <th scope="col">소분류명</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    
                                    <div class="tbl_bd tbl_scroll ten_line">
                                        <table>
                                            <colgroup>
                                                <col width="50"><col width="140"><col width="140">
                                                <col width="140"><col width="140"><col width="140"><col width="140">
                                            </colgroup>
                                            
                                            <tbody>
                                                <tr v-if="!codeList || !codeList.length">
                                                    <td colspan="7">조회된 데이터가 없습니다.</td>
                                                </tr>
                                                <tr v-for="(item, index) in codeList" :key="index">
                                                    <td scope="row">
                                                        <!-- [D] input[type="checkbox"]의 id와 label의 for 값을 동일하게 주어야함 -->
                                                        <div class="chkBox">
                                                            <input type="checkbox" :id="'each_chk1_'+index" v-model="item.isChecked">
                                                            <label :for="'each_chk1_'+index"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="iptBox">
                                                            <input type="text" :value="item.scrpLctgCd" maxlength="10" disabled>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="iptBox">
                                                            <input type="text" v-model="item.scrpLctgNm" maxlength="100">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="iptBox">
                                                            <input type="text" :value="item.scrpMctgCd" maxlength="10" disabled>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="iptBox">
                                                            <input type="text" v-model="item.scrpMctgNm" maxlength="100">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="iptBox">
                                                            <input type="text" :value="item.scrpSctgCd" maxlength="10" disabled>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="iptBox">
                                                            <input type="text" v-model="item.scrpSctgNm" maxlength="100">
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- //.setBox -->
                        </div>
                    </div>
                </div>
            </section>
            <section slot="btn">
                <div class="btnBox">
                    <a @click="clearModal" class="btn_lyr_close">닫기</a>
                </div>
            </section>
        </modal-component>
    </div>
</template>

<script>
import ModalComponent from "../../ModalComponent"; 
import {mapActions} from "vuex";

export default {
    name: "ManageCodeModal",
    components: {ModalComponent},
    props: {
        parameters: {
            type: Object,
            default: {}
        },
    },
    methods: {
        ...mapActions('base', {
            clearModal: 'clearModal'
        }),
        // 구간 코드 추가
        async fn_setCode() {
            let invalCnt = Object.keys(this.setCode).filter(key => !this.setCode[key]).length;
            if(invalCnt) {
                alert("모든 입력란을 작성해주세요.");
                return false;
            }

            const {data: result} = await this.repository.setCode(this.setCode);
            switch(result.status) {
                case "SUCCESS":
                    alert("코드가 저장되었습니다.");
                    this.setCode = _.cloneDeep(this.initSetCode);
                    this.fn_getLctgList();
                    if(this.codeList.length) this.fn_getCodeList();
                    break;
                case "FAIL": alert("오류가 발생했습니다."); break;
                case "CONFLICT": alert("중복된 데이터가 존재하여 코드를 등록하지 못했습니다."); break;
            }
        },
        // 구간 코드 대분류명 조회
        async fn_getLctgList() {
            const {data: result} = await this.repository.getLctgList();
            this.lctgList = result.data;
            this.searchCode.scrpLctgCd = this.lctgList[0].scrpLctgCd;
        },
        // 구간 코드 목록 조회
        async fn_getCodeList() {
            const {data: result} = await this.repository.getCodeList(new URLSearchParams(this.searchCode).toString());
            this.codeList = result.data;
        },
        // 구간 코드 수정
        async fn_updCode() {
            let checkedList = this.codeList.filter(v => v.isChecked);
            if(!this.codeList.length || !checkedList.length) {
                alert("수정할 항목을 선택해주세요.");
                return false;
            }
            let text = `${checkedList.length}건의 항목을 수정하시겠습니까?`;
            if(confirm(text)) {
                const {data: result} = await this.repository.updCode(checkedList);
                if(result.status === 'SUCCESS') {
                    alert("수정 완료되었습니다.");
                    this.fn_getCodeList();
                }else {
                    alert("오류가 발생했습니다.");
                }
            }
        },
        // 구간 코드 삭제
        async fn_delCode() {
            let checkedList = this.codeList.filter(v => v.isChecked);
            if(!this.codeList.length || !checkedList.length) {
                alert("삭제하실 항목을 선택해주세요.");
                return false;
            }
            let text = `${checkedList.length}건의 항목을 삭제하시겠습니까?`;
            if(confirm(text)) {
                const {data: result} = await this.repository.delCode(checkedList);
                if(result.status === 'SUCCESS') {
                    alert("삭제 완료되었습니다.");
                }else if(result.status === 'PARTIAL_SUCCESS') {
                    alert("오류가 발생하여 일부 데이터를 삭제하지 못했습니다.");
                }else {
                    alert("오류가 발생했습니다.");
                }

                this.fn_getCodeList();
                this.fn_getLctgList();
            }
        }
    },
    async created() {
        this.initSetCode = _.cloneDeep(this.setCode);
        await this.fn_getLctgList();
    },
    mounted() {
		
    },
    data() {
        return {
            repository: this.$props.parameters.repository,
            initSetCode: {},
            setCode: {
                scrpLctgCd: '',
                scrpMctgCd: '',
                scrpSctgCd: '',
                scrpLctgNm: '',
                scrpMctgNm: '',
                scrpSctgNm: '',
            },
            searchCode: {
                scrpLctgCd: '',
                scrpMctgNm: '',
                scrpSctgNm: '',
            },
            lctgList: [],
            codeList: [],
        }
    },
}
</script>

<style lang="scss" scoped>
    @import "~css/popup";
</style>
