<template>
    <div>
        <modal-component :is-close="true" @modal:close="clearModal" :modal-add-style="{width: 'auto'}">
            <section slot="title">
                스크립트 설정
            </section>
            <section slot="content">
               <div class="admin medium">
                    <!-- .prdt_script_manage -->
                    <div class="prdt_script_manage">
                        <!-- .pop_mdl -->
                        <div class="pop_mdl">    
                            <!-- .setBox -->
                            <div class="setBox">
                                <h2>구간 수정</h2>
                                <div class="btnBox">
                                    <a @click="fn_delScriptArea" class="btn_delete">삭제</a>
                                </div>
                                <div class="tbl_popup_set">
                                    <table summary="대분류명, 중분류명, 소분류명, 적용차수, 적용시작일, 적용종료일, 사용여부로 구성됨">
                                        <caption class="hide">스크립트 설정</caption>
                                        <colgroup>
                                            <col><col><col><col width="80">
                                            <col width="120"><col width="120"><col width="80">
                                        </colgroup>
            
                                        <thead>
                                            <tr>
                                                <th scope="col">대분류명</th>
                                                <th scope="col">중분류명</th>
                                                <th scope="col">소분류명</th>
                                                <th scope="col">적용차수</th>
                                                <th scope="col">적용시작일</th>
                                                <th scope="col">적용종료일</th>
                                                <th scope="col">사용여부</th>
                                            </tr>
                                        </thead>
            
                                        <tbody>
                                            <tr>
                                                <td scope="row">{{scriptArea.scrpLctgNm}}</td>
                                                <td>{{scriptArea.scrpMctgNm}}</td>
                                                <td>{{scriptArea.scrpSctgNm}}</td>
                                                <td>{{scriptArea.scrpAppOrd}}</td>
                                                <td>
                                                    <div class="iptBox">
                                                        <datepicker :value="moment(scriptArea.scrpAppStDt).format('YYYY-MM-DD')" @input="scriptArea.scrpAppStDt = moment($event).format('yyyyMMDD')" input-class="iptDateTime" :format="'yyyy-MM-dd'" :language="ko"></datepicker>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="iptBox">
                                                        <datepicker :value="moment(scriptArea.scrpAppEdDt).format('YYYY-MM-DD')" @input="scriptArea.scrpAppEdDt = moment($event).format('yyyyMMDD')" input-class="iptDateTime" :format="'yyyy-MM-dd'" :language="ko"></datepicker>
                                                    </div>
                                                </td>
                                                <td>
                                                    <select class="select" v-model="scriptArea.usedYn">
                                                        <option value="Y">Y</option>
                                                        <option value="N">N</option>
                                                    </select>
                                                </td>
                                            </tr>                                    
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- //.setBox -->
                        </div>
                        <!-- //.pop_mdl -->
                    </div>
                    <!-- //.prdt_script_manage -->
                </div>
            </section>
            <section slot="btn">
                <div class="btnBox">
                    <a @click="fn_updScriptArea" class="btn_save">수정</a>
                    <a @click="clearModal" class="btn_lyr_close">닫기</a>
                </div>
            </section>
        </modal-component>
    </div>
</template>

<script>
import ModalComponent from "../../ModalComponent"; 
import {mapActions} from "vuex";
import Datepicker from 'vuejs-datepicker';

export default {
    name: "ManageAreaModal2",
    components: {
        ModalComponent,
        Datepicker,
    },
    props: {
        parameters: {
            type: Object,
            default: {}
        },
    },
    methods: {
        ...mapActions('base', {
            clearModal: 'clearModal'
        }),
        // 구간 수정
        async fn_updScriptArea() {
            const{data: result} =  await this.repository.updScriptArea(this.scriptArea);
            if(result.status === 'SUCCESS') {
                alert("수정되었습니다.");
                this.$props.parameters.callback();
            }else {
                alert("오류가 발생했습니다.");
            }
        },
        // 구간 삭제
        async fn_delScriptArea() {
            let text = '정말 삭제하시겠습니까?'
            if(confirm(text)) {
                const{data: result} = await this.repository.delScriptArea(new URLSearchParams(this.scriptArea).toString());
                if(result.status === 'SUCCESS') {
                    alert("삭제되었습니다.");
                    this.clearModal();
                    this.$props.parameters.callback();
                }else {
                    alert("오류가 발생했습니다.");
                }
            }
        }
    },
    async created() {
        this.scriptArea = _.cloneDeep(this.$props.parameters.data);
    },
    mounted() {
        
    },
    data() {
        return {
            repository: this.$props.parameters.repository,
            scriptArea: null,
        }
    },
}
</script>

<style lang="scss" scoped>
    @import "~css/popup";
</style>
