<template>
    <div>
        <modal-component :is-close="true" @modal:close="clearModal" :modal-add-style="{width: 'auto'}">
            <section slot="title">
                구간 등록
            </section>
            <section slot="content">
               <div class="admin medium">
                    <!-- .prdt_script_manage -->
                    <div class="prdt_script_manage">
                        <!-- .pop_mdl -->
                        <div class="pop_mdl">    
                            <!-- .setBox -->
                            <div class="setBox">
                                <h2>구간 조회</h2>
                                
                                <div class="btnBox">
                                    <a @click="fn_getScriptAreaList" class="btn_srch">조회</a>
                                </div>
                                
                                <div class="tbl_popup_set">
                                    <table summary="대분류명, 중분류명, 소분류명으로 구성됨">
                                        <caption class="hide">구간 조회</caption>
                                        <colgroup>
                                            <col width="80"><col width="180"><col width="80"><col width="180">
                                            <col width="80"><col width="180">
                                        </colgroup>
            
                                        <tbody>
                                            <tr>
                                                <th>대분류명</th>
                                                <td>
                                                    <select class="select" v-model="searchArea.scrpLctgCd">
                                                        <option v-for="item in lctgList" :key="item.scrpLctgCd" :value="item.scrpLctgCd">{{item.scrpLctgNm}}</option>
                                                    </select>
                                                </td>
            
                                                <th>중분류명</th>
                                                <td>
                                                    <div class="iptBox">
                                                        <input type="text" v-model="searchArea.scrpMctgNm" maxlength="100" @keyup.enter="fn_getScriptAreaList">
                                                    </div>
                                                </td>
            
                                                <th>소분류명</th>
                                                <td>
                                                    <div class="iptBox">
                                                        <input type="text" v-model="searchArea.scrpSctgNm" maxlength="100" @keyup.enter="fn_getScriptAreaList">
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                
                                <div class="tbl_popup_set tbl_include_btn srch_list" style="max-height: 400px; overflow: auto;">
                                    <table summary="대분류 코드, 대분류명, 중분류 코드, 중분류명, 소분류 코드, 소분류명, 선택(버튼)으로 구성됨">
                                        <caption class="hide">구간 조회 목록</caption>
                                        <colgroup>
                                            <col width="100"><col width="100"><col width="100"><col width="100">
                                            <col width="100"><col width="100"><col width="80">
                                        </colgroup>
            
                                        <thead>
                                            <tr>
                                                <th scope="col">대분류 코드</th>
                                                <th scope="col">대분류명</th>
                                                <th scope="col">중분류 코드</th>
                                                <th scope="col">중분류명</th>
                                                <th scope="col">소분류 코드</th>
                                                <th scope="col">소분류명</th>
                                                <th scope="col">선택</th>
                                            </tr>
                                        </thead>
            
                                        <tbody>
                                            <tr v-if="!scriptAreaList || !scriptAreaList.length">
                                                <td colspan="7">조회된 데이터가 없습니다.</td>
                                            </tr>
                                            <template v-else>
                                                <tr v-for="(item, index) in scriptAreaList" :key="index">
                                                    <td scope="row">{{item.scrpLctgCd}}</td>
                                                    <td>{{item.scrpLctgNm}}</td>
                                                    <td>{{item.scrpMctgCd}}</td>
                                                    <td>{{item.scrpMctgNm}}</td>
                                                    <td>{{item.scrpSctgCd}}</td>
                                                    <td>{{item.scrpSctgNm}}</td>
                                                    <td>
                                                        <div class="btnBox">
                                                            <a @click="fn_setScript(index)" class="btn_slt">선택</a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </template>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- //.setBox -->
            
                            <!-- .setBox -->
                            <div class="setBox">
                                <h2>구간 등록</h2>
            
                                <div class="tbl_popup_set">
                                    <table summary="대분류명, 중분류명, 소분류명, 적용차수, 적용시작일, 적용종료일, 사용여부로 구성됨">
                                        <caption class="hide">구간 등록</caption>
                                        <colgroup>
                                            <col><col><col><col width="80"><col width="120"><col width="120"><col width="80">
                                        </colgroup>
            
                                        <thead>
                                            <tr>
                                                <th scope="col">대분류명</th>
                                                <th scope="col">중분류명</th>
                                                <th scope="col">소분류명</th>
                                                <th scope="col">적용차수</th>
                                                <th scope="col">적용시작일</th>
                                                <th scope="col">적용종료일</th>
                                                <th scope="col">사용여부</th>
                                            </tr>
                                        </thead>
            
                                        <tbody>
                                            <tr v-if="!selectedScript">
                                                <td colspan="7">조회된 데이터가 없습니다.</td>
                                            </tr>
                                            <tr v-else>
                                                <td scope="row">{{selectedScript.scrpLctgNm}}</td>
                                                <td>{{selectedScript.scrpMctgNm}}</td>
                                                <td>{{selectedScript.scrpSctgNm}}</td>
                                                <td>{{selectedScript.scrpAppOrd}}</td>
                                                <td>
                                                    <div class="iptBox">
                                                        <datepicker @input="selectedScript.scrpAppStDt = moment($event).format('yyyyMMDD')" input-class="iptDateTime" :format="'yyyy-MM-dd'" :language="ko"></datepicker>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="iptBox">
                                                        <datepicker @input="selectedScript.scrpAppEdDt = moment($event).format('yyyyMMDD')" input-class="iptDateTime" :format="'yyyy-MM-dd'" :language="ko"></datepicker>
                                                    </div>
                                                </td>
                                                <td>
                                                    <select class="select" v-model="selectedScript.usedYn">
                                                        <option value="Y">Y</option>
                                                        <option value="N">N</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- //.setBox -->
                        </div>
                        <!-- //.pop_mdl -->
                    </div>
                    <!-- //.prdt_script_manage -->
                </div>
            </section>
            <section slot="btn">
                <div class="btnBox">
                    <a @click="fn_setScriptArea" class="btn_save">저장</a>
                    <a @click="clearModal" class="btn_lyr_close">닫기</a>
                </div>
            </section>
        </modal-component>
    </div>
</template>

<script>
import ModalComponent from "../../ModalComponent"; 
import {mapActions} from "vuex";
import Datepicker from 'vuejs-datepicker';

export default {
    name: "ManageAreaModal",
    components: {
        Datepicker,
        ModalComponent,
    },
    props: {
        parameters: {
            type: Object,
            default: {}
        },
    },
    methods: {
        ...mapActions('base', {
            clearModal: 'clearModal'
        }),
        // 구간 조회 대분류명 조회
        async fn_getLctgList() {
            const {data: result} = await this.repository.getLctgList();
            this.lctgList = result.data;
            this.searchArea.scrpLctgCd = this.lctgList[0].scrpLctgCd;
        },
        // 구간 목록 조회
        async fn_getScriptAreaList() {
            const {data: result} = await this.repository.getScriptAreaList(new URLSearchParams(this.searchArea).toString());
            this.scriptAreaList = result.data;
        },
        // 구간 목록에서 데이터 선택
        fn_setScript(index) {
            this.selectedScript = null;
            this.$nextTick(() => {
                this.selectedScript = _.cloneDeep(this.scriptAreaList[index]);
            })
        },
        // 구간 등록
        async fn_setScriptArea() {
            if(!this.selectedScript) {
                alert("등록할 데이터를 선택해주세요.");
                return false;
            }else {
                if(!this.selectedScript.scrpAppStDt || !this.selectedScript.scrpAppEdDt) {
                    alert("적용일을 선택해주세요.");
                    return false;
                }else if(this.selectedScript.scrpAppStDt > this.selectedScript.scrpAppEdDt) {
                    alert("적용일이 유효하지 않습니다.");
                    return false;
                }else {
                    const {data: result} = await this.repository.setScriptArea(this.selectedScript);
                    switch(result.status) {
                        case "SUCCESS":
                            alert("정상적으로 등록했습니다.");
                            this.clearModal();
                            this.$props.parameters.callback();
                            break;
                        case "FAIL": alert("오류가 발생했습니다."); break;
                        case "CONFLICT": alert("중복된 데이터가 존재하여 등록하지 못했습니다."); break;
                    }
                }
            }
        },
    },
    async created() {
        await this.fn_getLctgList();
    },
    mounted() {
        
    },
    data() {
        return {
            repository: this.$props.parameters.repository,
            lctgList: [],
            searchArea: {
                scrpLctgCd: '',
                scrpMctgNm: '',
                scrpSctgNm: '',
            },
            scriptAreaList: [],
            selectedScript: null,
        }
    },
}
</script>

<style lang="scss" scoped>
    @import "~css/popup";
    ::v-deep {
        .vdp-datepicker__calendar {
            overflow: visible;
        }
    }
</style>
