<template>
    <div class="popup_wrap">
        <h1>TM_QA 심사</h1>
        <!-- topBox -->
        <div class="topBox">
            <!-- .customInfo -->
            <div class="customInfo tm_qa_audit">
                <table class="tbl_line_view" summary="상품명, 계약자명, 피보험자명, 증권번호, 청약일자, 캠페인명, 센터/실, TMR, 보험료로 구성">
                    <caption class="hide">심사요약정보</caption>
                    <colgroup>
                        <col width="70"><col><col width="70"><col width="250"><col width="80"><col width="150"><col width="70"><col width="100"><col width="80"><col width="100">
                    </colgroup>

                    <!-- [D] 상품명, 캠페인명은 해당 내용이 잘려서 말줄임처리 될 수 있고 title 추가하여 마우스커서 가져가면 전체 텍스트 확인가능함 -->
                    <tbody>
                    <tr>
                        <th scope="row">상품명</th>
                        <td colspan="3">
                            <span class="custom_info long_text" v-text="offer ? offer.prodNme : ''" :title="offer ? offer.prodNme : ''">ZERO 나를 위한 암보험</span>
                        </td>

                        <th scope="row">계약자명</th>
                        <td>
                            <span class="custom_info" v-text="offer ? offer.csmrAdmn : ''">홍길동</span>
                        </td>

                        <th scope="row">피보험자명</th>
                        <td>
                            <span class="custom_info" v-text="offer ? offer.pnm : ''">이정호</span>
                        </td>

                        <th scope="row">증권번호</th>
                        <td>
                            <span class="custom_info" v-text="offer ? offer.nsplNo : ''">7777777</span>
                        </td>
                    </tr>

                    <tr>
                        <th scope="row">청약일자</th>
                        <td>
                            <span class="custom_info" v-text="offer ? offer.regDy : ''">2020-08-03</span>
                        </td>

                        <th scope="row">캠페인명</th>
                        <td>
                            <span class="custom_info long_text" v-text="offer ? offer.cmpgnNm : ''" :title="offer ? offer.cmpgnNm : ''">캠페인명캠페인명</span>
                        </td>

                        <th scope="row">센터/실</th>
                        <td>
                            <span class="custom_info" v-text="offer ? `${offer.cntrNm}/${offer.prtNme}` : ''">1센터/2팀</span>
                        </td>

                        <th scope="row">상담원</th>
                        <td>
                            <span class="custom_info" v-text="offer ? offer.saesEmnm : ''">이상담</span>
                        </td>

                        <th scope="row">보험료</th>
                        <td>
                            <span class="custom_info" v-text="offer ? fn_numberWithCommas(offer.insFee)+'원' : ''">100,940</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- //.customInfo -->

            <!--player-->
            <v-app>
                <audio-component :audio-param="audio" />
            </v-app>
            <!-- //.player -->

            <div class="btnBox">
                <div class="btn_qa_group">
                    <a v-if="qna" @click="openQuestionsAndAnswersModal" class="btn_lyr_open btn_question on" v-text="qna === 'Q' ? '질의' : '응답'">질의</a>
                </div>
            </div>
        </div>
        <!-- //.topBox -->

        <!-- .audit_detailArea -->
        <div class="audit_detailArea">
            <!-- .dataTableBox -->
            <div class="dataTableBox">
                <!-- [D] datatables 라이브러리 영역 -->
                <table class="dataTable tbl_counsel_list">
                    <thead>
                    <tr>
                        <th>NO</th>
                        <th>상담일시</th>
                        <th>통화시간</th>
                        <th>청약</th>
                        <th>STT 상태</th>
                        <th>센터</th>
                        <th>실</th>
                        <th>상담원</th>
                        <th>콜키</th>
                    </tr>
                    </thead>

                    <!-- [D] 목록 더블클릭 시 해당 콜상담 전체 플레이되어야 함 -->
                    <!-- [D] 화면 하단 STT 탐지결과에서 문장클릭 시 해당하는 부분이 플레이 되어야하며,
                    해당되는 녹취 목록에 addclass('active')주면 하이라이트 처리됨  -->
                    <tbody>
                    <tr :class="{active: item.active}" @click="activeStt(index)" v-for="(item, index) in stts">
                        <td v-text="index+1">1</td>
                        <td v-text="item.callDt">2017-12-13 16:28:58</td>
                        <td v-text="fn_formatToHHMMSS(item.recDuTm)">0:24:23</td>
                        <td v-text="item.callType">Y</td>
                        <td v-text="item.progStatCdNm">정상</td>
                        <td v-text="item.cntrNm">1센터</td>
                        <td v-text="item.prtNme">2팀</td>
                        <td v-text="item.saesEnmn">김영희</td>
                        <td v-text="item.recKey"></td>
                    </tr>
                    <tr v-if="stts == null">
                        <td colspan="9">조회를 진행해주세요.</td>
                    </tr>
                    <tr v-else-if="stts.length === 0">
                        <td colspan="9">조회된 결과가 없습니다.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- //.dataTableBox -->

            <!-- .audit_detail_view -->
            <div class="audit_detail_view">
                <div class="fl">
                    <!-- [D] 평가점수상세 보여주는 영역으로 이곳에서 수정하지 않고 하단의 평가표에서 적용버튼으로 반영 -->
                    <div class="detail_box eval_score_box">
                        <div class="custom_tbl">
                            <table summary="TA점수, QA점수, QA결과, 심사의견으로 구성">
                                <caption class="hide">평가점수상세</caption>
                                <colgroup>
                                    <col width="80">
                                    <col>
                                    <col width="80">
                                    <col>
                                    <col width="50">
                                    <col width="150">
                                </colgroup>

                                <tbody>
                                <tr>
                                    <th scope="row">TA점수</th>
                                    <td>
                                        <ul>
                                            <li>
                                                <strong>스크립트</strong>
                                                <span v-text="currentRoundIndex == null ? '-' : taScore.scriptScore">-</span>
                                            </li>
                                            <li>
                                                <strong>상담</strong>
                                                <span v-text="currentRoundIndex == null ? '-' : taScore.consultScore">-</span>
                                            </li>
                                            <li>
                                                <strong>총점</strong>
                                                <span v-text="currentRoundIndex == null ? '-' : taScore.scriptScore === '-' && taScore.scriptScore === '-' ? '-' : taScore.scriptScore+taScore.consultScore">-</span>
                                            </li>
                                        </ul>
                                    </td>

                                    <th scope="row">QA점수</th>
                                    <td>
                                        <ul>
                                            <li>
                                                <strong>스크립트</strong>
                                                <span v-text="currentRoundIndex == null ? '-' : qaScore.scriptScore">-</span>
                                            </li>
                                            <li>
                                                <strong>상담</strong>
                                                <span v-text="currentRoundIndex == null ? '-' : qaScore.consultScore">-</span>
                                            </li>
                                            <li>
                                                <strong>총점</strong>
                                                <span v-text="currentRoundIndex == null ? '-' : qaScore.scriptScore === '-' && qaScore.consultScore === '-' ? '-' : qaScore.scriptScore+qaScore.consultScore">-</span>
                                            </li>
                                        </ul>
                                    </td>

                                    <th scope="row">QA결과</th>
                                    <td>
                                        <select v-if="currentRoundIndex != null && rounds[currentRoundIndex] && evltRsltStats != null" v-model="rounds[currentRoundIndex].evltRsltStat" class="select" :disabled="external || rounds[currentRoundIndex].qaType === 'TA' || offer.tmsInfo != rounds[currentRoundIndex].tmsInfo ? true : false || (rounds[0].auditDt && ['2', '4', '5'].includes(rounds[0].evltRsltStat))">
                                            <option v-if="rounds[currentRoundIndex].qaType === 'TA'" :value="null">-</option>
                                            <option v-else v-for="(item, index) in evltRsltStats" :value="item.cd" v-text="item.cdNm">완판</option>
                                        </select>
                                        <select class="select" disabled="true" v-else>
                                            <option value="">-</option>
                                        </select>
                                    </td>
                                </tr>

                                <!-- [D] 심사의견은 이곳에서 직접 입력 후 저장가능 -->
                                <tr>
                                    <th scope="row">심사의견</th>
                                    <td colspan="5">
                                        <textarea class="splmCtnt" v-if="currentRoundIndex != null && rounds[currentRoundIndex]" v-model="rounds[currentRoundIndex].splmCtnt" :placeholder="rounds[currentRoundIndex].qaType === 'TA' ? '-' : '스크립트를 선택하거나 심사의견을 입력해주세요.'" :disabled="external || rounds[currentRoundIndex].qaType === 'TA' || offer.tmsInfo != rounds[currentRoundIndex].tmsInfo ? true : false || (rounds[0].auditDt && ['2', '4', '5'].includes(rounds[0].evltRsltStat))"></textarea>
                                        <textarea class="splmCtnt" v-else placeholder="회차를 선택해주세요."></textarea>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="detail_box">
                        <!-- [D] 평가표는 탭버튼으로 테이블 내용은 동일하고 버튼에만 addclass('on')주어 활성화 처리함 -->
                        <div class="evalArea">
                            <div class="eval_tab_title">
                                <a :class="{on: chkCtgCd === 'S'}" @click="chkCtgCd = 'S'">스크립트</a>
                                <a :class="{on: chkCtgCd === 'C'}" @click="chkCtgCd = 'C'">상담</a>
                            </div>

                            <div class="eval_case">
                                <span>탐지&colon;</span>
                                <span v-text="currentRoundIndex != null && rounds[currentRoundIndex].evaluationItems != null ? rounds[currentRoundIndex].evaluationItems.filter(v => v.chkCtgCd === chkCtgCd && v.dtctRst === '1').length : 0">28</span>
                                <span>&sol;</span>
                                <span v-text="currentRoundIndex != null && rounds[currentRoundIndex].evaluationItems != null ? rounds[currentRoundIndex].evaluationItems.filter(v => v.chkCtgCd === chkCtgCd).length : 0">30</span>
                            </div>

                            <!-- [D] 이상버튼(.btn_problem)클릭 시 부분과 미탐 리스트 조회되어야함 -->
                            <!-- [D] 적용버튼(.btn_apply)클릭 시 하단 평가(.eval_tbl)에 입력한 score점수가 상단 qa점수표(.qa_score)에 반영되어야함 -->
                            <div class="btnBox">
                                <a class="btn_problem" @click="evaluationFilter === 'A' ? evaluationFilter = 'S' : evaluationFilter = 'A'" v-text="evaluationFilter === 'A' ? '이상' : '전체'">이상</a>
                            </div>

                            <!-- [D] 1회차: 1회차 TA결과 활성화 제공 / 2회차: 최종회차 QA결과 비활성화 제공되어야 함 -->
                            <div class="custom_tbl eval_tbl">
                                <div class="tbl_hd">
                                    <table summary="NO, 정상, 미흡, 반송, Score, 중분류, 대분류, 답변, 탐지로 구성">
                                        <caption class="hide">TM QA 평가테이블</caption>
                                        <colgroup>
                                            <col width="50"><col width="50"><col width="50"><col width="50"><col width="70">
                                            <col width="70"><col><col width="70"><col width="70">
                                        </colgroup>

                                        <thead>
                                        <tr>
                                            <th scope="col">NO</th>
                                            <th scope="col">정상</th>
                                            <th scope="col">미흡</th>
                                            <th scope="col">반송</th>
                                            <th scope="col">Score</th>
                                            <th scope="col">중분류</th>
                                            <th scope="col">대분류</th>
                                            <th scope="col">답변</th>
                                            <th scope="col">탐지</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>

                                <div class="tbl_bd">
                                    <table>
                                        <colgroup>
                                            <col width="50"><col width="50"><col width="50"><col width="50"><col width="70">
                                            <col width="70"><col><col width="70"><col width="70">
                                        </colgroup>
                                        <tbody>
                                        <tr v-if="currentRoundIndex == null || !rounds[currentRoundIndex].evaluationItems">
                                            <td colspan="9">회차를 선택해주세요.</td>
                                        </tr>
                                        <tr v-else-if="currentRoundIndex != null && rounds[currentRoundIndex].evaluationItems.length === 0">
                                            <td colspan="9">조회된 목록이 없습니다.</td>
                                        </tr>
                                        <template v-else-if="currentRoundIndex != null && rounds[currentRoundIndex].evaluationItems.findIndex((v) => v.chkCtgCd === chkCtgCd) === -1">
                                            <tr>
                                                <td colspan="9" v-text="'조회된 '+(chkCtgCd === 'S' ? '스크립트' : '상담')+'목록이 없습니다.'">조회된 목록이 없습니다.</td>
                                            </tr>
                                        </template>
                                        <template v-else v-for="(item, index) in rounds[currentRoundIndex].evaluationItems">
                                            <template v-if="item.chkCtgCd === chkCtgCd">
                                                <template v-if="evaluationFilter === 'A' ? true : evaluationFilter === item.evaluationFilter">
                                                    <tr :style="evaluationItem === item ? 'background-color: antiquewhite;' : ''">
                                                        <td scope="row" v-text="item.num">2</td>
                                                        <td>
                                                            <div class="radioBox">
                                                                <input v-model="item.jugRst" @change="updateEvaluationItemListRender(item, item.norScr)" value="1" type="radio" :id="'radio-1-'+item.psnJugCat+'-'+index" :disabled="external || rounds[currentRoundIndex].qaType === 'TA' || offer.tmsInfo != rounds[currentRoundIndex].tmsInfo ? true : false || (rounds[0].auditDt && ['2', '4', '5'].includes(rounds[0].evltRsltStat))">
                                                                <label :for="'radio-1-'+item.psnJugCat+'-'+index"></label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="radioBox">
                                                                <input v-model="item.jugRst" @change="updateEvaluationItemListRender(item, item.supScr)" value="2" type="radio" :id="'radio-2-'+item.psnJugCat+'-'+index" :disabled="external || rounds[currentRoundIndex].qaType === 'TA' || offer.tmsInfo != rounds[currentRoundIndex].tmsInfo ? true : false || (rounds[0].auditDt && ['2', '4', '5'].includes(rounds[0].evltRsltStat))">
                                                                <label :for="'radio-2-'+item.psnJugCat+'-'+index"></label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="radioBox">
                                                                <input v-model="item.jugRst" @change="updateEvaluationItemListRender(item, item.rtnScr)" value="3" type="radio" :id="'radio-3-'+item.psnJugCat+'-'+index" :disabled="external || rounds[currentRoundIndex].qaType === 'TA' || offer.tmsInfo != rounds[currentRoundIndex].tmsInfo ? true : false || (rounds[0].auditDt && ['2', '4', '5'].includes(rounds[0].evltRsltStat))">
                                                                <label :for="'radio-3-'+item.psnJugCat+'-'+index"></label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="iptBox">
                                                                <input type="text" v-mask="'##'" @input="getScore()" v-model="item.scrRst" :disabled="external || rounds[currentRoundIndex].qaType === 'TA' || offer.tmsInfo != rounds[currentRoundIndex].tmsInfo ? true : false || (rounds[0].auditDt && ['2', '4', '5'].includes(rounds[0].evltRsltStat))">
                                                            </div>
                                                        </td>
                                                        <td v-text="item.chkItmCd">7-1</td>
                                                        <td v-text="item.chkItmNm">수집동의</td>
                                                        <td>
                                                            <span v-if="item.ansRst == null || item.ansRst === ''"></span>
                                                            <span class="asw_success" v-else-if="item.ansRst == '1'">답변</span>
                                                            <span class="asw_icplt" v-if="item.ansRst == '2'">미답</span>
                                                        </td>
                                                        <td @click="getTmsInfoData(item)">
                                                            <a v-if="item.dtctRst == '1'" class="btn_detect_success">탐지</a>
                                                            <a v-if="item.dtctRst == '2'" class="btn_detect_part">부분</a>
                                                            <a v-if="item.dtctRst == '3'" class="btn_detect_fail">미탐</a>
                                                        </td>
                                                    </tr>
                                                </template>
                                            </template>
                                        </template>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fr">
                    <div class="detail_box">
                        <div class="custom_tbl">
                            <div class="tbl_hd">
                                <table summary="회차, 심사일시, 심사자, 점수, QA결과, 녹취시간, 심사시간, 계로 구성">
                                    <caption class="hide">회차별 심사결과이력</caption>
                                    <colgroup>
                                        <col width="80"><col><col width="80"><col width="80">
                                        <col width="80"><col width="150"><col width="150">
                                    </colgroup>

                                    <thead>
                                    <tr>
                                        <th scope="col">회차</th>
                                        <th scope="col">심사일시</th>
                                        <th scope="col">심사자</th>
                                        <th scope="col">점수</th>
                                        <th scope="col">QA결과</th>
                                        <th scope="col">녹취시간</th>
                                        <th scope="col">심사시간</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                            <!-- [D] 이력목록 클릭 시 해당결과 좌측 TA/QA점수, QA결과 화면으로 상세화되어 보여짐 -->
                            <div class="tbl_bd">
                                <table>
                                    <colgroup>
                                        <col width="80"><col><col width="80"><col width="80">
                                        <col width="80"><col width="150"><col width="150">
                                    </colgroup>

                                    <tbody>
                                    <tr v-for="(item, index) in rounds" @click="activeRound(index)" :class="{active: item.active}">
                                        <td scope="row" v-text="item.tmsInfo+'회'">1회</td>
                                        <td v-text="item.auditDt || '-'">2017-12-14 11:34</td>
                                        <td v-text="item.qaUserNm || '-'">TA</td>
                                        <td v-text="item.totScr || '-'">4</td>
                                        <td v-text="item.evltRsltStatNm || '-'"></td>
                                        <td v-text="item.ctrCalTotTm || '-'">0</td>
                                        <td v-text="item.qaProcTm || '-'">0</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="tbl_ft">
                                <table>
                                    <colgroup>
                                        <col><col width="150"><col width="150">
                                    </colgroup>
                                    <tfoot>
                                    <tr>
                                        <td scope="row">계</td>
                                        <td v-text="this.totalQaTime">02:13:29</td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="detail_box">
                        <div class="btnBox" style="height: 25px;">
                            <template v-if="!external && offer != null && rounds != null && rounds.findIndex((v) => {return v.qaType === 'QA' && v.tmsInfo == offer.tmsInfo}) === currentRoundIndex">
                                <a @click="setAudit('temp')" class="btn_tpry_save btn_lyr_open">임시저장</a>
                                <a @click="setAudit()" class="btn_audit_cplt btn_lyr_open">심사완료</a>
                            </template>
                            <a @click="openSttAllPopup" class="btn_transcript">STT 전수</a>
                        </div>

                        <dl class="gnr_script scriptBox">
                            <dt>표준 스크립트</dt>
                            <dd>
                                <p v-for="(item, index) in scripts" :style="{'margin-bottom': index === scripts.length ? '0px' : '10px'}">
                                    {{'['+item.dtctDtcNo+']'}} {{item.scrp}}
                                </p>
                                <span v-if="scripts == null">
                                    스크립트를 선택해주세요.
                                </span>
                                <span v-else-if="scripts.length === 0">
                                    조회된 스크립트가 없습니다.
                                </span>
                            </dd>
                        </dl>
                        <!-- [D] STT 탐지결과 스크립트 개별 문장 클릭 시 해당 부분 녹취 재생되며, 상단 녹취목록 중 해당하는 목록에 하이라이트 처리되어야 함 ※상단 녹취목록 주석 함께 참고 -->
                        <dl class="stt_result scriptBox">
                            <dt>STT 탐지결과</dt>
                            <dd>
                                <ul>
                                    <!-- [D] STT 탐지결과에 따른 컬러지정
                                    파란색: .txt_blue / 빨간색: .txt_red / 검정색: 기본 -->
                                    <li v-for="(item, index) in detections" :style="{'margin-bottom': index === scripts.length ? '0px' : '10px'}">
                                        <a>
                                            <span @click="setOpinion(item)" :class="{red : !item.dtctStmt}">[{{item.dtctDtcNo}}]</span> <span @click="playDetection(item, moment.duration(item.stmtStTm).asSeconds(), 'Y')" v-text="item.dtctStmt">테스트테스트테스트</span>
                                        </a>
                                    </li>
                                    <span v-if="detections == null">
                                        스크립트를 선택해주세요.
                                    </span>
                                    <span v-else-if="detections.length === 0">
                                        조회된 스크립트가 없습니다.
                                    </span>
                                    <!--                                    <li><a href="#none"><span>[00112]</span> 계속 보험료 결제는 자동이체로 등록을 해드리겠습니다.</a></li>
                                                                        <li><a href="#none"><span>[00113]</span> 보험료 납입은 예금주는 000님 생년월일은 00월 00일이고 00은행 계좌번호는 ***** ******* **** 구요.</a></li>
                                                                        <li><a href="#none"><span>[00114]</span>보험료 출금에 동의하십니까?</a></li>
                                                                        <li class="txt_blue"><a href="#none"><span>[C]</span>예 예</a></li>
                                                                        <li class="txt_red"><a href="#none"><span>[00112]</span></a></li>
                                                                        <li><a href="#none"><span>[00125]</span>요거는 계속 보험료와 동일한 지금 불러주신 000 여기 계좌에서 실시간 이체로 일회 보험료 0만 0천 0백 0원 출금에 동의하시지요?</a></li>
                                                                        <li><a href="#none"><span>[C]</span>예</a></li>-->
                                </ul>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <!-- //.audit_detail_view -->
        </div>
        <!-- //.audit_detailArea -->
    </div>
</template>

<script>

import popupUtils from "@/utils/popupUtils";
import {RepositoryFactory} from '@/repositories/RepositoryFactory';
import {mapActions, mapGetters} from "vuex";
import AudioComponent from "@/components/popup/tm/qa/audit/AudioComponent";
import {mask} from 'vue-the-mask';

const qaAuditRepository = RepositoryFactory.get('qaAudit');

export default {
    name: "TmQaAuditPopup",
    components: {AudioComponent},
    directives: {
        mask,
    },
    data: function () {
        return {
            nsplNo: this.$route.query.nsplNo,
            external: !!this.$route.query.external,
            evltRsltStats: null,
            offer: null,
            stts: null,
            rounds: null,
            qna: null,
            interval: null,
            totalQaTime: 0,
            evaluationItem: null,
            scripts: null,
            detections: null,
            evaluationFilter: 'A',
            taScore: {
                scriptScore: 0,
                consultScore: 0,
            },
            qaScore: {
                scriptScore: 0,
                consultScore: 0,
            },
            chkCtgCd: 'S',
            currentSttIndex: null,
            currentRoundIndex: null,
            audio: {
                audioSrc: '',
                jumpTime: 0,
            },
            auditTimeCounter: 0,
            audioPauseFlag: false,      // 회차변경시 오디오 재생여부 판별
        }
    },
    watch: {
        chkCtgCd(){
            this.scripts = null;
            this.detections = null;
        },
    },
    methods: {
        ...mapActions('base', {
            setModal: 'setModal'
        }),
        /**
         * 증권번호 기반 상단 마스터 정보 조회
         * @returns {Promise<void>}
         */
        async getQaAuditMasterInfo(){
            const {data: result} = await qaAuditRepository.getQaAuditMasterInfo(this.nsplNo);
            if(result.status === 'NOT_FOUND'){
                alert('증권번호 조회 결과가 존재하지 않습니다.');
                window.close();
            }else{
                this.offer = result.data;
            }
        },
        /**
         * STT 목록
         * @returns {Promise<void>}
         */
        async getQaAuditCallList(){
            const {data: result} = await qaAuditRepository.getQaAuditCallList(this.nsplNo);
            if(result.status === 'NOT_FOUND') console.log('조회결과 없음 - STT 목록');
            this.stts = result.data;
        },
        /**
         * 회차정보 목록
         * @returns {Promise<void>}
         */
        async getQaAuditRoundList(){
            const {data: result} = await qaAuditRepository.getQaAuditRoundList(this.nsplNo);
            if(result.status === 'NOT_FOUND'){
                console.log('조회결과 없음 - 회차정보');
            }
            this.rounds = result.data;
            if(this.rounds != null){
                this.totalQaTime = result.totalQaTime;
            }
        },
        /**
         * 표준스크립트, 탐지스크립트 목록 조회
         * @param evaluationItem
         * @returns {Promise<void>}
         */
        async getTmsInfoData(evaluationItem){
            const {data: scriptResult} = await qaAuditRepository.getContractScriptList(this.nsplNo, evaluationItem.tmsInfo, evaluationItem.prodCat, evaluationItem.chkItmCd);
            const {data: detectionResult} = await qaAuditRepository.getContractScriptDetectionList(this.nsplNo, evaluationItem.tmsInfo, evaluationItem.prodCat, evaluationItem.chkItmCd);
            if(scriptResult.status === 'NOT_FOUND') console.log('조회결과 없음 - 표준 스크립트');
            if(detectionResult.status === 'NOT_FOUND') console.log('조회결과 없음 - STT 탐지결과');
            this.scripts = scriptResult.data;
            this.detections = detectionResult.data;
            this.evaluationItem = evaluationItem;
        },
        /**
         * 스크립트/상담 평가항목결과 목록 조회
         * @returns {Promise<void>}
         */
        async getEvaluationItemList(rounds){
            for(let round in rounds){
                const {data: result} = await qaAuditRepository.getEvaluationItemList(this.nsplNo, rounds[round].tmsInfo, rounds[round].qaType, this.chkCtgCd);
                if(result.status === 'NOT_FOUND') console.log('조회결과 없음 - 평가항목결과 목록');
                rounds[round].evaluationItems = result.data;
            }
        },
        /**
         * 회차 활성화
         * @param index
         * @returns {Promise<void>}
         */
        async activeRound(index){
            if(!index){
                // 최초 진입시 index 확인을 위한 로직
                index = _.findIndex(this.rounds, {qaType: 'QA', tmsInfo: this.offer.tmsInfo+''});
            }
            if(this.rounds[this.currentRoundIndex] && this.rounds[this.currentRoundIndex].active != null){
                this.rounds[this.currentRoundIndex].active = null;
            }
            this.rounds[index].active = true;
            this.currentRoundIndex = index;

            // 현재 회차의 tmsInfo를 조건으로 ta, qa filter
            let filterRounds = _.filter(this.rounds, (v) => v.tmsInfo === this.rounds[index].tmsInfo);
            if(filterRounds.length !== _.filter(filterRounds, (v) => v.evaluationItems).length){
                await this.getEvaluationItemList(filterRounds);
                this.updateEvaluationItemListRender();
            }

            this.getScore();
            this.scripts = null;
            this.detections = null;
            this.evaluationFilter = 'A';
            if(this.audioPauseFlag) {
                this.audio = {
                    audioSrc: this.audio.audioSrc,
                    playYN: 'N',
                }
            }
        },
        /**
         * TA점수, QA점수 산정
         */
        getScore(){
            const tmsInfo = this.rounds[this.currentRoundIndex].tmsInfo;
            let qa = this.rounds.find((v) => v.tmsInfo === tmsInfo && v.qaType === 'QA');
            let ta = this.rounds.find((v) => v.tmsInfo === tmsInfo && v.qaType === 'TA');
            this.qaScore.scriptScore = _.sumBy(qa.evaluationItems, (v) => v.chkCtgCd === 'S' ? Number(v.scrRst) : 0);
            this.qaScore.consultScore = _.sumBy(qa.evaluationItems, (v) => v.chkCtgCd === 'C' ? Number(v.scrRst) : 0);
            this.taScore.scriptScore = _.sumBy(ta.evaluationItems, (v) => v.chkCtgCd === 'S' ? Number(v.scrRst) : 0);
            this.taScore.consultScore = _.sumBy(ta.evaluationItems, (v) => v.chkCtgCd === 'C' ? Number(v.scrRst) : 0);
        },
        /**
         * 평가항목목록 re render
         */
        updateEvaluationItemListRender(item, score){
			if(item && score) {
				item.scrRst = score;
				this.getScore();
			}
			this.$set(this.rounds, this.currentRoundIndex, this.rounds[this.currentRoundIndex]);
        },
        /**
         * STT 활성화
         * @param index
         */
        activeStt(index){
            if(this.stts[this.currentSttIndex] && this.stts[this.currentSttIndex].active != null){
                this.stts[this.currentSttIndex].active = null;
            }
            this.stts[index].active = true;
            this.currentSttIndex = index;
            this.audioPauseFlag = false;
            this.setAudioComponent(this.stts[index].audioSrc, 0, 'N'); // SRC API값으로 변경 필요
        },
        /**
         * AUDIO COMPONENT
         * @Param src
         * @Param time
         */
        setAudioComponent(src, time, playYN){
            this.audio = {
                audioSrc: src,
                jumpTime: time,
                playYN: playYN,
            }
        },
        /**
         * open popup
         */
        openSttAllPopup(){
            popupUtils.setVm(this);
            popupUtils.openPopup(this, 'PopupTmQaAuditSttAll', {width: 1610, height: 920}, {'nsplNo': this.nsplNo});
        },
        /**
         * 스크립트 선택시 심사의견 추가
         */
        setOpinion(v){
            let item = this.rounds[this.currentRoundIndex];
            if(!this.external && this.rounds[this.currentRoundIndex].qaType === 'QA' && (this.offer.tmsInfo+'') == this.rounds[this.currentRoundIndex].tmsInfo && !(this.rounds[0].auditDt && ['2', '4', '5'].includes(this.rounds[0].evltRsltStat))) {
                item.splmCtnt = item.splmCtnt ? item.splmCtnt + '\n\n' : '';
                if(v.dtctStmt) {
                    item.splmCtnt += '['+v.recStDt+']['+v.dtctDtcNo+']['+v.stmtStTm+'~'+v.stmtEdTm+'] '+v.dtctStmt;
                }else {
                    item.splmCtnt += `[${v.chkItmNm}]-[${v.chkItmCd}]-[${v.dtctDtcNo}]`;
                }
                this.$set(this.rounds, this.currentRoundIndex, this.rounds[this.currentRoundIndex]);

                // 심사의견란에 텍스트 삽입 후 스크롤 최하단으로 이동
                this.$nextTick(v => {
                    let el = this.$el.querySelector(".splmCtnt");
                    el.scrollTop = el.scrollHeight+100;
                });
            }else {
				alert("심사의견을 수정할 수 없는 상태입니다.");
			}
        },
        /**
         * 심사저장
         * @param flag
         * @returns {Promise<void>}
         */
        async setAudit(flag){
            const index = _.findIndex(this.rounds, {qaType: 'QA', tmsInfo: this.offer.tmsInfo+''});
            this.rounds[index].tmpSavYn = 'temp' === flag ? 'Y' : null;
            const stat = this.rounds[index].evltRsltStat;
            // QA결과가 [신계약, 보완완료] 상태일때는 심사완료 할 수 없음
            if(this.rounds[index].tmpSavYn == null && (stat === '1' || stat === '3')){
                alert('QA결과가 신계약이거나 보완완료 일때는 심사완료가 불가능합니다.');
                return;
            }
            this.rounds[index].auditTimeCounter = this.auditTimeCounter;
            const {data: result} = await qaAuditRepository.setAudit(this.rounds[index]);
            switch(result.status){
                case 'TEMP_SAVE_WRONG_STATE' :
                    alert('QA결과가 신계약이거나 보완완료 일때는 심사완료가 불가능합니다.');
                    break;
                case 'QA_CHECK_RESULT_UPDATE_FAILED' :
                    alert('평가항목 스크립트 수정에 실패하였습니다.');
                    break;
                case 'QA_CHECK_RESULT_UPDATE_PARTIAL_SUCCEEDED' :
                    alert('평가항목 스크립트 중 일부 항목 수정에 실패하였습니다. (수정실패)');
                    break;
                case 'SUCCESS' :
                    this.auditTimeCounter = 0;
                    alert(('temp' === flag ? '임시저장이' : '심사가') +  ' 완료되었습니다.');
                    await this.getAuditData();
                    break;
                case 'AUDIT_UPDATE_FAILED' :
                    alert('회차정보 저장에 실패했습니다.');
                    break;
                default :
                    alert('잘못된 접근입니다.');
                    break;
            }
        },
        /**
         * 질의응답 목록
         */
        async getQuestionsAndAnswers(){
            const {data: result} = await qaAuditRepository.getQuestionsAndAnswers(this.nsplNo);
            if(result.status === 'NOT_FOUND') console.log('조회결과 없음 - 질의응답 정보');
            const data = result.data;
            if(data.length > 0){
                this.qna = !data[data.length-1].answerNo ? 'A' : 'Q';
            }else{
                this.qna = null;
            }
        },
        /**
         * open modal
         */
        openQuestionsAndAnswersModal(){
            this.setModal({name: 'AuditQuestionsAndAnswersModal', parameters: {repositoryFactory: RepositoryFactory, nsplNo: this.offer.nsplNo, interval: this.interval, callback: this.chkQuestionsAndAnswersStatus}});
        },
        /**
         * interval
         */
        chkQuestionsAndAnswersStatus(){
            this.getQuestionsAndAnswers();
			clearInterval(this.interval);
            this.interval = setInterval(() => {
                this.getQuestionsAndAnswers();
            }, 5000);
        },
        /**
         * 최초 심사 데이터 조회
         */
        async getAuditData(){
            await Promise.all([this.getQaAuditMasterInfo(), this.getQaAuditCallList(), this.getQaAuditRoundList()]).then(async () => {
                await this.activeRound();
                this.chkQuestionsAndAnswersStatus();
            });
        },
        /**
         * detection play
         * @param item
         * @param sec
         * @param playYN
         */
        playDetection(item, sec, playYN) {
            this.setAudioComponent(item.audioSrc, sec, playYN);
            if(this.stts[this.currentSttIndex]){
                this.stts[this.currentSttIndex].active = false;
            }
            let sttIndex = this.stts.findIndex((v) => v.recKey === item.recKey);
            this.stts[sttIndex].active = true;
            this.stts[sttIndex].audioPauseFlag = true;
            this.currentSttIndex = sttIndex;
        },
        /**
         * seconds to HH:MM:SS
         * @param timestamp
         */
        fn_formatToHHMMSS(timestamp) {
            if(!timestamp) return '00:00:00';

            let sec_num = parseInt(timestamp, 10);
            let hours   = Math.floor(sec_num / 3600);
            let minutes = Math.floor((sec_num - (hours * 3600)) / 60);
            let seconds = sec_num - (hours * 3600) - (minutes * 60);

            if (hours   < 10) {hours   = "0"+hours;}
            if (minutes < 10) {minutes = "0"+minutes;}
            if (seconds < 10) {seconds = "0"+seconds;}

            return hours+':'+minutes+':'+seconds;
        },
		fn_numberWithCommas(x) {
			return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
		}
    },
    beforeDestroy() {
        clearInterval(this.interval);
        this.interval = null;
    },
    created() {
        if(!this.external) {
            window.addEventListener('beforeunload', (event) => {
                //this.setAudit('temp'); // 크로미움 보안이슈로 인해 경고 띄워주는 정도로 작업 마무리
                event.returnValue = '나가시겠습니까? 임시저장이나 심사완료 되지 않은 데이터는 저장되지 않습니다.';
            });
        }
        this.getCodeDetailByGroupCode('EVLT_RSLT_STAT', {sortingColumn: 'cd', sorting: 'ASC'}, null, null).then((result) => {
            this.evltRsltStats = result;
        });
        this.getAuditData();
        setInterval(() => {
            this.auditTimeCounter++;
        }, 1000);
    },
}
</script>

<style scoped>
    span.red {color: red;}
</style>