<template>
    <modal-component modal-add-class="small" :modal-add-style="{width: 'auto', height: 'auto'}" :is-close="true" @modal:close="closeModal">
        <section slot="title">
            권한 화면 등록
        </section>
        <section slot="content">
            <div class="admin small">
                <div class="right_manage">
					<!-- .pop_mdl -->
					<div class="pop_mdl">
						<div class="setBox">
							<div class="tbl_popup_set">
								<table summary="화면URL, 화면명으로 구성됨">
									<colgroup>
										<col width="200"><col>
									</colgroup>
									<thead>
										<tr>
											<th>화면URL</th>
											<th>화면명</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<div class="iptBox">
													<input type="text" v-model="params.menuUrl" maxlength="20">
												</div>
											</td>
											<td>
												<div class="iptBox">
													<input type="text" v-model="params.menuNm" maxlength="20">
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>                    
					</div>
					<!-- //.pop_mdl -->
				</div>
            </div>
        </section>
        <section slot="btn">
            <div class="btnBox">
                <a @click="fn_submit" class="btn_lyr_save">저장</a>
                <a @click="closeModal" class="btn_lyr_close">닫기</a>
            </div>
        </section>
    </modal-component>
</template>

<script>
import ModalComponent from "../../ModalComponent";
import {mapActions} from "vuex";

export default {
    name: "UserModal",
    components: {ModalComponent},
    props: {
        parameters: {
            type: Object,
            default: {},
        },
    },
    async created() {

    },
    methods: {
        ...mapActions('base', {
            clearModal: 'clearModal',
        }),
        closeModal() {
            this.clearModal();
        },
		fn_validate() {
			if(!this.params.menuUrl || !this.params.menuNm) {
				alert('모든 항목을 입력해주세요.');
				return false;
			}else {
				return true;
			}
		},
		fn_submit() {
			if(this.fn_validate()) {
				this.fn_setAccessibleMenu();
			}
		},
		async fn_setAccessibleMenu() {
			const {data: result} = await this.manageRepository.setAccessibleMenu(this.params);
			if(result.status === 'SUCCESS') {
				alert('등록 완료했습니다.');
				this.parameters.callback(this.parameters.autCd);
				this.clearModal();
			}else if(result.status === 'CONFLICT') {
				alert('이미 등록된 URL 입니다');
			}else {
				alert('오류가 발생했습니다.');
			}
		},
    },
	data(){
        return {
			params: {
				autCd: this.parameters.autCd,
				menuUrl: '',
				menuNm: '',
			},
            manageRepository: this.parameters.repository,
        }
    },
}
</script>

<style lang="scss" scoped>
    @import '~css/popup';
</style>