<template>
    <modal-component modal-add-class="small" :modal-add-style="{width: 'auto', height: 'auto'}" :is-close="true" @modal:close="closeModal">
        <section slot="title">
            권한 {{parameters.autCd ? '설정' : '등록'}}
        </section>
        <section slot="content">
            <div class="admin small">
                <div class="right_manage">
					<!-- .pop_mdl -->
					<div class="pop_mdl">
						<div class="setBox">
							<div class="tbl_popup_set">
								<table summary="권한ID, 권한명으로 구성됨">
									<colgroup>
										<col width="200"><col>
									</colgroup>
			
									<thead>
										<tr>
											<th>권한ID</th>
											<th>권한명</th>
										</tr>
									</thead>
			
									<tbody>
										<tr>
											<td>
												<div class="iptBox">
													<input type="text" v-model="params.autCd" maxlength="20" :disabled="parameters.autCd">
												</div>
											</td>
											<td>
												<div class="iptBox">
													<input type="text" v-model="params.autNm" maxlength="20">
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>                    
					</div>
					<!-- //.pop_mdl -->
				</div>
            </div>
        </section>
        <section slot="btn">
            <div class="btnBox">
                <a @click="fn_submit" class="btn_lyr_save">{{parameters.autCd ? '수정' : '저장'}}</a>
                <a v-if="parameters.autCd" @click="fn_delAuth" class="btn_lyr_close">삭제</a>
                <a @click="closeModal" class="btn_lyr_close">닫기</a>
            </div>
        </section>
    </modal-component>
</template>

<script>
import ModalComponent from "../../ModalComponent";
import {mapActions} from "vuex";

export default {
    name: "UserModal",
    components: {ModalComponent},
    props: {
        parameters: {
            type: Object,
            default: {},
        },
    },
    async created() {
        if(this.parameters.autCd) {
			const {data: result} = await this.manageRepository.getAuth(new URLSearchParams({autCd: this.parameters.autCd}));
			this.params.autCd = result.data.autCd;
			this.params.autNm = result.data.autNm;
		}
    },
    methods: {
        ...mapActions('base', {
            clearModal: 'clearModal',
        }),
        closeModal() {
            this.clearModal();
        },
		fn_validate() {
			if(!this.params.autCd || !this.params.autNm) {
				alert('모든 항목을 입력해주세요.');
				return false;
			}else {
				return true;
			}
		},
		fn_submit() {
			if(this.fn_validate()) {
				this.parameters.autCd ? this.fn_updAuth() : this.fn_setAuth();
			}
		},
		async fn_setAuth() {
			const {data: result} = await this.manageRepository.setAuth(this.params);
			if(result.status === 'SUCCESS') {
				alert('등록 완료했습니다.');
				this.parameters.callback();
				this.clearModal();
			}else if(result.status === 'CONFLICT') {
				alert('이미 사용중인 권한ID가 존재합니다.');
			}else {
				alert('오류가 발생했습니다.');
			}
		},
		async fn_updAuth() {
			const {data: result} = await this.manageRepository.updAuth(this.params);
			if(result.status === 'SUCCESS') {
				alert('수정 완료했습니다.');
				this.parameters.callback();
				this.clearModal();
			}else {
				alert('오류가 발생했습니다.');
			}
		},
		async fn_delAuth() {
			const text = '삭제하시겠습니까?';
			if(confirm(text)) {
				const {data: result} = await this.manageRepository.delAuth(this.params);
				if(result.status === 'SUCCESS') {
					alert('삭제되었습니다.');
					this.parameters.callback();
					this.clearModal();
				}else {
					alert('오류가 발생했습니다.');
				}
			}
		}
    },
	data(){
        return {
			params: {
				autCd: '',
				autNm: '',
			},
            manageRepository: this.parameters.repository,
        }
    },
}
</script>

<style lang="scss" scoped>
    @import '~css/popup';
</style>