<template>
	<div>
		<div class="srchArea">
			<table class="tbl_line_view" summary="청약일자, 센터, 상품명, 증권번호, 담당QA, 대상, 질의응답으로 구성">
				<caption class="hide">검색조건</caption>
				<colgroup>
					<col width="100" />
					<col width="310" />
					<col width="100" />
					<col width="500" />
					<col width="100" />
					<col width="" />
					<col width="" />
				</colgroup>
				<tbody>
					<tr>
						<th scope="row">청약일자</th>
						<td>
							<div class="iptBox">
								<datepicker :value="moment().subtract(1, 'd').format('YYYY-MM-DD')" @input="searchParams.fromDate = moment($event).format('yyyyMMDD')" input-class="iptDateTime" :format="'yyyy-MM-dd'" :language="ko"></datepicker>
								<span>&hyphen;</span>
								<datepicker :value="moment().format('YYYY-MM-DD')" @input="searchParams.toDate = moment($event).format('yyyyMMDD')" input-class="iptDateTime" :format="'yyyy-MM-dd'" :language="ko"></datepicker>
							</div>
						</td>

						<th scope="row">센터</th>
						<td>
							<div class="iptBox">
								<input type="text" v-model="searchParams.cntrNmSrch" @keypress.enter="submit()">
							</div>
						</td>

						<th scope="row">상품명</th>
						<td colspan="3">
							<div class="iptBox">
								<input type="text" v-model="searchParams.prodNmeSrch" @keypress.enter="submit()">
							</div>
						</td>
					</tr>
					<tr>
						<th scope="row">증권번호</th>
						<td>
							<div class="iptBox">
								<input type="text" numberOnly v-model="searchParams.nsplNoSrch" @keypress.enter="submit()">
							</div>
						</td>

						<th scope="row">담당QA</th>
						<td>
							<div class="iptBox">
								<input type="text" numberOnly v-model="searchParams.qaUserNm" @keypress.enter="submit()">
							</div>
						</td>
						<th scope="row">대상</th>
						<td colspan="3">
							<div class="iptBox">
								<input type="text" numberOnly v-model="searchParams.targetContSrch" @keypress.enter="submit()">
							</div>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="btnBox">
				<a class="btn_srch" @click="submit()">조회</a>
				<a class="btn_reset" @click="resetSearchParams()">초기화</a>
			</div>
		</div>
		<!-- //.srchArea -->

		<div class="dataTableBox">
			<v-app>
				<JqxGrid
					ref="jqxGrid"
					@rowclick="openAuditPopup"
					:width="'100%'"
					:height="'357px'"
					:source="dataAdapter"
					:columns="gridHeaders"
					:columnsresize="true"
					:columnsreorder="true"
					:sortable="true"
					:showsortmenuitems="false"
				/>
				<v-card-actions>
					<div>
						[총 {{pagination.length}} 건&nbsp;&nbsp;<strong>{{this.source.localdata.length}}</strong> 건]
					</div>
					<v-spacer></v-spacer>
					<v-btn @click="exportResultExcel()" color="#009583" style="color: #fff;">Excel 다운로드</v-btn>
				</v-card-actions>
				<pagination-component :pagination="pagination" />
			</v-app>
		</div>
	</div>
</template>

<script>
import Datepicker from "vuejs-datepicker";
import moment from "moment";
import { RepositoryFactory } from "@/repositories/RepositoryFactory";
import PaginationComponent from "@/components/pagination/PaginationComponent";
import excelUtils from '@/utils/excelUtils';
import popupUtils from "@/utils/popupUtils";
import JqxGrid from 'jqwidgets-scripts/jqwidgets-vue/vue_jqxgrid';

const qaResultRepository = RepositoryFactory.get("qaResult");

export default {
	name: "result",
	components: {
		PaginationComponent,
		Datepicker,
		JqxGrid,
	},
	beforeCreate () {
		const customsortfunc = (column, direction) => {
			if(direction == null) {
				this.pagination.sortingColumn = '';
				this.pagination.sorting = '';
			}else {
				this.pagination.sortingColumn = column.replace(/[A-Z]/g, letter => `_${letter.toLowerCase()}`);
				this.pagination.sorting = direction ? "ASC" : "DESC";
			}
			this.getQaResultList();
		};

		this.source = {
            localdata: [],
			sort: customsortfunc,
        };
	},
	created() {
		this.getQaResultList();
	},
	data() {
		return {
			searchParams: {
				fromDate: moment().subtract(1, 'd').format('YYYYMMDD'),
                toDate: moment().format('YYYYMMDD'),
				prodNmeSrch: "",
				nsplNoSrch: "",
				qaUserNm: "",
				targetContSrch: "",
				cntrNmSrch: "",
			},
			pagination: {
				length: 0, // total row
				rowsPerPage: 10, // row per page
				now: 1, // now page
				navigationLength: 10, // navigation length
				callback: this.paginationCallback, // callback
				startRow: 0, // startRow
				endRow: 0, // endRow
				sortingColumn: null,
				sorting: "ASC",
			},
			dataAdapter: new jqx.dataAdapter(this.source),
			gridHeaders: [
				{align: 'center', cellsalign: "center", width: 50, text: "NO", datafield: "rowNum", sortable: false},
				{align: 'center', cellsalign: "center", width: 100, text: "청약일자", datafield: "regDy"},
				{align: 'center', cellsalign: "center", width: 200, text: "상품명", datafield: "prodNme"},
				{align: 'center', cellsalign: "center", width: 100, text: "증권번호", datafield: "nsplNo"},
				{align: 'center', cellsalign: "center", width: 100, text: "계약자", datafield: "csmrAdmn"},
				{align: 'center', cellsalign: "center", width: 100, text: "피보험자", datafield: "pnm"},
				{align: 'center', cellsalign: "center", width: 100, text: "상담원", datafield: "saesEmnm"},
				{align: 'center', cellsalign: "center", width: 100, text: "센터", datafield: "cntrNm"},
				{align: 'center', cellsalign: "center", width: 100, text: "실", datafield: "prtNme"},
				{align: 'center', cellsalign: "center", width: 100, text: "TA 점수", datafield: "taScr"},
				{align: 'center', cellsalign: "center", width: 100, text: "QA 상태", datafield: "prgstNm"},
				{align: 'center', cellsalign: "center", width: 100, text: "QA 결과", datafield: "cdNm"},
				{align: 'center', cellsalign: "center", width: 100, text: "QA 점수", datafield: "qaScr"},
				{align: 'center', cellsalign: "center", width: 100, text: "담당 QA", datafield: "qaUserNm"},
				{align: 'center', cellsalign: "center", width: 100, text: "QA 실행일자" ,datafield: "qaEdTm"},
				{align: 'center', cellsalign: "center", width: 100, text: "콜타임", datafield: "ctrCalTotTm"},
				{align: 'center', cellsalign: "center", width: 80, text: "업무처리시간", datafield: "qaProcTm"},
				{align: 'center', cellsalign: "center", width: 80, text: "QA 요청일자", datafield: "qaReqTm"},
				{align: 'center', cellsalign: "center", width: 80, text: "대상", datafield: "qaTrgConCd"},
			],
		};
	},
	methods: {
		paginationCallback() {
			this.getData();
		},
		async getData(now) {
			if (now != undefined) {
				this.pagination.now = now;
			}
			this.getQaResultList();
		},
		// 검색 폼 리셋
		resetSearchParams() {
			Object.keys(this.searchParams).forEach(key => {
				if(key != 'fromDate' && key != 'toDate') {
					this.searchParams[key] = '';
				}
			});
		},
		// 유효성 검증
		chkValidation() {
			const fromDate = moment(this.searchParams.fromDate).format("YYYYMMDD");
			const toDate = moment(this.searchParams.toDate).format("YYYYMMDD");
			
			if(!this.searchParams.fromDate || !this.searchParams.toDate) {
				alert("청약일자 항목을 입력해주세요.");
				return false;
			}
			if(fromDate > toDate) {
				alert("청약일자 항목이 올바르지 않습니다.");
				return false;
			}

			return true;
		},
		// 검색조건으로 검색
		submit() {
			if(this.chkValidation()) {
				this.pagination.now = 1;
				this.getQaResultList(this.searchParams);
			}
		},
		// QA 결과 목록 조회
		async getQaResultList() {
			const {data: result} = await qaResultRepository.getQaResultList({...this.searchParams, ...this.pagination});
			this.pagination.length = result.length;
			result.data.forEach((v, i) => {
				v.rowNum = (this.pagination.length - ((this.pagination.now - 1) * this.pagination.rowsPerPage)) - (i);
				Object.keys(v).forEach((key) => v[key] = v[key] || '-');
			});
			this.source.localdata = result.data;

			this.$refs.jqxGrid.updatebounddata('sort');
			this.$refs.jqxGrid.clearselection();
		},
		// 엑셀 다운로드
		async exportResultExcel() {
			const { data: result } = await qaResultRepository.getQaResultList({...this.searchParams, startRow: -1});
			if(!result.length) {
				alert("엑셀로 반출할 데이터가 없습니다.");
			}else {
				result.data.forEach((v, i) => (v.rowNum = i + 1));
				excelUtils.dataTableToXLSX(this.gridHeaders, result.data, "QA결과", "QA 결과");
			}
		},
		// 심사 팝업 오픈
		openAuditPopup(event) {
			popupUtils.setVm(this);
			popupUtils.openPopup(
				this,
				"PopupTmQaAudit",
				{ width: 1650, height: 970, top: 300, left: 100 },
				{
					nsplNo: event.args.row.bounddata.nsplNo,
					external: true,
				},
				'result-auditPopup',
			);
		},
	},
};
</script>

<style lang="scss">
	
</style>