<template>
    <div>
        <div class="srchArea">
            <table class="tbl_line_view" summary="청약일자, 센터, 상담원, 상담원 이름, 대상, 대상내용, TA점수(최소-최대), 증권번호, 상품명, 번들유무, 청약상태, 상품발송안내로 구성">
                <caption class="hide">검색조건</caption>
                <colgroup>
                    <col width="120"><col width="250"><col width="70"><col><col width="70"><col><col width="120"><col><col width="70"><col>
                </colgroup>
                <tbody>
                <tr>
                    <th scope="row">청약일자</th>
                    <!-- [D] 처음 페이지 들어왔을때의 초기 상담일시는 [전날 날짜, 오전 9시] - [당일 날짜, 미정] 기본 입력 상태여야함 -->
                    <!-- [D] 시간 초기 기본값 미정으로 비워둠 -->
                    <td>
                        <div class="iptBox">
                            <datepicker :value="moment().subtract(1, 'd').format('YYYY-MM-DD')" @input="searchParams.fromDate = moment($event).format('yyyyMMDD')" input-class="iptDateTime" :format="'yyyy-MM-dd'" :language="ko"></datepicker>
                            <span>&hyphen;</span>
                            <datepicker :value="moment().format('YYYY-MM-DD')" @input="searchParams.toDate = moment($event).format('yyyyMMDD')" input-class="iptDateTime" :format="'yyyy-MM-dd'" :language="ko"></datepicker>
                        </div>
                    </td>

                    <th scope="row">센터</th>
                    <td>
                        <div class="iptBox">
                            <input type="text" v-model="searchParams.cntrNmSrch" maxlength="10" @keypress.enter="submit()">
                        </div>
                    </td>

                    <th scope="row">상담원</th>
                    <td>
                        <div class="iptBox">
                            <input type="text" v-model="searchParams.saesType" maxlength="5" @keypress.enter="submit()">
                        </div>
                    </td>

                    <th scope="row">상담원 이름</th>
                    <td>
                        <div class="iptBox">
                            <input type="text" v-model="searchParams.saesEmnmSrch" maxlength="10" @keypress.enter="submit()">
                        </div>
                    </td>

                    <th scope="row">대상</th>
                    <td>
                        <select class="select" v-model="searchParams.targetYnSrch">
                            <option value="">전체</option>
                            <option value="Y">Y</option>
                            <option value="N">N</option>
                        </select>
                    </td>

                    <th scope="row">대상내용</th>
                    <td>
                        <!-- TODO DB에서 목록 가져와야할듯? -->
                        <select class="select" v-model="searchParams.targetContSrch">
                            <option value="">전체</option>
                            <option value="TMR">TMR</option>
                            <option value="상품">상품</option>
                            <option value="TA구간">TA구간</option>
                            <option value="TA점수">TA점수</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <th scope="row">TA점수&lpar;최소&hyphen;최대&rpar;</th>
                    <td>
                        <div class="iptBox">
                            <input type="tel" class="ta_score" v-model="searchParams.taScoreSrch1" v-mask="'##'" @keypress.enter="submit()">
                            <span>&hyphen;</span>
                            <input type="tel" class="ta_score" v-model="searchParams.taScoreSrch2" v-mask="'##'" @keypress.enter="submit()">
                        </div>
                    </td>

                        <th scope="row">증권번호</th>
                        <td>
                            <div class="iptBox">
                                <input type="tel" v-model="searchParams.nsplNoSrch" v-mask="'############'" @keypress.enter="submit()">
                            </div>
                        </td>

                    <th scope="row">상품명</th>
                    <td>
                        <div class="iptBox">
                            <input type="text" v-model="searchParams.prodNmeSrch" maxlength="20" @keypress.enter="submit()">
                        </div>
                    </td>

                    <th scope="row">번들유무</th>
                    <td>
                        <select class="select" v-model="searchParams.bundleYnSrch">
                            <option value="">전체</option>
                            <option value="Y">Y</option>
                            <option value="N">N</option>
                        </select>
                    </td>

                    <th scope="row">청약상태</th>
                    <td>
                        <!-- TODO DB에서 목록 가져와야할듯? -->
                        <select class="select" v-model="searchParams.aptnStatSrch">
                            <option value="">전체</option>
                            <option value="신계약">신계약</option>
                            <option value="청약철회">청약철회</option>
                            <option value="심사반송">심사반송</option>
                        </select>
                    </td>

                    <th scope="row">상품발송안내</th>
                    <td>
                        <select class="select" v-model="searchParams.prodSndYnSrch">
                            <option value="">전체</option>
                            <option value="Y">Y</option>
                            <option value="N">N</option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="btnBox ">
                <a class="btn_srch" @click="submit()">조회</a>
                <a class="btn_reset" @click="reset()">초기화</a>
            </div>
        </div>

        <div class="dataTableBox">
            <v-app>
				<JqxGrid
					ref="jqxGrid"
					@rowclick="openAuditPopup"
					:width="'100%'"
					:height="'357px'"
					:source="dataAdapter"
					:columns="gridHeaders"
					:columnsresize="true"
					:columnsreorder="true"
					:sortable="true"
					:showsortmenuitems="false"
					:selectionmode="'checkbox'"
				/>
                <v-card-actions>
                    <v-btn @click="setTarget('Y')" color="#009583" style="color: #fff;">대상</v-btn>
                    <v-btn @click="setTarget('N')" color="#009583" style="color: #fff;">취소</v-btn>
                    <v-btn @click="openTargetSetPopup" color="#009583" style="color: #fff;">대상설정</v-btn>
                    <div style="margin-left: 20px;">
                        [총 {{pagination.length}} 건&nbsp;&nbsp;<strong>{{this.source.localdata.length}}</strong> 건]
                    </div>
                    <v-spacer></v-spacer>
                    <v-btn @click="exportExcel()" color="#009583" style="color: #fff;">Excel 다운로드</v-btn>
                </v-card-actions>
                <pagination-component :pagination="pagination"/>
            </v-app>
        </div>
    </div>
</template>

<script>
import {EventBus} from "@/utils/bus";
import {RepositoryFactory} from '@/repositories/RepositoryFactory';
import {mask} from 'vue-the-mask';
import Datepicker from 'vuejs-datepicker';
import PaginationComponent from "@/components/pagination/PaginationComponent";
import moment from "moment";
import popupUtils from "@/utils/popupUtils";
import excelUtils from '@/utils/excelUtils';
import JqxGrid from 'jqwidgets-scripts/jqwidgets-vue/vue_jqxgrid';


const QaTargetRepository = RepositoryFactory.get('qaTarget');

export default {
    name: 'tm_qa_target',
    directives: {
        mask,
    },
    components: {
        Datepicker,
        PaginationComponent,
		JqxGrid,
    },
    activated() {
        EventBus.$emit('setContetnsClass', {className: 'tm_qa_target'});
    },
	beforeCreate () {
		const customsortfunc = (column, direction) => {
			if(direction == null) {
				this.pagination.sortingColumn = '';
				this.pagination.sorting = '';
			}else {
				this.pagination.sortingColumn = column.replace(/[A-Z]/g, letter => `_${letter.toLowerCase()}`);
				this.pagination.sorting = direction ? "ASC" : "DESC";
			}
			this.getQaTargetList();
		};

		this.source = {
            localdata: [],
			sort: customsortfunc,
        };
	},
    async created() {
        EventBus.$emit('setContetnsClass', {className: 'tm_qa_target'});
        await this.getQaTargetList();
    },
    data() {
        return {
            searchParams: {
                fromDate: moment().subtract(1, 'd').format('YYYYMMDD'),
                toDate: moment().format('YYYYMMDD'),
                cntrNmSrch: '',
                saesType: '',
                saesEmnmSrch: '',
                targetYnSrch: '',
                targetContSrch: '',
                taScoreSrch1: '',
                taScoreSrch2: '',
                nsplNoSrch: '',
                prodNmeSrch: '',
                bundleYnSrch: '',
                aptnStatSrch: '',
                prodSndYnSrch: '',
                sortColumn: '',
                sortDir: '',
            },
            pagination: {
                length: 0, // total row
                rowsPerPage: 10, // row per page
                now: 1, // now page
                navigationLength: 10, // navigation length
                callback: this.getQaTargetList, // callback
                startRow: 0,
                endRow: 0,
                rowNum: 0,
                sortingColumn: null,
                sorting: null,
            },
			dataAdapter: new jqx.dataAdapter(this.source),
            gridHeaders: [
                {align: 'center', cellsalign: "center", width: 50, text: 'No', datafield: 'rowNum', sortable: false},
                {align: 'center', cellsalign: "center", width: 100, text: '청약일자', datafield: 'regDy'},
                {align: 'center', cellsalign: "center", width: 200, text: '상품명', datafield: 'prodNme'},
                {align: 'center', cellsalign: "center", width: 100, text: '증권번호', datafield: 'nsplNo'},
                {align: 'center', cellsalign: "center", width: 100, text: '계약자', datafield: 'csmrAdmn'},
                {align: 'center', cellsalign: "center", width: 100, text: '연령', datafield: 'ctrInsAg'},
                {align: 'center', cellsalign: "center", width: 100, text: '피보험자', datafield: 'pnm'},
                {align: 'center', cellsalign: "center", width: 100, text: '연령', datafield: 'pbInsAg'},
                {align: 'center', cellsalign: "center", width: 100, text: '센터', datafield: 'cntrNm'},
                {align: 'center', cellsalign: "center", width: 100, text: '상담원', datafield: 'saesEmnm'},
                {align: 'center', cellsalign: "center", width: 100, text: '사번', datafield: 'saesEmno'},
                {align: 'center', cellsalign: "center", width: 100, text: 'TA점수', datafield: 'taScr'},
                {align: 'center', cellsalign: "center", width: 100, text: '대상', datafield: 'targetYn'},
                {align: 'center', cellsalign: "center", width: 100, text: '대상내용', datafield: 'qaTrgConCd'},
                {align: 'center', cellsalign: "center", width: 100, text: 'QA 요청일자', datafield: 'qaReqTm'},
                {align: 'center', cellsalign: "center", width: 100, text: '청약상태', datafield: 'aptnStat'},
                {align: 'center', cellsalign: "center", width: 100, text: '번들유무', datafield: 'bundleYn'},
                {align: 'center', cellsalign: "center", width: 100, text: '상품발송안내', datafield: 'annoYn'},
            ],
        }
    },
    methods: {
        openTargetSetPopup() {
            popupUtils.setVm(this);
            popupUtils.openPopup(this, 'PopupTmQaTargetSet', {width: 1650, height: 700});
        },
        // 유효성 검증
        chkValidation() {
            if(!this.searchParams.fromDate || !this.searchParams.toDate) {
                alert("청약일자 항목을 입력해주세요.");
                return false;
            }
            if(this.searchParams.fromDate > this.searchParams.toDate) {
                alert("청약일자 항목이 올바르지 않습니다.");
                return false;
            }
            if(this.searchParams.taScoreSrch1 && this.searchParams.taScoreSrch2) {
                if(this.searchParams.taScoreSrch1 > this.searchParams.taScoreSrch2) {
                    alert("TA점수 항목이 올바르지 않습니다.");
                    return false;
                }
            }

            return true;
        },
		// 검색조건으로 검색
        submit() {
            if(this.chkValidation()) {
                this.pagination.now = 1;
                this.getQaTargetList();
            }
        },
        // 검색 폼 리셋
        reset() {
            Object.keys(this.searchParams).forEach(key => {
				if(key != 'fromDate' && key != 'toDate') {
					this.searchParams[key] = '';
				}
			});
        },
        // QA 대상 목록 조회
        async getQaTargetList() {
            const {data: result} = await QaTargetRepository.getQaTargetList({...this.searchParams, ...this.pagination});
			this.pagination.length = result.length;
            if(result.length > 0){
                result.data.forEach((v, i) => {
                    v.rowNum = (this.pagination.length - ((this.pagination.now - 1) * this.pagination.rowsPerPage)) - (i);
					Object.keys(v).forEach((key) => v[key] = v[key] || '-');
                });
				this.source.localdata = result.data;
            }else {
                this.source.localdata = [];
            }

			this.$refs.jqxGrid.updatebounddata('sort');
			this.$refs.jqxGrid.clearselection();
        },
        // 대상으로 수동 등록, 삭제
        async setTarget(flag) {
			const allRows = this.$refs.jqxGrid.getrows();
			const selectedRowIndexes = this.$refs.jqxGrid.getselectedrowindexes();
			const selectedList = allRows.filter(v => selectedRowIndexes.includes(v.boundindex));

            if(!selectedList.length) {
                alert("대상을 선택해주세요.");
                return false;
            }else {
                const {data: result} = flag === 'Y' ? await QaTargetRepository.setTargetY(selectedList) : await QaTargetRepository.setTargetN(selectedList);
                if(result.data) {
                    let text = flag === 'Y' ? '대상으로 지정했습니다.' : '대상 취소했습니다.';
                    alert(`${selectedList.length}건의 데이터를 ${text}`);
                    this.getQaTargetList();
                }else {
                    alert("오류가 발생했습니다.");
                }
            }
        },
        // 엑셀 다운로드
        async exportExcel(){
            const {data: result} = await QaTargetRepository.getQaTargetList({...this.searchParams, ...{startRow: -1}});
			if(!result.length) {
				alert("엑셀로 반출할 데이터가 없습니다.");
				return false;
			}else {
				result.data.forEach((v, i) => v.rowNum = i+1);
				excelUtils.dataTableToXLSX(this.gridHeaders, result.data, 'QA 대상', 'QA 대상');
			}
        },
		// 심사 팝업 오픈
        openAuditPopup(event) {
            popupUtils.setVm(this);
            popupUtils.openPopup(
                this,
                "PopupTmQaAudit",
                { width: 1650, height: 970, top: 300, left: 100 },
                {
                    nsplNo: event.args.row.bounddata.nsplNo,
                    external: true,
                },
				'target-auditPopup',
            );
        },
    }

}

</script>

<style lang="scss">
	
</style>
