<template>
	<div>
		<!-- .srchArea -->
		<div class="srchArea">
			<table class="tbl_line_view" summary="상담일시, 센터, 실, 상담원, 사번, 고객명, 고객번호, STT상태, 콜키로 구성">
				<caption class="hide">검색조건</caption>
				<colgroup>
					<col width="100" />
					<col width="310" />
					<col width="100" />
					<col />
					<col width="100" />
					<col />
					<col width="100" />
					<col />
					<col width="100" />
					<col />
				</colgroup>

				<tbody>
					<tr>
						<th scope="row">상담일시</th>
						<td>
							<div class="iptBox">
								<datepicker v-model="searchParams.fromDate" input-class="iptDateTime" :format="'yyyy-MM-dd'" :language="ko"></datepicker>
								<span>&hyphen;</span>
								<datepicker v-model="searchParams.toDate" input-class="iptDateTime" :format="'yyyy-MM-dd'" :language="ko"></datepicker>
							</div>
						</td>
						<th scope="row">센터</th>
						<td>
							<div class="iptBox">
								<input type="text" v-model="searchParams.cntrNmSrch" @keypress.enter="onSearch" placeholder="기간계 연동 이슈로 인해 inpt로 대체">
							</div>
						</td>
						<th scope="row">실</th>
						<td>
							<div class="iptBox">
								<input type="text" v-model="searchParams.prtNmSrch" @keypress.enter="onSearch" placeholder="기간계 연동 이슈로 인해 inpt로 대체">
							</div>
						</td>
						<th scope="row">상담원</th>
						<td>
							<div class="iptBox">
								<input type="text" v-model="searchParams.saesTypeNmSrch" @keypress.enter="onSearch" placeholder="기간계 연동 이슈로 인해 inpt로 대체">
							</div>
						</td>
						<th scope="row">사번</th>
						<td>
							<div class="iptBox">
								<input type="text" v-model="searchParams.culeIdSrch" @keypress.enter="onSearch">
							</div>
						</td>
					</tr>

					<tr>
						<th scope="row">고객명</th>
						<td>
							<div class="iptBox">
								<input type="text" v-model="searchParams.csNmSrch" @keypress.enter="onSearch">
							</div>
						</td>
						<th>고객번호</th>
						<td>
							<div class="iptBox">
								<input type="text" v-model="searchParams.csPkSrch" @keypress.enter="onSearch">
							</div>
						</td>
						<th scope="row">STT상태</th>
						<td>
							<div class="sltBox">
								<select class="select" v-model="searchParams.progStatCdSrch">
									<option value="">전체</option>
									<option v-for="(item, idx) in progStatCdList" :key="idx" :value="item.cd" >{{item.cdNm}}</option>
								</select>
							</div>
						</td>

						<th scope="row">콜키</th>
						<td colspan="3">
							<div class="iptBox">
								<input type="text" class="callKey" v-model="searchParams.ucidSrch" @keypress.enter="onSearch">
							</div>
						</td>
					</tr>
				</tbody>
			</table>

			<!-- [D] 조회 버튼(.btn_srch)클릭 시 하단 리스트 오름차순으로 기본 정렬된 상태로 조회되며, 입력된 검색조건 값들은 reset되어야함 -->
			<!-- [D] 초기화 버튼(.btn_reset)클릭 시 검색조건 테이블 상 입력값들 모두 reset됨 -->
			<div class="btnBox">
				<a class="btn_srch" @click="onSearch()">조회</a>
				<a class="btn_reset" @click="onReset()">초기화</a>
			</div>
		</div>
		<!-- //.srchArea -->

		<!-- .dataTableBox -->
		<div class="dataTableBox">
			<v-app>
				<JqxGrid
					ref="jqxGrid"
					@rowclick="fn_jqxGridOnclick($event)"
					:width="'100%'"
					:source="dataAdapter"
					:columns="gridHeaders"
					:columnsresize="true"
					:columnsreorder="true"
					:sortable="true"
					:showsortmenuitems="false"
				/>
				<v-card-actions>
					<div class="bottom" style="margin-left: 20px">
						<div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">
							[총 {{ pagination.length }} 건&nbsp;&nbsp;<strong>{{this.source.localdata.length}}</strong>건]
						</div>
					</div>
					<v-spacer />
					<v-btn @click="exportExcel()" color="#009583" style="color: #fff;">Excel 다운로드</v-btn>
				</v-card-actions>
				<pagination-component :pagination="pagination" />
			</v-app>
		</div>
		<!-- //.dataTableBox -->
	</div>
</template>

<script>
import moment from "moment";
import Datepicker from "vuejs-datepicker";
import excelUtils from "@/utils/excelUtils";
import PaginationComponent from "@/components/pagination/PaginationComponent";
import { EventBus } from "@/utils/bus";
import { RepositoryFactory } from "@/repositories/RepositoryFactory";
import JqxGrid from 'jqwidgets-scripts/jqwidgets-vue/vue_jqxgrid';

const SttTargetRepository = RepositoryFactory.get("sttTarget");

export default {
	name: "tm_stt_target",
	components: {
		PaginationComponent,
		Datepicker,
		JqxGrid,
    },
    methods: {
		// 유효성 검증
        chkValidation() {
            if(!this.searchParams.fromDate || !this.searchParams.toDate) {
                alert("청약일자 항목을 입력해주세요.");
                return false;
            }
            if(this.searchParams.fromDate > this.searchParams.toDate) {
                alert("청약일자 항목이 올바르지 않습니다.");
                return false;
            }

            return true;
        },
		onSearch() {
			if(this.chkValidation()) {
				this.pagination.now = 1;
				this.getSttTargetList();
			}
		},
		onReset() {
			for(let [key, value] of Object.entries(this.searchParams)) {
				if(key != 'fromDate' && key != 'toDate') {
					this.searchParams[key] = '';
				}
            }
		},
		// 엑셀 다운로드
        async exportExcel(){
            const {data: result} = await SttTargetRepository.getSttTargetList(this.fn_createRequestData('excel'));
			if(!result.total_cnt) {
				alert("엑셀로 반출할 데이터가 없습니다.");
				return false;
			}else {
				result.data.forEach((v, i) => v.rowNum = i+1);
				excelUtils.dataTableToXLSX(this.gridHeaders, result.data, "TM STT 대상", "TM STT 대상");
			}
        },
		// STT 대상 메인리스트 조회
		async getSttTargetList() {
			const {data: result} = await SttTargetRepository.getSttTargetList(this.fn_createRequestData());
			this.pagination.length = result.total_cnt;
			if(result.total_cnt > 0) {
				result.data.forEach((v, i) => {
                    v.rowNum = (this.pagination.length - ((this.pagination.now - 1) * this.pagination.rowsPerPage)) - (i);
                    for(let [key, value] of Object.entries(v)) {
                        v[key] = v[key] ? v[key] : '-';
                    }
                });
				this.source.localdata = result.data;
			}else {
				this.source.localdata = [];
			}
			
			this.$refs.jqxGrid.updatebounddata('sort');
			this.$refs.jqxGrid.clearselection();
		},
		// API로 요청할 json 데이터 생성
		fn_createRequestData(flag) {
			let requestData = {...this.searchParams, ...this.pagination};
			requestData.fromDate = moment(requestData.fromDate).format('YYYY-MM-DD');
			requestData.toDate = moment(requestData.toDate).format('YYYY-MM-DD');
			if(flag == 'excel') {
				requestData.startRow = -1;
			}
			Object.keys(requestData).forEach((k) => requestData[k] == '' && delete requestData[k]);

			return new URLSearchParams(requestData);
		},
		// STT 상태 코드 목록 조회
		async fn_getProgStatCdList() {
			const {data: result} = await SttTargetRepository.getProgStatCdList();
			if(result.data) this.progStatCdList =result.data;
		},
		fn_jqxGridOnclick(event) {
			console.log(event.args);
		}
	},
	beforeCreate () {
		const customsortfunc = (column, direction) => {
			if(direction == null) {
				this.pagination.sortingColumn = '';
				this.pagination.sorting = '';
			}else {
				this.pagination.sortingColumn = column.replace(/[A-Z]/g, letter => `_${letter.toLowerCase()}`);
				this.pagination.sorting = direction ? "ASC" : "DESC";
			}
			this.getSttTargetList();
		};

		this.source = {
            localdata: [],
			sort: customsortfunc,
        };
	},
	created() {
		this.getSttTargetList();
		this.fn_getProgStatCdList();
		EventBus.$emit("setContetnsClass", {className: "admin tm_stt"});
	},
	data() {
		return {
			searchParams: {
				fromDate: moment().subtract(1, 'd').toDate(),
				toDate: moment().toDate(),
				cntrNmSrch: '',		// 센터코드
				prtNmSrch: '',		// 실코드
				saesTypeNmSrch: '',	// 상담원 유형 코드
				culeIdSrch: '',		// 사번
				csNmSrch: '',		// 고객명
				csPkSrch: '',		// 고객번호
				progStatCdSrch: '',	// stt상태
				ucidSrch: '',		// 콜키
			},
			progStatCdList: [],
			pagination: {
				length: 0, // total row
				rowsPerPage: 10, // row per page
				now: 1, // now page
				navigationLength: 10, // navigation length
				callback: this.getSttTargetList, // callback
				startRow: 0, // startRow
				endRow: 0, // endRow
				sortingColumn: '',
				sorting: '',
			},
			dataAdapter: new jqx.dataAdapter(this.source),
            gridHeaders: [
                {align: "center", cellsalign: "center", width: 90, text: "NO", datafield: "rowNum", sortable: false},
				{align: "center", cellsalign: "center", width: 200, text: "상담일시", datafield: "cnslTm"},
				{align: "center", cellsalign: "center", width: 200, text: "센터", datafield: "cntrNm"},
				{align: "center", cellsalign: "center", width: 200, text: "실", datafield: "prtNm"},
				{align: "center", cellsalign: "center", width: 200, text: "상담원", datafield: "saesTypeNm"},
				{align: "center", cellsalign: "center", width: 200, text: "상담사사번", datafield: "culeNm"},
				{align: "center", cellsalign: "center", width: 200, text: "고객명", datafield: "csNm"},
				{align: "center", cellsalign: "center", width: 200, text: "고객번호", datafield: "csPk"},
				{align: "center", cellsalign: "center", width: 200, text: "STT상태", datafield: "progStatCd"},
				{align: "center", cellsalign: "center", width: 200, text: "콜키", datafield: "ucid"},
            ],
		};
	},
};
</script>

<style lang="scss" scoped>
</style>