<template>
  <div class="tab_content">
    <h3>데이터 처리 상태</h3>

    <!-- .srchArea -->
    <div class="srchArea">
      <table class="tbl_line_view" summary="조회일자, 조회주기로 구성">
        <caption class="hide">
          검색조건
        </caption>
        <colgroup>
          <col width="100" />
          <col />
          <col width="100" />
          <col />
        </colgroup>

        <tbody>
          <tr>
            <th scope="row">조회일자</th>
            <td>
              <div class="iptBox">
                <datepicker
                  v-model="searchParams.recStDt"
                  input-class="iptDateTime"
                  :format="'yyyy-MM-dd'"
                  :language="ko"
                ></datepicker>
              </div>
            </td>

            <th scope="row">조회주기</th>
            <td>
              <select class="select" v-model="searchParams.srchInterval">
                <option value="0">1번 조회</option>
                <option value="5000">5초 마다</option>
                <option value="30000">30초 마다</option>
                <option value="60000">60초 마다</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="btnBox">
        <a class="btn_srch" @click="setMntrInterval(searchParams.srchInterval)"
          >조회</a
        >
      </div>
    </div>
    <!-- //.srchArea -->

    <!-- .custom_tbl -->
    <div class="custom_tbl">
      <table
        summary="서버처리현황, 녹취회사, 인입콜, STT 대기중, STT 처리중, STT 처리완료, STT 오류로 구성"
      >
        <caption class="hide">
          서버처리현황
        </caption>
        <colgroup>
          <col width="100" />
          <col width="100" />
          <col width="100" />
          <col width="100" />
          <col width="100" />
          <col width="100" />
          <col width="100" />
          <col width="100" />
          <col width="100" />
        </colgroup>

        <thead>
          <tr>
            <th>서버처리현황</th>
            <th>녹취회사</th>
            <th>인입콜</th>
            <th>녹취오류</th>
            <th>녹취내용없음</th>
            <th>STT 대기중</th>
            <th>STT 처리중</th>
            <th>STT 처리완료</th>
            <th>STT 오류</th>
          </tr>
        </thead>

        <tbody>
          <template v-for="item in sttData">
            <tr
              v-for="(itm, id) in item.recCompany"
              v-bind:key="`${item.serverName}-${itm.recCompany}-${id}`"
            >
              <th v-if="id === 0" :rowspan="`${item.recCompany.length}`">
                {{ item.serverName }}
              </th>
              <th>{{ itm.cdNmStt }}</th>
              <td>{{ itm.processing }}</td>
              <td>{{ itm.recError }}</td>
              <td>{{ itm.recContNone }}</td>
              <td>{{ itm.sttOnStandBy }}</td>
              <td>{{ itm.sttProcessing }}</td>
              <td>{{ itm.sttProcessEnd }}</td>
              <td>{{ itm.sttError }}</td>
            </tr>
          </template>

          <tr>
            <th colspan="2">총계</th>
            <td>{{ totalValues.sttData.processing }}</td>
            <td>{{ totalValues.sttData.recError }}</td>
            <td>{{ totalValues.sttData.recContNone }}</td>
            <td>{{ totalValues.sttData.sttOnStandBy }}</td>
            <td>{{ totalValues.sttData.sttProcessing }}</td>
            <td>{{ totalValues.sttData.sttProcessEnd }}</td>
            <td>{{ totalValues.sttData.sttError }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- //.custom_tbl -->

    <!-- .custom_tbl -->
    <div class="custom_tbl">
      <table
        summary="보종, 인입건수, STT 대기, STT 처리중, STT 오류, QA 대기, QA 처리중, QA 변환오류, QA 처리완료, 녹취파일 미탐지로 구성"
      >
        <caption class="hide"></caption>
        <colgroup>
          <col width="80" />
          <col width="100" />
          <col width="100" />
          <col width="100" />
          <col width="100" />
          <col width="100" />
          <col width="100" />
        </colgroup>

        <thead>
          <tr>
            <th>보종</th>
            <th>인입건수</th>
            <th>QA 대기</th>
            <th>QA 처리중</th>
            <th>QA 변환오류</th>
            <th>QA 처리완료</th>
            <th>녹취파일 미탐지</th>
          </tr>
        </thead>

        <tbody>
          <template v-if="Object.keys(taData[0].values).length > 0">
            <tr v-for="(item, idx) in taData" v-bind:key="idx">
              <th>{{ item.category }}</th>
              <td>{{ item.values.numberOfEntries }}</td>
              <td>{{ item.values.qaStandBy }}</td>
              <td>{{ item.values.qaProcessing }}</td>
              <td>{{ item.values.qaConversionError }}</td>
              <td>{{ item.values.qaProcessingCompleted }}</td>
              <td>{{ item.values.noDetection }}</td>
            </tr>
          </template>

          <tr>
            <th>총계</th>
            <td>{{ totalValues.taData.numberOfEntries }}</td>
            <td>{{ totalValues.taData.qaStandBy }}</td>
            <td>{{ totalValues.taData.qaProcessing }}</td>
            <td>{{ totalValues.taData.qaConversionError }}</td>
            <td>{{ totalValues.taData.qaProcessingCompleted }}</td>
            <td>{{ totalValues.taData.noDetection }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- //.custom_tbl -->
  </div>
</template>

<script>
import { RepositoryFactory } from "@/repositories/RepositoryFactory";
import { EventBus } from "../../utils/bus";
import Datepicker from "vuejs-datepicker";
import moment from "moment";
const monitoringRepository = RepositoryFactory.get("monitoring");

export default {
  name: "ProcStatusMonitoring",
  components: {
    Datepicker,
  },
    activated() {
        EventBus.$emit('setContetnsClass', {className: 'process_mntr'});
    },
  created() {
    EventBus.$emit("setContetnsClass", {
      className: "process_mntr",
    });
  },
  mounted() {
    this.getMntrData();
  },
  data() {
    return {
      sttData: [
        {
          serverName: null,
          recCompany: [
            // {
            //   processing: null,
            //   recContNone: null,
            //   recError: null,
            //   sttOnStandBy: null,
            //   sttProcessing: null,
            //   sttProcessEnd: null,
            //   sttError: null,
            // },
          ],
        },
      ],
      taData: [
        {
          category: null,
          values: {
            // numberOfEntries: null,
            // qaStandBy: null,
            // qaProcessing: null,
            // qaConversionError: null,
            // qaProcessCompleted: null,
            // noDetection: null,
          },
        },
      ],
      totalValues: {
        sttData: {
          processing: null,
          recContNone: null,
          recError: null,
          sttOnStandBy: null,
          sttProcessing: null,
          sttProcessEnd: null,
          sttError: null,
        },
        taData: {
          numberOfEntries: null,
          qaStandBy: null,
          qaProcessing: null,
          qaConversionError: null,
          qaProcessCompleted: null,
          noDetection: null,
        },
      },
      searchParams: {
        recStDt: moment().format("YYYY-MM-DD"),
        srchInterval: 0,
      },
      intervalLoop: null,
    };
  },
  methods: {
    // 총계 계산
    calcTotal(key) {
      if (key === "stt") {
        let calcResult = {
          sttData: {
            processing: 0,
            recContNone: 0,
            recError: 0,
            sttOnStandBy: 0,
            sttProcessing: 0,
            sttProcessEnd: 0,
            sttError: 0,
          },
        };
        this.sttData.forEach((item) => {
          item.recCompany.forEach((itm) => {
            calcResult.sttData.processing += Number(itm.processing);
            calcResult.sttData.recError += Number(itm.recError);
            calcResult.sttData.recContNone += Number(itm.recContNone);
            calcResult.sttData.sttOnStandBy += Number(itm.sttOnStandBy);
            calcResult.sttData.sttProcessing += Number(itm.sttProcessing);
            calcResult.sttData.sttProcessEnd += Number(itm.sttProcessEnd);
            calcResult.sttData.sttError += Number(itm.sttError);
          });
        });
        this.totalValues.sttData = calcResult.sttData;
      } else if (key === "ta") {
        let calcResult = {
          taData: {
            numberOfEntries: 0,
            qaStandBy: 0,
            qaProcessing: 0,
            qaConversionError: 0,
            qaProcessingCompleted: 0,
            noDetection: 0,
          },
        };
        this.taData.forEach((item) => {
          if (Object.keys(item.values).length > 0) {
            calcResult.taData.numberOfEntries += Number(
              item.values.numberOfEntries
            );
            calcResult.taData.qaStandBy += Number(item.values.qaStandBy);
            calcResult.taData.qaProcessing += Number(item.values.qaProcessing);
            calcResult.taData.qaConversionError += Number(
              item.values.qaConversionError
            );
            calcResult.taData.qaProcessingCompleted += Number(
              item.values.qaProcessingCompleted
            );
            calcResult.taData.noDetection += Number(item.values.noDetection);
          } else {
            calcResult.taData = {
              numberOfEntries: 0,
              qaStandBy: 0,
              qaProcessing: 0,
              qaConversionError: 0,
              qaProcessingCompleted: 0,
              noDetection: 0,
            };
          }
        });
        this.totalValues.taData = calcResult.taData;
      }
    },
    // 데이터 요청
    async getMntrData() {
      const { data: sttResult } = await monitoringRepository.getSttMainList({
        recStDt: moment(this.searchParams.recStDt).format("YYYYMMDD"),
      });
      const { data: taResult } = await monitoringRepository.getTaMainList({
        recStDt: moment(this.searchParams.recStDt).format("YYYYMMDD"),
      });
      this.totalValues = {
        sttData: {
          processing: 0,
          recContNone: 0,
          recError: 0,
          sttOnStandBy: 0,
          sttProcessing: 0,
          sttProcessEnd: 0,
          sttError: 0,
        },
        taData: {
          numberOfEntries: 0,
          qaStandBy: 0,
          qaProcessing: 0,
          qaConversionError: 0,
          qaProcessingCompleted: 0,
          noDetection: 0,
        },
      };
      this.formatSttData(sttResult.sttDataList);
      this.formatTaData(taResult.taDataList);
    },

    formatSttData(response) {
      let tmpArr = [];
      response.forEach((item) => {
        if (!tmpArr.some((itm) => itm.serverName === item.sttProcSvr)) {
          let tmpObj = { serverName: null, recCompany: [] };
          tmpObj.serverName = item.sttProcSvr;
          tmpObj.recCompany.push({
            cdNmStt: item.cdNmStt,
            processing: item.processing,
            recContNone: item.reccontnone,
            recError: item.recerror,
            sttProcSvr: item.sttProcSvr,
            sttError: item.stterror,
            sttOnStandBy: item.sttonstandby,
            sttProcessEnd: item.sttprocessend,
            sttProcessing: item.sttprocessing,
          });
          tmpArr.push(tmpObj);
        } else {
          let foundIdx = tmpArr.findIndex(
            (itm) => itm.serverName === item.sttProcSvr
          );
          tmpArr[foundIdx].recCompany.push({
            cdNmStt: item.cdNmStt,
            processing: item.processing,
            recContNone: item.reccontnone,
            recError: item.recerror,
            sttProcSvr: item.sttProcSvr,
            sttError: item.stterror,
            sttOnStandBy: item.sttonstandby,
            sttProcessEnd: item.sttprocessend,
            sttProcessing: item.sttprocessing,
          });
        }
      });
      this.sttData = tmpArr;
      this.calcTotal("stt");
    },

    formatTaData(response) {
      let tmpArr = [];
      if (response.length > 0) {
        response.forEach((item) => {
          // if (!tmpArr.some((itm) => itm.category === item.cdNmTa)) {
          let tmpObj = { category: null, values: null };
          tmpObj.category = item.cdNmTa;
          tmpObj.values = {
            cdNmTa: item.cdNmTa,
            noDetection: item.nodetection,
            numberOfEntries: item.numberofendtries,
            qaConversionError: item.qaconversionerror,
            qaProcessing: item.qaprocessing,
            qaProcessingCompleted: item.qaprocessingcompleted,
            qaStandBy: item.qastandby,
          };
          tmpArr.push(tmpObj);
          // }
        });
        this.taData = tmpArr;
        this.calcTotal("ta");
      } else {
        this.taData = [
          {
            category: null,
            values: {},
          },
        ];
      }
    },

    // setInterval
    setMntrInterval(term) {
      if (this.intervalLoop) {
        clearInterval(this.intervalLoop);
        console.log("cleared previous loop");
      }
      if (Number(term) > 0) {
        this.getMntrData();
        this.intervalLoop = setInterval(this.getMntrData, Number(term));
      } else {
        this.getMntrData();
        console.log("last axios");
        return;
      }
    },
  },
};
</script>

<style scoped>
</style>