<template>
  <div>
    <h3>데이터 처리 상태</h3>

    <!-- .srchArea -->
    <div class="srchArea">
      <table class="tbl_line_view" summary="조회주기로 구성">
        <caption class="hide">
          검색조건
        </caption>
        <colgroup>
          <col width="100" />
          <col />
        </colgroup>

        <tbody>
          <tr>
            <th scope="row">조회주기</th>
            <td>
              <select class="select" v-model="searchParams.srchInterval">
                <option value="0">1번 조회</option>
                <option value="5000">5초 마다</option>
                <option value="30000">30초 마다</option>
                <option value="60000">60초 마다</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="btnBox">
        <a class="btn_srch" @click="setMntrInterval(searchParams.srchInterval)"
          >조회</a
        >
      </div>
    </div>
    <!-- //.srchArea -->

    <!-- .custom_tbl -->
    <div class="custom_tbl service_status_tbl">
      <table
        summary="서비스 목록, 서버명1, 서버명2, 서버명3, 서버명4, 서버명5로 구성"
      >
        <caption class="hide">
          서버처리현황
        </caption>
        <colgroup>
          <col width="100" />
          <template v-if="tableData.length > 0">
            <col
              width="100"
              v-for="(item, idx) in tableHeaderColumns"
              v-bind:key="idx"
            />
          </template>
          <template v-else>
            <col width="100" />
            <col width="100" />
            <col width="100" />
            <col width="100" />
            <col width="100" />
          </template>
        </colgroup>

        <thead>
          <tr>
            <th scope="col">서비스 목록</th>
            <template v-if="tableData.length > 0">
              <th
                scope="col"
                v-for="(item, idx) in tableHeaderColumns"
                v-bind:key="idx"
              >
                {{ item }}
              </th>
            </template>
            <template v-else>
              <th scope="col">서버명1</th>
              <th scope="col">서버명2</th>
              <th scope="col">서버명3</th>
              <th scope="col">서버명4</th>
              <th scope="col">서버명5</th>
            </template>
          </tr>
        </thead>

        <tbody>
          <!-- rows -->
          <tr v-for="(item, idx) in tableData" v-bind:key="idx">
            <!-- row title -->
            <th scope="row">{{ item.rowTitle }}</th>
            <!-- cols -->
            <td v-for="(itm, id) in item.cols" v-bind:key="id">
              <div>
                <a
                  :class="itm.svcStatCd.toLowerCase()"
                  @mouseover="tooltipOn(`${item.rowTitle}RowEl${id}`)"
                  @mouseout="tooltipOff(`${item.rowTitle}RowEl${id}`)"
                >
                  {{
                    itm.svcStatCd === "CHECK"
                      ? "확인요망"
                      : itm.svcStatCd.toUpperCase()
                  }}
                </a>
                <ul :ref="`${item.rowTitle}RowEl${id}`" class="service_detail">
                  <li rerf>가동시간: {{ itm.oprtDate }}</li>
                  <li>시작시간: {{ itm.svcStDate }}</li>
                  <li>종료시간: {{ itm.svcEdDate }}</li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- //.custom_tbl -->
  </div>
  <!-- //.tab_content -->
</template>

<script>
import { RepositoryFactory } from "@/repositories/RepositoryFactory";
import { EventBus } from "../../utils/bus";

const monitoringRepository = RepositoryFactory.get("monitoring");

export default {
  name: "ServiceMonitoring",
    activated() {
        EventBus.$emit('setContetnsClass', {className: 'service_mntr'});
    },
  created() {
    EventBus.$emit("setContetnsClass", {
      className: "service_mntr",
    });
  },
  data() {
    return {
      tableData: [
        // {
        //   rowTitle: "Brain-stt",
        //   rowSubtitle: "(STT 엔진)",
        //   cols: [
        //     {
        //       cdNm: null,
        //       oprtDate: "2 days 5:54:52", //서비스 가동시간
        //       pssId: "182210",
        //       servId: "localhost.localdomain", // 서버ID
        //       svcEdDate: "", // 서비스 종료시간
        //       svcStDate: "04-27 10:59", // 서비스 시작시간
        //       svcStatCd: "RUNNING", // 서비스 상태코드
        //       updatedTm: "2021-04-29 16:53:59.0",
        //       updatorId: "localhost.localdomain",
        //     },
        //   ],
        // },
      ],
      tableHeaderColumns: [],
      searchParams: {
        srchInterval: 0,
      },
      intervalLoop: null,
    };
  },
  mounted() {
    if (this.tableData.length > 0) {
      this.tableHeaderColumns = this.tableData[0].cols.map((item) => {
        item.servId;
        console.log(item.servId);
      });
    }
    this.getMntrData();
  },
  methods: {
    tooltipOn(el) {
      this.$refs[el][0].style.display = "inline-block";
    },
    tooltipOff(el) {
      this.$refs[el][0].style.display = "none";
    },
    async getMntrData() {
      // console.log(`axios call`);
      const { data: result } = await monitoringRepository.getServiceMntrData();
      console.log("서비스 모니터링 목록 조회 >>>>>");
      console.log(result);
      this.formatData(result.dataList);
    },
    formatData(resultJson) {
      let tmpArr = [];

      resultJson.forEach((item) => {
        if (!tmpArr.some((itm) => itm.rowTitle === item.svcId)) {
          let tmpObj = { rowTitle: null, cols: [] };
          tmpObj.rowTitle = item.svcId;
          tmpObj.cols.push({
            cdNm: item.cdNm,
            oprtDate: item.oprtDate,
            pssId: item.pssId,
            servId: item.servId,
            svcStDate: item.svcStDate,
            svcEdDate: item.svcEdDate,
            svcStatCd: item.svcStatCd,
            updatedTm: item.updatedTm,
            updatorId: item.updatorId,
          });
          tmpArr.push(tmpObj);
        } else {
          let foundIdx = tmpArr.findIndex((itm) => itm.rowTitle === item.svcId);
          tmpArr[foundIdx].cols.push({
            cdNm: item.cdNm,
            oprtDate: item.oprtDate,
            pssId: item.pssId,
            servId: item.servId,
            svcStDate: item.svcStDate,
            svcEdDate: item.svcEdDate,
            svcStatCd: item.svcStatCd,
            updatedTm: item.updatedTm,
            updatorId: item.updatorId,
          });
        }
      });

      this.tableData = tmpArr;
      this.tableHeaderColumns = tmpArr[0].cols.map((item) => {
        return item.servId;
      });
    },
    // setInterval
    setMntrInterval(term) {
      if (this.intervalLoop) {
        clearInterval(this.intervalLoop);
        console.log("cleared previous loop");
      }
      if (Number(term) > 0) {
        this.getMntrData();
        this.intervalLoop = setInterval(this.getMntrData, Number(term));
      } else {
        this.getMntrData();
        console.log("last axios");
        return;
      }
    },
  },
};
</script>

<style scoped>
</style>