<template>
    <div>
        <!-- .srchArea -->
        <div class="srchArea">
            <h3>QA 배정 대상</h3>

            <table class="tbl_line_view" summary="청약일자, 센터, 상담원, 상담원 이름, 대상, 대상내용, TA점수(최소-최대), 증권번호, 상품명, 번들유무, 청약상태, 상품발송안내로 구성">
                <caption class="hide">검색조건</caption>
                <colgroup>
                    <col width="70"><col width="230"><col width="70"><col><col width="70"><col width="130">
                    <col width="120"><col width="130"><col width="70"><col><col width="70"><col>
                </colgroup>

                <tbody>
                <tr>
                    <th scope="row">청약일자</th>
                    <!-- [D] 시간 초기 기본값 미정으로 비워둠 -->
                    <td>
                        <div class="iptBox">
                            <datepicker @input="targetSearchParam.fromDate = moment($event).format('yyyyMMDD')+''" input-class="iptDateTime" :format="'yyyy-MM-dd'" :language="ko"></datepicker>
                            <span>&hyphen;</span>
                            <datepicker @input="targetSearchParam.toDate = moment($event).format('yyyyMMDD')+''" input-class="iptDateTime" :format="'yyyy-MM-dd'" :language="ko"></datepicker>
                        </div>
                    </td>

                    <th scope="row">센터</th>
                    <td>
                        <div class="iptBox">
                            <input v-model="targetSearchParam.cntrNmSrch" type="text" @keypress.enter="getTargetData(1)" placeholder="기간계 연동 이슈로 인해 inpt로 대체">
                        </div>
                    </td>

                    <th scope="row">상담원</th>
                    <td>
                        <div class="iptBox">
                            <input v-model="targetSearchParam.partSrch" type="text" @keypress.enter="getTargetData(1)" placeholder="기간계 연동 이슈로 인해 inpt로 대체">
                        </div>
                    </td>

                    <!-- [D] 입력값 전체일치 시에만 조회 가능하도록 해야함 -->
                    <th scope="row">상담원 이름</th>
                    <td>
                        <div class="iptBox">
                            <input v-model="targetSearchParam.saesEmnmSrch" type="text" @keypress.enter="getTargetData(1)">
                        </div>
                    </td>

                    <!-- [D] 입력값 전체일치 시에만 조회 가능하도록 해야함 -->
                    <th scope="row">계약자</th>
                    <td>
                        <div class="iptBox">
                            <input v-model="targetSearchParam.csmrAdmn" type="text" @keypress.enter="getTargetData(1)">
                        </div>
                    </td>

                    <!-- [D] 입력값 전체일치 시에만 조회 가능하도록 해야함 -->
                    <th scope="row">피보험자</th>
                    <td>
                        <div class="iptBox">
                            <input v-model="targetSearchParam.pnm" type="text" @keypress.enter="getTargetData(1)">
                        </div>
                    </td>
                </tr>

                <tr>
                    <!-- [D] 입력값 한,영 입력으로 일부만 입력하여도 해당되는 상품 조회 가능하도록 해야함 -->
                    <th scope="row">상품명</th>
                    <td colspan="3">
                        <div class="iptBox">
                            <input v-model="targetSearchParam.prodNmeSrch" type="text" @keypress.enter="getTargetData(1)">
                        </div>
                    </td>

                    <!-- [D] 입력값 전체일치 시에만 조회 가능하도록 해야함 -->
                    <th scope="row">증권번호</th>
                    <td>
                        <div class="iptBox">
                            <input v-model="targetSearchParam.nsplNoSrch" type="text" @keypress.enter="getTargetData(1)" numberOnly>
                        </div>
                    </td>

                    <th scope="row">TA점수&lpar;최소&hyphen;최대&rpar;</th>
                    <td>
                        <div class="iptBox">
                            <input v-model="targetSearchParam.taScoreSrch1" type="text" class="ta_score" @keypress.enter="getTargetData(1)" numberOnly>
                            <span>&hyphen;</span>
                            <input v-model="targetSearchParam.taScoreSrch2" type="text" class="ta_score" @keypress.enter="getTargetData(1)" numberOnly>
                        </div>
                    </td>

                    <th scope="row">대상내용</th>
                    <td>
                        <select class="select" v-model="targetSearchParam.targetContSrch">
                            <option value="">전체</option>
                            <option value="">TMR</option>
                            <option value="">상품</option>
                            <option value="">TA구간</option>
                            <option value="">TA점수</option>
                        </select>
                    </td>

                    <th scope="row">번들유무</th>
                    <td>
                        <select v-model="targetSearchParam.bundleYnSrch" class="select">
                            <option value="">전체</option>
                            <option value="Y">Y</option>
                            <option value="N">N</option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>

            <!-- [D] 조회 버튼(.btn_srch)클릭 시 하단 리스트 오름차순으로 기본 정렬된 상태로 조회되며, 입력된 검색조건 값들은 reset되어야함 -->
            <!-- [D] 초기화 버튼(.btn_reset)클릭 시 검색조건 테이블 상 입력값들 모두 reset됨 -->
            <div class="btnBox">
                <a @click="getTargetData(1)" class="btn_srch">조회</a>
                <a @click="()=>{
                    targetSearchParam.fromDate = null,
                    targetSearchParam.toDate = null,
                    targetSearchParam.cntrNmSrch = null,
                    targetSearchParam.partSrch = null,
                    targetSearchParam.saesEmnmSrch = null,
                    targetSearchParam.csmrAdmn = null,
                    targetSearchParam.pnm = null,
                    targetSearchParam.prodNmeSrch = null,
                    targetSearchParam.nsplNoSrch = null,
                    targetSearchParam.taScoreSrch1 = null,
                    targetSearchParam.taScoreSrch2 = null,
                    targetSearchParam.targetContSrch = null,
                    targetSearchParam.bundleYnSrch = null;
                }" class="btn_reset">초기화</a>
            </div>
        </div>
        <!-- //.srchArea -->

        <!-- .tableWrap -->
        <div class="tableWrap">
            <!-- .dataTableBox -->
            <br/>
            <v-app>
				<JqxGrid
					ref="jqxGrid"
					@rowclick="openAuditPopup"
					:width="'100%'"
					:height="'357px'"
					:source="dataAdapter"
					:columns="gridHeaders"
					:columnsresize="true"
					:columnsreorder="true"
					:sortable="true"
					:showsortmenuitems="false"
					:selectionmode="'checkbox'"
				/>
                <v-card-actions>
                    <v-btn @click="openAssignModal" color="#009583" style="color: #fff;">
                        배정
                    </v-btn>
                    <div class="bottom" style="margin-left: 20px;">
                        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">
                            [총 {{pagination.length}} 건&nbsp;&nbsp;<strong>{{this.source.localdata.length}}</strong> 건]
                        </div>
                    </div>
                </v-card-actions>
                <pagination-component :pagination="pagination"/>
            </v-app>
            <!-- [D] 배정('.btn_assign')버튼 클릭 시 배정관리팝업(popup_assign_set.html)열려야함 -->
            <br/>
            <!-- //.dataTableBox -->

            <div class="assign_status_box">
                <h3>QA 배정 현황</h3>

                <div class="dateSearch_box">
                    <!-- [D] QA요청일자 날짜별 조회 가능 -->
                    <div class="iptBox">
                        <span>배정일&colon;</span>
                        <datepicker @input="assignSearchParam.fromDate = moment($event).format('yyyyMMDD')+''" input-class="iptDateTime" :format="'yyyy-MM-dd'" :language="ko"></datepicker>
                        <span>&hyphen;</span>
                        <datepicker @input="assignSearchParam.toDate = moment($event).format('yyyyMMDD')+''" input-class="iptDateTime" :format="'yyyy-MM-dd'" :language="ko"></datepicker>
                    </div>
                    <div class="btnBox">
                        <a @click="getAssignData" class="btn_search">조회</a>
                        <a @click="openHolidayModal" class="btn_holiday_set">휴무관리</a>
                    </div>
                </div>

                <table class="tbl_line_view" summary="심사자, 근무관리, 배정으로 구성">
                    <caption class="hide">QA 배정 현황</caption>
                    <tbody>
                    <!-- [D] 근무관리(td span)가 휴무인 사람에게 addclass('off')주면 text color 빨간색으로 변경됨 -->
                    <tr>
                        <th scope="row">심사자 &lbrack;근무관리&rbrack;</th>
                        <td v-for="(item, index) in assignData" :key="index">
                            {{item.userNm}}
                            <span :class="item.offMgt != null && item.offMgt == 'Y' ? 'off' : ''" v-text="item.offMgt != null && item.offMgt == 'Y' ? '[휴무]' : '[업무]'">&lbrack;휴무&rbrack;</span>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">배정</th>
                        <td v-for="(item, index) in assignData" :key="index">
                            <a @click="getUserAssignData(item.userId, 1)" v-text="item.cnt">5</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <br/>
            <br/>
            <!-- .dataTableBox -->
            <h3>심사자별 상세 현황</h3>
            <div class="dataTableBox">
                <div class="tableWrap">
                    <v-app>
						<JqxGrid
							ref="userAssignJqxGrid"
							@rowclick="openAuditPopup"
							:width="'100%'"
							:height="'357px'"
							:source="userAssignDataAdapter"
							:columns="userAssignGridHeaders"
							:columnsresize="true"
							:columnsreorder="true"
							:sortable="true"
							:showsortmenuitems="false"
							:selectionmode="'checkbox'"
						/>
                        <v-card-actions>
                            <v-btn @click="cancelAssign" color="#009583" style="color: #fff;">
                                배정취소
                            </v-btn>
                            <div class="bottom" style="margin-left: 20px;">
                                <div class="dataTables_info" role="status" aria-live="polite">
                                    [총 {{userAssignPagination.length}} 건&nbsp;&nbsp;<strong>{{this.userAssignSource.localdata.length}}</strong> 건]
                                </div>
                            </div>
                        </v-card-actions>
                        <pagination-component :pagination="userAssignPagination"/>
                    </v-app>
                </div>
            </div>
            <!-- //.dataTableBox -->
        </div>
        <!-- //.tableWrap -->
    </div>
</template>

<script>
import {EventBus} from "../../../utils/bus";
import PaginationComponent from "../../pagination/PaginationComponent";
import {RepositoryFactory} from '@/repositories/RepositoryFactory';
import Datepicker from 'vuejs-datepicker';
import {mapActions, mapGetters} from "vuex";
import popupUtils from "@/utils/popupUtils";
import JqxGrid from 'jqwidgets-scripts/jqwidgets-vue/vue_jqxgrid';

const qaAssignRepository = RepositoryFactory.get('qaAssign');

export default {
    name: "assignForAdmin",
    components: {
        PaginationComponent,
        Datepicker,
		JqxGrid,
    },
    computed: {
        ...mapGetters('user', {
            userInfo: 'getUserInfo',
        }),
    },
    data: function () {
        return {
			dataAdapter: new jqx.dataAdapter(this.source),
            gridHeaders: [
                { align: 'center', cellsalign: "center", width: 50, text: 'NO', datafield: 'rowNum', sortable: false},
                { align: 'center', cellsalign: "center", width: 150, text: '청약일자', datafield: 'regDy'},
                { align: 'center', cellsalign: "center", width: 250, text: '상품명', datafield: 'prodNme'},
                { align: 'center', cellsalign: "center", width: 150, text: '계약자', datafield: 'csmrAdmn'},
                { align: 'center', cellsalign: "center", width: 150, text: '피보험자', datafield: 'pnm'},
                { align: 'center', cellsalign: "center", width: 150, text: '증권번호', datafield: 'nsplNo'},
                { align: 'center', cellsalign: "center", width: 100, text: '청약상태', datafield: 'aptnStat'},
                { align: 'center', cellsalign: "center", width: 100, text: 'TA 점수', datafield: 'taScr'},
                { align: 'center', cellsalign: "center", width: 150, text: '대상내용', datafield: 'qaTrgConCd'},
                { align: 'center', cellsalign: "center", width: 150, text: '상담원', datafield: 'saesEmnm'},
                { align: 'center', cellsalign: "center", width: 150, text: '사번', datafield: 'saesEmno'},
                { align: 'center', cellsalign: "center", width: 150, text: '센터', datafield: 'cntrNm'},
                { align: 'center', cellsalign: "center", width: 150, text: '번들유무', datafield: 'bundleYn'},
            ],
			userAssignDataAdapter: new jqx.dataAdapter(this.userAssignSource),
            userAssignGridHeaders: [
                { align: 'center', cellsalign: "center", width: 50, text: 'NO', datafield: 'rowNum', sortable: false},
                { align: 'center', cellsalign: "center", width: 150, text: '청약일자', datafield: 'regDy'},
                { align: 'center', cellsalign: "center", width: 250, text: '상품명', datafield: 'prodNme'},
                { align: 'center', cellsalign: "center", width: 150, text: '증권번호', datafield: 'nsplNo'},
                { align: 'center', cellsalign: "center", width: 150, text: '계약자', datafield: 'csmrAdmn'},
                { align: 'center', cellsalign: "center", width: 150, text: '피보험자', datafield: 'pnm'},
                { align: 'center', cellsalign: "center", width: 100, text: '상담원', datafield: 'saesEmnm'},
                { align: 'center', cellsalign: "center", width: 100, text: '심사자', datafield: 'qaUserNm'},
                { align: 'center', cellsalign: "center", width: 150, text: 'TA 점수', datafield: 'taScr'},
                { align: 'center', cellsalign: "center", width: 150, text: 'QA상태(수정필요)', datafield: 'evltRsltStat?'}, //TODO:: 컬럼 정의 필요
                { align: 'center', cellsalign: "center", width: 150, text: 'QA점수', datafield: 'qaScr'},
                { align: 'center', cellsalign: "center", width: 150, text: 'QA결과', datafield: 'evltRsltStat'},
                { align: 'center', cellsalign: "center", width: 150, text: '콜타임', datafield: 'ctrCalTotTm'},
            ],
            pagination: {
                length: 0, // total row
                rowsPerPage: 10, // row per page
                now: 1, // now page
                navigationLength: 10, // navigation length
                callback: this.paginationCallback, // callback
                startRow: 0, // startRow
                endRow: 0, // endRow
                sortingColumn: null,
                sorting: null,
            },
            userAssignPagination: {
                length: 0, // total row
                rowsPerPage: 10, // row per page
                now: 1, // now page
                navigationLength: 10, // navigation length
                callback: this.userAssignPaginationCallback, // callback
                startRow: 0, // startRow
                endRow: 0, // endRow
                sortingColumn: null,
                sorting: null,
            },
            targetSearchParam: {
                queryType: 'V_MGR',
                fromDate: null,
                toDate: null,
                prodNmeSrch: null,
                csmrAdmn: null,
                pnm: null,
                nsplNoSrch: null,
                taScoreSrch1: null,
                taScoreSrch2: null,
                targetContSrch: null,
                saesEmnmSrch: null,
                partSrch: null,
                cntrNmSrch: null,
                bundleYnSrch: null,
                qaNameId: null,
            },
            assignSearchParam: {
                fromDate: null,
                toDate: null,
                qaNameId: null,
            },
            assignData: [],
            userAssignData: [],
            userAssignList: [],
        }
    },
    methods: {
        ...mapActions('base', {
            setModal: 'setModal'
        }),
        paginationCallback() {
            this.getTargetData();
        },
        userAssignPaginationCallback() {
            this.getUserAssignData(this.assignSearchParam.qaNameId);
        },
        async getTargetData(now){
            if(now != undefined){
                this.pagination.now = now;
            }
            const {data: result} = await qaAssignRepository.getQaAssignTargetList(Object.assign(this.pagination, this.targetSearchParam));
            this.pagination.length = result.length;
            result.data.forEach((v, i) => {
				v.rowNum = (this.pagination.length - ((this.pagination.now - 1) * this.pagination.rowsPerPage)) - (i);
				Object.keys(v).forEach((key) => v[key] = v[key] || '-');
			});
            this.source.localdata = result.data;
			this.$refs.jqxGrid.updatebounddata('sort');
			this.$refs.jqxGrid.clearselection();
        },
        async getAssignData(){
            const {data: result} = await qaAssignRepository.getAssignCntList(Object.assign(this.pagination, this.assignSearchParam));
            this.assignData = result.data;
            this.userAssignData = [];
        },
        getTargetAndAssignData(){
            Promise.all([this.getTargetData(1), this.getAssignData()])
        },
        getTargetAndAssignAndUserAssignData(){
            Promise.all([this.getTargetData(1), this.getAssignData(), this.getUserAssignData(this.targetSearchParam.qaNameId, 1)])
        },
        async getUserAssignData(qaNameId, now){
            if(now != undefined){
                this.userAssignPagination.now = now;
            }
			if(qaNameId) {
				this.assignSearchParam.qaNameId = qaNameId;
			}else {
				qaNameId = this.assignSearchParam.qaNameId;
			}
            const {data: result} = await qaAssignRepository.getPerJudgeDetail(Object.assign(this.userAssignPagination, this.assignSearchParam));
            this.userAssignPagination.length = result.length;
            result.data.forEach((v, i) => {
				v.rowNum = (this.userAssignPagination.length - ((this.userAssignPagination.now - 1) * this.userAssignPagination.rowsPerPage)) - (i);
				Object.keys(v).forEach((key) => v[key] = v[key] || '-');
			});
			this.userAssignSource.localdata = result.data;
			this.$refs.userAssignJqxGrid.updatebounddata('sort');
			this.$refs.userAssignJqxGrid.clearselection();
        },
        async cancelAssign(){
			const allRows = this.$refs.userAssignJqxGrid.getrows();
			const selectedRowIndexes = this.$refs.userAssignJqxGrid.getselectedrowindexes();
			const selectedList = allRows.filter(v => selectedRowIndexes.includes(v.boundindex));

            if(selectedList.length == 0){
                alert('선택된 배정정보가 없습니다.')
            }else{
                selectedList.forEach((v, i) => {
                    v.qaAllcDtme = null;
                    v.qaLimitDt = null;
                    v.userNm = null;
                    v.userId = null;
                });
                const {data: result} = await qaAssignRepository.setAssignInfo(selectedList);
                this.responseData = result;
                if(this.responseData.result === 'FAIL'){
                    alert('QA 배정에 실패했습니다. 시스템 관리자에게 문의 바랍니다.');
                }else if(this.responseData.result === 'PARTIAL_SUCCESS'){
                    let msg = '';
                    _.forEach(
                        _.filter(this.responseData.data, (o) => o.status === 'UPDATE_DATE_FAIL' || o.status === 'ASSIGN_INSERT_FAIL'),
                        row => {
                            msg += '['+row.userId + '-'
                            msg += row.status === 'UPDATE_DATE_FAIL' ? '배정일자 수정 실패]' : '배정정보 등록 실패]'
                            msg += '<br/>'
                        }
                    )
                    alert('QA 배정취소에 부분 실패했습니다.</br>'+msg+'시스템 관리자에게 문의 바랍니다.');
                }else{
                    alert('QA 배정취소가 완료되었습니다.');
                }
                this.getTargetAndAssignAndUserAssignData();
            }
        },
        openAssignModal(){
			const allRows = this.$refs.jqxGrid.getrows();
			const selectedRowIndexes = this.$refs.jqxGrid.getselectedrowindexes();
			const selectedList = allRows.filter(v => selectedRowIndexes.includes(v.boundindex));

            if(selectedList.length > 0){
                this.setModal({name: 'TmQaAssignSetModal', parameters: {repository: qaAssignRepository, targetList: selectedList, callback: this.getTargetAndAssignData}});
            }else{
                alert('선택된 대상항목이 없습니다.');
            }
        },
        openHolidayModal(){
            this.setModal({name: 'TmQaAssignHolidayManageModal', parameters: {repository: qaAssignRepository, callback: this.getAssignData}});
        },
        openAuditPopup(event){
            popupUtils.setVm(this);
            popupUtils.openPopup(
                this,
                'PopupTmQaAudit',
                {width: 1650, height: 970, top: 300, left:100},
                {
                    nsplNo: event.args.row.bounddata.nsplNo
                },
				'admin-auditPopup',
            );
        },
    },
	beforeCreate () {
		const customsortfunc = (column, direction) => {
			if(direction == null) {
				this.pagination.sortingColumn = '';
				this.pagination.sorting = '';
			}else {
				this.pagination.sortingColumn = column.replace(/[A-Z]/g, letter => `_${letter.toLowerCase()}`);
				this.pagination.sorting = direction ? "ASC" : "DESC";
			}
			this.getTargetAndAssignData();
		};

		this.source = {
            localdata: [],
			sort: customsortfunc,
        };
		
		const userAssignCustomsortfunc = (column, direction) => {
			if(direction == null) {
				this.userAssignPagination.sortingColumn = '';
				this.userAssignPagination.sorting = '';
			}else {
				this.userAssignPagination.sortingColumn = column.replace(/[A-Z]/g, letter => `_${letter.toLowerCase()}`);
				this.userAssignPagination.sorting = direction ? "ASC" : "DESC";
			}
			this.getUserAssignData();
		};

		this.userAssignSource = {
            localdata: [],
			sort: userAssignCustomsortfunc,
        };
	},
    created() {
        let accessArr = ['ROLE_ADMIN', 'ROLE_QA_ADMIN', 'ROLE_UW_ADMIN'];
        if(!accessArr.includes(this.userInfo.userRole)){
            alert('관리자만 접근 가능한 페이지 입니다.');
            this.$router.push('/qa/result');
        }
        EventBus.$emit('setContetnsClass', {className: 'tm_qa_assign manager'});
    },
    activated() {
        EventBus.$emit('setContetnsClass', {className: 'tm_qa_assign manager'});
    },
    mounted() {
        this.getTargetAndAssignData();
    }
}
</script>

<style lang="scss" scoped>
	::v-deep {
		.assign_status_box .vdp-datepicker__calendar {
			left: -300px;
		}
	}
</style>