<template>
    <div>
        <!-- .srchArea -->
        <div class="srchArea">
            <h3>QA 배정 현황</h3>

            <table class="tbl_line_view" summary="청약일자, 센터, 상담원, 상담원 이름, 대상, 대상내용, TA점수(최소-최대), 증권번호, 상품명, 번들유무, 청약상태, 상품발송안내로 구성">
                <caption class="hide">검색조건</caption>
                <colgroup>
                    <col width="70"><col width="230"><col width="70"><col><col width="70"><col width="130">
                    <col width="120"><col width="130"><col width="70"><col><col width="70"><col>
                </colgroup>

                <tbody>

                <tr>
                    <th scope="row">청약일자</th>
                    <!-- [D] 기본 전일 제공 세팅 필요 -->
                    <td>
                        <div class="iptBox">
                            <datepicker @input="assignSearchParam.fromDate = moment($event).format('yyyyMMDD')+''" input-class="iptDateTime" :format="'yyyy-MM-dd'" :language="ko"></datepicker>
                            <span>&hyphen;</span>
                            <datepicker @input="assignSearchParam.toDate = moment($event).format('yyyyMMDD')+''" input-class="iptDateTime" :format="'yyyy-MM-dd'" :language="ko"></datepicker>
                        </div>
                    </td>

                    <th scope="row">상품명</th>
                    <td>
                        <div class="iptBox">
                            <input v-model="assignSearchParam.prodNmeSrch" type="text" @keypress.enter="getUserAssignData(null, 1)">
                        </div>
                    </td>

                    <!-- [D] 센터 선택해야 실 활성화됨 -->
                    <th scope="row">센터</th>
                    <td>
                        <div class="iptBox">
                            <input v-model="assignSearchParam.cntrNmSrch" type="text" @keypress.enter="getUserAssignData(null, 1)" placeholder="기간계 연동 이슈로 인해 inpt로 대체">
                        </div>
                    </td>

                    <!-- [D] 실 선택해야 상담원 활성화됨 -->
                    <!-- [D] 선택박스(.sltBox)에 addclass('disabled')하면 비활성화 효과 적용됨 -->
                    <th scope="row">실</th>
                    <td>
                        <div class="iptBox">
                            <input v-model="assignSearchParam.partSrch" type="text" @keypress.enter="getUserAssignData(null, 1)" placeholder="기간계 연동 이슈로 인해 inpt로 대체">
                        </div>
                    </td>

                    <!-- [D] 선택박스(.sltBox)에 addclass('disabled')하면 비활성화 효과 적용됨 -->
                    <th scope="row">상담원</th>
                    <td>
                        <div class="iptBox">
                            <input v-model="assignSearchParam.saesEmnmSrch" type="text" @keypress.enter="getUserAssignData(null, 1)">
                        </div>
                    </td>

                    <!-- [D] 입력값 전체일치 시에만 조회 가능하도록 해야함 -->
                    <th scope="row">담당QA</th>
                    <td>
                        <div class="iptBox">
                            <input v-model="assignSearchParam.qaUserNm" type="text" @keypress.enter="getUserAssignData(null, 1)" numberOnly>
                        </div>
                    </td>

                    <!-- [D] 입력값 전체일치 시에만 조회 가능하도록 해야함 -->
                    <th scope="row">증권번호</th>
                    <td>
                        <div class="iptBox">
                            <input v-model="assignSearchParam.nsplNoSrch" type="text" @keypress.enter="getUserAssignData(null, 1)" numberOnly>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>

            <!-- [D] 조회 버튼(.btn_srch)클릭 시 하단 리스트 오름차순으로 기본 정렬된 상태로 조회되며, 입력된 검색조건 값들은 reset되어야함 -->
            <!-- [D] 초기화 버튼(.btn_reset)클릭 시 검색조건 테이블 상 입력값들 모두 reset됨 -->
            <div class="btnBox">
                <a @click="getUserAssignData(null, 1)" class="btn_srch">조회</a>
                <a @click="()=> {
                    assignSearchParam.fromDate = null,
                    assignSearchParam.toDate = null,
                    assignSearchParam.prodNmeSrch = null,
                    assignSearchParam.cntrNmSrch = null,
                    assignSearchParam.partSrch = null,
                    assignSearchParam.saesEmnmSrch = null,
                    assignSearchParam.qaUserNm = null,
                    assignSearchParam.nsplNoSrch = null;
                }" class="btn_reset">초기화</a>
            </div>
        </div>
        <!-- //.srchArea -->

        <!-- .tableWrap -->
        <div class="tableWrap">
            <!-- .dataTableBox -->
            <br/>
            <v-app>
				<JqxGrid
					ref="userAssignJqxGrid"
					@rowclick="openAuditPopup"
					:width="'100%'"
					:height="'357px'"
					:source="userAssignDataAdapter"
					:columns="userAssignGridHeaders"
					:columnsresize="true"
					:columnsreorder="true"
					:sortable="true"
					:showsortmenuitems="false"
				/>
                <v-card-actions>
                    <div class="bottom" style="margin-left: 20px;">
                        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">
                            [총 {{userAssignPagination.length}} 건&nbsp;&nbsp;<strong>{{this.userAssignSource.localdata.length}}</strong> 건]
                        </div>
                    </div>
					<v-spacer></v-spacer>
                    <v-btn @click="exportAssignExcel(true)" color="#009583" style="color: #fff;">Excel 다운로드</v-btn>
                </v-card-actions>
                <pagination-component :pagination="userAssignPagination"/>
            </v-app>

            <br/>

            <h3>QA 보완 및 처리현황</h3>
            <div class="dateSearch_box">
                <!-- [D] QA요청일자 날짜별 조회 가능  / 기본 제공 일자: 전일부터 금일까지 세팅 필요 -->
                <div class="iptBox">
                    <span>배정일:</span>
                    <datepicker @input="compAssignSearchParam.fromDate = moment($event).format('yyyyMMDD')+''" input-class="iptDateTime" :format="'yyyy-MM-dd'" :language="ko"></datepicker>
                    <span>&hyphen;</span>
                    <datepicker @input="compAssignSearchParam.toDate = moment($event).format('yyyyMMDD')+''" input-class="iptDateTime" :format="'yyyy-MM-dd'" :language="ko"></datepicker>
                </div>

                <div class="btnBox">
                    <a @click="getCompUserAssignData(null, 1)" class="btn_search">조회</a>
                </div>
            </div>

            <div class="dataTableBox">
                <v-app>
					<JqxGrid
						ref="compUserAssignJqxGrid"
						@rowclick="openAuditPopup"
						:width="'100%'"
						:height="'357px'"
						:source="compUserAssignDataAdapter"
						:columns="userAssignGridHeaders"
						:columnsresize="true"
						:columnsreorder="true"
						:sortable="true"
						:showsortmenuitems="false"
					/>
                    <v-card-actions>
                        <div class="bottom" style="margin-left: 20px;">
                            <div class="dataTables_info" role="status" aria-live="polite">
                                [총 {{compUserAssignPagination.length}} 건&nbsp;&nbsp;<strong>{{this.compUserAssignSource.localdata.length}}</strong> 건]
                            </div>
                        </div>
						<v-spacer></v-spacer>
						<v-btn @click="exportAssignExcel(false)" color="#009583" style="color: #fff;">Excel 다운로드</v-btn>
                    </v-card-actions>
                    <pagination-component :pagination="compUserAssignPagination"/>
                </v-app>
            </div>
        </div>
        <!-- //.tableWrap -->
    </div>
</template>

<script>
import {EventBus} from "../../../utils/bus";
import popupUtils from "@/utils/popupUtils";
import PaginationComponent from "../../pagination/PaginationComponent";
import {RepositoryFactory} from '@/repositories/RepositoryFactory';
import excelUtils from '@/utils/excelUtils';
import Datepicker from 'vuejs-datepicker';
import {mapActions} from "vuex";
import JqxGrid from 'jqwidgets-scripts/jqwidgets-vue/vue_jqxgrid';

const qaAssignRepository = RepositoryFactory.get('qaAssign');

export default {
    name: "assignForReviewer",
    components: {
        PaginationComponent,
        Datepicker,
		JqxGrid,
    },
    computed: {

    },
    data: function () {
        return {
			userAssignDataAdapter: new jqx.dataAdapter(this.userAssignSource),
            userAssignGridHeaders: [
                { align: 'center', cellsalign: "center", width: 50, text: 'NO', datafield: 'rowNum', sortable: false},
                { align: 'center', cellsalign: "center", width: 150, text: '청약일자', datafield: 'regDy'},
                { align: 'center', cellsalign: "center", width: 250, text: '상품명', datafield: 'prodNme'},
                { align: 'center', cellsalign: "center", width: 100, text: '증권번호', datafield: 'nsplNo'},
                { align: 'center', cellsalign: "center", width: 100, text: '계약자', datafield: 'csmrAdmn'},
                { align: 'center', cellsalign: "center", width: 100, text: '피보험자', datafield: 'pnm'},
                { align: 'center', cellsalign: "center", width: 100, text: '상담원', datafield: 'saesEmnm'},
                { align: 'center', cellsalign: "center", width: 100, text: '사번', datafield: 'saesEmno'},
                { align: 'center', cellsalign: "center", width: 100, text: '센터', datafield: 'cntrNm'},
                { align: 'center', cellsalign: "center", width: 100, text: '실', datafield: 'prtNme'},
                { align: 'center', cellsalign: "center", width: 100, text: 'TA 점수', datafield: 'taScr'},
                { align: 'center', cellsalign: "center", width: 100, text: '담당QA', datafield: 'qaUserNm'},
                { align: 'center', cellsalign: "center", width: 100, text: 'QA상태(수정필요)', datafield: 'evltRsltStat?'},
                { align: 'center', cellsalign: "center", width: 100, text: 'QA점수', datafield: 'qaScr'},
                { align: 'center', cellsalign: "center", width: 110, text: 'QA결과', datafield: 'evltRsltStat'},
                { align: 'center', cellsalign: "center", width: 110, text: '콜타임', datafield: 'ctrCalTotTm'},
                { align: 'center', cellsalign: "center", width: 110, text: '업무처리시간', datafield: 'qaProcTm'},
            ],
			compUserAssignDataAdapter: new jqx.dataAdapter(this.compUserAssignSource),
            userAssignPagination: {
                length: 0, // total row
                rowsPerPage: 10, // row per page
                now: 1, // now page
                navigationLength: 10, // navigation length
                callback: this.userAssignPaginationCallback, // callback
                startRow: 0, // startRow
                endRow: 0, // endRow
                sortingColumn: null,
                sorting: null,
            },
            compUserAssignPagination: {
                length: 0, // total row
                rowsPerPage: 10, // row per page
                now: 1, // now page
                navigationLength: 10, // navigation length
                callback: this.compUserAssignPaginationCallback, // callback
                startRow: 0, // startRow
                endRow: 0, // endRow
                sortingColumn: null,
                sorting: null,
            },
            assignSearchParam: {
                queryType: 'assignForReviewer',
                fromDate: null,
                toDate: null,
                prodNmeSrch: null,
                csmrAdmn: null,
                pnm: null,
                nsplNoSrch: null,
                taScoreSrch1: null,
                taScoreSrch2: null,
                targetContSrch: null,
                saesEmnmSrch: null,
                partSrch: null,
                cntrNmSrch: null,
                bundleYnSrch: null,
                qaNameId: null,
                qaTmsInfo: 1,
            },
            compAssignSearchParam: {
                queryType: 'assignForReviewer',
                fromDate: null,
                toDate: null,
                qaTmsInfo: 2
            },
        }
    },
    methods: {
        ...mapActions('base', {
            setModal: 'setModal'
        }),
        userAssignPaginationCallback() {
            this.getUserAssignData(null);
        },
        compUserAssignPaginationCallback() {
            this.getCompUserAssignData(null);
        },
        getUserAssignAndCompUserAssignData(){
            this.getUserAssignData(null, 1).then(()=>this.getCompUserAssignData(null, 1));
        },
        async getUserAssignData(qaNameId, now){
            if(now != undefined){
                this.userAssignPagination.now = now;
            }
            this.assignSearchParam.qaNameId = qaNameId;
            const {data: result} = await qaAssignRepository.getPerJudgeDetail(Object.assign(this.userAssignPagination, this.assignSearchParam));
            this.userAssignPagination.length = result.length;
            result.data.forEach((v, i) => {
				v.rowNum = (this.userAssignPagination.length - ((this.userAssignPagination.now - 1) * this.userAssignPagination.rowsPerPage)) - (i);
				Object.keys(v).forEach((key) => v[key] = v[key] || '-');
			});
			this.userAssignSource.localdata = result.data;
			this.$refs.userAssignJqxGrid.updatebounddata('sort');
			this.$refs.userAssignJqxGrid.clearselection();
        },
        async getCompUserAssignData(qaNameId, now){
            if(now != undefined){
                this.compUserAssignPagination.now = now;
            }
            this.compAssignSearchParam.qaNameId = qaNameId;
            const {data: result} = await qaAssignRepository.getPerJudgeDetail(Object.assign(this.compUserAssignPagination, this.compAssignSearchParam, {improveYn: 'Y'}));
            this.compUserAssignPagination.length = result.length;
            result.data.forEach((v, i) => {
				v.rowNum = (this.compUserAssignPagination.length - ((this.compUserAssignPagination.now - 1) * this.compUserAssignPagination.rowsPerPage)) - (i);
				Object.keys(v).forEach((key) => v[key] = v[key] || '-');
			});
			this.compUserAssignSource.localdata = result.data;
			this.$refs.compUserAssignJqxGrid.updatebounddata('sort');
			this.$refs.compUserAssignJqxGrid.clearselection();
        },
        async exportAssignExcel(flag){
            // flag true = 배정현황, false = 처리현황
            const {data: result} = await qaAssignRepository.getPerJudgeDetail(flag ? {...this.assignSearchParam, ...{startRow: -1}} : {...this.compAssignSearchParam, ...{startRow: -1, improveYn: 'Y'}});
			if(!result.length) {
				alert("엑셀로 반출할 데이터가 없습니다.");
				return false;
			}else {
				result.data.forEach((v, i) => v.rowNum = i+1);
				excelUtils.dataTableToXLSX(this.userAssignGridHeaders, result.data, flag ? 'QA 배정현황' : 'QA 보완 및 처리현황', flag ? 'QA 배정현황' : 'QA 보완 및 처리현황');
			}
        },
        openAuditPopup(event){
            popupUtils.setVm(this);
            popupUtils.openPopup(
                this,
                'PopupTmQaAudit',
                {width: 1650, height: 970, top: 300, left:100},
                {
                    nsplNo: event.args.row.bounddata.nsplNo
                },
				'reviewer-auditPopup',
            );
        },
    },
    activated() {
        EventBus.$emit('setContetnsClass', {className: 'tm_qa_assign reviewer'});
    },
	beforeCreate () {
		const userAssignCustomsortfunc = (column, direction) => {
			if(direction == null) {
				this.userAssignPagination.sortingColumn = '';
				this.userAssignPagination.sorting = '';
			}else {
				this.userAssignPagination.sortingColumn = column.replace(/[A-Z]/g, letter => `_${letter.toLowerCase()}`);
				this.userAssignPagination.sorting = direction ? "ASC" : "DESC";
			}
			this.getUserAssignData(null, 1);
		};

		this.userAssignSource = {
            localdata: [],
			sort: userAssignCustomsortfunc,
        };

		const compUserAssignCustomsortfunc = (column, direction) => {
			if(direction == null) {
				this.compUserAssignPagination.sortingColumn = '';
				this.compUserAssignPagination.sorting = '';
			}else {
				this.compUserAssignPagination.sortingColumn = column.replace(/[A-Z]/g, letter => `_${letter.toLowerCase()}`);
				this.compUserAssignPagination.sorting = direction ? "ASC" : "DESC";
			}
			this.getCompUserAssignData(null, 1);
		};

		this.compUserAssignSource = {
            localdata: [],
			sort: compUserAssignCustomsortfunc,
        };
	},
    created() {
        EventBus.$emit('setContetnsClass', {className: 'tm_qa_assign reviewer'});
    },
    mounted() {
        this.getUserAssignAndCompUserAssignData();
    }
}
</script>

<style lang="scss" scoped>
	::v-deep {
		.dateSearch_box .vdp-datepicker__calendar {
			left: -300px;
		}
	}
</style>