<template>
  <div>
    <div class="stn pieChart">
      <div class="viewBox">
        <div class="view_tit">
          <h3>STT / QA 대상건수</h3>
          <!-- [D] .date span 당일날짜 넣어주기(고정) -->
          <span class="date"
            >기준일:<span v-text="date1">2020-10-13</span></span
          >
        </div>

        <div
          class="view_cont"
          v-if="pieChartData != null"
          :style="{ display: 'flex', justifyContent: 'space-around' }"
        >
          <!-- <div class="chartBox">
                        <h4>CS-STT</h4>
                        <PieChart :styles="pieStyle" :chart-data="pie1Data" :options="pieOptions"></PieChart>
                        <ul class="case_num">
                            <li>정상: <strong class="ft_clr_blue" v-text="pieChartData.csStt.complete">30</strong>건</li>
                            <li>오류: <strong class="ft_clr_red" v-text="pieChartData.csStt.error">20</strong>건</li>
                        </ul>
                    </div>
                    <div class="chartBox">
                        <h4>CS-TA</h4>
                        <PieChart :styles="pieStyle" :chart-data="pie2Data" :options="pieOptions"></PieChart>
                        <ul class="case_num">
                            <li>정상: <strong class="ft_clr_blue" v-text="pieChartData.csTa.complete">30</strong>건</li>
                            <li>오류: <strong class="ft_clr_red" v-text="pieChartData.csTa.error">20</strong>건</li>
                        </ul>
                    </div> -->
          <div class="chartBox">
            <h4>STT</h4>
            <PieChart
              :styles="pieStyle"
              :chart-data="pie3Data"
              :options="pieOptions"
            ></PieChart>
            <ul class="case_num">
              <li>
                정상:
                <strong class="ft_clr_blue" v-text="pieChartData.tmStt.complete"
                  >30</strong
                >건
              </li>
              <li>
                오류:
                <strong class="ft_clr_red" v-text="pieChartData.tmStt.error"
                  >20</strong
                >건
              </li>
            </ul>
          </div>
          <div class="chartBox">
            <h4>QA</h4>
            <PieChart
              :styles="pieStyle"
              :chart-data="pie4Data"
              :options="pieOptions"
            ></PieChart>
            <ul class="case_num">
              <li>
                정상:
                <strong class="ft_clr_blue" v-text="pieChartData.tmQa.complete"
                  >30</strong
                >건
              </li>
              <li>
                오류:
                <strong class="ft_clr_red" v-text="pieChartData.tmQa.error"
                  >20</strong
                >건
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="stn barChart">
      <div class="viewBox">
        <div class="view_tit">
          <h3>센터별 TA 점수분포</h3>
          <select
            class="select"
            v-model="selectedCenter"
            @change="onCenterTaDataLoad"
          >
            <option value="">전체</option>
            <option v-for="item in centerList" v-bind:value="item.saesCntrCd">
              {{ item.cntrNm }}
            </option>
          </select>
          <!-- [D] .date span 직전일자 청약일 넣어주기(고정) -->
          <span class="date"
            >청약일:<span v-text="date2">2020-10-12</span></span
          >
        </div>

        <div class="view_cont">
          <div class="chartBox">
            <bar-chart
              v-if="centerTaBarData != null"
              :styles="barStyle"
              :chart-data="centerTaBarData"
              :options="taBarOptions"
            ></bar-chart>
          </div>
        </div>
      </div>

      <div class="viewBox">
        <div class="view_tit">
          <h3>센터별 TMR 배정분포</h3>
          <!-- [D] .date span 해당 월 기준일(1일 ~ 당일) 넣어주기(고정) -->
          <span class="date"
            >기준일:<span v-text="date3">2020-10-01</span>~<span v-text="date1"
              >2020-10-13</span
            ></span
          >
        </div>

        <div class="view_cont">
          <div class="chartBox">
            <BarChart
              v-if="centerTmrBarData != null"
              :styles="barStyle"
              :chart-data="centerTmrBarData"
              :options="tmrBarOptions"
            ></BarChart>
          </div>
        </div>
      </div>
    </div>

    <div class="stn boxPlotChart">
      <div class="viewBox">
        <div class="view_tit">
          <h3>월 누적 TA 점수</h3>
          <!-- [D] .date span 해당 월 기준일(1일 ~ 당일) 넣어주기(고정) -->
          <span class="date"
            >기준일:<span v-text="date3">2020-10-01</span>~<span v-text="date1"
              >2020-10-13</span
            ></span
          >
        </div>

        <div class="view_cont">
          <div class="chartBox">
            <BoxPlotChart
              v-if="boxPlotData != null"
              :styles="boxPlotStyle"
              :chart-data="boxPlotData"
              :options="boxPlotOptions"
            ></BoxPlotChart>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { EventBus } from "../../utils/bus";
import { RepositoryFactory } from "@/repositories/RepositoryFactory";

import moment from "moment";
import BoxPlotChart from "../chart/BoxPlotChart";
import PieChart from "../chart/PieChart";
import BarChart from "../chart/BarChart";

const today = moment();
const HomeRepository = RepositoryFactory.get("home");

export default {
  name: "Dashboard",
  components: { BarChart, PieChart, BoxPlotChart },
  data() {
    return {
      location: this.$route.meta.location,

      date1: today.format("YYYY-MM-DD"),
      date2: today.subtract(1, "d").format("YYYY-MM-DD"),
      date3: today.startOf("M").format("YYYY-MM-DD"),

      pieChartData: null,
      centerTaScoreData: [],
      centerTmrScoreData: [],
      monthSumTaScoreData: [],
      centerList: [],

      boxPlotData: null,
      pie1Data: null,
      pie2Data: null,
      pie3Data: null,
      pie4Data: null,
      centerTaBarData: null,
      centerTmrBarData: null,

      boxPlotOptions: {
        responsive: true,
        maintainAspectRatio: false,
        legend: false,
        scales: {
          yAxes: [
            {
              ticks: {
                beginAtZero: true,
                max: 150,
                min: 0,
                stepSize: 10,
                fontSize: 12,
              },
            },
          ],
          xAxes: [
            {
              barThickness: 20,
            },
          ],
        },
      },

      pieOptions: {
        responsive: true,
        maintainAspectRatio: false,
        legend: false,
        tooltips: {
          enabled: true,
        },
        pieceLabel: {
          mode: "label",
        },
        animation: {
          animateScale: true,
          animateRotate: true,
        },
      },

      taBarOptions: {
        elements: {
          rectangle: {
            borderWidth: 0,
          },
        },
        responsive: true,
        maintainAspectRatio: false,
        legend: false,
        scales: {
          yAxes: [
            {
              scaleLabel: {
                display: false,
                labelString: "건수",
              },
              ticks: {
                beginAtZero: true,
                // max: 200,
                max: 10, // To-do 나중에 dummy 데이터 더 넣으면 max 변경 해야함.
                stepSize: 50,
                fontSize: 12,
              },
            },
          ],
          xAxes: [
            {
              barThickness: 50,
            },
          ],
        },
      },
      tmrBarOptions: {
        elements: {
          rectangle: {
            borderWidth: 0,
          },
        },
        responsive: true,
        maintainAspectRatio: false,
        legend: false,
        scales: {
          yAxes: [
            {
              scaleLabel: {
                display: false,
                labelString: "%",
              },
              ticks: {
                beginAtZero: true,
                max: 100,
                fontSize: 12,
              },
            },
          ],
          xAxes: [
            {
              barThickness: 100,
            },
          ],
        },
      },

      chartColors: {
        red: "rgb(255,99,132)",
        orange: "rgb(255,159,64)",
        yellow: "rgb(255,205,86)",
        green: "rgb(75,192,192)",
        blue: "rgb(54,162,235)",
        purple: "rgb(153, 102, 255)",
        grey: "rgb(179, 195, 199)",
        white: "rgb(255, 255, 255)",
      },

      selectedCenter: "",
    };
  },
  methods: {
    getMonthTaData() {
      let tmpArr = [];
      if (this.monthSumTaScoreData.length > 0) {
        this.monthSumTaScoreData.forEach((item) => {
          if (tmpArr.some((itm) => itm.regDy === item.regDy)) {
            tmpArr.find((itm) => itm.regDy === item.regDy).taScrList.push(item);
          } else {
            tmpArr.push({ regDy: item.regDy, taScrList: [item] });
          }
        });
      } else {
        tmpArr = [{ regDy: null, taScrList: [] }];
      }

      let data = tmpArr[0].taScrList.map((item) =>
        Math.round(parseFloat(item.taScr))
      );
      tmpArr[0].taScrList = [Math.max(...data), Math.min(...data)];
      return [tmpArr[0].taScrList];

      //   console.log(this.monthSumTaScoreData);
      //   let data = this.monthSumTaScoreData.map((item) =>
      //     Math.round(parseFloat(item.taScr))
      //   );

      // console.log('getMonthTaData');
      // console.log(data);
      // console.log('max : ' + Math.max(...data) + ', min : ' + Math.min(...data));
      //   let max = Math.max(...data);
      //   let min = Math.min(...data);
      //   let delta = max - min;
      //   let result = data.map((item) => [min, item, max]);
      //   console.log(result);
      //   return result;
    },

    async onMonthTaScoreDataLoad() {
      const regDy = today.format("yyyyMM");
      //   const { data: result } = await HomeRepository.getMonthTaScoreChartData({
      //     regDy: regDy,
      //   });
      const { data: result } = await HomeRepository.getMonthTaScoreChartData({
        regDy: "202104",
      }); // 테스트 데이터 있는 날짜로 조회
      this.monthSumTaScoreData = result.monthTaScoreList;
      // this.getMonthTaData();

      let tmpArr = [];
      this.monthSumTaScoreData.forEach((item) => {
        Math.round(parseFloat(item.taScr));

        if (tmpArr.some((itm) => itm.regDy === item.regDy)) {
          tmpArr.find((itm) => itm.regDy === item.regDy).taScrList.push(item);
        } else {
          tmpArr.push({ regDy: item.regDy, taScrList: [item] });
        }
      });

      this.boxPlotData = {
        labels: tmpArr.map((item) => item.regDy.slice(-2) + "일"),
        //   this.boxPlotData = {
        //     labels: this.monthSumTaScoreData.map(
        //       (item) => item.regDy.slice(-2) + "일"
        //     ),
        datasets: [
          {
            label: "월 누적 TA 점수",
            backgroundColor: this.chartColors.grey,
            borderColor: this.chartColors.grey,
            medianColor: this.chartColors.red,
            borderWidth: 2,
            // data: this.monthSumTaScoreData.map((item) => [
            //     Math.round(parseFloat(item.taScr))
            // ]),
            data: this.getMonthTaData(),
          },
        ],
      };
    },
    async onCenterTmrDataLoad() {
      const regDyRegex = /-/gi;
      const fromDate = this.date3.replace(regDyRegex, "");
      const toDate = this.date1.replace(regDyRegex, "");
      //   const data = {
      //     fromDate: fromDate,
      //     toDate: toDate,
      //   };
      const data = {
        fromDate: "20201201",
        toDate: "20210601",
      }; // 테스트 데이터 있는 날짜로 조회
      const { data: result } = await HomeRepository.getCenterTmrChartData(data);
      this.centerTmrScoreData = result.centerTmrList;

      this.centerTmrBarData = {
        labels: this.centerTmrScoreData.map((item) => item.cetrOfcNam),
        datasets: [
          {
            label: "분포율",
            backgroundColor: this.chartColors.green,
            data: this.centerTmrScoreData.map((item) => item.percent),
          },
        ],
      };
    },
    async onCenterListLoad() {
      const regDyRegex = /-/gi;
      const regDy = this.date2.replace(regDyRegex, "");
      //   const { data: result } = await HomeRepository.getCenterListData({
      //     regDy: regDy,
      //   });
      const { data: result } = await HomeRepository.getCenterListData({
        regDy: "20210421",
      });
      this.centerList = result.centerList;
    },
    async onCenterTaDataLoad() {
      const regDyRegex = /-/gi;
      const regDy = this.date2.replace(regDyRegex, "");
      //   const data = {
      //     regDy: regDy,
      //     cntrCd: this.selectedCenter,
      //   };
      const data = {
        regDy: "20210421",
        cntrCd: this.selectedCenter,
      };
      const { data: result } = await HomeRepository.getCenterTaChartData(data);

      // 점수구간 오름차순 정렬
      result.centerTaList.sort(function (a, b) {
        if (
          Number(a.scoreArea.slice(0, a.scoreArea.length - 1)) >
          Number(b.scoreArea.slice(0, b.scoreArea.length - 1))
        ) {
          return 1;
        }
        if (
          Number(a.scoreArea.slice(0, a.scoreArea.length - 1)) <
          Number(b.scoreArea.slice(0, b.scoreArea.length - 1))
        ) {
          return -1;
        }
        // a must be equal to b
        return 0;
      });
      this.centerTaScoreData = result.centerTaList;

      this.centerTaBarData = {
        // labels: this.centerTaScoreData.map((item) => item.scoreArea),
        labels: this.centerTaScoreData.map((item) =>
          item.scoreArea === "61Up"
            ? "61점 이상"
            : item.scoreArea === "51G"
            ? "51~60점"
            : item.scoreArea === "41G"
            ? "41~50점"
            : item.scoreArea === "31G"
            ? "31~40점"
            : item.scoreArea === "21G"
            ? "21~30점"
            : item.scoreArea === "16G"
            ? "16~20점"
            : item.scoreArea === "11G"
            ? "11~15점"
            : item.scoreArea === "1G"
            ? "1~10점"
            : "0점"
        ),
        datasets: [
          {
            label: "건수",
            backgroundColor: this.chartColors.green,
            data: this.centerTaScoreData.map((item) => parseInt(item.grpCnt)),
          },
        ],
      };
    },
    async onPieChartDataLoad() {
      const { data: pieChartData } = await HomeRepository.getPieChartData();

      this.pieChartData = pieChartData;

      this.pie1Data = {
        datasets: [
          {
            data: [
              this.pieChartData.csStt.error,
              this.pieChartData.csStt.processing,
              this.pieChartData.csStt.complete,
            ],
            backgroundColor: [
              this.chartColors.red,
              this.chartColors.orange,
              this.chartColors.blue,
            ],
          },
        ],
        labels: ["오류", "처리중", "정상"],
      };

      this.pie2Data = {
        datasets: [
          {
            data: [
              this.pieChartData.csTa.error,
              this.pieChartData.csTa.processing,
              this.pieChartData.csTa.complete,
            ],
            backgroundColor: [
              this.chartColors.red,
              this.chartColors.orange,
              this.chartColors.blue,
            ],
          },
        ],
        labels: ["오류", "처리중", "정상"],
      };

      this.pie3Data = {
        datasets: [
          {
            data: [
              this.pieChartData.tmStt.error,
              this.pieChartData.tmStt.processing,
              this.pieChartData.tmStt.complete,
            ],
            backgroundColor: [
              this.chartColors.red,
              this.chartColors.orange,
              this.chartColors.blue,
            ],
          },
        ],
        labels: ["오류", "처리중", "정상"],
      };

      this.pie4Data = {
        datasets: [
          {
            data: [
              this.pieChartData.tmQa.error,
              this.pieChartData.tmQa.processing,
              this.pieChartData.tmQa.complete,
            ],
            backgroundColor: [
              this.chartColors.red,
              this.chartColors.orange,
              this.chartColors.blue,
            ],
          },
        ],
        labels: ["오류", "처리중", "정상"],
      };
    },
  },
  mounted() {
    this.onMonthTaScoreDataLoad();
    this.onCenterTmrDataLoad();
    this.onCenterListLoad();
    this.onCenterTaDataLoad();
    this.onPieChartDataLoad();
  },
  computed: {
    pieStyle() {
      //   return {
      //     width: "300px",
      //     height: "150px",
      //     display: "inline-block",
      //     margin: "15px 0 0",
      //   };
      return {
        width: "100%",
        height: "150px",
        display: "inline-block",
        margin: "15px 0 0",
      };
    },
    barStyle() {
      return {
        width: "100%",
        height: "200px",
        display: "block",
      };
    },
    boxPlotStyle() {
      return {
        width: "100%",
        height: "150px",
        display: "block",
      };
    },
  },
  activated() {
    EventBus.$emit("setContetnsClass", { className: "dashboard" });
  },
  async created() {
    EventBus.$emit("setContetnsClass", { className: "dashboard" });
  },
};
</script>

<style lang="scss" scoped>
</style>
