.dashboard.NH h4 {margin-bottom: 25px;}
.dashboard.NH canvas {display:inline-block !important;}
.dashboard.NH .chartBox {height: 300px;}
.dashboard.NH .ta_status .line_box {padding: 10px; border: 1px solid #5a6f72;}
.dashboard.NH .ta_detect_list span {display: inline-block; font-size: 12px; font-weight: 700; vertical-align: top;}
.dashboard.NH .ta_detect_list span:nth-child(2) {width: calc(100% - 120px); font-weight: 500;}

.call_mntr.NH .cslr_lst li {width: 200px; height: 160px;}/* AMR NH 1920x1080 모니터사이즈 25~30석이 보이게 적용 */