<template>
  <!-- #header -->
  <div id="header">
    <!-- .title_box -->
    <div class="title_box bg_blue">
      <h1>
        <img src="~@/assets/images/img_mindslab_logo_v.png" class="logo" alt="마인즈랩 로고">
        <p class="title">STT TM_QA</p>
      </h1>

      <div class="etc_box">
          <div style="width: auto;" class="user_account">
              <span>마지막 로그인 일시 [{{ userInfo.lastLoginDate }}]</span>
          </div>
        <div style="width: auto;" class="user_account">
          <span>자동 로그아웃까지 남은 시간 [{{ secToMinSec(tokenTimeOut) }}]</span>
        </div>
          <div class="user_account">
          <span>{{ userInfo.userNm }}</span>
        </div>
        <div class="btnBox btn_logout">
          <a @click="logOut"><img src="~@/assets/images/ico_logout_w.png" alt="로그아웃 아이콘">로그아웃</a>
        </div>
      </div>
    </div>

    <ul class="gnb">
	  <!-- HOME -->
      <li v-if="fn_depth1_accessibility('HOME')" :class="{ current: currentMenu === 'HOME' }" @mouseleave="menuHandler()">
        <h2 @mouseover="menuHandler('HOME')">Home</h2>
        <slide-up-down :active="show.HOME">
          <ul class="sub">
            <li v-if="fn_depth2_accessibility('DashBoard')"><router-link to="/main/dashboard">Dashboard</router-link></li>
          </ul>
        </slide-up-down>
      </li>
        <!-- REALTIME -->
        <li v-if="fn_depth1_accessibility('REALTIME')" :class="{ current: currentMenu === 'REALTIME' }" @mouseleave="menuHandler()">
            <h2 @mouseover="menuHandler('REALTIME')">실시간</h2>
            <slide-up-down :active="show.REALTIME">
                <ul class="sub">
                    <li v-if="fn_depth2_accessibility('RealtimeDashboard')"><router-link to="/real-time/dashboard">실시간</router-link></li>
                </ul>
            </slide-up-down>
        </li>
	  <!-- TM -->
      <li v-if="fn_depth1_accessibility('TM')" :class="{ current: currentMenu === 'TM' }" @mouseleave="menuHandler()">
        <h2 @mouseover="menuHandler('TM')">TM</h2>
        <slide-up-down :active="show.TM">
          <ul class="sub">
            <li v-if="fn_depth2_accessibility('TmSttTarget')"><router-link to="/tm/stt/target">TM - STT 대상</router-link></li>
          </ul>
        </slide-up-down>
      </li>

	  <!-- TM_QA -->
      <li v-if="fn_depth1_accessibility('TM_QA')" :class="{ current: currentMenu === 'TM_QA' }" @mouseleave="menuHandler()">
        <h2 @mouseover="menuHandler('TM_QA')">TM_QA</h2>
        <slide-up-down :active="show.TM_QA">
          <ul class="sub">
            <li v-if="fn_depth2_accessibility('QaTarget')"><router-link to="/qa/target">QA 대상</router-link></li>
            <li v-if="fn_depth2_accessibility('QaAssignAdmin')"><router-link to="/qa/assign/admin">QA 배정 - 관리</router-link></li>
            <li v-if="fn_depth2_accessibility('QaAssignReviewer')"><router-link to="/qa/assign/reviewer">QA 배정 - 심사</router-link></li>
            <li v-if="fn_depth2_accessibility('QaResult')"><router-link to="/qa/result">QA 결과</router-link></li>
          </ul>
        </slide-up-down>
      </li>

	  <!-- 통계 -->
      <li v-if="fn_depth1_accessibility('STATISTICS')" :class="{ current: currentMenu === 'STATISTICS' }" @mouseleave="menuHandler()">
        <h2 @mouseover="menuHandler('STATISTICS')">통계</h2>
        <slide-up-down :active="show.STATISTICS">
          <ul class="sub">
            <li v-if="fn_depth2_accessibility('StatisticsConsultant')"><router-link to="/statistics/consultant">상담원 통계</router-link></li>
            <li v-if="fn_depth2_accessibility('StatisticsReviewer')"><router-link to="/statistics/reviewer">심사자 통계</router-link></li>
          </ul>
        </slide-up-down>
      </li>

	  <!-- 모니터링 -->
      <li v-if="fn_depth1_accessibility('MONITORING')" :class="{ current: currentMenu === 'MONITORING' }" @mouseleave="menuHandler()">
        <h2 @mouseover="menuHandler('MONITORING')">모니터링</h2>
        <slide-up-down :active="show.MONITORING">
          <ul class="sub">
            <li><router-link to="/monitoring/procstatus">처리 상태 모니터링</router-link></li>
            <li><router-link to="/monitoring/service">서비스 모니터링</router-link></li>
          </ul>
        </slide-up-down>
      </li>

	  <!-- 관리설정 -->
      <li v-if="fn_depth1_accessibility('ADMIN')" :class="{ current: currentMenu === 'ADMIN' }" @mouseleave="menuHandler()">
        <h2 @mouseover="menuHandler('ADMIN')">관리설정</h2>
        <slide-up-down :active="show.ADMIN">
          <ul class="sub">
            <li :class="showSubMenu.SCRIPT ? 'up' : 'down'">
              <a @click="subMenuHandler('SCRIPT')">표준 스크립트 관리</a>
              <slide-up-down :active="showSubMenu.SCRIPT" :duration="500">
                <ul class="third">
                  <li><router-link to="/manage/script-area">스크립트 구간 관리</router-link></li>
                  <li><router-link to="/manage/evaluation">점검 항목 관리</router-link></li>
                  <li><router-link to="/manage/standardscript">표준 스크립트 관리</router-link></li>
                  <li><router-link to="/manage/consult">상담구간 관리</router-link></li>
                  <li><router-link to="/manage/condition">문장 발화 조건</router-link></li>
                  <li><router-link to="/manage/answer">답변 관리</router-link></li>
                  <li><router-link to="/manage/sentence">문장 관리</router-link></li>
                </ul>
              </slide-up-down>
            </li>

            <li>
              <router-link to="/manage/simulation">시뮬레이션 화면</router-link>
            </li>

            <li :class="showSubMenu.USER ? 'up' : 'down'">
              <a @click="subMenuHandler('USER')">사용자 관리</a>
              <slide-up-down :active="showSubMenu.USER" :duration="500">
                <ul class="third">
                  <li><router-link to="/manage/user">사용자 관리</router-link></li>
                  <li><router-link to="/manage/auth">권한 관리</router-link></li>
                </ul>
              </slide-up-down>
            </li>

            <li :class="showSubMenu.REPROCESSING ? 'up' : 'down'">
              <a @click="subMenuHandler('REPROCESSING')">재처리 관리</a>
              <slide-up-down :active="showSubMenu.REPROCESSING" :duration="500">
                <ul class="third">
                  <li><router-link to="/manage/tareprocess">TA 재처리</router-link></li>
                </ul>
              </slide-up-down>
            </li>
          </ul>
        </slide-up-down>
      </li>
    </ul>
  </div>
  <!-- //#header -->
</template>

<script>
import SlideUpDown from "vue-slide-up-down";
import { mapGetters, mapActions } from "vuex";

export default {
  name: "SiteHeader",
  components: {
    SlideUpDown,
  },
  computed: {
    ...mapGetters("user", {
      userInfo: "getUserInfo",
      tokenTimeOut: "getTokenTimeOut",
    }),
	currentMenu() {
		return this.$route.meta.menu;
	}
  },
  data() {
    return {
      routeName: this.$route.name,
      show: {
        HOME: false,
        REALTIME: false,
        CS: false,
        TM: false,
        TM_QA: false,
        STATISTICS: false,
        MONITORING: false,
        ADMIN: false,
      },
      showSubMenu: {
        SCRIPT: !!sessionStorage.getItem("SCRIPT"),
        USER: !!sessionStorage.getItem("USER"),
        REPROCESSING: !!sessionStorage.getItem("REPROCESSING"),
      },
    };
  },
  methods: {
    ...mapActions("user", {
      signOut: "signOut",
    }),
    logOut() {
      this.signOut()
        .then((processMessage) => {
          this.$router.push({ name: "Login" });
        })
        .catch((reason) => {
          alert("오류가 발생했습니다");
        });
    },
    menuHandler(key) {
      Object.keys(this.show).forEach((v) => (this.show[v] = false));
      if (key != undefined) {
        this.show[key] = true;
      }
    },
    secToMinSec(s) {
      return(s-(s%=60))/60+(9<s?':':':0')+s;
    },
    subMenuHandler(key) {
      this.showSubMenu[key] = !this.showSubMenu[key];
      this.showSubMenu[key]
        ? sessionStorage.setItem(key, key)
        : sessionStorage.removeItem(key);
    },
    // 권한별 1뎁스 메뉴 표현 여부 판별
    fn_depth1_accessibility(menu) {
      let accessArr = []; // 권한별 접근 가능한 1뎁스 메뉴명 기술
      switch (this.userInfo.userRole) {
        case "ROLE_ADMIN":
          accessArr = [
            "HOME",
            "REALTIME",
            "TM",
            "TM_QA",
            "STATISTICS",
            "MONITORING",
            "ADMIN",
          ];
          break;
        case "ROLE_QA_ADMIN":
          accessArr = ["HOME", "TM_QA", "STATISTICS", "MONITORING", "ADMIN"];
          break;
        case "ROLE_UW_ADMIN":
          accessArr = [
            "HOME",
            "TM",
            "TM_QA",
            "STATISTICS",
            "MONITORING",
            "ADMIN",
          ];
          break;
        case "ROLE_QA_REVIEWER":
          accessArr = ["TM_QA"];
          break;
        case "ROLE_UW_REVIEWER":
          accessArr = ["TM_QA", "STATISTICS"];
          break;
        case "ROLE_TM_CENTER":
          accessArr = ["TM_QA", "STATISTICS"];
          break;
      }

      return accessArr.includes(menu);
    },
    // 권한별 2뎁스메뉴 표현 여부 판별
    fn_depth2_accessibility(menu) {
      let notAccessArr = []; // 권한별 접근 불가능한 2뎁스 메뉴의 route name 기술
      switch (this.userInfo.userRole) {
        case "ROLE_ADMIN":
          notAccessArr = [];
          break;
        case "ROLE_QA_ADMIN":
          notAccessArr = ["TmSttTarget", "StatisticsConsultant"];
          break;
        case "ROLE_UW_ADMIN":
          notAccessArr = [];
          break;
        case "ROLE_QA_REVIEWER":
          notAccessArr = [
            "Dashboard",
            "TmSttTarget",
            "QaTarget",
            "QaAssignAdmin",
            "StatisticsConsultant",
            "StatisticsReviewer",
          ];
          break;
        case "ROLE_UW_REVIEWER":
          notAccessArr = [
            "Dashboard",
            "TmSttTarget",
            "QaTarget",
            "QaAssignAdmin",
            "QaAssignReviewer",
            "StatisticsReviewer",
          ];
          break;
        case "ROLE_TM_CENTER":
          notAccessArr = [
            "Dashboard",
            "TmSttTarget",
            "QaTarget",
            "QaAssignAdmin",
            "QaAssignReviewer",
            "StatisticsReviewer",
          ];
          break;
      }

      return !notAccessArr.includes(menu);
    },
  },
};
</script>

<style lang="scss" scoped>
.router-link-active {
  color: #00829d;
}
</style>
