<template>
  <div>
    <component
      v-bind:is="modalState.name"
      :parameters="modalState.parameters"
      v-for="(modalState, index) in modalStates"
      :key="index"
    />
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

import FirstLoginChangePasswordModal from "@/components/modal/FirstLoginChangePasswordModal";

import TmQaTargetSetModal from "../modal/TmQaTargetSetModal";
import TmQaAssignSetModal from "../modal/TmQaAssignSetModal";
import TmQaAssignHolidayManageModal from "../modal/TmQaAssignHolidayManageModal";
import AuditQuestionsAndAnswersModal from "../modal/AuditQuestionsAndAnswersModal";
import UserModal from "../modal/UserModal";
import ConsultCodeModal from "../modal/ConsultCodeModal";
import ConsultAddAndEditModal from "../modal/ConsultAddAndEditModal";
import ConsultSentenceModal from "../modal/ConsultSentenceModal";
import ConsultSentenceConfigModal from "../modal/ConsultSentenceConfigModal.vue";
import StandardScriptAddProdModal from "../modal/StandardScriptAddProdModal";
import StandardScriptProdSettingsModal from "../modal/StandardScriptProdSettingsModal";
import StandardScriptProdCopyModal from "../modal/StandardScriptProdCopyModal";
import StandardScriptEvalModal from "../modal/StandardScriptEvalModal";
import StandardScriptIntervalModal from "../modal/StandardScriptIntervalModal";
import StandardScriptAddApplyOrdModal from "../modal/StandardScriptAddApplyOrdModal";
import StandardScriptAddProdCatModal from "../modal/StandardScriptAddProdCatModal";
import StandardScriptEvalListSettingsModal from "../modal/StandardScriptEvalListSettingsModal";
import StandardScriptAddConditionModal from "../modal/StandardScriptAddConditionModal";
import StandardScriptAddDamboCdModal from "../modal/StandardScriptAddDamboCdModal";
import StandardScriptConditionSettingsModal from "../modal/StandardScriptConditionSettingsModal";
import StandardScriptAddSentenceModal from "../modal/StandardScriptAddSentenceModal";
import StandardScriptAddAnswerModal from "../modal/StandardScriptAddAnswerModal";
import StandardScriptAnswerSettingsModal from "../modal/StandardScriptAnswerSettingsModal";
import SttTextEditModal from "../modal/SttTextEditModal";
import ForbiddenModal from "../modal/ForbiddenModal";
import TimeOutModal from "../modal/TimeOutModal";
import RealtimeSttMonitoringModal from "../modal/RealtimeSttMonitoringModal";

// manage
import ManageCodeModal from "../modal/manage/scriptArea/ManageCodeModal";
import ManageAreaModal from "../modal/manage/scriptArea/ManageAreaModal";
import ManageAreaModal2 from "../modal/manage/scriptArea/ManageAreaModal2";
import ManageSentenceModal from "../modal/manage/scriptArea/ManageSentenceModal";
import ManageDtctModal from "../modal/manage/ManageDtctModal";
import ManageAuthModal from "../modal/manage/auth/ManageAuthModal";
import ManageMenuModal from "../modal/manage/auth/ManageMenuModal";

export default {
  name: "ModalLayout",
  components: {
      FirstLoginChangePasswordModal,

    TmQaTargetSetModal,
    TmQaAssignSetModal,
    TmQaAssignHolidayManageModal,
    AuditQuestionsAndAnswersModal,
    UserModal,
    ConsultCodeModal,
    ConsultAddAndEditModal,
    ConsultSentenceModal,
    ConsultSentenceConfigModal,
    StandardScriptAddProdModal,
    StandardScriptProdSettingsModal,
    StandardScriptProdCopyModal,
    StandardScriptEvalModal,
    StandardScriptIntervalModal,
    StandardScriptAddApplyOrdModal,
    StandardScriptAddProdCatModal,
    StandardScriptEvalListSettingsModal,
    StandardScriptAddConditionModal,
    StandardScriptAddDamboCdModal,
    StandardScriptConditionSettingsModal,
    StandardScriptAddSentenceModal,
    StandardScriptAddAnswerModal,
    StandardScriptAnswerSettingsModal,
    SttTextEditModal,
    ForbiddenModal,
    TimeOutModal,
    RealtimeSttMonitoringModal,

    // manage
    ManageCodeModal,
    ManageAreaModal,
    ManageAreaModal2,
    ManageSentenceModal,
	ManageDtctModal,
	ManageAuthModal,
	ManageMenuModal,
  },
  computed: {
    ...mapState("base", {
      modalStates: "modalStates",
    }),
  },
  methods: {
    ...mapActions("base", {
      clearModal: "clearModal",
    }),
  },
    beforeDestroy() {
    this.clearModal();
  },
};
</script>

<style lang="scss" scoped>
</style>