<template>
  <div class="popup_wrap admin large">
    <div class="admin">
      <!-- .sentence_manage -->
      <div class="sentence_manage">
        <!-- .pop_top -->
        <div class="pop_top">
          <h1>문장관리 상세설정</h1>
        </div>
        <!-- //.pop_top -->

        <!-- .pop_mdl -->
        <div class="pop_mdl">
          <!-- .setBox -->
          <div class="setBox">
            <h2>문장 관리</h2>

            <div class="btnBox">
              <a class="btn_delete" @click="onDelete()">삭제</a>
            </div>

            <div class="tbl_popup_set tbl_include_btn">
              <table
                summary="문장내용, 특약코드, 특약명, 고객답변, 필수문장으로 구성됨"
              >
                <caption class="hide">
                  문장관리
                </caption>
                <colgroup>
                  <col />
                  <col />
                  <!-- <col width="120" />
                  <col width="120" /> -->
                  <col width="120" />
                  <col width="160" />
                </colgroup>

                <thead>
                  <tr>
                    <th scope="col">가이드 문장</th>
                    <th scope="col">문장내용</th>
                    <!-- <th scope="col">특약코드</th>
                    <th scope="col">특약명</th> -->
                    <th scope="col">고객답변유무</th>
                    <th scope="col">답변내용</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td scope="row">
                      <div class="iptBox">
                        <input type="text" v-model="sentenceInfo.gudStmt" />
                      </div>
                    </td>
                    <td scope="row">
                      <div class="iptBox">
                        <input type="text" v-model="sentenceInfo.scrp" />
                      </div>
                    </td>
                    <!-- <td>
                      <div class="iptBox">
                        <input type="text" v-model="sentenceInfo.damboCd" />
                      </div>
                    </td>
                    <td>
                      <div class="iptBox">
                        <input type="text" v-model="sentenceInfo.damboNm" />
                      </div>
                    </td> -->
                    <td>
                      <select class="select" v-model="sentenceInfo.custAnsYn">
                        <option value="Y">Y</option>
                        <option value="N">N</option>
                      </select>
                    </td>
                    <td>
                      <select class="select" v-model="sentenceInfo.ansCd">
                        <option
                          v-for="(item, idx) in ansList"
                          v-bind:key="idx"
                          :value="item.ansCd"
                        >
                          {{ item.ansNm }}
                        </option>
                        <!-- <option value="긍정답변">긍정답변</option>
                              <option value="부정답변">부정답변</option> -->
                      </select>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- //.setBox -->

          <!-- .setBox -->
          <div class="setBox">
            <h2>등록문장 검색</h2>

            <div class="srchBox">
              <input type="search" v-model="searchParams.scrp" />
              <a
                class="btn_srch"
                @click="
                  getSentencePopupList(Object.assign(pagination, searchParams))
                "
              >
                <span>검색버튼</span>
              </a>
            </div>

            <!-- .dataTableBox -->
            <div class="dataTableBox">
              <v-app>
                <v-data-table
                  :headers="gridHeaders"
                  :items="gridData"
                  hide-default-footer
                  :items-per-page="this.pagination.rowsPerPage"
                  light
                >
                  <template v-slot:item.scrp="{ item }">
                    <div
                      :title="`${item.scrp}`"
                      class="d-inline-block text-truncate"
                      :style="{
                        marginLeft: '20px',
                        textAlign: 'left',
                        width: '720px',
                      }"
                    >
                      {{ item.scrp }}
                    </div>
                  </template>
                  <template v-slot:item.actionBtns="{ item }">
                    <div
                      :style="{
                        display: 'flex',
                        justifyContent: 'center',
                        width: '300px',
                      }"
                    >
                      <div class="btnBox">
                        <a
                          :style="{ color: 'white' }"
                          @click="setCopyTarget(item)"
                          >{{ item.actionBtns.contentBtn }}</a
                        >
                      </div>
                      <div class="btnBox">
                        <a
                          :style="{ color: 'white' }"
                          @click="copyDetectDict(item)"
                          >{{ item.actionBtns.idxBtn }}</a
                        >
                      </div>
                    </div>
                  </template>
                </v-data-table>
              </v-app>
              <v-app>
                <v-card-actions>
                  <div class="bottom" style="margin-left: 20px">
                    <div
                      class="dataTables_info"
                      id="DataTables_Table_0_info"
                      role="status"
                      aria-live="polite"
                    >
                      [총 {{ pagination.length }} 건&nbsp;&nbsp;<strong>{{
                        pagination.rowsPerPage
                      }}</strong>
                      건]
                    </div>
                  </div>
                </v-card-actions>
                <pagination-component :pagination="pagination" />
              </v-app>
            </div>
            <!-- //.dataTableBox -->
          </div>
          <!-- //.setBox -->

          <!-- .setBox -->
          <div class="setBox dtcn_dic_add">
            <h2>탐지사전 입력</h2>

            <div class="tbl_popup_set tbl_include_btn">
              <table
                summary="문장내용, 형태소 분리 문장, 탐지사전(예시), 탐지사전 입력으로 구성됨"
              >
                <caption class="hide">
                  탐지사전 입력
                </caption>
                <colgroup>
                  <col width="120" />
                  <col width="50" />
                  <col />
                  <col width="100" />
                  <col width="130" />
                </colgroup>

                <tbody>
                  <tr>
                    <th scope="row">문장내용</th>
                    <td colspan="3">
                      <div class="iptBox">
                        <input v-model="newDictItemContent" type="text" />
                      </div>
                    </td>
                    <td>
                      <div class="btnBox">
                        <a
                          class="btn_sentence_anls"
                          @click="getNlp(newDictItemContent)"
                          >분석</a
                        >
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <th scope="row">형태소 분리 문장</th>

                    <td colspan="4">{{ nlpResult.sentence }}</td>
                  </tr>

                  <tr>
                    <th scope="row">탐지사전(예시)</th>
                    <td colspan="4">
                      {{ nlpResult.dtctEx }}
                    </td>
                  </tr>

                  <tr v-for="(item, idx) in dtctDictInputList" v-bind:key="idx">
                    <th
                      v-if="idx === 0"
                      scope="row"
                      :rowspan="dtctDictInputList.length"
                    >
                      탐지사전 입력
                    </th>

                    <td>{{ idx + 1 }}</td>
                    <td>
                      <div class="iptBox">
                        <input type="text" v-model="item.dtctDtcCon" />
                      </div>
                    </td>
                    <td :style="{ borderRight: '1px solid #C7D0D3' }">
                      <div class="btnBox">
                        <a
                          v-if="idx === 0"
                          class="btn_sentence_sprt"
                          @click="addInputRow(idx)"
                          >문장분리</a
                        >
                        <a
                          v-else
                          class="btn_delete"
                          @click="deleteInputRow(idx)"
                          >삭제</a
                        >
                      </div>
                    </td>
                    <td v-if="idx === 0" :rowspan="dtctDictInputList.length">
                      <div class="btnBox">
                        <a
                          class="btn_detectDic_add"
                          @click="addDictItem(dtctDictInputList)"
                          >탐지사전 추가</a
                        >
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- //.setBox -->

          <!-- .setBox -->
          <div class="setBox dtcn_dic_sentence">
            <h2>탐지사전 리스트</h2>

            <div class="tbl_popup_set tbl_include_btn">
              <div class="tbl_hd">
                <table
                  summary="탐지사전 번호, 그룹 순번, 연결 순번, 탐지사전 내용으로 구성됨"
                >
                  <caption class="hide">
                    탐지사전 리스트
                  </caption>
                  <colgroup>
                    <col width="100" />
                    <col width="80" />
                    <col width="80" />
                    <col />
                    <!-- <col width="80" />
                    <col width="80" /> -->
                  </colgroup>

                  <thead>
                    <tr>
                      <th scope="col">탐지사전 번호</th>
                      <th scope="col">그룹 순번</th>
                      <th scope="col">연결 순번</th>
                      <th scope="col" colspan="3">탐지사전 내용</th>
                    </tr>
                  </thead>
                </table>
              </div>

              <div class="tbl_bd tbl_scroll ten_line">
                <table>
                  <colgroup>
                    <col width="100" />
                    <col width="80" />
                    <col width="80" />
                    <col />
                    <col width="80" />
                    <col width="80" />
                  </colgroup>

                  <tbody>
                    <template v-if="dtctDictList.length > 0">
                      <template v-for="item in dtctDictList">
                        <tr
                          v-for="itm in item"
                          v-bind:key="`${itm.dtctDtcGrpNo}-${itm.dtctDtcGrpInNo}`"
                        >
                          <td
                            v-if="itm.dtctDtcGrpInNo === '1'"
                            scope="row"
                            :rowspan="itm.dtctDtcEdNo"
                          >
                            {{ itm.dtctDtcNo }}
                          </td>
                          <td
                            v-if="itm.dtctDtcGrpInNo === '1'"
                            scope="row"
                            :rowspan="itm.dtctDtcEdNo"
                          >
                            {{ itm.dtctDtcGrpNo }}
                          </td>

                          <td>{{ itm.dtctDtcGrpInNo }}</td>
                          <td :style="{ borderRight: '1px solid #C7D0D3' }">
                            <div class="iptBox">
                              <input
                                type="text"
                                v-model="itm.dtctDtcCon"
                                :disabled="!dtctDictEditList.includes(item)"
                              />
                            </div>
                          </td>
                          <td
                            v-if="itm.dtctDtcGrpInNo === '1'"
                            :rowspan="itm.dtctDtcEdNo"
                          >
                            <div class="btnBox btn_change_group">
                              <a
                                v-if="!dtctDictEditList.includes(item)"
                                class="btn_edit"
                                @click="editDictItem(item)"
                                >수정</a
                              >
                              <a
                                v-if="dtctDictEditList.includes(item)"
                                class="btn_cplt"
                                @click="editDictItem(item)"
                                >완료</a
                              >
                            </div>
                          </td>
                          <td
                            v-if="itm.dtctDtcGrpInNo === '1'"
                            :rowspan="itm.dtctDtcEdNo"
                          >
                            <div class="btnBox">
                              <a
                                class="btn_delete"
                                @click="deleteDictItem(item)"
                                >삭제</a
                              >
                            </div>
                          </td>
                        </tr>
                      </template>
                    </template>

                    <tr v-if="dtctDictList.length < 1">
                      <td colspan="6">조회된 데이터가 없습니다.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- //.setBox -->
        </div>
        <!-- //.pop_mdl -->

        <!-- .pop_btm -->
        <div class="pop_btm">
          <div class="btnBox">
            <a class="btn_save" @click="onSubmit()">저장</a>

            <a class="btn_close" @click="closePopup()">닫기</a>
          </div>
        </div>
        <!-- //.pop_btm -->
      </div>
      <!-- //.sentence_manage -->
    </div>
  </div>
</template>

<script>
import popupUtils from "@/utils/popupUtils";
import PaginationComponent from "../../../pagination/PaginationComponent";
import { sampleData } from "../../../manage/SampleData";
import { RepositoryFactory } from "@/repositories/RepositoryFactory";
const ManageRepository = RepositoryFactory.get("manage");

export default {
  components: {
    PaginationComponent,
  },
  name: "PopupStandardScriptSentenceSettings",
  data() {
    return {
      gridHeaders: [
        {
          text: "검색결과",
          value: "scrp",
          align: "center",
          sortable: true,
        },
        {
          text: "탐지사전 반영",
          value: "actionBtns",
          align: "center",
          sortable: true,
        },
      ],
      ansList: [],
      sentenceInfo: {
        dtctDtcNo: this.$route.query.dtctDtcNo,
        gudStmt: null,
        ansCd: null,
        scrp: null,
        // damboCd: null,
        // damboNm: null,
        custAnsYn: null,
        // estyScrpYn: null,
      },
      gridData: [],
      pagination: {
        length: 0, // total row
        rowsPerPage: 5, // row per page
        now: 1, // now page
        navigationLength: 10, // navigation length
        callback: this.paginationCallback, // callback
        startRow: 0, // startRow
        endRow: 0, // endRow
        sortingColumn: null,
        sorting: "ASC",
      },
      searchParams: {
        scrp: null,
      },
      // 문장 등록 내용, 번호 버튼
      copyTargetContent: null,
      // 탐지사전 입력 문장내용
      newDictItemContent: null,
      // 복사 대상 탐지사전 내용
      copyTargetDict: [],
      // 형태소 분석 api 결과
      nlpResult: { sentence: null, dtctEx: null },
      // 탐지사전 입력 리스트: addDictItem 함수에 array 형태 그대로 넘겨줘야함
      dtctDictInputList: [
        {
          dtctDtcNo: this.$route.query.dtctDtcNo,
          dtctDtcCon: null,
          dtctDtcEdNo: null, // 이 array의 길이
          dtctDtcGrpInNo: null, // 이 array 내에서의 순서
          dtctDtcGrpNo: null, // 서버로부터 받아온 탐지사전 리스트에서 마지막 GrpNo + 1 => getGrpNo에서 지정
        },
      ],
      // 탐지사전 리스트: GrpNo 기준 Array로 묶음
      dtctDictList: [
        // [
        //   {
        //     dtctDtcNo: 1234,
        //     dtctDtcGrpNo: 1,
        //     dtctDtcGrpInNo: 1,
        //     dtctDtcEdNo: 1,
        //     dtctDtcCon: "(안녕)(하다)",
        //   }, // 연결순번 1
        // ], // 그룹 순번1
        // [
        //   {
        //     dtctDtcNo: 1234,
        //     dtctDtcGrpNo: 2,
        //     dtctDtcGrpInNo: 1,
        //     dtctDtcEdNo: 1,
        //     dtctDtcCon: "(안녕)(하다)",
        //   }, // 연결순번 1
        // ], // 그룹 순번2
        // [
        //   {
        //     dtctDtcNo: 1234,
        //     dtctDtcGrpNo: 3,
        //     dtctDtcGrpInNo: 1,
        //     dtctDtcEdNo: 2,
        //     dtctDtcCon: "(안녕)(하다)",
        //   }, // 연결순번 1
        //   {
        //     dtctDtcNo: 1234,
        //     dtctDtcGrpNo: 3,
        //     dtctDtcGrpInNo: 2,
        //     dtctDtcEdNo: 2,
        //     dtctDtcCon: "(안녕)(하다)",
        //   }, // 연결순번 2
        // ], // 그룹 순번3
      ],
      dtctDictLength: null,
      // 탐지사전 리스트 수정 항목 리스트
      dtctDictEditList: [],
      // 탐지사전 리스트 삭제 항목 리스트
      dtctDictDeleteList: [],
    };
  },
  methods: {
    // 등록문장 검색 테이블
    paginationCallback() {
      this.getData();
    },
    async getData(now) {
      if (now != undefined) {
        this.pagination.now = now;
      }
      this.getSentencePopupList(
        Object.assign(this.pagination, this.searchParams)
      );
    },
    // 팝업창 닫기
    closePopup() {
      window.close();
    },
    // 탐지사전 리스트 내 그룹 개수 저장: 탐지사전 항목 추가 시 dtctDtcGrpNo 자동 입력에 사용
    getGrpNo() {
      if (this.dtctDictList.length > 0) {
        this.dtctDictLength = this.dtctDictList.length;
        this.dtctDictInputList[0].dtctDtcGrpNo = String(
          this.dtctDictLength + 1
        );
      } else {
        this.dtctDictInputList[0].dtctDtcGrpNo = "1";
      }
    },
    // 탐지사전 복사: 다른 문장의 탐지사전을 현재 문장으로 복사해옴
    async copyDetectDict(rowInfo) {
      if (confirm("해당 문장의 탐지사전을 현재 문장에 복사하시겠습니까?")) {
        // 복사할 탐지사전 데이터 호출
        const { data: result } = await ManageRepository.getSentenceDtcList({
          dtctDtcNo: rowInfo.dtctDtcNo,
        });
        console.log("탐지사전 복사: 복사할 탐지사전 조회 >>>>>");
        console.log(result);
        // 응답 데이터 포맷
        let tmpArr = [];
        result.dataList.forEach((item) => {
          item.dtctDtcNo = this.$route.query.dtctDtcNo; // 복사할 데이터의 탐지사전 번호를 현재 문장의 탐지사전 번호로 교체
          if (tmpArr[Number(item.dtctDtcGrpNo) - 1]) {
            // 데이터를 그룹순번으로 묶음
            tmpArr[Number(item.dtctDtcGrpNo) - 1].push(item);
          } else {
            tmpArr[Number(item.dtctDtcGrpNo) - 1] = new Array(item);
          }
        });
        tmpArr.forEach(
          (
            item // 각 그룹 배열마다 연결순번 기준으로 정렬
          ) =>
            item.sort((a, b) => {
              if (a.dtctDtcGrpGrpInNo > b.dtctDtcGrpGrpInNo) {
                return 1;
              }
              if (a.dtctDtcGrpGrpInNo < b.dtctDtcGrpGrpInNo) {
                return -1;
              }
              return 0;
            })
        );
        this.dtctDictList = tmpArr;
        this.getGrpNo();
      }
    },

    // 탐지사전 목록 결과 데이터 포맷팅
    formatData(resultList) {
      let tmpArr = [];
      // grouping by dtctDtcGrpNo
      resultList.forEach((item) => {
        if (tmpArr[Number(item.dtctDtcGrpNo) - 1]) {
          tmpArr[Number(item.dtctDtcGrpNo) - 1].push(item);
        } else {
          tmpArr[Number(item.dtctDtcGrpNo) - 1] = new Array(item);
        }
      });
      // sorting
      tmpArr.forEach((item) =>
        item.sort((a, b) => {
          if (a.dtctDtcGrpGrpInNo > b.dtctDtcGrpGrpInNo) {
            return 1;
          }
          if (a.dtctDtcGrpGrpInNo < b.dtctDtcGrpGrpInNo) {
            return -1;
          }
          return 0;
        })
      );
      this.dtctDictList = tmpArr;
      this.getGrpNo();
    },
    setCopyTarget(rowData) {
      this.newDictItemContent = rowData.scrp;
    },
    // 탐지사전 입력 열 추가
    addInputRow() {
      this.getGrpNo();
      this.dtctDictInputList.push({
        dtctDtcNo: this.$route.query.dtctDtcNo,
        dtctDtcCon: null,
        dtctDtcEdNo: null,
        dtctDtcGrpInNo: null,
        dtctDtcGrpNo: this.dtctDictInputList[0].dtctDtcGrpNo,
      });
    },
    // 탐지사전 입력 열 삭제
    deleteInputRow(index) {
      this.dtctDictInputList = this.dtctDictInputList.filter(
        (item, idx) => idx !== index
      );
    },
    // 탐지사전 그룹(탐지사전 내용 input set) 추가: 받는 인자는 array
    addDictItem(dtctDictArr) {
      // input set 그룹의 item.dtctDtcEdNo, dtctDtcGrpInNo 값 일괄 지정
      dtctDictArr.forEach((item, idx) => {
        (item.dtctDtcEdNo = String(dtctDictArr.length)),
          (item.dtctDtcGrpInNo = String(idx + 1));
      });
      this.dtctDictList.push(dtctDictArr);

      // 탑지사전 입력 리스트 초기화
      this.dtctDictInputList = [
        {
          dtctDtcNo: this.$route.query.dtctDtcNo,
          dtctDtcEdNo: null,
          dtctDtcGrpInNo: null,
          dtctDtcGrpNo: null,
          dtctDtcCon: null,
        },
      ];

      this.getGrpNo();
      this.copyTargetContent = null;
      this.copyTargetId = null;
      // console.log(this.dtctDictList);
    },
    // 탐지사전 리스트 열 수정 버튼
    editDictItem(item) {
      if (this.dtctDictEditList.includes(item)) {
        this.dtctDictEditList = this.dtctDictEditList.filter(
          (itm) => itm !== item
        );
      } else {
        this.dtctDictEditList.push(item);
      }
    },
    // 탐지사전 리스트 열 삭제 버튼
    async deleteDictItem(item) {
      console.log(item);
      if (confirm("삭제하시겠습니까?")) {
        let result = await this.deleteDictItemApi(item[0]);
        if (result) {
          this.getSentenceDetail({ dtctDtcNo: this.$route.query.dtctDtcNo });
          this.getDictItemApi({ dtctDtcNo: this.$route.query.dtctDtcNo });
        } else {
          this.dtctDictList = this.dtctDictList.filter((itm) => itm !== item);
        }
      }
    },
    // 저장 버튼
    async onSubmit() {
      if (confirm("변경사항을 저장하시겠습니까?")) {
        // 상단 문장 상세 정보 수정
        this.updateSentence(this.sentenceInfo);
        // 탐지사전 항목 추가 및 수정
        let result = await this.addDictItemApi(this.dtctDictList);
        if (result.isSuccess !== null) {
          this.getDictItemApi({ dtctDtcNo: this.$route.query.dtctDtcNo });
          popupUtils.callOpenerFunction(window, "getSentenceList", {
            scrp: null,
          });
          window.close();
        }
      }
    },
    // 문장 삭제버튼
    onDelete() {
      if (confirm("현재 문장을 삭제하시겠습니까?")) {
        this.deleteSentence({ dtctDtcNo: this.$route.query.dtctDtcNo });
        popupUtils.callOpenerFunction(window, "getSentenceList", {
          scrp: null,
        });
        window.close();
      }
    },
    //// api
    // 답변내용 selectbox 리스트 조회
    async getAnsList() {
      const { data: result } = await ManageRepository.getAddPopupList({});
      this.ansList = result.dataList;
    },
    // 상단 문장 정보 조회
    async getSentenceDetail(jsonData) {
      const { data: result } = await ManageRepository.getSentenceDetail(
        jsonData
      );
      console.log("상단 문장 상세 정보 조회 >>>>>");
      console.log(result);
      this.sentenceInfo = result.detail;
      this.newDictItemContent = this.sentenceInfo.scrp;
    },
    // 등록문장 리스트 조회
    async getSentencePopupList(jsonData) {
      const { data: result } = await ManageRepository.getSentencePopupList(
        jsonData
      );
      console.log("등록문장 리스트 조회 >>>>>");
      console.log(result);
      result.dataList.forEach(
        (item, idx) =>
          (item.actionBtns = {
            contentBtn: "문장내용 복사",
            idxBtn: "탐지사전 복사",
          })
      );
      this.gridData = result.dataList;
      this.pagination.length = result.totalCnt;
    },
    // 상단 문장 상세 정보 수정
    async updateSentence(jsonData) {
      const { data: result } = await ManageRepository.updateSentenceDetail(
        jsonData
      );
      console.log("상단 문장 상세 정보 수정 >>>>>");
      console.log(result);
    },
    // 문장 삭제
    async deleteSentence(jsonData) {
      const { data: result } = await ManageRepository.deleteSentenceDetail(
        jsonData
      );
      console.log("현재 문장 삭제 >>>>>");
      console.log(result);
    },
    // 탐지사전 목록 조회
    async getDictItemApi(jsonData) {
      const { data: result } = await ManageRepository.getSentenceDtcList(
        jsonData
      );
      console.log("탐지사전 목록 조회 >>>>>");
      console.log(result);
      this.formatData(result.dataList);
    },
    // 탐지사전 목록 결과 데이터 포맷팅
    formatData(resultList) {
      let tmpArr = [];
      // grouping by dtctDtcGrpNo
      resultList.forEach((item) => {
        if (tmpArr[Number(item.dtctDtcGrpNo) - 1]) {
          tmpArr[Number(item.dtctDtcGrpNo) - 1].push(item);
        } else {
          tmpArr[Number(item.dtctDtcGrpNo) - 1] = new Array(item);
        }
      });
      // sorting
      tmpArr.forEach((item) =>
        item.sort((a, b) => {
          if (a.dtctDtcGrpGrpInNo > b.dtctDtcGrpGrpInNo) {
            return 1;
          }
          if (a.dtctDtcGrpGrpInNo < b.dtctDtcGrpGrpInNo) {
            return -1;
          }
          return 0;
        })
      );
      this.dtctDictList = tmpArr;
      this.getGrpNo();
    },
    // 탐지사전 내용 삭제
    async deleteDictItemApi(jsonData) {
      const { data: result } = await ManageRepository.deleteSentenceDtcDtlInfo(
        jsonData
      );
      console.log("탐지사전 항목 삭제 >>>>>");
      console.log(result.isSuccess);
      return result.isSuccess;
    },
    // 탐지사전 내용 추가
    async addDictItemApi(jsonArr) {
      let requestArr = [];
      jsonArr.forEach((item) => item.forEach((itm) => requestArr.push(itm)));
      console.log(requestArr);
      const { data: result } = await ManageRepository.addSentenceDtcDtlInfo(
        requestArr
      );
      console.log("탐지사전 항목 추가 >>>>>");
      console.log(result);
      return result.isSuccess;
    },
    // 탐지사전 형태소분석 api
    async getNlp(sentenceStr) {
      if (sentenceStr) {
        let jsonData = { jsonStr: sentenceStr };
        const { data: result } = await ManageRepository.getSimulationNlp(
          jsonData
        );
        console.log("형태소 분석 >>>>>");
        console.log(result);
        this.nlpResult.sentence = result.output[0].nlp_sent.slice(18, -5);
        this.nlpResult.dtctEx = result.output[0].hmd_sample;
      }
    },
  },
  mounted() {
    this.getAnsList();
    this.getSentenceDetail({ dtctDtcNo: this.$route.query.dtctDtcNo });
    this.getSentencePopupList(
      Object.assign(this.pagination, this.searchParams)
    );
    this.getDictItemApi({ dtctDtcNo: this.$route.query.dtctDtcNo });
    // 탐지사전 리스트 갱신 시 그룹 개수 저장(리스트 길이)
    this.getGrpNo();
  },
};
</script>

<style lang="scss" scoped>
@import "~css/popup";
</style>