<template>
    <modal-component modal-add-class=" " :modal-add-style="{width: data.length === 1 ? 'auto' : ''}" modal-add-id="lyr_qa_edit" :is-close="true" @modal:close="closeModal">
        <section slot="title">
            질의응답
        </section>
        <section slot="content">
            <div v-for="(item, index) in $v.data.$each.$iter" :class="data.length === 1 ? '' : Number(index) === 0 ? 'fl' : 'fr'">
                <strong v-text="(Number(index)+1)+'회차'">1회차</strong>
                <div class="textArea_question">
                    <span>질의내용</span>
                    <div class="qa_info">
                        <em v-text="item.$model.questionUserName">김나나</em>
                        <em v-text="qstType.find(v => v.cd === item.$model.qstType).cdNm">기일연장</em>
                    </div>
                    <div class="textBox" v-text="item.$model.questionContent">
                        가입설계 체결 위해서 관련 법률에 따라 수집 이용 조회 제공에 동의 얻고자하며 신용등급과 무관하시고 동의 하지 않으실 경우에는 계약상담이 불가능하신데요
                    </div>
                </div>
                <div v-if="!item.$model.answerNo" class="textArea_answer">
                    <span>응답결과</span>
                    <div class="qa_info">
                        <div class="iptBox">
                            <input type="text" v-model="item.$model.answerUserName">
                        </div>
                        <select class="select" v-model="item.$model.ansType">
                            <option v-for="(sitem) in ansType" :value="sitem.cd" v-text="sitem.cdNm">수용</option>
                        </select>
                    </div>
                    <p v-if="item.answerUserName.$error">응답자 항목 입력값을 확인해주세요.</p>
                    <textarea class="textBox" v-model="item.$model.answerContent"></textarea>
                    <p v-if="item.answerContent.$error">답변 입력값을 확인해주세요.</p>
                </div>
                <div v-else class="textArea_question">
                    <span>응답결과</span>
                    <div class="qa_info">
                        <em v-text="item.$model.answerUserName">김나나</em>
                        <em v-text="ansType.find(v => v.cd === item.$model.ansType).cdNm">기일연장</em>
                    </div>
                    <div class="textBox" v-text="item.$model.answerContent">
                        가입설계 체결 위해서 관련 법률에 따라 수집 이용 조회 제공에 동의 얻고자하며 신용등급과 무관하시고 동의 하지 않으실 경우에는 계약상담이 불가능하신데요
                    </div>
                </div>
            </div>
        </section>
        <section slot="btn">
            <div class="btnBox">
                <a @click="setAnswer" class="btn_save">저장</a>
                <a @click="closeModal" class="btn_cancel btn_lyr_open">취소</a>
            </div>
        </section>
    </modal-component>
</template>

<script>
import ModalComponent from "./ModalComponent";
import {mapActions, mapGetters} from "vuex";
import { required, minLength, maxLength } from 'vuelidate/lib/validators';

export default {
    name: "AuditQuestionsAndAnswersModal",
    components: {ModalComponent},
    props: {
        parameters: {
            type: Object,
            default: {}
        },
    },
    watch: {

    },
    data(){
        return {
            data: [],
            qstType: [],
            ansType: [],
            qaAuditRepository: this.parameters.repositoryFactory.get('qaAudit'),
        }
    },
    validations: {
        data:{
            $each:{
                answerContent:{
                    required,
                    maxLength: maxLength(2000),
                },
                answerUserName:{
                    required,
                    maxLength: maxLength(12),
                },
            },
        },
    },
    computed: {
        ...mapGetters('user', {
            userInfo: 'getUserInfo',
        }),
    },
    methods: {
        ...mapActions('base', {
            removeModal: 'removeModal',
        }),
        closeModal() {
            this.parameters.callback();
            this.removeModal(this);
        },
        async getQuestionsAndAnswers(){
            const {data: result} = await this.qaAuditRepository.getQuestionsAndAnswers(this.parameters.nsplNo);
            if(result.status === 'FAIL'){
                alert('잘못된 요청입니다.');
                this.closeModal();
            }else if(result.status === 'NOT_FOUND'){
                alert('질의요청 정보가 존재하지 않습니다.');
                this.closeModal();
            }
            this.data = result.data;
            this.data[this.data.length-1].ansType = this.ansType[0].cd;
            this.data[this.data.length-1].answerUserName = this.userInfo.userNm;
        },
        async getQstAnsTypeCodes(){
            this.qstType = await this.getCodeDetailByGroupCode('QST_TYPE', {sortingColumn: 'cd', sorting: 'ASC'}, null, null);
            this.ansType = await this.getCodeDetailByGroupCode('ANS_TYPE', {sortingColumn: 'cd', sorting: 'ASC'}, null, null);
        },
        async setAnswer(){
            this.$v.data.$touch();
            if(!this.$v.data.$invalid){
                const {data: result} = await this.qaAuditRepository.setAnswer(this.data[this.data.length-1]);
                if(result.status === 'FAIL'){
                    alert('답변 등록에 실패하였습니다.');
                }else{
                    alert('답변 등록이 완료되었습니다.');
                    await this.getQuestionsAndAnswers();
                }
            }
        },
    },
    mounted() {

    },
    async created() {
        if(this.parameters.interval) clearInterval(this.parameters.interval);
        await this.getQstAnsTypeCodes();
        await this.getQuestionsAndAnswers();
    }
}
</script>

<style lang="scss" scoped>
    @import '~css/popup';
</style>