<template>
    <modal-component modal-add-class="small" :modal-add-style="{width: 'auto', height: 'auto'}" :is-close="true" @modal:close="closeModal">
        <section slot="title">
            문장 설정
        </section>
        <section slot="content">
            <div class="admin large">
                <div class="counsel_stn_manage">
                    <!-- .pop_mdl -->
                    <div class="pop_mdl">
                        <!-- .setBox -->
                        <div class="setBox rgst_sentence_srch">
                            <h2>등록 문장 검색</h2>

                            <div class="srchBox">
                                <input type="search">
                                <a href="#none" class="btn_srch">
                                    <span>검색버튼</span>
                                </a>
                            </div>

                            <!-- .dataTableBox -->
                            <div class="dataTableBox">
                                <!-- [D] datatables 라이브러리 영역 -->
                                <table class="dataTable tbl_include_btn">
                                    <thead>
                                    <tr>
                                        <th>검색결과</th>
                                        <th>탐지사전 반영</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr>
                                        <td>안녕하세요</td>
                                        <td>
                                            <div class="btnBox">
                                                <a href="#none" class="rgst_sentence_apply">등록 문장 내용</a>
                                                <a href="#none" class="rgst_sentenceNum_apply">등록 문장 번호</a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- //.dataTableBox -->
                        </div>
                        <!-- //.setBox -->

                        <!-- .setBox -->
                        <div class="setBox dtcn_dic_add">
                            <h2>탐지사전 입력</h2>

                            <div class="tbl_popup_set tbl_include_btn">
                                <table summary="문장내용, 형태소 분리 문장, 탐지사전(예시), 탐지사전 입력으로 구성됨">
                                    <caption class="hide">탐지사전 입력</caption>
                                    <colgroup>
                                        <col width="120"><col width="50"><col><col width="100"><col width="130">
                                    </colgroup>

                                    <tbody>
                                    <tr>
                                        <th scope="row">문장내용</th>
                                        <td colspan="3"></td>
                                        <td>
                                            <div class="btnBox">
                                                <a href="#none" class="btn_sentence_anls">분석</a>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <th scope="row">형태소 분리 문장</th>
                                        <td colspan="4"></td>
                                    </tr>

                                    <tr>
                                        <th scope="row">탐지사전(예시)</th>
                                        <td colspan="4"></td>
                                    </tr>

                                    <tr>
                                        <th scope="row" rowspan="2">탐지사전 입력</th>
                                        <td>1</td>
                                        <td>
                                            <div class="iptBox">
                                                <input type="text">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btnBox">
                                                <a href="#none" class="btn_sentence_sprt">문장분리</a>
                                            </div>
                                        </td>
                                        <td rowspan="2">
                                            <div class="btnBox">
                                                <a href="#none" class="btn_detectDic_add">탐지사전 추가</a>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td scope="row">2</td>
                                        <td>
                                            <div class="iptBox">
                                                <input type="text">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="btnBox">
                                                <a href="#none" class="btn_delete">삭제</a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- //.setBox -->

                        <!-- .setBox -->
                        <div class="setBox">
                            <h2>탐지사전 리스트</h2>

                            <div class="tbl_popup_set tbl_include_btn">
                                <div class="tbl_hd">
                                    <table summary="탐지사전 번호, 그룹 순번, 연결 순번, 탐지사전 내용으로 구성됨">
                                        <caption class="hide">탐지사전 리스트</caption>
                                        <colgroup>
                                            <col width="100"><col width="80"><col width="80"><col><col width="80"><col width="80">
                                        </colgroup>

                                        <thead>
                                        <tr>
                                            <th scope="col">탐지사전 번호</th>
                                            <th scope="col">그룹 순번</th>
                                            <th scope="col">연결 순번</th>
                                            <th scope="col" colspan="3">탐지사전 내용</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>

                                <div class="tbl_bd tbl_scroll ten_line">
                                    <table>
                                        <colgroup>
                                            <col width="100"><col width="80"><col width="80"><col><col width="80"><col width="80">
                                        </colgroup>

                                        <tbody>
                                        <tr>
                                            <td scope="row">01234</td>
                                            <td>1</td>
                                            <td>1</td>
                                            <td>
                                                <div class="iptBox">
                                                    <input type="text" value="(안녕)(하다)">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="btnBox btn_change_group">
                                                    <a href="#none" class="btn_edit">수정</a>
                                                    <a href="#none" class="btn_cplt btn_edit_show">완료</a>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="btnBox">
                                                    <a href="#none" class="btn_delete">삭제</a>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td scope="row" rowspan="3">01234</td>
                                            <td>2</td>
                                            <td>1</td>
                                            <td>
                                                <div class="iptBox">
                                                    <input type="text" value="(안녕)" readonly>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="btnBox btn_change_group">
                                                    <a href="#none" class="btn_edit">수정</a>
                                                    <a href="#none" class="btn_cplt btn_edit_show">완료</a>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="btnBox">
                                                    <a href="#none" class="btn_delete">삭제</a>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td rowspan="2">3</td>
                                            <td>1</td>
                                            <td>
                                                <div class="iptBox">
                                                    <input type="text" value="(하다)" readonly>
                                                </div>
                                            </td>
                                            <td rowspan="2">
                                                <div class="btnBox btn_change_group">
                                                    <a href="#none" class="btn_edit">수정</a>
                                                    <a href="#none" class="btn_cplt btn_edit_show">완료</a>
                                                </div>
                                            </td>
                                            <td rowspan="2">
                                                <div class="btnBox">
                                                    <a href="#none" class="btn_delete">삭제</a>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>2</td>
                                            <td>
                                                <div class="iptBox">
                                                    <input type="text" value="(안녕)(하다)" readonly>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td scope="row" colspan="6">조회된 데이터가 없습니다.</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- //.setBox -->
                    </div>
                    <!-- //.pop_mdl -->

                    <!-- .pop_btm -->
                    <div class="pop_btm">
                        <div class="btnBox">
                            <a href="#none" class="btn_save">저장</a>
                            <a href="#none" class="btn_close">닫기</a>
                        </div>
                    </div>
                    <!-- //.pop_btm -->
                </div>
            </div>
        </section>
    </modal-component>
</template>

<script>
import ModalComponent from "./ModalComponent";
import {mapActions} from "vuex";
import PaginationComponent from "@/components/pagination/PaginationComponent";

export default {
    name: "ConsultSentenceConfigModal",
    components: {PaginationComponent, ModalComponent},
    props: {
        parameters: {
            type: Object,
            default: {}
        },
    },
    watch: {

    },
    data(){
        return {
            searchParam: {
                scrp: null,
            },
            sentences: [],
            activeSentences: [],
            sentence: {
                set: [],
                del: [],
            },
            consult: this.parameters.consult,
            manageRepository: this.parameters.repositoryFactory.get('manage'),
            pagination: {
                length: 0, // total row
                rowsPerPage: 5, // row per page
                now: 1, // now page
                navigationLength: 10, // navigation length
                callback: this.paginationCallback, // callback
                startRow: 0, // startRow
                endRow: 0, // endRow
                sortingColumn: null,
                sorting: null,
            },
        }
    },
    computed: {

    },
    methods: {
        ...mapActions('base', {
            removeModal: 'removeModal',
        }),
        closeModal() {
            this.removeModal(this);
        },
        paginationCallback() {
            this.getSentences(null);
        },
    },
    mounted() {

    },
    created() {

    }
}
</script>

<style lang="scss" scoped>
    @import '~css/popup';
</style>