<template>
    <modal-component modal-add-class="small" :modal-add-style="{width: 'auto', height: 'auto'}" :is-close="true" @modal:close="closeModal">
        <section slot="title">
            문장 추가
        </section>
        <section slot="content">
            <div class="admin large">
                <!-- .counsel_stn_manage -->
                <div class="counsel_stn_manage">
                    <!-- .pop_mdl -->
                    <div class="pop_mdl">
                        <!-- .setBox -->
                        <div class="setBox add_sentence">
                            <h2>문장 검색</h2>

                            <div class="srchBox">
                                <input v-model="searchParam.scrp" type="search">
                                <a @click="getSentences(true)" class="btn_srch">
                                    <span>검색버튼</span>
                                </a>
                            </div>

                            <!-- .dataTableBox -->
                            <div class="dataTableBox">
                                <!-- [D] datatables 라이브러리 영역 -->
                                <table class="dataTable tbl_include_btn">
                                    <thead>
                                    <tr>
                                        <th>NO</th>
                                        <th>상담 문장</th>
                                        <th>선택</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-if="sentences == null || sentences.length === 0">
                                        <td colspan="3">
                                            조회된 데이터가 없습니다.
                                        </td>
                                    </tr>
                                    <tr v-else v-for="(item, index) in sentences">
                                        <td v-text="item.rowNum">6</td>
                                        <td v-text="item.scrp">안내사항</td>
                                        <td>
                                            <div class="btnBox">
                                                <a @click="setSentence(item)" class="btn_slt">선택</a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- //.dataTableBox -->
                            <v-app>
                                <pagination-component :pagination="pagination"/>
                            </v-app>
                        </div>
                        <!-- //.setBox -->

                        <!-- .setBox -->
                        <div class="setBox add_sentence">
                            <h2>선택 문장 리스트</h2>

                            <div class="tbl_popup_set tbl_include_btn">
                                <div class="tbl_hd">
                                    <table summary="NO, 상담 문장, 삭제(버튼)으로 구성됨">
                                        <caption class="hide">선택 문장 리스트</caption>
                                        <colgroup>
                                            <col width="50"><col><col width="80">
                                        </colgroup>

                                        <thead>
                                        <tr>
                                            <th scope="col">NO</th>
                                            <th scope="col">상담 문장</th>
                                            <th scope="col">삭제</th>
                                        </tr>
                                        </thead>
                                    </table>
                                </div>

                                <div class="tbl_bd tbl_scroll ten_line">
                                    <table>
                                        <colgroup>
                                            <col width="50"><col><col width="80">
                                        </colgroup>

                                        <tbody>
                                        <tr v-if="activeSentences == null || activeSentences.length === 0">
                                            <td colspan="3">
                                                조회된 데이터가 없습니다.
                                            </td>
                                        </tr>
                                        <tr v-else v-for="(item, index) in activeSentences">
                                            <td v-text="index+1">6</td>
                                            <td v-text="item.scrp">안내사항</td>
                                            <td>
                                                <div class="btnBox">
                                                    <a @click="delSentence(item)" class="btn_slt">삭제</a>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- //.setBox -->
                    </div>
                    <!-- //.pop_mdl -->

                    <!-- .pop_btm -->
                    <div class="pop_btm">
                        <div class="btnBox">
                            <a @click="setAndDelConsultSectionSentences" class="btn_save">저장</a>
                            <a @click="closeModal" class="btn_close">닫기</a>
                        </div>
                    </div>
                    <!-- //.pop_btm -->
                </div>
                <!-- //.counsel_stn_manage -->
            </div>
        </section>
    </modal-component>
</template>

<script>
import ModalComponent from "./ModalComponent";
import {mapActions} from "vuex";
import PaginationComponent from "@/components/pagination/PaginationComponent";

export default {
    name: "ConsultSentenceModal",
    components: {PaginationComponent, ModalComponent},
    props: {
        parameters: {
            type: Object,
            default: {}
        },
    },
    watch: {

    },
    data(){
        return {
            searchParam: {
                scrp: null,
            },
            sentences: [],
            activeSentences: [],
            sentence: {
                set: [],
                del: [],
            },
            consult: this.parameters.consult,
            manageRepository: this.parameters.repositoryFactory.get('manage'),
            pagination: {
                length: 0, // total row
                rowsPerPage: 5, // row per page
                now: 1, // now page
                navigationLength: 10, // navigation length
                callback: this.paginationCallback, // callback
                startRow: 0, // startRow
                endRow: 0, // endRow
                sortingColumn: null,
                sorting: null,
            },
        }
    },
    computed: {

    },
    methods: {
        ...mapActions('base', {
            removeModal: 'removeModal',
        }),
        closeModal() {
            this.removeModal(this);
        },
        paginationCallback() {
            this.getSentences(null);
        },
        async getSentences(flag){
            if(flag) this.pagination.startRow = 0;
            const {data: result} = await this.manageRepository.getSentences({...this.searchParam, ...{startRow: this.pagination.startRow, rowsPerPage: this.pagination.rowsPerPage}});
            if(result.status === 'NOT_FOUND') console.log('조회결과 없음 - 문장 목록');
            result.data.forEach((v, i) => v.rowNum = (this.pagination.now - 1) * this.pagination.rowsPerPage + (i + 1));
            this.pagination.length = result.length;
            this.sentences = result.data;
        },
        async getConsultSentences(){
            const {data: result} = await this.manageRepository.getConsultSentences(this.consult.cuslCd, this.consult.cuslAppOrd);
            if(result.status === 'NOT_FOUND') console.log('조회결과 없음 - 등록된 문장 목록');
            this.activeSentences = result.data;
        },
        setSentence(item){
            const index = _.findIndex(this.sentence.del, v => v.dtctDtcNo === item.dtctDtcNo);
            if(index >= 0){
                this.sentence.del.splice(index, 1);
                this.activeSentences.push({...item, ...{flag: 'SET'}});
            }else if(0 > index && _.findIndex(this.activeSentences, v => v.dtctDtcNo === item.dtctDtcNo) === -1){
                this.sentence.set.push(item);
                this.activeSentences.push({...item, ...{flag: 'SET'}});
            }
        },
        delSentence(item){
            if(item.flag){
                this.sentence.set.splice(_.findIndex(this.sentence.set, v => v == item), 1);
            }else{
                this.sentence.del.push(item);
            }
            this.activeSentences.splice(_.findIndex(this.activeSentences, v => v == item), 1);
        },
        async setAndDelConsultSectionSentences(){
            let apiResult = {
                set: null,
                del: null,
            };
            let msg = '작업이 완료되었습니다.';
            if(this.sentence.set.length > 0){
                const {data: result} = await this.manageRepository.setConsultSectionSentences(this.consult.cuslCd, this.consult.cuslAppOrd, this.sentence.set);
                apiResult.set = result.status;
                switch (apiResult.set){
                    case 'SUCCESS':
                        msg += '\n문장등록 성공'
                        break;
                    case 'PARTIAL_SUCCESS':
                        msg += '\n문장등록 부분실패, 데이터 롤백'
                        break;
                    case 'FAIL':
                        msg += '\n문장등록 실패'
                        break;
                }
            }
            if(this.sentence.del.length > 0){
                const {data: result} = await this.manageRepository.delConsultSectionSentences(this.consult.cuslCd, this.consult.cuslAppOrd, {data: this.sentence.del});
                apiResult.del = result.status;
                switch (apiResult.del){
                    case 'SUCCESS':
                        msg += '\n문장삭제 성공'
                        break;
                    case 'PARTIAL_SUCCESS':
                        msg += '\n문장삭제 부분실패, 데이터 롤백'
                        break;
                    case 'FAIL':
                        msg += '\n문장삭제 실패'
                        break;
                }
            }
            alert(msg);
            if(!apiResult.set || apiResult.set || apiResult.set === 'SUCCESS' || apiResult.del === 'SUCCESS'){
                this.sentence.set = [];
                this.sentence.del = [];
                await this.getConsultSentences();
                await this.parameters.getConsultSentences();
            }
        },
    },
    mounted() {

    },
    created() {
        Promise.all([this.getSentences(), this.getConsultSentences()]);
    }
}
</script>

<style lang="scss" scoped>
    @import '~css/popup';
</style>