<template>
    <modal-component modal-add-class="medium" :modal-add-style="{width: 'auto', height: 'auto'}" :is-close="true" @modal:close="closeModal">
        <section slot="title">
            사용등록
        </section>
        <section slot="content">
            <div class="popup_wrap admin">
                <!-- .counsel_stn_manage -->
                <div class="counsel_stn_manage">
                    <!-- .pop_mdl -->
                    <div class="pop_mdl">
                        <div class="tbl_popup_set">
                            <table summary="상담 코드, 상담 코드명, 적용차수, 적용시작일, 적용종료일, 사용여부로 구성됨">
                                <caption class="hide">상담 설정 내용</caption>
                                <colgroup>
                                    <col width="120"><col><col width="80"><col width="120"><col width="120"><col width="80">
                                </colgroup>

                                <thead>
                                <tr>
                                    <th scope="col">상담 코드</th>
                                    <th scope="col">상담 코드명</th>
                                    <th scope="col">적용차수</th>
                                    <th scope="col">적용시작일</th>
                                    <th scope="col">적용종료일</th>
                                    <th scope="col">사용여부</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr v-if="code.cuslCd">
                                    <td scope="row">
                                        <select v-if="codes.length > 0" v-model="code" class="select">
                                            <option v-for="(item, index) in codes" :value="item" v-text="item.cuslCd" :selected="index === 0">FD0001</option>
                                        </select>
                                        <select v-else v-model="code" class="select" disabled>
                                            <option v-text="code.cuslCd" :value="code">FD0001</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="iptBox">
                                            <input :value="code.cuslNm" type="text" readOnly>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="iptBox">
                                            <input type="text" :value="code.cuslAppOrd" numberOnly readOnly>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="iptBox">
                                            <datepicker @input="$v.code.cuslAppStDt.$model = moment($event).format('yyyyMMDD')" :value="moment($v.code.cuslAppStDt.$model).format('YYYY-MM-DD')" input-class="iptDateTime" :format="'yyyy-MM-dd'" :language="ko"></datepicker>
                                            <p v-if="$v.code.cuslAppEdDt.$error">필수 입력값 입니다.</p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="iptBox">
                                            <datepicker @input="$v.code.cuslAppEdDt.$model = moment($event).format('yyyyMMDD')" :value="moment($v.code.cuslAppEdDt.$model).format('YYYY-MM-DD')" input-class="iptDateTime" :format="'yyyy-MM-dd'" :language="ko"></datepicker>
                                            <p v-if="$v.code.cuslAppEdDt.$error">필수 입력값 입니다.</p>
                                        </div>
                                    </td>
                                    <td>
                                        <select class="select" v-model="code.usedYn">
                                            <option value="Y">Y</option>
                                            <option value="N">N</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr v-else>
                                    <td colspan="6">
                                        등록된 상담코드가 없습니다. 상담코드를 등록해주세요.
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- //.pop_mdl -->

                    <!-- .pop_btm -->
                    <div class="pop_btm">
                        <div class="btnBox">
                            <a @click="flag === 'CREATE' ? setConsultSection() : updConsultSection()" class="btn_save">저장</a>
                            <a v-if="flag !== 'CREATE'" @click="delConsultSection" class="btn_delete">삭제</a>
                        </div>
                    </div>
                    <!-- //.pop_btm -->
                </div>
                <!-- //.counsel_stn_manage -->
            </div>
        </section>
    </modal-component>
</template>

<script>
import ModalComponent from "./ModalComponent";
import {mapActions} from "vuex";
import Datepicker from 'vuejs-datepicker';
import { required, maxLength, minLength, alphaNum } from 'vuelidate/lib/validators';

export default {
    name: "ConsultAddAndEditModal",
    components: {
        ModalComponent,
        Datepicker
    },
    props: {
        parameters: {
            type: Object,
            default: {}
        },
    },
    watch: {

    },
    data(){
        return {
            codes: [],
            code: this.parameters.code || {},
            manageRepository: this.parameters.repositoryFactory.get('manage'),
            flag: 'CREATE'
        }
    },

    validations: {
        code:{
            cuslAppStDt:{
                required,
            },
            cuslAppEdDt:{
                required,
            },
        },
    },
    computed: {

    },
    methods: {
        ...mapActions('base', {
            removeModal: 'removeModal',
        }),
        closeModal() {
            this.removeModal(this);
        },
        async getCodes(){
            const {data: result} = await this.manageRepository.getConsultCodes();
            this.codes = result.data;
            if(this.codes.length > 0){
                this.code = this.codes[0];
            }
        },
        async setConsultSection(){
            this.$v.code.$touch();
            if(!this.$v.code.$invalid){
                const {data: result} = await this.manageRepository.setConsultSection(this.code);
                if(result.status === 'FAIL'){
                    alert('사용등록에 실패하였습니다.');
                }else{
                    alert('사용등록이 완료되었습니다.');
                    await this.parameters.getConsultSections();
                    this.closeModal();
                }
            }
        },
        async updConsultSection(){
            this.$v.code.$touch();
            if(!this.$v.code.$invalid){
                const {data: result} = await this.manageRepository.updConsultSection(this.code);
                if(result.status === 'FAIL'){
                    alert('상담구간 수정에 실패하였습니다.');
                }else{
                    alert('상담구간 수정이 완료되었습니다.');
                    await this.parameters.getConsultSections();
                    this.closeModal();
                }
            }
        },
        async delConsultSection(){
            this.$v.code.$touch();
            if(!this.$v.code.$invalid){
                const {data: result} = await this.manageRepository.delConsultSection(this.code.cuslCd, this.code.cuslAppOrd);
                if(result.status === 'FAIL'){
                    alert('상담구간 삭제에 실패하였습니다.');
                }else{
                    alert('상담구간 삭제가 완료되었습니다.');
                    await this.parameters.getConsultSections();
                    this.closeModal();
                }
            }
        }
    },
    mounted() {

    },
    created() {
        if(!this.code.cuslCd){
            this.getCodes();
        }else{
            this.flag = 'UPDATE';
        }
    }
}
</script>

<style lang="scss" scoped>
    @import '~css/popup';
</style>