<template>
    <modal-component modal-add-class="small" :modal-add-style="{width: 'auto', height: 'auto'}" :is-close="true" @modal:close="closeModal">
        <section slot="title">
            사용자 비밀번호 변경
        </section>
        <section slot="content">
            <div class="admin small">
                <!-- .counsel_stn_manage -->
                <div class="counsel_stn_manage">
                    <!-- .pop_mdl -->
                    <div class="pop_mdl">
                        <div class="setBox">
                            <div class="tbl_popup_set">
                                <table summary="사용자ID, 사용자명, 권한설정으로 구성됨">
                                    <colgroup>
                                        <col width="200">
                                    </colgroup>
                                    <thead>
                                    <tr>
                                        <th scope="col">비밀번호</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="iptBox">
                                                <input v-model="user.userPw" type="password" maxlength="20">
                                            </div>
                                            <p v-if="$v.user.userPw.$error">비밀번호 규칙은 영문+숫자+특수문자 조합 8자리 이상 20자 이하 입니다.</p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- //.pop_mdl -->
                </div>
                <!-- //.counsel_stn_manage -->
            </div>
        </section>
        <section slot="btn">
            <div class="btnBox">
                <a @click="setOrPatchUser" class="btn_lyr_save">저장</a>
                <a @click="closeModal" class="btn_lyr_close">닫기</a>
            </div>
        </section>
    </modal-component>
</template>

<script>
import ModalComponent from "./ModalComponent";
import {mapActions} from "vuex";
import {helpers, maxLength, minLength, required} from 'vuelidate/lib/validators';

const alphaNumAndSpecialValidator = helpers.regex('alphaNumAndSpecial', /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/i);
export default {
    name: "FirstLoginChangePasswordModal",
    components: {ModalComponent},
    props: {
        parameters: {
            type: Object,
            default: {},
        },
    },
    watch: {

    },
    data(){
        return {
            user : {...this.parameters.user, ...{userPw: null}},
            userRepository: this.parameters.repository,
            auths : [],
        }
    },
    validations() {
        return {
            user:{
                userPw:{
                    required,
                    maxLength: maxLength(20),
                    minLength: minLength(8),
                    alphaNumAndSpecialValidator
                },
            },
        }
    },
    methods: {
        ...mapActions('base', {
            removeModal: 'removeModal',
        }),
        closeModal() {
            console.log(this);
            this.removeModal(this);
        },
        async setOrPatchUser(){
            this.$v.user.$touch();
            if(!this.$v.user.$invalid){
                const {data: result} = await this.userRepository.change_password(this.user);
                if(result.status === 'FAIL'){
                    alert('사용자 수정에 실패하였습니다.');
                }else if (result.status === 'PASSWORD_VALIDATE_FAIL'){
                    alert('비밀번호 규칙이 올바르지 않습니다. 규칙은 영문+숫자+특수문자 조합 8자리 이상 20자 이하 입니다.')
                }else if (result.status === 'RESTRICT_USE_PREV_PWD'){
                    alert('이전에 사용된 비밀번호는 사용이 제한됩니다.')
                }else{
                    alert('비밀번호 변경이 완료되었습니다. 다시 로그인 해주세요.');
                    this.parameters.callback();
                    this.closeModal();
                }
            }
        },
    },
    mounted() {

    },
    created() {

    }
}
</script>

<style lang="scss" scoped>
    @import '~css/popup';
</style>