<template>
    <div>
        <modal-component>
            <section slot="title">
                알림
            </section>
            <section slot="content">
                <p>접근 권한이 없습니다.</p>
            </section>
            <section slot="btn">
                <div class="btnBox">
                    <a @click="fn_redirect_main()" class="btn_lyr_save">{{layout === 'PopupLayout' ? '닫기' : '메인으로'}}</a>
                </div>
            </section>
        </modal-component>
    </div>
</template>

<script>
import ModalComponent from "./ModalComponent";
import {mapGetters, mapActions} from "vuex";

export default {
    name: "ForbiddenModal",
    components: {ModalComponent},
    props: {
        parameters: {
            type: Object,
            default: {}
        },
    },
    computed: {
        ...mapGetters('user', {
            userInfo: 'getUserInfo',
        }),
    },
    methods: {
        ...mapActions('base', {
            removeModal: 'removeModal',
        }),

        fn_redirect_main() {
            window.removeEventListener('beforeunload', null);
            if(this.layout === 'PopupLayout') {
                window.close();
            }else {
                this.removeModal(this);
                switch(this.userInfo.userRole) {
                    case "ROLE_ADMIN":
                    case "ROLE_QA_ADMIN": 
                    case "ROLE_UW_ADMIN": this.$router.push('/main/dashboard'); break;
                    case "ROLE_QA_REVIEWER": 
                    case "ROLE_UW_REVIEWER": this.$router.push('/qa/assign/reviewer'); break;
                    case "ROLE_TM_CENTER": this.$router.push('/qa/result'); break;
                    default: alert("오류가 발생했습니다.");
                }
            }
        },
    },
    mounted() {
        
    },
    data() {
        return {
            layout: this.$route.meta.layout,
        }
    },
}
</script>

<style>

</style>
