<template>
    <transition name="modal">
        <div :id="modalAddId" :class="'lyrBox '+modalAddClass" :style="modalAddStyle">
            <div class="lyr_hd">
                <a v-show="isClose" @click="closeClicked" class="btn_lyr_close">닫기</a>
                <slot name="title">
                </slot>
            </div>
            <div class="lyr_ct">
                <slot name="content"></slot>
            </div>
            <div class="lyr_ft">
                <slot name="btn"></slot>
            </div>
        </div>
    </transition>
</template>

<script>
export default {
    props: {
        isClose: {
            type: Boolean,
            default: false,
        },
        modalAddId: {
            type: String,
        },
        modalAddClass: {
            type: String,
        },
        modalAddStyle: {
            type: Object,
        }
    },
    computed: {

    },
    methods: {
        closeClicked() {
            this.$emit('modal:close');
        },
    },
}
</script>
<style>

</style>