<template>
    <div>
        <modal-component>
            <section slot="title">
                알림
            </section>
            <section slot="content">
                <p>접근 권한이 없습니다.</p>
            </section>
            <section slot="btn">
                <div class="btnBox">
                    <a @click="fn_redirect_main()" class="btn_lyr_save">닫기</a>
                </div>
            </section>
        </modal-component>
    </div>
</template>

<script>
import ModalComponent from "./ModalComponent";
import {mapGetters, mapActions} from "vuex";
import {Stomp} from "~assets/js/stomp/stomp.min";
import SockJS from "@/assets/js/sockjs/sockjs.min";

export default {
    name: "RealtimeSttMonitoringModal",
    components: {ModalComponent},
    props: {
        parameters: {
            type: Object,
            default: {}
        },
    },
    data() {
        return {
            sock: new SockJS("/ws"),
            client: null,
        }
    },
    computed: {
        ...mapGetters('user', {
            userInfo: 'getUserInfo',
        }),
    },
    methods: {
        ...mapActions('base', {
            removeModal: 'removeModal',
        }),

        fn_redirect_main() {
            this.removeModal(this);
        },
    },
    async mounted() {
        const {data: result} = await this.parameters.repository.connectStt({callId: this.parameters.callId});
        if(result){
            Stomp.over(this.sock).connect({}, () => {
                Stomp.over(this.sock).subscribe('/ws/subscribe/realtime/monitoring', (msg) => {
                    console.log('modal ===== ' + msg);
                });
            });
        }
    },
}
</script>

<style>

</style>
