<template>
  <div>
    <modal-component
      :modal-add-id="'lyr_standardScriptAddDamboCd_save'"
      :is-close="true"
      @modal:close="closeModal"
      :modal-add-style="{
        width: '580px',
      }"
    >
      <section slot="title">특약코드 조회 및 추가</section>
      <section slot="content">
        <div id="">
          <div class="admin">
            <!-- .sentence_talk_cdtn -->
            <div class="sentence_talk_cdtn">
              <!-- .pop_top -->
              <div class="pop_top">
                <h1></h1>

                <div class="srchBox">
                  <input type="search" v-model="searchParams.keyword" />
                  <a class="btn_srch" @click="onSearch(searchParams.keyword)">
                    <span>검색버튼</span>
                  </a>
                </div>
              </div>
              <!-- //.pop_top -->

              <!-- .pop_mdl -->
              <div class="pop_mdl">
                <!-- .setBox -->
                <div class="setBox">
                  <!-- .dataTableBox -->
                  <div class="dataTableBox">
					<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
					  <table class="dataTable tbl_include_btn no-footer" id="DataTables_Table_0" role="grid">
						<thead>
						  <tr role="row">
						  	<th class="sorting_disabled" rowspan="1" colspan="1" aria-label="보종구분" style="width: 100px;">보종구분</th>
						  	<th class="sorting_disabled" rowspan="1" colspan="1" aria-label="특약코드" style="width: 100px;">특약코드</th>
						  	<th class="sorting_disabled" rowspan="1" colspan="1" aria-label="특약명">특약명</th>
						  	<th class="sorting_disabled" rowspan="1" colspan="1" aria-label="코드추가" style="width: 80px;">코드추가</th>
						  </tr>
						</thead>
						<tbody>
						  <tr role="row" v-if="gridData.length === 0">
							<td colspan="4">조회된 데이터가 없습니다.</td>
							</tr>
						  <template v-else>
							<tr v-for="(item, index) in gridData" :key="index">
							  <td>{{item.prodCat}}</td>
							  <td>{{item.elagCd}}</td>
							  <td>{{item.elagNme}}</td>
							  <td>
							    <div class="btnBox">
							      <a @click="onAdd(item)" class="btn_check">설정</a>
							    </div>
							  </td>
							</tr>
						  </template>
						</tbody>
					  </table>
					</div>
                  </div>
                  <!-- //.dataTableBox -->
                </div>
                <!-- //.setBox -->
              </div>
              <!-- //.pop_mdl -->
            </div>
            <!-- //.eval_tbl_manage -->
          </div>
        </div>
      </section>
      <section slot="btn">
        <div class="btnBox">
          <!-- <a @click="onSubmit()" class="btn_lyr_save">저장</a> -->
          <a @click="closeModal" class="btn_lyr_close">닫기</a>
        </div>
      </section>
    </modal-component>
  </div>
</template>

<script>
import ModalComponent from "./ModalComponent";
import { mapActions } from "vuex";
import PaginationComponent from "../pagination/PaginationComponent";

export default {
  name: "StandardScriptAddDamboCdModal",
  components: { ModalComponent, PaginationComponent },
  props: {
    parameters: {
      type: Object,
      default: {},
    },
  },
  methods: {
    ...mapActions("base", {
      removeModal: "removeModal",
    }),
    closeModal() {
      this.removeModal(this);
    },
    async onSubmit() {
      this.closeModal();
    },
    // 검색 버튼
    onSearch(keyword) {
      this.getDamboCdList(keyword);
    },
    // 추가 버튼
    onAdd(rowInfo) {
      if (confirm("추가하시겠습니까?")) {
        this.addDamboCd({
          damboCd: rowInfo.elagCd,
          damboNm: rowInfo.elagNme,
        });
      }
    },
    // 특약코드 조회
    async getDamboCdList(keyword) {
      const {data: result} = await this.parameters.repository.getSpecialAgList({elagNme: keyword});
      console.log("특약코드 목록 조회 >>>>>");
      console.log(result);
      result.dataList.forEach((item, idx) => {
        item.addBtn = "추가";
      });
      this.gridData = result.dataList;
      this.pagination.length = result.dataList.length;
    },
    // 특약코드 추가
    async addDamboCd(jsonData) {
      const {
        data: result,
      } = await this.parameters.repository.addSpecialAgList(jsonData);
      console.log("특약코드 추가 조회 >>>>>");
      console.log(result);
    },
  },
  mounted() {

  },
  created() {
	  this.getDamboCdList('');
  },
  
  data() {
    return {
      gridHeaders: [
        {
          text: "보종구분",
          value: "prodCat",
          align: "center",
          //   width: 200,
          sortable: true,
        },
        {
          text: "특약코드",
          value: "elagCd",
          align: "center",
          //   width: 200,
          sortable: true,
        },
        {
          text: "특약명",
          value: "elagNme",
          align: "center",
          //   width: 600,
          sortable: true,
        },
        {
          text: "코드추가",
          value: "addBtn",
          align: "center",
          //   width: 200,
          sortable: false,
        },
      ],
      gridData: [],
      pagination: {
        length: 0, // total row
        rowsPerPage: 5, // row per page
        now: 1, // now page
        navigationLength: 10, // navigation length
        callback: this.paginationCallback, // callback
        startRow: 0, // startRow
        endRow: 0, // endRow
        sortingColumn: null,
        sorting: "ASC",
      },
      searchParams: {
        keyword: "",
      },
    };
  },
  mounted() {},
};
</script>

<style lang="scss" scoped>
	@import "~css/popup";
</style>