<template>
  <div>
    <modal-component
      :modal-add-id="'lyr_standardScriptConditionSettings_save'"
      :is-close="true"
      @modal:close="closeModal"
      :modal-add-style="{
        width: '580px',
        height: '300px',
      }"
    >
      <section slot="title">조건항목 설정</section>
      <section slot="content">
        <div class="admin">
          <!-- .sentence_talk_cdtn -->
          <div class="sentence_talk_cdtn">
            <!-- .pop_top -->
            <div class="pop_top">
              <h1></h1>
              <div class="btnBox">
                <a class="btn_delete" @click="onDelete()">삭제</a>
              </div>
            </div>
            <!-- //.pop_top -->

            <!-- .pop_mdl -->
            <div class="pop_mdl">
              <div class="tbl_popup_set">
                <table summary="상품구분, 조건항목명으로 구성">
                  <caption class="hide">
                    조건항목 설정
                  </caption>
                  <colgroup>
                    <col />
                    <col />
                  </colgroup>

                  <thead>
                    <tr>
                      <th scope="col">상품구분</th>
                      <th scope="col">조건항목명</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td scope="row">
                        <select
                          class="select"
                          disabled
                          v-model="params.prodCat"
                        >
                          <option
                            v-for="item in prodCatList"
                            v-bind:key="item.cd"
                            :value="item.cd"
                          >
                            {{ item.cdNm }}
                          </option>
                        </select>
                      </td>
                      <td>
                        <div class="iptBox">
                          <input type="text" v-model="params.condItmNm" />
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- //.pop_mdl -->
          </div>
          <!-- //.eval_tbl_manage -->
        </div>
      </section>
      <section slot="btn">
        <div class="btnBox">
          <a @click="onSubmit()" class="btn_lyr_save">저장</a>
          <a @click="closeModal" class="btn_lyr_close">닫기</a>
        </div>
      </section>
    </modal-component>
  </div>
</template>

<script>
import ModalComponent from "./ModalComponent";
import { mapActions } from "vuex";
import Datepicker from "vuejs-datepicker";
import moment from "moment";

export default {
  name: "StandardScriptConditionSettingsModal",
  components: { ModalComponent, Datepicker },
  props: {
    parameters: {
      type: Object,
      default: {},
    },
  },
  methods: {
    ...mapActions("base", {
      removeModal: "removeModal",
    }),
    closeModal() {
      this.removeModal(this);
    },
    async onSubmit() {
      if (confirm("저장하시겠습니까?")) {
        this.updateConditionItem(this.params);
        this.closeModal();
        setTimeout(() => {
          this.parameters.getMainList(this.pagination);
        }, 50);
      }
    },
    // 삭제 버튼
    onDelete() {
      if (confirm("삭제하시겠습니까?")) {
        this.deleteConditionItem(this.params);
        this.closeModal();
        setTimeout(() => {
          this.parameters.getMainList(this.pagination);
        }, 50);
      }
    },
    //// api
    // 문장발화조건 항목 수정
    async updateConditionItem(jsonData) {
      const {
        data: result,
      } = await this.parameters.repository.editConditionItem(jsonData);
      // console.log(result);
    },
    // 문장발화조건 항목 삭제
    async deleteConditionItem(jsonData) {
      const {
        data: result,
      } = await this.parameters.repository.deleteConditionItem(jsonData);
      // console.log(result);
    },
  },

  mounted() {
    // console.log(this.parameters);
  },
  data() {
    return {
      prodCatList: this.parameters.prodCatList,
      params: {
        condItmCd: this.parameters.rowData.condItmCd,
        prodCat: this.parameters.rowData.prodCat,
        condItmNm: this.parameters.rowData.condItmNm,
      },
    };
  },
};
</script>

<style lang="scss" scoped>
@import "~css/popup";
</style>