<template>
  <modal-component
    :modal-add-id="'lyr_stdScrp_copyProd'"
    :is-close="true"
    @modal:close="closeModal"
    :modal-add-style="{ width: '1000px' }"
  >
    <section slot="title">상품 복사</section>
    <section slot="content">
      <!-- .gnr_script_manage -->
      <div class="admin">
        <div class="gnr_script_manage">
          <!-- .pop_top -->
          <div class="pop_top"></div>
          <!-- //.pop_top -->

          <!-- .pop_mdl -->
          <div class="pop_mdl">
            <!-- .setBox -->
            <div class="setBox">
              <h2>복사 대상 상품</h2>

              <div class="tbl_popup_set">
                <table
                  summary="상품코드, 플랜코드, 상품명, 스크립트명, 판매시작일, 판매종료일, 사용여부로 구성됨"
                >
                  <caption class="hide">
                    복사 대상 상품
                  </caption>
                  <colgroup>
                    <col width="80" />
                    <col width="80" />
                    <col />
                    <col />
                    <col width="100" />
                    <col width="100" />
                    <col width="80" />
                  </colgroup>

                  <thead>
                    <tr>
                      <th scope="col">상품코드</th>
                      <th scope="col">플랜코드</th>
                      <th scope="col">상품명</th>
                      <th scope="col">스크립트명</th>
                      <th scope="col">판매시작일</th>
                      <th scope="col">판매종료일</th>
                      <th scope="col">사용여부</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td scope="row">{{ parameters.copyTarget.prodCd }}</td>
                      <td>{{ parameters.copyTarget.plnCd }}</td>
                      <td>{{ parameters.copyTarget.prodNm }}</td>
                      <td>{{ parameters.copyTarget.scprNm }}</td>
                      <td>{{ parameters.copyTarget.saleStDt }}</td>
                      <td>{{ parameters.copyTarget.saleEdDt }}</td>
                      <td>{{ parameters.copyTarget.usedYn }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- //.setBox -->

            <!-- .setBox -->
            <div class="setBox">
              <h2>상품 조회</h2>

              <div class="btnBox">
                <a
                  class="btn_srch"
                  @click="
                    getModalProdList(searchParams.prodCd, searchParams.prodNm)
                  "
                  >조회</a
                >
              </div>

              <div class="tbl_popup_set">
                <table summary="상품명, 상품코드로 구성됨">
                  <caption class="hide">
                    상품 조회
                  </caption>
                  <colgroup>
                    <col />
                    <col />
                  </colgroup>

                  <thead>
                    <tr>
                      <th scope="col">상품명</th>
                      <th scope="col">상품코드</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td scope="row">
                        <div class="iptBox">
                          <input type="text" v-model="searchParams.prodNm" />
                        </div>
                      </td>
                      <td>
                        <div class="iptBox">
                          <input type="text" v-model="searchParams.prodCd" />
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- //.setBox -->

            <!-- .setBox -->
            <div class="setBox">
              <h2>상품 리스트</h2>

              <div class="btnBox">
                <a
                  class="btn_copy"
                  @click="
                    parameters.copyProduct({
                      prodCat: copyingInfo.prodCat,
                      prodCd: copyingInfo.prodCd,
                      plnCd: copyingInfo.plnCd,
                      targetProdCat: parameters.copyTarget.prodCat,
                      targetProdCd: parameters.copyTarget.prodCd,
                      targetPlnCd: parameters.copyTarget.plnCd,
                    })
                  "
                  >복사</a
                >
              </div>

              <div class="tbl_popup_set">
                <table
                  summary="선택(라디오버튼), 상품코드, 플랜코드, 상품명, 스크립트명, 판매시작일, 판매종료일, 사용여부로 구성됨"
                >
                  <caption class="hide">
                    상품 리스트
                  </caption>
                  <colgroup>
                    <col width="50" />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                    <col />
                  </colgroup>

                  <thead>
                    <tr>
                      <th scope="col">선택</th>
                      <th scope="col">상품코드</th>
                      <th scope="col">플랜코드</th>
                      <th scope="col">상품명</th>
                      <th scope="col">스크립트명</th>
                      <th scope="col">판매종료일</th>
                      <th scope="col">사용여부</th>
                    </tr>
                  </thead>

                  <tbody>
                    <template v-if="prodList.length > 0">
                      <tr v-for="(item, idx) in prodList" v-bind:key="idx">
                        <td scope="row">
                          <!-- [D] input[type="radio"]의 id와 label의 for값을 동일하게 주고 선택 범위 동일 시 name값 동일하게 주어야함 -->
                          <div class="radioBox">
                            <input
                              :disabled="
                                item.prodCd === parameters.copyTarget.prodCd &&
                                item.prodCat ===
                                  parameters.copyTarget.prodCat &&
                                item.plnCd === parameters.copyTarget.plnCd
                              "
                              type="radio"
                              name="radio_slt"
                              :id="`radio${idx}`"
                              @click="setCopyingInfo(item)"
                            />
                            <label :for="`radio${idx}`"></label>
                          </div>
                        </td>
                        <td>{{ item.prodCd }}</td>
                        <td>{{ item.plnCd }}</td>
                        <td>{{ item.prodNm }}</td>
                        <td>{{ item.scprNm }}</td>
                        <td>{{ item.saleEdDt }}</td>
                        <td>{{ item.usedYn }}</td>
                      </tr>
                    </template>
                    <template v-else>
                      <tr>
                        <td colspan="8">조회된 데이터가 없습니다.</td>
                      </tr>
                    </template>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- //.setBox -->
          </div>
          <!-- //.pop_mdl -->
        </div>
        <!-- //.gnr_script_manage -->
      </div>
    </section>
    <section slot="btn">
      <div class="btnBox">
        <a @click="[closeModal(), clearData()]" class="btn_lyr_save">저장</a>
        <a @click="[closeModal(), clearData()]" class="btn_lyr_close">취소</a>
      </div>
    </section>
  </modal-component>
</template>

<script>
import ModalComponent from "./ModalComponent";

import Datepicker from "vuejs-datepicker";
import { mapActions } from "vuex";

export default {
  name: "StandardScriptProdCopyModal",
  components: {
    ModalComponent,
    Datepicker,
  },
  props: {
    parameters: {
      type: Object,
      default: {},
    },
  },
  data() {
    return {
      searchParams: {
        prodCd: null,
        prodNm: null,
      },
      copyingInfo: {}, // 복사할 내용 (라디오 선택된 대상 data)
      creatorId: this.parameters.userInfo.userId,
      updatorId: this.parameters.userInfo.userId,
      prodList: [],
    };
  },
  methods: {
    ...mapActions("base", {
      removeModal: "removeModal",
      setModal: "setModal",
    }),
    closeModal() {
      this.removeModal(this);
    },
    clearData() {
      this.searchParams = { prodCd: null, prodNm: null };
      this.copyingInfo = {};
      this.prodList = {};
    },
    setCopyingInfo(rowData) {
      this.copyingInfo = rowData;
    },
    // copy modal 내 상품 목록 조회
    async getModalProdList(prodCd, prodNm) {
      const jsonData = { prodCd: prodCd, prodNm: prodNm };
      const { data: result } = await this.parameters.repository.getProductList(
        jsonData
      );
      console.log("상품복사팝업 리스트 >>>>>");
      console.log(result);
      this.prodList = result.list;
    },
  },
  mounted() {
    // console.log(this.parameters);
  },
};
</script>

<style lang="scss" scoped>
@import "~css/popup";
::v-deep .vdp-datepicker__calendar {
  position: fixed;
  top: auto;
  // bottom: 100%;
}
</style>