<template>
  <modal-component
    :modal-add-id="'lyr_stdScrp_copyProd'"
    :is-close="true"
    @modal:close="closeModal"
    :modal-add-style="{ width: '1000px' }"
  >
    <section slot="title">상품 설정</section>
    <section slot="content">
      <div class="gnr_script_manage">
        <div class="pop_top">
          <div class="btnBox">
            <a
              class="btn_delete"
              :style="{ float: 'right', marginBottom: '10px' }"
              @click.prevent="
                [
                  // 삭제 api
                  parameters.addProduct({
                    prodCat: prodCat,
                    prodCd: prodCd,
                    plnCd: plnCd,
                    mode: 'D',
                  }),
                  closeModal(),
                ]
              "
              >삭제</a
            >
          </div>
        </div>
        <div class="pop_mdl">
          <div class="setBox">
            <div class="tbl_popup_set">
              <table
                summary="상품구분, 상품코드, 플랜코드, 상품명, 스크립트명, 판매시작일, 판매종료일, 사용여부로 구성됨"
              >
                <caption class="hide">
                  상품 설정
                </caption>

                <colgroup>
                  <col width="100" />
                  <col width="80" />
                  <col width="80" />
                  <col />
                  <col />
                  <col width="120" />
                  <col width="120" />
                  <col width="80" />
                </colgroup>

                <thead>
                  <tr>
                    <th scope="col">상품구분</th>
                    <th scope="col">상품코드</th>
                    <th scope="col">플랜코드</th>
                    <th scope="col">상품명</th>
                    <th scope="col">스크립트명</th>
                    <th scope="col">판매시작일</th>
                    <th scope="col">판매종료일</th>
                    <th scope="col">사용여부</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>
                      <select class="select" defaultValue="G" v-model="prodCat">
                        <option value="G">G</option>
                        <option value="L">L</option>
                      </select>
                    </td>
                    <td>
                      <div class="iptBox">
                        <input type="text" v-model="prodCd" />
                      </div>
                    </td>
                    <td>
                      <div class="iptBox">
                        <input type="text" v-model="plnCd" />
                      </div>
                    </td>
                    <td>
                      <div class="iptBox">
                        <input type="text" v-model="prodNm" />
                      </div>
                    </td>
                    <td>
                      <div class="iptBox">
                        <input type="text" v-model="scprNm" />
                      </div>
                    </td>
                    <td>
                      <div class="iptBox">
                        <datepicker
                          id="datepickerStDt"
                          input-class="iptDateTime"
                          :value="moment(saleStDt).format('YYYY-MM-DD')"
                          @input="saleStDt = moment($event).format('yyyyMMDD')"
                          :format="'yyyy-MM-dd'"
                          :language="ko"
                        >
                        </datepicker>
                      </div>
                    </td>
                    <td>
                      <div class="iptBox">
                        <datepicker
                          :style="{}"
                          id="datepickerEdDt"
                          input-class="iptDateTime"
                          :value="moment(saleEdDt).format('YYYY-MM-DD')"
                          @input="saleEdDt = moment($event).format('yyyyMMDD')"
                          :language="ko"
                          format="yyyy-MM-dd"
                        >
                        </datepicker>
                      </div>
                    </td>
                    <td>
                      <select class="select" defaultValue="Y" v-model="usedYn">
                        <option value="Y">Y</option>
                        <option value="N">N</option>
                      </select>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section slot="btn">
      <div class="btnBox">
        <a
          @click.prevent="
            [
              parameters.addProduct({
                prodCat: prodCat,
                prodCd: prodCd,
                plnCd: plnCd,
                prodNm: prodNm,
                scprNm: scprNm,
                saleStDt: moment(saleStDt).format('YYYYMMDD'),
                saleEdDt: moment(saleEdDt).format('YYYYMMDD'),
                usedYn: usedYn,
                creatorId: creatorId,
                updatorId: updatorId,
                mode: 'U',
              }),
              closeModal(),
            ]
          "
          class="btn_lyr_save"
          >저장</a
        >
        <a @click="closeModal" class="btn_lyr_close">취소</a>
      </div>
    </section>
  </modal-component>
</template>

<script>
import ModalComponent from "./ModalComponent";
import Datepicker from "vuejs-datepicker";
import { mapActions } from "vuex";
import moment from "moment";
export default {
  name: "StandardScriptProdSettingsModal",
  components: {
    ModalComponent,
    Datepicker,
  },
  props: {
    parameters: {
      type: Object,
      default: {},
    },
  },
  data() {
    return {
      prodCat: this.parameters.prodData.prodCat,
      prodCd: this.parameters.prodData.prodCd,
      plnCd: this.parameters.prodData.plnCd,
      chkAppOrd: this.parameters.prodData.chkAppOrd,
      saleStDt: this.parameters.prodData.saleStDt,
      saleEdDt: this.parameters.prodData.saleEdDt,
      prodNm: this.parameters.prodData.prodNm,
      scprNm: this.parameters.prodData.scprNm,
      usedYn: this.parameters.prodData.usedYn,
      // bundleYn: this.parameters.prodData.bundleYn,
      creatorId: this.parameters.userInfo.userId,
      updatorId: this.parameters.userInfo.userId,
    };
  },
  methods: {
    ...mapActions("base", {
      removeModal: "removeModal",
      setModal: "setModal",
    }),
    closeModal() {
      this.removeModal(this);
    },
  },
  mounted() {
    console.log(this.parameters.prodData);
    // this.saleEdDt = moment(this.parameters.saleStDt);
  },
};
</script>

<style lang="scss" scoped>
@import "~css/popup";
::v-deep .vdp-datepicker__calendar {
  position: fixed;
  top: auto;
  // bottom: 100%;
}
</style>