<template>
  <div>
    <modal-component
      :modal-add-id="'lyr_standardScriptAddSentence_save'"
      :is-close="true"
      @modal:close="closeModal"
      :modal-add-style="{
        width: '920px',
        height: `${450 + submitList.length * 50}px,`,
      }"
    >
      <section slot="title">문장 추가</section>
      <section slot="content">
        <div class="admin">
          <!-- .sentence_manage -->
          <div class="sentence_manage">
            <!-- .pop_top -->
            <div class="pop_top">
              <h1></h1>
            </div>
            <!-- //.pop_top -->

            <!-- .pop_mdl -->
            <div class="pop_mdl">
              <!-- .setBox -->
              <div class="setBox">
                <h2>문장 추가</h2>

                <div class="btnBox">
                  <a class="btn_add_item" @click="addItem(addSentenceForm)"
                    >추가</a
                  >
                </div>

                <div class="tbl_popup_set">
                  <table
                    summary="문장내용, 특약코드, 특약명, 고객답변, 답변내용, 필수문장으로 구성됨"
                  >
                    <caption class="hide">
                      문장 추가 내용
                    </caption>
                    <colgroup>
                      <col />
                      <col />
                      <!-- <col width="120" />
                      <col width="120" /> -->
                      <col width="80" />
                      <col width="100" />
                      <!-- <col width="80" /> -->
                    </colgroup>

                    <thead>
                      <tr>
                        <th scope="col">가이드 문장</th>
                        <th scope="col">문장내용</th>
                        <!-- <th scope="col">특약코드</th>
                        <th scope="col">특약명</th> -->
                        <th scope="col">고객답변</th>
                        <th scope="col">답변내용</th>
                        <!-- <th scope="col">필수문장</th> -->
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td scope="row">
                          <div class="iptBox">
                            <input
                              type="text"
                              v-model="addSentenceForm.gudStmt"
                            />
                          </div>
                        </td>
                        <td scope="row">
                          <div class="iptBox">
                            <input type="text" v-model="addSentenceForm.scrp" />
                          </div>
                        </td>
                        <!-- <td>
                          <div class="iptBox">
                            <input
                              type="text"
                              v-model="addSentenceForm.damboCd"
                            />
                          </div>
                        </td>
                        <td>
                          <div class="iptBox">
                            <input
                              type="text"
                              v-model="addSentenceForm.damboNm"
                            />
                          </div>
                        </td> -->
                        <td>
                          <select
                            class="select"
                            v-model="addSentenceForm.custAnsYn"
                          >
                            <option value="Y">Y</option>
                            <option value="N">N</option>
                          </select>
                        </td>
                        <td>
                          <select
                            class="select"
                            v-model="addSentenceForm.ansCd"
                          >
                            <option
                              v-for="(item, idx) in ansList"
                              v-bind:key="idx"
                              :value="item.ansCd"
                            >
                              {{ item.ansNm }}
                            </option>
                            <!-- <option value="긍정답변">긍정답변</option>
                              <option value="부정답변">부정답변</option> -->
                          </select>
                        </td>
                        <!-- <td>
                          <select
                            class="select"
                            v-model="addSentenceForm.estyScrpYn"
                          >
                            <option value="Y">Y</option>
                            <option value="N">N</option>
                          </select>
                        </td> -->
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- //.setBox -->

              <!-- .setBox -->
              <div class="setBox">
                <h2>추가 문장 리스트</h2>

                <div class="tbl_popup_set tbl_include_btn">
                  <div class="tbl_hd">
                    <table
                      summary="NO, 문장내용, 특약코드, 특약명, 고객답변, 답변내용, 필수문장, 삭제(버튼)로 구성됨"
                    >
                      <caption class="hide">
                        추가 문장 리스트
                      </caption>
                      <colgroup>
                        <col width="50" />
                        <col width="283" />
                        <col />
                        <!-- <col width="120" />
                        <col width="120" /> -->
                        <col width="80" />
                        <col width="100" />
                        <!-- <col width="80" /> -->
                        <col width="80" />
                      </colgroup>

                      <thead>
                        <tr>
                          <th scope="col">NO</th>
                          <th scope="col">가이드 문장</th>
                          <th scope="col">문장내용</th>
                          <!-- <th scope="col">특약코드</th>
                          <th scope="col">특약명</th> -->
                          <th scope="col">고객답변</th>
                          <th scope="col">답변내용</th>
                          <!-- <th scope="col">필수문장</th> -->
                          <th scope="col">삭제</th>
                        </tr>
                      </thead>
                    </table>
                  </div>

                  <div class="tbl_bd tbl_scroll ten_line">
                    <table>
                      <colgroup>
                        <col width="50" />
                        <col />
                        <col />
                        <!-- <col width="120" />
                        <col width="120" /> -->
                        <col width="80" />
                        <col width="100" />
                        <col width="80" />
                        <col width="80" />
                      </colgroup>

                      <tbody>
                        <tr v-if="submitList.length < 1">
                          <td colspan="8">조회된 데이터가 없습니다.</td>
                        </tr>

                        <tr
                          v-else
                          v-for="(item, idx) in submitList"
                          v-bind:key="idx"
                        >
                          <td scope="row">{{ idx + 1 }}</td>
                          <td>
                            <div class="iptBox">
                              <input
                                type="text"
                                :value="item.gudStmt"
                                disabled
                              />

                              <input type="text" :value="item.scrp" disabled />
                            </div>
                          </td>
                          <td>
                            <div class="iptBox">
                              <input type="text" :value="item.scrp" disabled />
                            </div>
                          </td>
                          <!-- <td>
                            <div class="iptBox">
                              <input
                                type="text"
                                :value="item.damboCd"
                                disabled
                              />
                            </div>
                          </td>
                          <td>
                            <div class="iptBox">
                              <input
                                type="text"
                                :value="item.damboNm"
                                disabled
                              />
                            </div>
                          </td> -->
                          <td>
                            <select
                              class="select"
                              :value="item.custAnsYn"
                              disabled
                            >
                              <option value="Y">Y</option>
                              <option value="N">N</option>
                            </select>
                          </td>
                          <td>
                            <select class="select" :value="item.ansCd" disabled>
                              <option
                                v-for="(item, idx) in ansList"
                                v-bind:key="idx"
                                :value="item.ansCd"
                              >
                                {{ item.ansNm }}
                              </option>
                              <!-- <option value="긍정답변">긍정답변</option>
                              <option value="부정답변">부정답변</option> -->
                            </select>
                          </td>
                          <!-- <td>
                            <select
                              class="select"
                              :value="item.estyScrpYn"
                              disabled
                            >
                              <option value="Y">Y</option>
                              <option value="N">N</option>
                            </select>
                          </td> -->
                          <td>
                            <div class="btnBox">
                              <a class="btn_delete" @click="deleteItem(idx)"
                                >삭제</a
                              >
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- //.setBox -->
            </div>
            <!-- //.pop_mdl -->
          </div>
          <!-- //.sentence_manage -->
        </div>
      </section>
      <section slot="btn">
        <div class="btnBox">
          <a @click="onSubmit()" class="btn_lyr_save">저장</a>
          <a @click="closeModal" class="btn_lyr_close">닫기</a>
        </div>
      </section>
    </modal-component>
  </div>
</template>

<script>
import ModalComponent from "./ModalComponent";
import { mapActions } from "vuex";

export default {
  name: "StandardScriptAddSentenceModal",
  components: { ModalComponent },
  props: {
    parameters: {
      type: Object,
      default: {},
    },
  },
  data() {
    return {
      ansList: [],
      addSentenceForm: {
        scrp: null,
        gudStmt: null, // api에는 있지만 퍼블에는 없음
        damboCd: null,
        damboNm: null, // 퍼블에는 있지만 api에는 없음
        custAnsYn: null,
        ansCd: null,
        estyScrpYn: null, // 퍼블에는 있지만 api에는 없음
      },
      submitList: [],
    };
  },
  methods: {
    ...mapActions("base", {
      removeModal: "removeModal",
    }),
    closeModal() {
      this.removeModal(this);
    },
    setModalState: function (payload) {
      this.modal_state = payload.modal_state;
    },
    async onSubmit() {
      if (confirm("변경사항을 저장하시겠습니까?")) {
        // console.log(this.submitList);
        this.addSentenceList(this.submitList);
        this.submitList = [];
        this.parameters.getSentenceList(this.parameters.pagination);
        this.closeModal();
      }
    },
    // 추가 버튼
    addItem(jsonData) {
      if (jsonData.scrp) this.submitList.push(jsonData);
      this.addSentenceForm = {
        scrp: null,
        gudStmt: null, // api에는 있지만 퍼블에는 없음
        damboCd: null,
        damboNm: null, // 퍼블에는 있지만 api에는 없음
        custAnsYn: null,
        ansCd: null,
        estyScrpYn: null, // 퍼블에는 있지만 api에는 없음
      };
    },
    //삭제 버튼
    deleteItem(id) {
      this.submitList = this.submitList.filter((item, idx) => idx !== id);
    },
    //// api
    // 답변내용 selectbox 리스트 조회
    async getAnsList() {
      const { data: result } = await this.parameters.repository.getAddPopupList(
        {}
      );
      console.log("답변내용 리스트 조회 >>>>>");
      console.log(result);
      this.ansList = result.dataList;
    },
    // 추가문장리스트 등록
    async addSentenceList(jsonArr) {
      const { data: result } = await this.parameters.repository.addSentenceList(
        jsonArr
      );
      console.log("추가문장리스트 등록 >>>>>");
      console.log(result);
    },
  },
  mounted() {
    this.getAnsList();
    //console.log(this.parameters)
  },
};
</script>

<style lang="scss" scoped>
@import "~css/popup";
</style>