<template>
  <div>
    <modal-component
      :modal-add-id="'lyr_standardScriptEval_save'"
      :is-close="true"
      @modal:close="closeModal"
      :modal-add-style="{
        width: '1000px',
        height: `${700 + 30 * (table2Data.length % 10)}px`,
      }"
    >
      <section slot="title">평가항목 선택</section>
      <section slot="content">
        <div class="admin">
          <!-- .answer_manage -->
          <div class="gnr_script_manage">
            <!-- .pop_top -->
            <div class="pop_top">
              <h1></h1>
            </div>
            <!-- //.pop_top -->

            <!-- .pop_mdl -->
            <div class="pop_mdl">
              <!-- .setBox -->
              <div class="setBox">
                <h2>평가항목 조회</h2>

                <div class="btnBox">
                  <a class="btn_srch" @click="onSearch()">조회</a>
                </div>

                <div class="tbl_popup_set">
                  <table summary="상품구분, 적용차수로 구성됨">
                    <caption class="hide">
                      평가항목 조회
                    </caption>
                    <colgroup>
                      <col width="100" />
                      <col />
                      <col width="100" />
                      <col />
                    </colgroup>

                    <tbody>
                      <tr>
                        <th scope="row">상품구분</th>
                        <td>
                          <select
                            class="select"
                            v-model="searchParams.prodCat"
                            @change="
                              getChkAppOrdList({ cd: searchParams.prodCat })
                            "
                          >
                            <option
                              v-show="prodCatList.length < 1"
                              :disabled="true"
                            >
                              상품구분 정보가 없습니다
                            </option>
                            <option v-show="prodCatList.length > 0" value="">
                              전체
                            </option>
                            <option
                              v-for="(item, idx) in prodCatList"
                              v-bind:key="idx"
                              :value="item.cd"
                            >
                              {{ item.cd }}
                            </option>
                          </select>
                        </td>

                        <th scope="row">적용차수</th>
                        <td>
                          <select
                            class="select"
                            v-model="searchParams.chkAppOrd"
                          >
                            <option
                              v-show="appOrdList.length < 1"
                              :disabled="true"
                            >
                              적용차수 정보가 없습니다
                            </option>

                            <option v-show="appOrdList.length > 0" value="">
                              전체
                            </option>
                            <option
                              v-for="(item, idx) in appOrdList"
                              v-bind:key="idx"
                              :value="item.chkAppOrd"
                            >
                              {{ item.chkAppOrd }}
                            </option>
                          </select>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- //.setBox -->

              <!-- .setBox -->
              <div class="setBox">
                <h2>평가항목 리스트</h2>

                <div class="tbl_popup_set tbl_include_btn">
                  <table
                    summary="상품구분, 적용차수, 적용시작일, 적용종료일, 등록일자, 조회(버튼)으로 구성됨"
                  >
                    <caption class="hide">
                      평가항목 리스트
                    </caption>
                    <colgroup>
                      <col />
                      <col />
                      <col />
                      <col />
                      <col />
                      <col width="80" />
                    </colgroup>

                    <thead>
                      <tr>
                        <th scope="col">상품구분</th>
                        <th scope="col">적용차수</th>
                        <th scope="col">적용시작일</th>
                        <th scope="col">적용종료일</th>
                        <th scope="col">등록일자</th>
                        <th scope="col">조회</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr v-show="table1Data.length < 1">
                        <td colspan="8">조회된 데이터가 없습니다.</td>
                      </tr>
                      <tr v-for="(item, idx) in table1Data" v-bind:key="idx">
                        <td>{{ item.cdNm }}</td>
                        <td>{{ item.chkAppOrd }}</td>
                        <td>{{ item.chkAppStDt }}</td>
                        <td>{{ item.chkAppEdDt }}</td>
                        <td>
                          {{ moment(item.createdTm).format("yyyy-MM-DD") }}
                        </td>
                        <td>
                          <div class="btnBox">
                            <a
                              class="btn_check"
                              @click="
                                getEvalDetailList({
                                  prodCat: item.prodCat,
                                  prodCd: parameters.prodInfo.prodCd,
                                  plnCd: parameters.prodInfo.plnCd,
                                  chkAppOrd: item.chkAppOrd,
                                })
                              "
                              >조회</a
                            >
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <v-app>
                  <pagination-component :pagination="pagination" />
                </v-app>
              </div>
              <!-- //.setBox -->

              <!-- .setBox -->
              <div class="setBox">
                <h2>평가항목 상세 리스트</h2>

                <div class="tbl_popup_set tbl_include_btn">
                  <div class="tbl_hd">
                    <table
                      summary="선택(체크박스), 점검항목 코드, 점검항목명, 점검항목설명, 부분검수여부, 자동검수여부로 구성됨"
                    >
                      <caption class="hide">
                        평가항목 상세 리스트
                      </caption>
                      <colgroup>
                        <col width="50" />
                        <col width="100" />
                        <col width="200" />
                        <col width="200" />
                        <col width="200" />
                        <col width="100" />
                      </colgroup>

                      <thead>
                        <tr>
                          <th scope="col">선택</th>
                          <th scope="col">점검항목 코드</th>
                          <th scope="col">점검항목명</th>
                          <th scope="col">점검항목설명</th>
                          <th scope="col">부분검수여부</th>
                          <th scope="col">자동검수여부</th>
                        </tr>
                      </thead>
                    </table>
                  </div>

                  <div class="tbl_bd tbl_scroll ten_line">
                    <table>
                      <colgroup>
                        <col width="50" />
                        <col width="100" />
                        <col width="200" />
                        <col width="200" />
                        <col width="200" />
                        <col width="100" />
                      </colgroup>

                      <tbody>
                        <tr v-show="table2Data.length < 1">
                          <td colspan="8">조회된 데이터가 없습니다.</td>
                        </tr>
                        <tr v-for="(item, idx) in table2Data" v-bind:key="idx">
                          <td>
                            <!-- [D] input[type="checkbox"]의 id와 label의 for 값을 동일하게 주어야함 -->
                            <div class="chkBox">
                              <input
                                type="checkbox"
                                :id="`each_chk${idx}`"
                                :checked="
                                  table2CheckedList.some(
                                    (itm) => itm.chkItmCd === item.chkItmCd
                                  )
                                "
                                @change="handleCheckboxControl(item)"
                              />
                              <label :for="`each_chk${idx}`"></label>
                            </div>
                          </td>
                          <td>{{ item.chkItmCd }}</td>
                          <td>{{ item.chkItmNm }}</td>
                          <td>{{ item.chkItmDesc }}</td>
                          <td>{{ item.partInspYn }}</td>
                          <td>{{ item.autoInspYn }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- //.setBox -->
            </div>
            <!-- //.pop_mdl -->
          </div>
          <!-- //.answer_manage -->
        </div>
      </section>
      <section slot="btn">
        <div class="btnBox">
          <a @click="onSave()" class="btn_lyr_save">저장</a>
          <a @click="closeModal" class="btn_lyr_close">닫기</a>
        </div>
      </section>
    </modal-component>
  </div>
</template>

<script>
import ModalComponent from "./ModalComponent";
import { mapActions } from "vuex";
import _ from "lodash";
import PaginationComponent from "../pagination/PaginationComponent";

export default {
  name: "StandardScriptEvalModal",
  components: { ModalComponent, PaginationComponent },
  props: {
    parameters: {
      type: Object,
      default: {},
    },
  },
  data() {
    return {
      prodInfo: this.parameters.prodInfo,
      prodCatList: [],
      appOrdList: [],
      searchParams: {
        prodCat: "",
        chkAppOrd: null,
      },
      table1Data: [],
      table2Data: [],
      table2CheckedList: [], // 평가항목 상세리스트 체크된 항목 리스트: DB 데이터
      pagination: {
        length: 0, // total row
        rowsPerPage: 5, // row per page
        now: 1, // now page
        navigationLength: 10, // navigation length
        callback: this.paginationCallback, // callback
        startRow: 0, // startRow
        endRow: 0, // endRow
        sortingColumn: null,
        sorting: "ASC",
      },
      chosenItemList: [], // 평가항목 상세리스트 체크된 항목 리스트: UI
      checkItemApiAdd: [], // 평가항목 상세리스트 선택 추가할 대상
      checkItemApiDelete: [], // 평가항목 상세리스트 선택 삭제할 대상
    };
  },
  methods: {
    ...mapActions("base", {
      removeModal: "removeModal",
      setModal: "setModal",
    }),
    closeModal() {
      this.removeModal(this);
    },
    paginationCallback() {
      this.getData();
    },
    async getData(now) {
      if (now != undefined) {
        this.pagination.now = now;
      }
      this.getEvalMainList(this.searchParams);
    },
    // 메인리스트 조회 버튼
    onSearch() {
      this.table2Data = [];
      this.pagination.now = 1;
      this.getEvalMainList(this.searchParams);
    },
    handleCheckboxControl(evalItem) {
      //   console.log(
      //     this.chosenItemList.some((item) => _.isEqual(item, evalItem))
      //   );
      if (this.chosenItemList.some((item) => _.isEqual(item, evalItem))) {
        //   if (
        //     this.chosenItemList.some((item) => item.chkItmCd === evalItem.chkItmCd)
        //   ) {
        this.checkItemApiDelete.push(evalItem);
        this.chosenItemList = this.chosenItemList.filter(
          (itm) =>
            //   itm.chkItmCd !== evalItem.chkItmCd;
            !_.isEqual(itm, evalItem)
        );
      } else {
        this.checkItemApiDelete = this.checkItemApiDelete.filter(
          (itm) =>
            //   itm.chkItmCd !== evalItem.chkItmCd;
            !_.isEqual(itm, evalItem)
        );
        this.chosenItemList.push(evalItem);
        console.log(this.chosenItemList);
        // this.checkItemApiDelete = this.checkItemApiDelete.filter(
        //   (itm) => itm.chkItmCd !== evalItem.chkItmCd
        // );
      }
      //   console.log(this.chosenItemList);
      //   console.log(this.checkItemApiDelete);
    },
    // 저장 버튼
    onSave() {
      if (confirm("변경사항을 저장하시겠습니까?")) {
        this.handleCheckedItems();
        this.closeModal();
        this.parameters.getProductList();
      }
    },
    // 평가항목 상세리스트 선택 항목 추가/삭제 판별
    handleCheckedItems() {
      if (this.chosenItemList.length > 0) {
        // this.chosenItemList.forEach((item) => {
        //   if (this.table2CheckedList.includes(item)) {
        //     // DB 데이터에는 체크된 상태이지만 UI에서 체크해제: 삭제
        //     this.checkItemApiDelete.push(item);
        //   } else {
        //     // DB 데이터에는 체크해제 상태이지만 UI에서 체크됨: 추가
        //     this.checkItemApiAdd.push(item);
        //   }
        // });
        this.chosenItemList.forEach((item) => {
          item.prodCd = this.prodInfo.prodCd;
          item.plnCd = this.prodInfo.plnCd;
        });
        this.addEvalItem(this.chosenItemList);
      }
      if (this.checkItemApiDelete.length > 0) {
        this.checkItemApiDelete.forEach((item) => {
          item.prodCd = this.prodInfo.prodCd;
          item.plnCd = this.prodInfo.plnCd;
        });
        // console.log(this.checkItemApiDelete);
        this.deleteEvalItem(this.checkItemApiDelete);
      }
      //   if (this.checkItemApiAdd.length > 0) {
      //     this.checkItemApiAdd.forEach((item) => {
      //       item.prodCd = this.prodInfo.prodCd;
      //     });
      //     // console.log(this.checkItemApiAdd);
      //     this.addEvalItem(this.checkItemApiAdd);
      //   }
      this.checkItemApiAdd = [];
      this.checkItemApiDelete = [];
    },
    //// api
    // 상품구분 selectbox 리스트 조회
    async getProdCatList(jsonData) {
      const { data: result } =
        await this.parameters.repository.getEvalModalProdCatList(jsonData);
      console.log("상품구분 리스트 조회 >>>>>");
      console.log(result);
      this.prodCatList = result.codeList;
    },
    // 적용차수 selectbox 리스트 조회
    async getChkAppOrdList(jsonData) {
      const { data: result } =
        await this.parameters.repository.getEvalModalAppOrdList(jsonData);
      console.log("적용차수 리스트 조회 >>>>>");
      console.log(result);
      this.appOrdList = result.appOrdList;
    },
    // 평가항목 메인리스트 조회
    async getEvalMainList(jsonData) {
      console.log("request:");
      console.log(jsonData);
      const { data: result } =
        await this.parameters.repository.getEvalModalMainList(
          Object.assign(this.pagination, jsonData)
        );
      console.log("평가항목 메인리스트 조회 >>>>>");
      console.log(result);
      this.table1Data = result.dataList;
      this.pagination.length = result.totalCnt;
    },
    // 평가항목 상세리스트 조회
    async getEvalDetailList(jsonData) {
      console.log(jsonData);
      const { data: result } =
        await this.parameters.repository.getEvalModalDetailList(jsonData);
      console.log("평가항목 상세리스트 조회 >>>>>");
      console.log(result);
      this.table2Data = result.dataList;
      //   this.table2CheckedList = result.choosedItemList;

      this.table2CheckedList = result.choosedItemList.map((item) => {
        return this.table2Data.find((itm) => itm.chkItmCd === item.chkItmCd);
      });
      this.chosenItemList = _.cloneDeep(this.table2CheckedList);
      console.log(this.chosenItemList);
    },
    // 평가항목 상세리스트 선택 추가
    async addEvalItem(jsonData) {
      const { data: result } = await this.parameters.repository.addEvalItem(
        jsonData
      );
      console.log("평가항목 선택 추가 >>>>>");
      console.log(result);
    },
    // 평가항목 상세리스트 선택 삭제
    async deleteEvalItem(jsonData) {
      const { data: result } = await this.parameters.repository.deleteEvalItem(
        jsonData
      );
      console.log("평가항목 선택 삭제 >>>>>");
      console.log(result);
    },
  },
  mounted() {
    // console.log(this.parameters);
    this.getProdCatList({});
    this.getEvalMainList();
  },
};
</script>

<style lang="scss" scoped>
@import "~css/popup";
</style>