<template>
  <div>
    <modal-component
      :modal-add-id="'lyr_standardScriptAddAnswer_save'"
      :is-close="true"
      @modal:close="closeModal"
      :modal-add-style="{
        width: '580px',
        height:
          formInput.ansCont.length < 3
            ? '500px'
            : formInput.ansCont.length < 5
            ? '560px'
            : formInput.ansCont.length < 7
            ? '660px'
            : '760px',
      }"
    >
      <section slot="title">답변 추가</section>
      <section slot="content">
        <div class="admin">
          <!-- .answer_manage -->
          <div class="answer_manage">
            <!-- .pop_top -->
            <div class="pop_top">
              <h1></h1>
            </div>
            <!-- //.pop_top -->

            <!-- .pop_mdl -->
            <div class="pop_mdl">
              <!-- .setBox -->
              <div class="setBox">
                <h2>답변 추가</h2>

                <div class="btnBox btn_change_group"></div>

                <div class="tbl_popup_set">
                  <table summary="답변명, 답변설명으로 구성됨">
                    <caption class="hide">
                      답변 추가
                    </caption>
                    <colgroup>
                      <col width="150" />
                      <col />
                    </colgroup>

                    <thead>
                      <tr>
                        <th scope="col">답변명</th>
                        <th scope="col">답변설명</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td scope="row">
                          <div class="iptBox">
                            <input type="text" v-model="formInput.ansNm" />
                          </div>
                        </td>
                        <td>
                          <div class="iptBox">
                            <input type="text" v-model="formInput.ansDesc" />
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- //.setBox -->

              <!-- .setBox -->
              <div class="setBox">
                <h2>답변 리스트</h2>

                <div class="btnBox btn_change_group">
                  <!-- <a
                    v-if="!editAnsList"
                    @click="toggleEditAnsListStatus"
                    class="btn_edit"
                    >수정</a
                  > -->
                  <a
                    class="btn_delete"
                    @click="deleteAnsListItem(deleteTargetIdx)"
                    >삭제</a
                  >
                  <!-- <a
                    v-if="editAnsList"
                    @click="toggleEditAnsListStatus"
                    class="btn_cancel"
                    >취소</a
                  > -->
                </div>

                <div class="tbl_popup_set">
                  <div class="tbl_hd">
                    <table
                      summary="선택(체크박스), 답변내용, 추가(버튼)으로 구성됨"
                    >
                      <caption class="hide">
                        답변 리스트
                      </caption>
                      <colgroup>
                        <col width="50" />
                        <col />
                        <col width="50" />
                      </colgroup>

                      <thead>
                        <tr>
                          <th scope="col">선택</th>
                          <th scope="col">답변내용</th>
                          <th scope="col">추가</th>
                        </tr>
                      </thead>
                    </table>
                  </div>

                  <div class="tbl_bd tbl_scroll ten_line" ref="ansListTable">
                    <table>
                      <colgroup>
                        <col width="50" />
                        <col />
                        <col width="50" />
                      </colgroup>

                      <tbody>
                        <tr
                          v-for="(item, idx) in formInput.ansCont"
                          v-bind:key="idx"
                        >
                          <td scope="row">
                            <!-- [D] input[type="checkbox"]의 id와 label의 for 값을 동일하게 주어야함 -->
                            <div class="chkBox">
                              <template v-if="deleteTargetIdx.includes(idx)">
                                <input
                                  type="checkbox"
                                  :id="`each_chk${idx}`"
                                  @change="setDeleteTarget(idx)"
                                  :checked="true"
                              /></template>
                              <template v-else
                                ><input
                                  type="checkbox"
                                  :id="`each_chk${idx}`"
                                  @change="setDeleteTarget(idx)"
                                  :checked="false"
                                />
                              </template>
                              <label :for="`each_chk${idx}`"></label>
                            </div>
                          </td>
                          <td>
                            <div :style="{ textAlign: 'left' }">
                              {{ item }}
                            </div>
                          </td>
                          <td>
                            <div class="btnBox"></div>
                          </td>
                        </tr>
                        <!-- input area (empty) -->
                        <tr>
                          <td scope="row">
                            <!-- [D] input[type="checkbox"]의 id와 label의 for 값을 동일하게 주어야함 -->
                            <div class="chkBox"></div>
                          </td>
                          <td>
                            <div class="iptBox">
                              <input
                                type="text"
                                v-model="newAnsListItem"
                                ref="ansListInput"
                              />
                            </div>
                          </td>
                          <td>
                            <div class="btnBox">
                              <a
                                class="btn_add"
                                @click="addAnsListItem(newAnsListItem)"
                              >
                                <span>추가버튼</span>
                              </a>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- //.setBox -->
            </div>
            <!-- //.pop_mdl -->
          </div>
          <!-- //.answer_manage -->
        </div>
      </section>
      <section slot="btn">
        <div class="btnBox">
          <a @click="onSubmit(formInput)" class="btn_lyr_save">저장</a>
          <a @click="closeModal" class="btn_lyr_close">닫기</a>
        </div>
      </section>
    </modal-component>
  </div>
</template>

<script>
import ModalComponent from "./ModalComponent";
import { mapActions } from "vuex";

export default {
  name: "StandardScriptAddAnswerModal",
  components: { ModalComponent },
  props: {
    parameters: {
      type: Object,
      default: {},
    },
  },
  methods: {
    ...mapActions("base", {
      removeModal: "removeModal",
    }),
    closeModal() {
      this.removeModal(this);
    },
    fn_submit() {
      this.parameters.callback();
    },
    setModalState: function (payload) {
      this.modal_state = payload.modal_state;
    },
    addAnsListItem(item) {
      if (item) {
        this.formInput.ansCont.push(item);
        this.newAnsListItem = null;
        setTimeout(() => {
          this.$refs.ansListInput.focus();
          this.$refs.ansListTable.scrollIntoView({
            block: "end",
            inline: "nearest",
          });
        }, 50);
      }
    },
    setDeleteTarget(idx) {
      if (!this.deleteTargetIdx.includes(idx)) {
        this.deleteTargetIdx.push(idx);
      } else {
        this.deleteTargetIdx = this.deleteTargetIdx.filter(
          (item) => item !== idx
        );
      }
    },
    deleteAnsListItem(targets) {
      let newList = this.formInput.ansCont.filter(
        (item) => !targets.includes(this.formInput.ansCont.indexOf(item))
      );
      this.deleteTargetIdx = [];
      this.formInput.ansCont = newList;
    },
    async onSubmit() {
      // 답변명, 답변설명 => response에서 newAnsCd 받아옴
      const { data: result1 } = await this.parameters.repository.addAns({
        ansNm: this.formInput.ansNm,
        ansDesc: this.formInput.ansDesc,
      });
      console.log("답변명, 답변설명 추가 >>>>>>>");
      console.log(result1);
      let ansCd = result1.newAnsCd;
      // 답변 내용
      let ansObjList = this.formInput.ansCont.map((item, idx) => {
        return { ansCd: ansCd, ansSeq: idx + 1, ansCont: item };
      });
      const { data: result2 } = await this.parameters.repository.addAnsList(
        ansObjList
      );
      console.log("답변내용 목록 추가 >>>>>>>");
      console.log(result2);
      // 테이블 갱신
      setTimeout(
        () => this.parameters.getAnswerMainList(this.parameters.pagination),
        50
      );
      // 입력값 초기화
      this.formInput = {
        ansNm: null,
        ansDesc: null,
        ansCont: [],
      };
      this.closeModal();
    },
  },
  mounted() {
    //console.log(this.parameters)
  },
  data() {
    return {
      modal_state: "",
      editAns: false,
      editAnsList: false,
      formInput: {
        ansNm: null,
        ansDesc: null,
        ansCont: [],
      },
      newAnsListItem: null,
      deleteTargetIdx: [],
    };
  },
};
</script>

<style lang="scss" scoped>
@import "~css/popup";
</style>