<template>
  <div>
    <modal-component
      :modal-add-id="'lyr_standardScriptAddCondition_save'"
      :is-close="true"
      @modal:close="closeModal"
      :modal-add-style="{
        width: '580px',
        height: '260px',
      }"
    >
      <section slot="title">조건항목 등록</section>
      <section slot="content">
        <div class="admin">
          <!-- .sentence_talk_cdtn -->
          <div class="sentence_talk_cdtn">
            <!-- .pop_top -->
            <div class="pop_top">
              <h1></h1>
            </div>
            <!-- //.pop_top -->

            <!-- .pop_mdl -->
            <div class="pop_mdl">
              <div class="tbl_popup_set">
                <table summary="상품구분, 조건항목명으로 구성">
                  <caption class="hide">
                    조건항목 등록
                  </caption>
                  <colgroup>
                    <col />
                    <col />
                  </colgroup>

                  <thead>
                    <tr>
                      <th scope="col">상품구분</th>
                      <th scope="col">조건항목명</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr>
                      <td scope="row">
                        <select class="select" v-model="newCondItem.prodCat">
                          <option
                            v-for="item in prodCatList"
                            v-bind:key="item.cd"
                            :value="item.cd"
                          >
                            {{ item.cdNm }}
                          </option>
                        </select>
                      </td>
                      <td>
                        <div class="iptBox">
                          <input type="text" v-model="newCondItem.condItmNm" />
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- //.pop_mdl -->
          </div>
          <!-- //.eval_tbl_manage -->
        </div>
      </section>
      <section slot="btn">
        <div class="btnBox">
          <a @click="onSubmit()" class="btn_lyr_save">저장</a>
          <a @click="closeModal" class="btn_lyr_close">닫기</a>
        </div>
      </section>
    </modal-component>
  </div>
</template>

<script>
import ModalComponent from "./ModalComponent";
import { mapActions } from "vuex";
import Datepicker from "vuejs-datepicker";
import moment from "moment";

export default {
  name: "StandardScriptAddConditionModal",
  components: { ModalComponent, Datepicker },
  props: {
    parameters: {
      type: Object,
      default: {},
    },
  },
  methods: {
    ...mapActions("base", {
      removeModal: "removeModal",
    }),
    closeModal() {
      this.removeModal(this);
    },
    async onSubmit() {
      if (confirm("변경사항을 저장하시겠습니까?")) {
        this.addConditionItem(this.newCondItem);
        this.closeModal();
        setTimeout(() => {
          this.parameters.getMainList(this.parameters.pagination);
        }, 50);
      }
    },
    //// api
    // 문장발화구분 항목 추가
    async addConditionItem(jsonData) {
      const { data: result } =
        await this.parameters.repository.addConditionItem(jsonData);
      // console.log(result);
    },
  },
  mounted() {
    // console.log(this.parameters);
  },
  data() {
    return {
      prodCatList: this.parameters.prodCatList,
      newCondItem: { prodCat: null, condItmNm: null },
    };
  },
};
</script>

<style lang="scss" scoped>
@import "~css/popup";
</style>