<template>
  <div>
    <modal-component
      :modal-add-id="'lyr_standardScriptAnswerSettings_save'"
      :is-close="true"
      @modal:close="closeModal"
      :modal-add-style="{
        width: '580px',
        height:
          parameters.rowInfo.ansCont.length < 4
            ? '500px'
            : parameters.rowInfo.ansCont.length < 6
            ? '560px'
            : parameters.rowInfo.ansCont.length < 8
            ? '660px'
            : '760px',
      }"
    >
      <section slot="title">답변 설정</section>
      <section slot="content">
        <div class="admin">
          <!-- .answer_manage -->
          <div class="answer_manage">
            <!-- .pop_top -->
            <div class="pop_top">
              <h1></h1>
            </div>
            <!-- //.pop_top -->

            <!-- .pop_mdl -->
            <div class="pop_mdl">
              <!-- .setBox -->
              <div class="setBox">
                <h2>답변 삭제 및 수정</h2>

                <div class="btnBox btn_change_group">
                  <a
                    class="btn_delete"
                    @click="onAnsDelete(parameters.rowInfo.ansCd)"
                    >삭제</a
                  >
                  <template v-if="!editAns">
                    <a class="btn_add_item" @click="toggleEditAnsStatus()"
                      >수정</a
                    >
                  </template>
                  <template v-if="editAns">
                    <a v-if="editAns" @click="onEditCancel()" class="btn_cancel"
                      >취소</a
                    >
                  </template>
                </div>

                <div class="tbl_popup_set">
                  <table summary="답변명, 답변설명으로 구성됨">
                    <caption class="hide">
                      답변 추가
                    </caption>
                    <colgroup>
                      <col width="150" />
                      <col />
                    </colgroup>

                    <thead>
                      <tr>
                        <th scope="col">답변명</th>
                        <th scope="col">답변설명</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td scope="row">
                          <div class="iptBox">
                            <input
                              :ref="'ansName'"
                              type="text"
                              :value="modalData.ansNm"
                              :disabled="!editAns"
                            />
                          </div>
                        </td>
                        <td>
                          <div class="iptBox">
                            <input
                              :ref="'ansDetail'"
                              type="text"
                              :value="modalData.ansDesc"
                              :disabled="!editAns"
                            />
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- //.setBox -->

              <!-- .setBox -->
              <div class="setBox">
                <h2>답변 리스트</h2>

                <div class="btnBox btn_change_group">
                  <a
                    v-if="!editAnsList"
                    @click="toggleEditAnsListStatus"
                    class="btn_edit"
                    >수정</a
                  >
                  <a
                    v-if="editAnsList"
                    @click="onListDelete(deleteTargetIdx)"
                    class="btn_delete"
                    >삭제</a
                  >
                  <a
                    v-if="editAnsList"
                    @click="onListEditCancel()"
                    class="btn_cancel"
                    >취소</a
                  >
                </div>

                <div class="tbl_popup_set">
                  <div class="tbl_hd">
                    <table
                      summary="선택(체크박스), 답변내용, 추가(버튼)으로 구성됨"
                    >
                      <caption class="hide">
                        답변 리스트
                      </caption>
                      <colgroup>
                        <col v-if="editAnsList" width="50" />
                        <col />
                        <col v-if="editAnsList" width="50" />
                      </colgroup>

                      <thead>
                        <tr>
                          <th v-if="editAnsList" scope="col">선택</th>
                          <th scope="col">답변내용</th>
                          <!-- <th v-if="editAnsList" scope="col">추가</th> -->
                        </tr>
                      </thead>
                    </table>
                  </div>

                  <div class="tbl_bd tbl_scroll ten_line">
                    <table>
                      <colgroup>
                        <col v-if="editAnsList" width="50" />
                        <col />
                        <!-- <col width="50" /> -->
                      </colgroup>

                      <tbody>
                        <tr
                          v-for="(item, idx) in modalData.ansCont"
                          v-bind:key="idx"
                        >
                          <td v-if="editAnsList" scope="row">
                            <!-- [D] input[type="checkbox"]의 id와 label의 for 값을 동일하게 주어야함 -->
                            <div class="chkBox">
                              <template v-if="deleteTargetIdx.includes(idx)">
                                <input
                                  type="checkbox"
                                  :id="`each_chk${idx}`"
                                  @change="setDeleteTarget(idx)"
                                  :checked="true"
                              /></template>
                              <template v-else
                                ><input
                                  type="checkbox"
                                  :id="`each_chk${idx}`"
                                  @change="setDeleteTarget(idx)"
                                  :checked="false"
                                />
                              </template>
                              <label :for="`each_chk${idx}`"></label>
                            </div>
                          </td>
                          <td>
                            <div class="iptBox">
                              <!-- <input
                                :ref="`ansListItem${idx}`"
                                type="text"
                                v-model="modalData.답변내용[idx]"
                                :disabled="!editAnsList"
                              /> -->
                              <input
                                :ref="`ansListItem${idx}`"
                                type="text"
                                :value="item.ansCont"
                                :disabled="!editAnsList"
                              />
                            </div>
                          </td>
                          <!-- <td v-if="editAnsList">
                            <div class="btnBox">
                              <a href="#none" class="btn_add">
                                <span>추가버튼</span>
                              </a>
                            </div>
                          </td> -->
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- //.setBox -->
            </div>
            <!-- //.pop_mdl -->
          </div>
          <!-- //.answer_manage -->
        </div>
      </section>
      <section slot="btn">
        <div class="btnBox">
          <a @click="onSaveChanges" class="btn_lyr_save">저장</a>
          <a @click="closeModal" class="btn_lyr_close">닫기</a>
        </div>
      </section>
    </modal-component>
  </div>
</template>

<script>
import ModalComponent from "./ModalComponent";
import { mapActions } from "vuex";

export default {
  name: "StandardScriptAnswerSettingsModal",
  components: { ModalComponent },
  props: {
    parameters: {
      type: Object,
      default: {},
    },
  },
  methods: {
    ...mapActions("base", {
      removeModal: "removeModal",
    }),
    // 버튼 작동
    closeModal() {
      this.removeModal(this);
    },
    toggleEditAnsStatus() {
      this.modalData.ansCont = this.modalData.ansCont.map((item, idx) => {
        return {
          ansCd: this.parameters.rowInfo.ansCd,
          ansSeq: item.ansSeq,
          ansCont: this.$refs[`ansListItem${idx}`][0].value,
        };
      });
      this.editAns = !this.editAns;
    },
    toggleEditAnsListStatus() {
      this.modalData.ansNm = this.$refs.ansName.value;
      this.modalData.ansDesc = this.$refs.ansDetail.value;
      this.modalData.ansCont = this.modalData.ansCont.map((item, idx) => {
        return {
          ansCd: this.parameters.rowInfo.ansCd,
          ansSeq: item.ansSeq,
          ansCont: this.$refs[`ansListItem${idx}`][0].value,
        };
      });
      this.editAnsList = !this.editAnsList;
    },
    onEditCancel() {
      this.modalData.ansNm = this.parameters.rowInfo.ansNm;
      this.modalData.ansDesc = this.parameters.rowInfo.ansDesc;
      this.editAns = false;
    },
    // 답변 리스트 삭제 (화면상으로만, api 호출 x)
    setDeleteTarget(idx) {
      if (!this.deleteTargetIdx.includes(idx)) {
        this.deleteTargetIdx.push(idx);
        this.deleteConfirm = this.deleteTargetIdx;
      } else {
        this.deleteTargetIdx = this.deleteTargetIdx.filter(
          (item) => item !== idx
        );
        this.deleteConfirm = this.deleteTargetIdx;
      }
    },
    onListDelete(targets) {
      let newList = this.modalData.ansCont.filter(
        (item) => !targets.includes(this.modalData.ansCont.indexOf(item))
      );
      this.deleteTargetIdx = [];
      this.modalData.ansCont = newList;
    },
    // 닫기 버튼
    onListEditCancel() {
      this.modalData.ansCont = this.parameters.rowInfo.ansCont;
      this.editAnsList = false;
      this.deleteTargetIdx = [];
      this.deleteConfirm = [];
    },
    // 저장 버튼
    onSaveChanges() {
      // 답변 리스트 인풋창 값 읽어오기
      let requestJson = {
        ansCd: null,
        ansNm: null,
        ansDesc: null,
        ansCont: [],
      };
      requestJson.ansNm = this.$refs.ansName.value;
      requestJson.ansDesc = this.$refs.ansDetail.value;
      requestJson.ansCont = this.modalData.ansCont.map((item, idx) => {
        return {
          ansCd: this.parameters.rowInfo.ansCd,
          ansSeq: item.ansSeq,
          ansCont: this.$refs[`ansListItem${idx}`][0].value,
        };
      });

      // 1. 답변명, 답변설명 변경사항 있을 경우 db 반영
      if (
        this.modalData.ansNm !== this.parameters.rowInfo.ansNm ||
        this.modalData.ansDesc !== this.parameters.rowInfo.ansDesc
      ) {
        this.editAnsApiCall({
          ansCd: this.modalData.ansCd,
          ansNm: this.modalData.ansNm,
          ansDesc: this.modalData.ansDesc,
        });
      }
      // 2. 답변 리스트 삭제 내용 있을 경우 먼저 db 반영
      if (this.deleteConfirm.length > 0) {
        this.deleteListItemApiCall(this.deleteConfirm);
        this.deleteConfirm = [];
      }
      // 3. 리스트에 삭제 이외에 수정 또는 추가된 내용 db 반영
      if (requestJson.ansCont !== this.parameters.rowInfo.ansCont) {
        this.editListItemApiCall(requestJson.ansCont);
      }
      this.deleteTargetIdx = [];
      // 수정사항 반영 데이터 갱신
      setTimeout(
        () => this.parameters.getAnswerMainList(this.parameters.pagination),
        50
      );
      this.closeModal();
    },
    //// api
    // 답변명, 답변설명 수정 api
    async editAnsApiCall(jsonData) {
      const { data: result } = await this.parameters.repository.editAns(
        jsonData
      );
      console.log("답변명, 답변설명 수정 >>>>>>>>>");
      console.log(result);
    },
    // 답변 리스트 항목 삭제 api
    async deleteListItemApiCall(targets) {
      let toBeDeleted = this.parameters.rowInfo.ansCont.filter((item) =>
        targets.includes(this.parameters.rowInfo.ansCont.indexOf(item))
      );
      const { data: result } = await this.parameters.repository.deleteAnsList(
        toBeDeleted
      );
      console.log("답변 리스트 항목 삭제 >>>>>>>>>");
      console.log(result);
    },
    // 답변 리스트 아이템 수정 api
    async editListItemApiCall(jsonArray) {
      console.log(jsonArray);
      const { data: result } = await this.parameters.repository.editAnsList(
        jsonArray
      );
      console.log("답변 리스트 항목 수정 >>>>>>>>>");
      console.log(result);
    },
    // 답변 삭제 api
    async onAnsDelete(ansCd) {
      const { data: result } = await this.parameters.repository.deleteAns({
        ansCd: ansCd,
      });
      console.log("답변 삭제 >>>>>>>>>");
      console.log(result);
      this.parameters.getAnswerMainList(this.parameters.pagination);
      this.closeModal();
    },
  },
  mounted() {
    // 현재 DB에 연동되어 있는 값
    // console.log(this.parameters.rowInfo);
    // 화면상의 값
    this.modalData = {
      ansCd: this.parameters.rowInfo.ansCd,
      ansNm: this.parameters.rowInfo.ansNm,
      ansDesc: this.parameters.rowInfo.ansDesc,
      ansCont: this.parameters.rowInfo.ansCont,
    };
    // this.parameters.getAnsEditList({
    //   ansCd: this.parameters.rowInfo.ansCd,
    //   ansNm: this.parameters.rowInfo.ansNm,
    //   ansDesc: this.parameters.rowInfo.ansDesc,
    // });
  },
  data() {
    return {
      editAns: false,
      editAnsList: false,
      modalData: {
        ansCd: null,
        ansNm: null,
        ansDesc: null,
        ansCont: [],
      },
      deleteTargetIdx: [],
      deleteConfirm: [],
    };
  },
};
</script>

<style lang="scss" scoped>
@import "~css/popup";
</style>