<template>
  <div>
    <modal-component
      :modal-add-id="'lyr_standardScriptInterval_save'"
      :is-close="true"
      @modal:close="closeModal"
      :modal-add-style="{
        width: '1300px',
        height: `${720 + 25 * (table2Data.length % 10)}px`,
      }"
    >
      <section slot="title">표준스크립트 선택</section>
      <section slot="content">
        <div class="admin">
          <!-- .answer_manage -->
          <div class="gnr_script_manage">
            <!-- .pop_top -->
            <div class="pop_top">
              <h1></h1>
            </div>
            <!-- //.pop_top -->

            <!-- .pop_mdl -->
            <div class="pop_mdl">
              <!-- .setBox -->
              <div class="setBox">
                <h2>구간 조회</h2>

                <div class="btnBox">
                  <a class="btn_srch" @click="getIntervalMainList(searchParams)"
                    >조회</a
                  >
                </div>

                <div class="tbl_popup_set">
                  <table summary="대분류, 중분류, 소분류, 적용일자로 구성됨">
                    <caption class="hide">
                      구간 조회
                    </caption>
                    <colgroup>
                      <col width="100" />
                      <col />
                      <col width="100" />
                      <col />
                      <col width="100" />
                      <col />
                      <col width="100" />
                      <col width="310" />
                    </colgroup>

                    <tbody>
                      <tr>
                        <th scope="row">대분류</th>
                        <td>
                          <select
                            class="select"
                            v-model="searchParams.scrpLctgCd"
                          >
                            <option v-if="scrpLctgList.length < 1">
                              대분류 정보가 없습니다
                            </option>
                            <option v-else value="">전체</option>
                            <option
                              v-for="(item, idx) in scrpLctgList"
                              v-bind:key="idx"
                              :value="item.scrpLctgCd"
                            >
                              {{ item.scrpLctgNm }}
                            </option>
                          </select>
                        </td>

                        <th scope="row">중분류</th>
                        <td>
                          <!-- <div class="iptBox">
                            <input
                              type="text"
                              v-model="searchParams.scrpMctgNm"
                            />
                          </div> -->

                          <select
                            class="select"
                            v-model="searchParams.scrpMctgCd"
                          >
                            <option v-if="scrpMctgList.length < 1">
                              중분류 정보가 없습니다
                            </option>
                            <option v-else value="">전체</option>
                            <option
                              v-for="(item, idx) in scrpMctgList"
                              v-bind:key="idx"
                              :value="item.scrpMctgCd"
                            >
                              {{ item.scrpMctgNm }}
                            </option>
                          </select>
                        </td>

                        <th scope="row">소분류</th>
                        <td>
                          <!-- <div class="iptBox">
                            <input
                              type="text"
                              v-model="searchParams.scrpSctgNm"
                            />
                          </div> -->

                          <select
                            class="select"
                            v-model="searchParams.scrpSctgCd"
                            @change="setSctgNm($event.target.value)"
                          >
                            <option v-if="scrpSctgList.length < 1">
                              소분류 정보가 없습니다
                            </option>
                            <option v-else value="">전체</option>
                            <option
                              v-for="(item, idx) in scrpSctgList"
                              v-bind:key="idx"
                              :value="item.scrpSctgCd"
                            >
                              {{ item.scrpSctgNm }}
                            </option>
                          </select>
                        </td>

                        <th>적용일자</th>
                        <td>
                          <div class="iptBox">
                            <datepicker
                              :style="{}"
                              id="datepickerStDt"
                              input-class="iptDateTime"
                              @input="
                                searchParams.scrpAppStDt =
                                  moment($event).format('yyyyMMDD')
                              "
                              :format="'yyyy-MM-dd'"
                              :language="ko"
                            >
                            </datepicker>
                            <span>&hyphen;</span>
                            <datepicker
                              :style="{}"
                              id="datepickerEdDt"
                              input-class="iptDateTime"
                              @input="
                                searchParams.scrpAppEdDt =
                                  moment($event).format('yyyyMMDD')
                              "
                              :format="'yyyy-MM-dd'"
                              :language="ko"
                            >
                            </datepicker>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- //.setBox -->

              <!-- .setBox -->
              <div class="setBox">
                <h2>구간 리스트</h2>

                <div class="dataTableBox tbl_include_btn">
                  <table class="dataTable">
                    <thead>
                      <tr>
                        <th>대분류명</th>
                        <th>중분류명</th>
                        <th>소분류명</th>
                        <th>적용차수</th>
                        <th>적용시작일</th>
                        <th>적용종료일</th>
                        <th>조회</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr v-show="table1Data.length < 1">
                        <td colspan="7">조회된 데이터가 없습니다.</td>
                      </tr>
                      <tr v-for="(item, idx) in table1Data" v-bind:key="idx">
                        <td>{{ item.scrpLctgNm }}</td>
                        <td>{{ item.scrpMctgNm }}</td>
                        <td>{{ item.scrpSctgNm }}</td>
                        <td>{{ item.scrpAppOrd }}</td>
                        <td>{{ item.scrpAppStDt }}</td>
                        <td>{{ item.scrpAppEdDt }}</td>
                        <td>
                          <div class="btnBox">
                            <a
                              class="btn_check"
                              @click="
                                [
                                  getIntervalDetailList(item),
                                  setAddParameter(item),
                                ]
                              "
                              >조회</a
                            >
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <v-app>
                  <pagination-component :pagination="pagination" />
                </v-app>
              </div>
              <!-- //.setBox -->

              <!-- .setBox -->
              <div class="setBox">
                <h2>구간 상세 리스트</h2>

                <div class="tbl_popup_set tbl_include_btn">
                  <div class="tbl_hd">
                    <table summary="NO, 가이드 문구, 문장내용으로 구성됨">
                      <caption class="hide">
                        구간 상세 리스트
                      </caption>
                      <colgroup>
                        <col width="50" />
                        <col width="400" />
                        <col />
                      </colgroup>

                      <thead>
                        <tr>
                          <th scope="col">NO</th>
                          <th scope="col">가이드 문구</th>
                          <th scope="col">문장내용</th>
                        </tr>
                      </thead>
                    </table>
                  </div>

                  <div class="tbl_bd tbl_scroll ten_line">
                    <table>
                      <colgroup>
                        <col width="50" />
                        <col width="400" />
                        <col />
                      </colgroup>

                      <tbody>
                        <tr v-show="table2Data.length < 1">
                          <td colspan="3">조회된 데이터가 없습니다.</td>
                        </tr>
                        <tr v-for="(item, idx) in table2Data" v-bind:key="idx">
                          <td scope="row">{{ idx + 1 }}</td>
                          <td>{{ item.gudStmt }}</td>
                          <td :style="{ textAlign: 'left' }">
                            {{ item.scrp }}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- //.setBox -->
            </div>
            <!-- //.pop_mdl -->
          </div>
          <!-- //.answer_manage -->
        </div>
      </section>
      <section slot="btn">
        <div class="btnBox">
          <a @click="onSave()" class="btn_lyr_save">저장</a>
          <a @click="closeModal" class="btn_lyr_close">닫기</a>
        </div>
      </section>
    </modal-component>
  </div>
</template>

<script>
import ModalComponent from "./ModalComponent";
import { mapActions } from "vuex";
import PaginationComponent from "../pagination/PaginationComponent";
import Datepicker from "vuejs-datepicker";

export default {
  name: "StandardScriptIntervalModal",
  components: { ModalComponent, PaginationComponent, Datepicker },
  props: {
    parameters: {
      type: Object,
      default: {},
    },
  },
  data() {
    return {
      evalInfo: this.parameters.evalInfo,
      scrpLctgList: [],
      scrpMctgList: [],
      scrpSctgList: [],
      searchParams: {
        scrpLctgCd: "", // 스크립트 대분류코드
        scrpMctgCd: "", // 스크립트 중분류코드
        scrpMctgNm: null, // 스크립트 중분류명
        scrpSctgCd: "", // 스크립트 소분류코드
        scrpSctgNm: null, // 스크립트 소분류명
        scrpAppStDt: null, // 스크립트 적용시작일자
        scrpAppEdDt: null, // 스크립트 적용종료일자
        scrpAppOrd: null, // 스크립트 적용차수
      },
      addParam: null,
      table1Data: [],
      table2Data: [],
      pagination: {
        length: 0, // total row
        rowsPerPage: 5, // row per page
        now: 1, // now page
        navigationLength: 10, // navigation length
        callback: this.paginationCallback, // callback
        startRow: 0, // startRow
        endRow: 0, // endRow
        sortingColumn: null,
        sorting: "ASC",
      },
    };
  },
  methods: {
    ...mapActions("base", {
      removeModal: "removeModal",
    }),
    closeModal() {
      this.removeModal(this);
    },
    onSave() {
      if (confirm("변경사항을 저장하시겠습니까?")) {
        if (this.addParam) {
          this.addScrpSecInfo(this.addParam);
        }
        this.closeModal();
        this.parameters.getProductList();
      }
    },
    paginationCallback() {
      this.getData();
    },
    async getData(now) {
      if (now != undefined) {
        this.pagination.now = now;
      }
      this.getIntervalMainList(this.searchParams);
    },
    // 중분류 selectbox
    setMctgNm(value) {
      this.scrpMctgNm = value;
    },
    // 소분류 selectbox
    setSctgNm(value) {
      this.scrpSctgNm = value;
    },
    // 조회 버튼 클릭: 아이템 추가 parameter 지정
    setAddParameter(item) {
      this.addParam = [
        {
          prodCat: this.parameters.prodInfo.prodCat,
          prodCd: this.parameters.prodInfo.prodCd,
          plnCd: this.parameters.prodInfo.plnCd,
          chkItmCd: this.parameters.evalInfo.chkItmCd,
          chkCtgCd: this.parameters.evalInfo.chkCtgCd,
          scrpAppOrd: this.parameters.evalInfo.chkAppOrd,
          scrpLctgCd: item.scrpLctgCd,
          scrpMctgCd: item.scrpMctgCd,
          scrpSctgCd: item.scrpSctgCd,
        },
      ];
    },
    //// api
    // 대분류 selectbox 리스트 조회
    async getScrpLctgList() {
      const { data: result } =
        await this.parameters.repository.getScriptLctgList();
      console.log("대분류 리스트 조회 >>>>>");
      console.log(result);
      this.scrpLctgList = result.lctgList;
    },
    // 중분류 selectbox 리스트 조회
    async getScrpMctgList() {
      const { data: result } =
        await this.parameters.repository.getScriptMctgList();
      console.log("중분류 리스트 조회 >>>>>");
      console.log(result);
      this.scrpMctgList = result.mctgList;
    },
    // 소분류 selectbox 리스트 조회
    async getScrpSctgList() {
      const { data: result } =
        await this.parameters.repository.getScriptSctgList();
      console.log("소분류 리스트 조회 >>>>>");
      console.log(result);
      this.scrpSctgList = result.sctgList;
    },
    // 구간 메인리스트 조회
    async getIntervalMainList(jsonData) {
      jsonData.scrpAppOrd = this.evalInfo.chkAppOrd;
      console.log(jsonData);
      const { data: result } =
        await this.parameters.repository.getScriptMainList(
          Object.assign(this.pagination, jsonData)
        );
      console.log("구간 메인리스트 조회 >>>>>");
      console.log(result);
      this.table1Data = result.dataList;
      this.pagination.length = result.totalCnt;
    },
    // 구간상세 리스트 조회
    async getIntervalDetailList(item) {
      const { data: result } =
        await this.parameters.repository.getScriptDetailList({
          scrpLctgCd: item.scrpLctgCd,
          scrpMctgCd: item.scrpMctgCd,
          scrpSctgCd: item.scrpSctgCd,
          scrpAppOrd: item.scrpAppOrd,
        });
      console.log("구간상세 리스트 조회 >>>>>");
      console.log(result);
      this.table2Data = result.dataList;
    },
    // 구간 선택 테이블 항목 추가
    async addScrpSecInfo(jsonData) {
      console.log(jsonData);
      const { data: result } = await this.parameters.repository.addScrpSecInfo(
        jsonData
      );
      console.log("구간선택 테이블 항목 추가 >>>>>");
      console.log(result);
    },
  },
  mounted() {
    //console.log(this.parameters)
    this.getScrpLctgList();
    this.getScrpMctgList();
    this.getScrpSctgList();
    this.getIntervalMainList(this.pagination);
  },
};
</script>

<style lang="scss" scoped>
@import "~css/popup";
</style>