<template>
  <div>
    <modal-component
      :modal-add-id="'lyr_standardScriptEvalListSettings_save'"
      :is-close="true"
      @modal:close="closeModal"
      :modal-add-style="{
        width: '580px',
        height: '280px',
      }"
    >
      <section slot="title">평가표 설정</section>
      <section slot="content">
        <div class="admin">
          <!-- .answer_manage -->
          <div class="eval_tbl_manage">
            <!-- .pop_top -->
            <div class="pop_top">
              <h1></h1>
              <div class="btnBox">
                <a class="btn_delete" @click="deletePopupApplyOrd(requestParam)"
                  >삭제</a
                >
              </div>
            </div>
            <!-- //.pop_top -->
            <!-- .pop_mdl -->
            <div class="pop_mdl">
              <div class="setBox">
                <div class="tbl_popup_set">
                  <table
                    summary="상품구분, 적용차수, 적용시작일, 적용종료일로 구성됨"
                  >
                    <colgroup>
                      <col />
                      <col width="80" />
                      <col width="120" />
                      <col width="120" />
                    </colgroup>

                    <thead>
                      <tr>
                        <th scope="col">상품구분</th>
                        <th scope="col">적용차수</th>
                        <th scope="col">적용시작일</th>
                        <th scope="col">적용종료일</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td scope="row">
                          <select class="select" disabled>
                            <option :value="this.parameters.rowInfo.prodCat">
                              {{ this.parameters.rowInfo.cdNm }}
                            </option>
                          </select>
                        </td>
                        <td>
                          <div class="iptBox">
                            <input
                              type="text"
                              disabled
                              :value="this.parameters.rowInfo.chkAppOrd"
                            />
                          </div>
                        </td>
                        <td>
                          <div class="iptBox">
                            <datepicker
                              v-model="requestParam.chkAppStDt"
                              input-class="iptDateTime"
                              :format="'yyyy-MM-dd'"
                              :language="ko"
                            ></datepicker>

                            <!-- <input
                              type="text"
                              id="fromDate"
                              class="iptDateTime"
                            /> -->
                          </div>
                        </td>
                        <td>
                          <div class="iptBox">
                            <datepicker
                              v-model="requestParam.chkAppEdDt"
                              input-class="iptDateTime"
                              :format="'yyyy-MM-dd'"
                              :language="ko"
                            ></datepicker>

                            <!-- <input
                              type="text"
                              id="toDate"
                              class="iptDateTime"
                            /> -->
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- //.pop_mdl -->
          </div>
          <!-- //.eval_tbl_manage -->
        </div>
      </section>
      <section slot="btn">
        <div class="btnBox">
          <a @click="onSubmit()" class="btn_lyr_save">저장</a>
          <a @click="closeModal" class="btn_lyr_close">닫기</a>
        </div>
      </section>
    </modal-component>
  </div>
</template>

<script>
import ModalComponent from "./ModalComponent";
import { mapActions } from "vuex";
import Datepicker from "vuejs-datepicker";
import moment from "moment";

export default {
  name: "StandardScriptEvalListSettingsModal",
  components: { ModalComponent, Datepicker },
  props: {
    parameters: {
      type: Object,
      default: {},
    },
  },
  data() {
    return {
      requestParam: {
        prodCat: null,
        chkAppOrd: null,
        chkAppStDt: null,
        chkAppEdDt: null,
      },
    };
  },
  methods: {
    ...mapActions("base", {
      removeModal: "removeModal",
    }),
    closeModal() {
      this.removeModal(this);
    },
    setModalState: function (payload) {
      this.modal_state = payload.modal_state;
    },
    async onSubmit() {
      if (
        moment(this.requestParam.chkAppStDt).format("YYYYMMDD") !==
        this.parameters.chkAppStDt
      ) {
        this.requestParam.chkAppStDt = moment(
          this.requestParam.chkAppStDt
        ).format("YYYYMMDD");
      }
      if (
        moment(this.requestParam.chkAppEdDt).format("YYYYMMDD") !==
        this.parameters.chkAppEdDt
      ) {
        this.requestParam.chkAppEdDt = moment(
          this.requestParam.chkAppEdDt
        ).format("YYYYMMDD");
      }

      this.editPopupApplyOrd(this.requestParam);
      this.closeModal();
      this.parameters.refreshMainList();
    },
    //// api
    // 적용차수 수정
    async editPopupApplyOrd(jsonData) {
      const {
        data: result,
      } = await this.parameters.repository.procPopupApplyOrd(
        Object.assign({ mode: "U" }, jsonData)
      );
      this.closeModal();
      this.parameters.refreshMainList();
    },
    // 적용차수 삭제
    async deletePopupApplyOrd(jsonData) {
      const {
        data: result,
      } = await this.parameters.repository.procPopupApplyOrd(
        Object.assign({ mode: "D" }, jsonData)
      );
      this.closeModal();
      this.parameters.refreshMainList();
    },
  },
  mounted() {
    this.requestParam = {
      prodCat: this.parameters.rowInfo.prodCat,
      chkAppOrd: this.parameters.rowInfo.chkAppOrd,
      chkAppStDt: this.parameters.rowInfo.chkAppStDt,
      chkAppEdDt: this.parameters.rowInfo.chkAppEdDt,
    };
  },
};
</script>

<style lang="scss" scoped>
@import "~css/popup";
</style>