<template>
  <div>
    <modal-component
      :modal-add-id="'lyr_standardScriptAddProdCat_save'"
      :is-close="true"
      @modal:close="closeModal"
      :modal-add-style="{
        width: '580px',
        height: `${450 + prodCatList.length * 50}px,`,
      }"
    >
      <section slot="title">상품구분 등록</section>
      <section slot="content">
        <div class="admin">
          <!-- .answer_manage -->
          <div class="eval_tbl_manage">
            <!-- .pop_top -->
            <div class="pop_top">
              <h1></h1>
            </div>
            <!-- //.pop_top -->

            <!-- .pop_mdl -->
            <div class="pop_mdl">
              <!-- .setBox -->
              <div class="setBox">
                <h2>상품구분 추가</h2>

                <div class="btnBox">
                  <a class="btn_add_item" @click="addProdCatList(newProdCat)"
                    >추가</a
                  >
                </div>

                <div class="tbl_popup_set">
                  <table
                    summary="상품구분 코드(영문), 상품구분 이름(한글), 상품구분 설명으로 구성됨"
                  >
                    <caption class="hide">
                      상품구분 추가
                    </caption>
                    <colgroup>
                      <col width="100" />
                      <col width="150" />
                      <col />
                    </colgroup>

                    <thead>
                      <tr>
                        <th scope="col">상품구분<br />코드&lpar;영문&rpar;</th>
                        <th scope="col">상품구분<br />이름&lpar;한글&rpar;</th>
                        <th scope="col">상품구분 설명</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td scope="row">
                          <div class="iptBox">
                            <input type="text" v-model="newProdCat.cd" />
                          </div>
                        </td>
                        <td>
                          <div class="iptBox">
                            <input type="text" v-model="newProdCat.cdNm" />
                          </div>
                        </td>
                        <td>
                          <div class="iptBox">
                            <input type="text" v-model="newProdCat.cdDesc" />
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- //.setBox -->

              <!-- .setBox -->
              <div class="setBox">
                <h2>상품구분 조회</h2>

                <div class="btnBox">
                  <a
                    class="btn_srch"
                    @click="
                      getProdCatList({
                        cd: searchParams.cd,
                        cdNm: searchParams.cdNm,
                      })
                    "
                    >조회</a
                  >
                </div>

                <div class="tbl_popup_set">
                  <table summary="상품구분 코드, 상품구분 이름으로 구성됨">
                    <caption class="hide">
                      상품구분 조회
                    </caption>
                    <colgroup>
                      <col width="150" />
                      <col />
                    </colgroup>

                    <thead>
                      <tr>
                        <th scope="col">상품구분 코드&lpar;영문&rpar;</th>
                        <th scope="col">상품구분 이름&lpar;한글&rpar;</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td scope="row">
                          <div class="iptBox">
                            <input type="text" v-model="searchParams.cd" />
                          </div>
                        </td>
                        <td>
                          <div class="iptBox">
                            <input type="text" v-model="searchParams.cdNm" />
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- //.setBox -->

              <!-- .setBox -->
              <div class="setBox">
                <h2>상품구분 리스트</h2>

                <div class="btnBox btn_change_group">
                  <a
                    class="btn_edit"
                    v-if="!visibleStatus.editProdCatList"
                    @click="toggleEditStatus()"
                    >수정</a
                  >
                  <a
                    class="btn_delete"
                    v-if="visibleStatus.editProdCatList"
                    @click="deleteProdCat(deleteTargets)"
                    >삭제</a
                  >
                  <a
                    class="btn_cancel"
                    v-if="visibleStatus.editProdCatList"
                    @click="[onEditCancel(), toggleEditStatus()]"
                    >취소</a
                  >
                </div>

                <div class="tbl_popup_set">
                  <div class="tbl_hd">
                    <table
                      summary="선택(체크박스), NO, 상품구분 코드(영문), 상품구분 이름(한글), 상품구분 설명으로 구성됨"
                    >
                      <caption class="hide">
                        상담 코드 리스트
                      </caption>
                      <colgroup>
                        <col width="50" v-if="visibleStatus.editProdCatList" />
                        <col width="50" />
                        <col width="100" />
                        <col width="150" />
                        <col />
                      </colgroup>

                      <thead>
                        <tr>
                          <th scope="col" v-if="visibleStatus.editProdCatList">
                            선택
                          </th>
                          <th scope="col">NO</th>
                          <th scope="col">
                            상품구분<br />코드&lpar;영문&rpar;
                          </th>
                          <th scope="col">
                            상품구분<br />이름&lpar;한글&rpar;
                          </th>
                          <th scope="col">상품구분 설명</th>
                        </tr>
                      </thead>
                    </table>
                  </div>

                  <div class="tbl_bd tbl_scroll ten_line">
                    <table>
                      <colgroup>
                        <col width="50" v-if="visibleStatus.editProdCatList" />
                        <col width="50" />
                        <col width="100" />
                        <col width="150" />
                        <col />
                      </colgroup>

                      <tbody>
                        <tr v-for="(item, idx) in prodCatList" v-bind:key="idx">
                          <td scope="row" v-if="visibleStatus.editProdCatList">
                            <!-- [D] input[type="checkbox"]의 id와 label의 for 값을 동일하게 주어야함 -->
                            <div class="chkBox">
                              <input
                                type="checkbox"
                                :id="`each_chk${idx + 1}`"
                                @change="setDeleteTargets(idx)"
                                :checked="deleteTargets.includes(idx)"
                              />
                              <label :for="`each_chk${idx + 1}`"></label>
                            </div>
                          </td>
                          <td>{{ idx + 1 }}</td>
                          <td>
                            <div class="iptBox">
                              <input type="text" :value="item.cd" disabled />
                            </div>
                          </td>
                          <td>
                            <div class="iptBox">
                              <input
                                :ref="`cdNm${idx}`"
                                type="text"
                                :value="item.cdNm"
                                :disabled="!visibleStatus.editProdCatList"
                              />
                            </div>
                          </td>
                          <td>
                            <div class="iptBox">
                              <input
                                :ref="`cdDesc${idx}`"
                                type="text"
                                :value="item.cdDesc"
                                :disabled="!visibleStatus.editProdCatList"
                              />
                            </div>
                          </td>
                        </tr>
                        <tr v-if="prodCatList.length < 1">
                          <td colspan="5">조회된 데이터가 없습니다.</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- //.setBox -->
            </div>
            <!-- //.pop_mdl -->
          </div>
          <!-- //.eval_tbl_manage -->
        </div>
      </section>
      <section slot="btn">
        <div class="btnBox">
          <a @click="onSubmit()" class="btn_lyr_save">저장</a>
          <a @click="closeModal" class="btn_lyr_close">닫기</a>
        </div>
      </section>
    </modal-component>
  </div>
</template>

<script>
import ModalComponent from "./ModalComponent";
import { mapActions } from "vuex";

export default {
  name: "StandardScriptAddProdCatModal",
  components: { ModalComponent },
  props: {
    parameters: {
      type: Object,
      default: {},
    },
  },
  methods: {
    ...mapActions("base", {
      removeModal: "removeModal",
    }),
    closeModal() {
      this.removeModal(this);
    },
    async onSubmit() {
      if (confirm("변경사항을 저장하시겠습니까?")) {
        // 삭제 내용 반영
        if (this.deleteConfirm.length > 0) {
          this.deleteProdCatList(this.deleteConfirm);
        }
        // 수정 내용 반영
        this.saveChangedValues().forEach((itm) => this.updateProdCatList(itm));

        this.closeModal();
        this.parameters.getData();
      }
    },
    // 수정, 취소버튼 toggle
    toggleEditStatus() {
      this.visibleStatus.editProdCatList = !this.visibleStatus.editProdCatList;
    },
    // 삭제버튼: 클릭 시 UI상으로만 삭제
    deleteProdCat(idxList) {
      // api에 전송할 삭제 데이터 정보 저장
      this.deleteConfirm = this.prodCatList
        .filter((item, idx) => idxList.includes(idx))
        .map((itm) => {
          return { cd: itm.cd };
        });
      // console.log(this.deleteConfirm);
      this.deleteTargets = [];
      this.prodCatList = this.prodCatList.filter(
        (item, idx) => !idxList.includes(idx)
      );
    },
    // 수정 및 삭제 취소시 원복
    onEditCancel() {
      this.deleteTargets = [];
      this.deleteConfirm = [];
      this.prodCatList = this.serverProdCatList;
    },
    // 체크박스 컨트롤
    setDeleteTargets(idx) {
      if (this.deleteTargets.includes(idx)) {
        this.deleteTargets = this.deleteTargets.filter((item) => item !== idx);
      } else {
        this.deleteTargets.push(idx);
      }
    },
    // 인풋창 수정 내용 반영
    saveChangedValues() {
      let updatedList = this.prodCatList.map((item, idx) => {
        return {
          cd: item.cd,
          cdNm: this.$refs[`cdNm${idx}`][0].value,
          cdDesc: this.$refs[`cdDesc${idx}`][0].value,
        };
      });
      return updatedList;
    },
    //// api
    // 상품구분 리스트 조회
    async getProdCatList(jsonData) {
      const { data: result } =
        await this.parameters.repository.getPopupProductList(jsonData);
      console.log("상품구분 리스트 항목 조회 >>>>>");
      console.log(result);
      this.prodCatList = result.dataList;
      this.serverProdCatList = result.dataList;
    },
    // 상품구분 리스트 상품구분 추가(request type: object)
    async addProdCatList(jsonData) {
      console.log(jsonData);
      const { data: result } =
        await this.parameters.repository.addPopupProductList(jsonData);
      console.log("상품구분 리스트 항목 추가 >>>>>");
      console.log(result);
      this.newProdCat = { cd: null, cdNm: null, cdDesc: null };
      this.visibleStatus.editProdCatList = false;
      this.getProdCatList({});
    },
    // 상품구분 리스트 상품구분 삭제(request type: array)
    async deleteProdCatList(jsonArr) {
      console.log(jsonArr);
      const { data: result } =
        await this.parameters.repository.deletePopupProductList(jsonArr);
      console.log("상품구분 리스트 항목 삭제 >>>>>");
      console.log(result);
    },
    // 상품구분 리스트 상품구분 수정(request type: object)
    async updateProdCatList(jsonData) {
      const { data: result } =
        await this.parameters.repository.addPopupProductList(jsonData);
    },
  },
  mounted() {
    this.getProdCatList({});
    //console.log(this.parameters)
    // this.prodCatList = [
    //   {
    //     prodCatEn: "영문상품코드",
    //     prodCatKr: "한글상품코드",
    //     prodCatDesc: "상품구분 설명",
    //   },
    // ];
  },
  data() {
    return {
      newProdCat: { cd: null, cdNm: null, cdDesc: null },
      deleteTargets: [],
      deleteConfirm: [],
      // UI상 상품구분 리스트
      prodCatList: [],
      // DB상 상품구분 리스트
      serverProdCatList: [],
      searchParams: {
        cd: null,
        cdNm: null,
      },
      visibleStatus: {
        editProdCatList: false,
      },
    };
  },
};
</script>

<style lang="scss" scoped>
@import "~css/popup";
</style>