<template>
  <div>
    <modal-component
      :modal-add-id="'lyr_standardScriptAddApplyOrd_save'"
      :is-close="true"
      @modal:close="closeModal"
      :modal-add-style="{
        width: '580px',
        height: '260px',
      }"
    >
      <section slot="title">적용차수 추가</section>
      <section slot="content">
        <div class="admin">
          <!-- .answer_manage -->
          <div class="eval_tbl_manage">
            <!-- .pop_top -->
            <div class="pop_top">
              <h1></h1>
            </div>
            <!-- //.pop_top -->

            <!-- .pop_mdl -->
            <div class="pop_mdl">
              <div class="setBox">
                <div class="tbl_popup_set">
                  <table
                    summary="상품구분, 적용차수, 적용시작일, 적용종료일로 구성됨"
                  >
                    <colgroup>
                      <col />
                      <col width="80" />
                      <col width="120" />
                      <col width="120" />
                    </colgroup>

                    <thead>
                      <tr>
                        <th scope="col">상품구분</th>
                        <th scope="col">적용차수</th>
                        <th scope="col">적용시작일</th>
                        <th scope="col">적용종료일</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td scope="row">
                          <select
                            class="select"
                            v-model="newAppOrd.prodCat"
                            @change="onProdCatChange()"
                          >
                            <option
                              v-for="(item, idx) in prodCatList"
                              v-bind:key="idx"
                              :value="item.cd"
                            >
                              {{ item.cdNm }}
                            </option>
                          </select>
                        </td>
                        <td>
                          <div class="iptBox">
                            <input
                              type="text"
                              disabled
                              v-model="newAppOrd.chkAppOrd"
                            />
                          </div>
                        </td>
                        <td>
                          <div class="iptBox">
                            <datepicker
                              v-model="newAppOrd.chkAppStDt"
                              input-class="iptDateTime"
                              :format="'yyyy-MM-dd'"
                              :language="ko"
                            ></datepicker>

                            <!-- 
                            <input
                              type="text"
                              id="fromDate"
                              class="iptDateTime"
                            /> -->
                          </div>
                        </td>
                        <td>
                          <div class="iptBox">
                            <datepicker
                              v-model="newAppOrd.chkAppEdDt"
                              input-class="iptDateTime"
                              :format="'yyyy-MM-dd'"
                              :language="ko"
                            ></datepicker>

                            <!-- <input
                              type="text"
                              id="toDate"
                              class="iptDateTime"
                            /> -->
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- //.pop_mdl -->
          </div>
          <!-- //.eval_tbl_manage -->
        </div>
      </section>
      <section slot="btn">
        <div class="btnBox">
          <a @click="onSubmit()" class="btn_lyr_save">저장</a>
          <a @click="closeModal" class="btn_lyr_close">닫기</a>
        </div>
      </section>
    </modal-component>
  </div>
</template>

<script>
import ModalComponent from "./ModalComponent";
import { mapActions } from "vuex";
import Datepicker from "vuejs-datepicker";
import moment from "moment";

export default {
  name: "StandardScriptAddApplyOrdModal",
  components: { ModalComponent, Datepicker },
  props: {
    parameters: {
      type: Object,
      default: {},
    },
  },
  methods: {
    ...mapActions("base", {
      removeModal: "removeModal",
    }),
    closeModal() {
      this.removeModal(this);
    },
    setModalState: function (payload) {
      this.modal_state = payload.modal_state;
    },
    async onSubmit() {
      if (confirm("변경사항을 저장하시겠습니까?")) {
        if (this.newAppOrd.chkAppStDt) {
          this.newAppOrd.chkAppStDt = moment(this.newAppOrd.chkAppStDt).format(
            "YYYYMMDD"
          );
        }
        if (this.newAppOrd.chkAppEdDt) {
          this.newAppOrd.chkAppEdDt = moment(this.newAppOrd.chkAppEdDt).format(
            "YYYYMMDD"
          );
        }
        this.addPopupApplyOrd(this.newAppOrd);

        this.closeModal();
      }
    },
    // 적용차수 자동 입력
    onProdCatChange() {
      let selectedProdCat = this.maxAppOrdList.find(
        (item) => item.prodCat === this.newAppOrd.prodCat
      );
      if (selectedProdCat) {
        this.newAppOrd.chkAppOrd = Number(selectedProdCat.chkAppOrd) + 1;
      } else {
        this.newAppOrd.chkAppOrd = 1;
      }
    },
    //// api
    // 상품구분 리스트 조회
    async getProdCatList(jsonData) {
      const { data: result } =
        await this.parameters.repository.getPopupProductList(jsonData);
      this.prodCatList = result.dataList;
    },
    // 해당 상품구분 최대 적용차수 조회
    async getFirstEvalMainList() {
      const { data: result } = await this.parameters.repository.getEvalMainList(
        {
          mode: "FIR",
        }
      );
      this.maxAppOrdList = result.dataList;
    },
    async addPopupApplyOrd(jsonData) {
      const { data: result } =
        await this.parameters.repository.procPopupApplyOrd(
          Object.assign({ mode: "A" }, jsonData)
        );
      console.log(result);
      this.parameters.refreshMainList();
    },
  },

  mounted() {
    //console.log(this.parameters)
    this.getProdCatList({});
    this.getFirstEvalMainList();
  },
  data() {
    return {
      newAppOrd: {
        prodCat: null,
        chkAppOrd: null,
        chkAppStDt: null,
        chkAppEdDt: null,
      },
      prodCatList: [],
      maxAppOrdList: [],
    };
  },
};
</script>

<style lang="scss" scoped>
@import "~css/popup";
</style>