<template>
    <div>
        <ul class="contextMenu">
            <li><a @click="fn_copyText" class="btn_clipboard">복사하기</a></li>
            <li><a @click="modal" class="btn_lyr_open">STT 수정</a></li>
        </ul>

        <transition name="fade">
            <div v-if="copyAlert" id="lyr_clipboard" class="lyrBox lyr_notify">
                <div class="lyr_ct">
                    <p class="massage">복사되었습니다.</p>
                </div>
            </div>
        </transition>
    </div>
</template>

<script>
import {mapActions} from "vuex";
import {EventBus} from "@/utils/bus";

let ctx;
let QaSttAllRepository;

export default {
    name: "SttContextMenu",
    components: {
        
    },
    data() {
        return {
            copyAlert: false,
            stt: {},
            lyr_notify: false,
        }
    },
    created() {
        EventBus.$on('seleted_stt', (data) => {
            this.stt = data;
        });
        EventBus.$on('QaSttAllRepository', (data) => {
            QaSttAllRepository = data;
        });
    },
    mounted() {
        let el = document.querySelector('.tm_qa_stt');
        let el2 = document.querySelector('.dataTables_scrollBody.stt_scroll');
        ctx = document.querySelector('.contextMenu');

        if(el) {
            el.addEventListener('click', function() {
                ctx.style.display = 'none';
            }, false);
        }
        if(el2) {
            el2.addEventListener('scroll', function() {
                ctx.style.display = 'none';
            }, false);
        }
    },
    methods: {
        ...mapActions('base', {
            setModal: 'setModal',
        }),
        modal() {
            ctx.style.display = 'none';
            this.setModal({name: "SttTextEditModal", parameters: { stt: this.stt, repository: QaSttAllRepository}});
        },
        fn_copyText() {
            var textArea = document.createElement("textarea");
            Object.assign(textArea.style, {
                position: 'fixed',
                top: 0,
                right: 0,
                width: '2em',
                height: '2em',
                border: 'none',
                outline: 'none',
                box: 'none',
                background: 'transparent',
            });

            textArea.value = this.stt.sttText;
            document.body.appendChild(textArea);
            textArea.focus();
            textArea.select();

            try {
                var result = document.execCommand('copy');
                if(result) {
                    document.querySelector('.contextMenu').style.display = 'none';
                    this.copyAlert = true;
                    setTimeout(_ => this.copyAlert=false, 400);
                }else {
                    alert("오류가 발생했습니다.");
                }
            } catch (err) {
                alert("오류가 발생했습니다.");
            }

            document.body.removeChild(textArea);
        },
    }
}
</script>

<style scoped>
    .fade-enter-active, .fade-leave-active {transition: opacity .5s;}
    .fade-enter, .fade-leave-to {opacity: 0;}
</style>