<template>
    <div>
        <modal-component v-if="!lyr_notify" :modal-add-id="'lyr_stt_edit'" :is-close="false" @modal:close="closeModal">
            <section slot="title">
                <span class="title">STT 수정</span>
                <a @click="closeModal" class="btn_lyr_close">닫기</a>
            </section>
            <section slot="content">
                <div class="textArea_original">
                    <span>STT 원문 <small>(문장 전체를 수정해야 합니다.)</small></span>
                    <div class="textBox">{{$props.parameters.stt.sttText}}</div>
                </div>

                <div class="textArea_edit">
                    <span>수정</span>
                    <textarea v-model="edited_stmt" ref="textarea" class="textBox"></textarea>
                </div>
            </section>
            <section slot="btn">
                <div class="btnBox">
                    <a @click="fn_submit()" class="btn_lyr_save">저장</a>
                    <a @click="closeModal" class="btn_lyr_close">취소</a>
                </div>
            </section>
        </modal-component>

        <div v-if="lyr_notify" class="lyrBox lyr_notify">
            <div class="lyr_ct">
                <p class="massage">저장 되었습니다</p>
            </div>
        </div>
    </div>
</template>

<script>
import ModalComponent from "./ModalComponent";
import {mapActions} from "vuex";
import {EventBus} from "../../utils/bus";

export default {
    name: "SttTextEditModal",
    components: {ModalComponent},
    props: {
        parameters: {
            type: Object,
            default: {},
        },
    },
    created() {
        
    },
    methods: {
        ...mapActions('base', {
            removeModal: 'removeModal',
        }),
        closeModal() {
            this.removeModal(this);
        },
        async fn_submit() {
            if(!this.edited_stmt) {
                alert("내용을 적어주세요.");
                return false;
            }else {
                let data = {
                    recKey: this.$props.parameters.stt.recKey,
                    stmtNo: this.$props.parameters.stt.stmtNo,
                    updateStmt: this.edited_stmt,
                }
                const {data: result} = await this.$props.parameters.repository.updTmSttStmt(data);
                if(result.status === 'SUCCESS') {
                    this.lyr_notify = true;
                    EventBus.$emit('update_stmt_obj', data);     // 수정문구, Y 표현하기위한 이벤트버스
                    setTimeout(_ => {
                        this.closeModal();
                        this.lyr_notify = false;
                    }, 400);
                }else {
                    alert("오류가 발생했습니다.");
                }
            }
        },
        setModalState: function(payload) {
            this.modal_state = payload.modal_state;
        },
    },
    mounted() {
        this.$refs.textarea.focus();
    },
    data() {
        return {
            modal_state: '',
            edited_stmt: this.$props.parameters.stt.updateStmt,
            lyr_notify: false,
        }
    },
}
</script>

<style>

</style>