<template>
    <div>
        <modal-component>
            <section slot="title">
                알림
            </section>
            <section slot="content">
                <p>{{msg}}</p>
            </section>
            <section slot="btn">
                <div class="btnBox">
                    <a @click="fn_redirect_main()" class="btn_lyr_save">닫기</a>
                </div>
            </section>
        </modal-component>
    </div>
</template>

<script>
import ModalComponent from "./ModalComponent";
import {mapGetters, mapActions} from "vuex";

export default {
    name: "TimeOutModal",
    components: {ModalComponent},
    props: {
        parameters: {
            type: Object,
            default: {}
        },
    },
    computed: {
        ...mapGetters('user', {
            userInfo: 'getUserInfo',
        }),
    },
    methods: {
        ...mapActions('base', {
            removeModal: 'removeModal',
        }),

        fn_redirect_main() {
            this.removeModal(this);
        },
    },
    mounted() {
        
    },
    data() {
        return {
            layout: this.$route.meta.layout,
            msg: this.parameters.msg
        }
    },
}
</script>

<style>

</style>
