<template>
    <modal-component modal-add-class="small" :modal-add-style="{height: 'auto'}" :is-close="false" @modal:close="closeModal">
        <section slot="title">
            QA 배정
        </section>
        <section slot="content">
            <div class="qa_setArea">
                <!-- .custom_tbl -->
                <div class="custom_tbl">
                    <div class="tbl_hd">
                        <table summary="체크박스, 심사자, 상태, 신계약(건)으로 구성">
                            <colgroup>
                                <col width="50"><col><col width="65"><col width="65">
                            </colgroup>

                            <thead>
                            <tr>
                                <th scope="col">
                                    <div class="chkBox">
                                        <input type="checkbox" id="chkGroup" :value="true" v-model="selectAll">
                                        <label for="chkGroup"></label>
                                    </div>
                                </th>
                                <th scope="col">심사자</th>
                                <th scope="col">상태</th>
                                <th scope="col">신계약</th>
                            </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="tbl_bd">
                        <table>
                            <colgroup>
                                <col width="50"><col><col width="65"><col width="65">
                            </colgroup>

                            <tbody>
                            <tr v-for="(item, index) in data">
                                <td scope="row">
                                    <!-- [D] 개별선택 체크박스 input[id]와 label[for] 값 동일하게 입력해야함 -->
                                    <!-- [D] 전체선택 체크박스 input[id]와 개별선택 체크박스 input[name] 값 동일하게 입력해야함 -->
                                    <div class="chkBox">
                                        <input v-model="assign" :disabled="item.offMgt === 'Y' ? true : false" :value="{userId: item.userId, userNm: item.userNm}" type="checkbox" name="chkGroup" :id="'chkOne'+index">
                                        <label :for="'chkOne'+index"></label>
                                    </div>
                                </td>
                                <td v-text="item.userNm">김민정</td>
                                <td v-text="item.offMgt === 'Y' ? '휴무' : '업무'">업무</td>
                                <td v-text="item.cnt">20</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- //.custom_tbl -->
            </div>
        </section>
        <section slot="btn">
            <div class="btnBox">
                <a @click="setAssign" class="btn_save">배정</a>
                <a @click="closeModal" class="btn_cancel btn_lyr_open">취소</a>
            </div>
        </section>
    </modal-component>
</template>

<script>
import ModalComponent from "./ModalComponent";
import {mapActions} from "vuex";
export default {
    name: "TmQaAssignSetModal",
    components: {ModalComponent},
    props: {
        parameters: {
            type: Object,
            default: {}
        },
    },
    data(){
        return {
            data : [],
            assignSearchParam: {
                fromDate: null,
                toDate: null,
            },
            assign: [],
            responseData : {},
        }
    },
    computed: {
        selectAll: {
            get() {
                return this.data ? this.assign.length === _.filter(this.data, (v) => v.offMgt !== 'Y').length : false;
            },
            set(value) {
                const filter = _.filter(this.data, (v) => v.offMgt !== 'Y');
                if(value){
                    this.assign  = filter
                        .map(v => {
                            return {userId: v.userId,userNm: v.userNm}
                        });
                }else{
                    if(this.assign.length === filter.length){
                        this.assign = [];
                    }
                }
            }
        }
    },
    methods: {
        ...mapActions('base', {
            removeModal: 'removeModal',
        }),
        closeModal() {
            this.removeModal(this);
        },
        async getAssignData(){
            const {data: result} = await this.parameters.repository.getAssignCntList(this.assignSearchParam);
            this.data = result.data;
        },
        async setAssign(){
            if(this.assign.length === 0){
                alert('선택된 심사자가 없습니다.');
            }else{
                const assignCnt = this.assign.length;
                let assignIndex = 0;
                this.parameters.targetList.forEach((v) => {
                    v.userNm = this.assign[assignIndex].userNm;
                    v.userId = this.assign[assignIndex].userId;
                    assignIndex+1 === assignCnt ? assignIndex = 0 : assignIndex++;
                });
                const {data: result} = await this.parameters.repository.setAssignInfo(this.parameters.targetList);
                this.responseData = result;
                if(this.responseData.result === 'FAIL'){
                    alert('QA 배정에 실패했습니다. 시스템 관리자에게 문의 바랍니다.');
                }else if(this.responseData.result === 'PARTIAL_SUCCESS'){
                    let msg = '';
                    _.forEach(
                        _.filter(this.responseData.data, (o) => o.status === 'UPDATE_DATE_FAIL' || o.status === 'ASSIGN_INSERT_FAIL'),
                        row => {
                            msg += '['+row.userId + '-'
                            msg += row.status === 'UPDATE_DATE_FAIL' ? '배정일자 수정 실패]' : '배정정보 등록 실패]'
                            msg += '<br/>'
                        }
                    )
                    alert('QA 배정에 부분 실패했습니다.</br>'+msg+'시스템 관리자에게 문의 바랍니다.');
                }else{
                    alert('QA 배정이 완료되었습니다.');
                }
                this.parameters.callback();
                this.closeModal();
            }
        },
    },
    mounted() {
        this.getAssignData();
    }
}
</script>

<style lang="scss" scoped>
    @import '~css/popup';
	.custom_tbl .tbl_bd {height: auto !important; max-height: 300px;}
</style>