<template>
    <modal-component modal-add-class="small" :modal-add-style="{height: 'auto'}" :is-close="false" @modal:close="closeModal">
        <section slot="title">
            휴무관리 [{{moment().format('YYYY-MM-DD')}}]
        </section>
        <section slot="content">
			<div class="qa_setArea">
				<div class="custom_tbl">
					<div class="tbl_hd">
						<table summary="심사자, 휴무상태로 구성">
							<colgroup>
								<col width="30%%"><col><col>
							</colgroup>

							<thead>
							<tr>
								<th scope="col">심사자</th>
								<th scope="col" colspan="2">휴무상태</th>
							</tr>
							</thead>
						</table>
					</div>

					<div class="tbl_bd">
						<table>
							<colgroup>
								<col width="30%%"><col><col>
							</colgroup>

							<tbody>
							<!-- [D] 라디오버튼 input[id]와 label[for] 값 동일하게 입력해야함 -->
							<!-- [D] 선택범위 구분은 input[name] 값을 동일하게 주면됨 -->
							<!-- [D] 기본 설정 근무로 체크되어있으며 휴무 체크 저장 시 휴무 반영되어야함 -->
							<tr v-for="(item, index) in data">
								<td scope="row" v-text="item.userNm">김민정</td>
								<td>
									<div class="radioBox">
										<input type="radio" v-model="data[index].offMgt" :checked="data[index].offMgt == null || data[index].offMgt == 'N' ? true : false" :id="'radioGrp'+item.userId+1">
										<label :for="'radioGrp'+item.userId+1">근무</label>
									</div>
								</td>
								<td>
									<div class="radioBox">
										<input type="radio" value="Y" v-model="data[index].offMgt" :checked="data[index].offMgt == 'Y' ? true : false" :id="'radioGrp'+item.userId+2">
										<label :for="'radioGrp'+item.userId+2">휴무</label>
									</div>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
        </section>
        <section slot="btn">
            <div class="btnBox">
                <a @click="setData" class="btn_save">저장</a>
                <a @click="closeModal" class="btn_cancel btn_lyr_open">취소</a>
            </div>
        </section>
    </modal-component>
</template>

<script>
import ModalComponent from "./ModalComponent";
import {mapActions} from "vuex";

export default {
    name: "TmQaAssignHolidayManageModal",
    components: {ModalComponent},
    props: {
        parameters: {
            type: Object,
            default: {}
        },
    },
    data(){
      return {
          data : [],
      }
    },
    methods: {
        ...mapActions('base', {
            removeModal: 'removeModal',
        }),
        closeModal() {
            this.removeModal(this);
        },
        async getData() {
            const {data: result} = await this.parameters.repository.getQaUserList();
            this.data = result.data;
        },
        async setData() {
            const {data: result} = await this.parameters.repository.setOrUpdHolidayInfo(this.data);
            if(result.result === 'SUCCESS'){
                alert('휴무관리 배정이 완료되었습니다.');
                this.closeModal();
            }else{
                let msg = '';
                result.data.forEach((v, i) => {
                    msg += v.userNm + '(' +v.userId + ')'
                    if(i != result.data.length) msg += ', '
                });
                alert('['+msg+'] 심사자에 대한 휴무관리 배정에 실패하였습니다. 시스템 관리자에게 문의 바랍니다.');
            }
            this.parameters.callback();
        }
    },
    mounted() {
        this.getData();
    }
}
</script>

<style lang="scss" scoped>
    @import '~css/popup';
	.custom_tbl .tbl_bd {height: auto !important; max-height: 300px;}
	.radioBox input[type="radio"] + label:before {top: 1px !important;}
	.radioBox input[type="radio"]:checked + label:after {top: 4px !important;}
</style>