<template>
    <div>
        <modal-component v-if="!lyr_notify" :modal-add-id="'lyr_qaTarget_save'" :is-close="true" @modal:close="closeModal">
            <section slot="title">
                QA 대상 지정상태 저장
            </section>
            <section slot="content">
                <p>저장 내용의 반영은 기존결과에 영향을 끼치지 않으며,<br>
                    이후 [대상 지정] 자동화 처리 시 반영됩니다.</p>
            </section>
            <section slot="btn">
                <div class="btnBox">
                    <a @click="fn_submit()" class="btn_lyr_save">확인</a>
                    <a @click="closeModal" class="btn_lyr_close">취소</a>
                </div>
            </section>
        </modal-component>

        <div v-if="lyr_notify" class="lyrBox lyr_notify">
            <div class="lyr_ct">
                <p class="massage">저장 중입니다...</p>
            </div>
        </div>
    </div>
</template>

<script>
import ModalComponent from "./ModalComponent";
import {mapActions} from "vuex";

export default {
    name: "TmQaTargetSetModal",
    components: {ModalComponent},
    props: {
        parameters: {
            type: Object,
            default: {}
        },
    },
    methods: {
        ...mapActions('base', {
            removeModal: 'removeModal',
        }),
        closeModal() {
            this.removeModal(this);
        },
        fn_submit() {
            this.parameters.callback();
            this.lyr_notify = true;
        },
        setModalState: function(payload) {
            this.modal_state = payload.modal_state;
        },
    },
    mounted() {
        //console.log(this.parameters)
    },
    data() {
        return {
            modal_state: '',
            lyr_notify: false,
        }
    },
}
</script>

<style>

</style>