<template>
    <modal-component modal-add-class="small" :modal-add-style="{width: 'auto', height: 'auto'}" :is-close="true" @modal:close="closeModal">
        <section slot="title">
            {{parameters.user ? '사용자 설정' : '사용자 추가'}}
        </section>
        <section slot="content">
            <div class="admin small">
                <!-- .counsel_stn_manage -->
                <div class="counsel_stn_manage">
                    <!-- .pop_mdl -->
                    <div class="pop_mdl">
                        <div class="setBox">
                            <div class="tbl_popup_set">
                                <table summary="사용자ID, 사용자명, 권한설정으로 구성됨">
                                    <colgroup>
                                        <col><col><col width="200">
                                    </colgroup>

                                    <thead>
                                    <tr>
                                        <th scope="col">사용자ID</th>
                                        <th scope="col">사용자명</th>
                                        <th scope="col">비밀번호{{parameters.user ? '(변경시 입력)' : ''}}</th>
                                        <th scope="col">권한설정</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr>
                                        <td scope="row">
                                            <div class="iptBox">
                                                <input :disabled="parameters.user" v-model="user.userId" type="text" maxlength="20">
                                            </div>
                                            <p v-if="$v.user.userId.$error">아이디 입력값이 올바르지 않습니다.</p>
                                        </td>
                                        <td>
                                            <div class="iptBox">
                                                <input v-model="user.userNm" type="text" maxlength="20">
                                            </div>
                                            <p v-if="$v.user.userNm.$error">사용자명 입력값이 올바르지 않습니다.</p>
                                        </td>
                                        <td>
                                            <div class="iptBox">
                                                <input v-model="user.userPw" type="password" maxlength="20">
                                            </div>
                                            <p v-if="$v.user.userPw.$error">비밀번호 규칙은 영문+숫자+특수문자 조합 8자리 이상 20자 이하 입니다.</p>
                                        </td>
                                        <td>
                                            <select class="select" v-model="user.autCd">
                                                <option disabled :value="null">-</option>
                                                <option v-for="(item, index) in auths" :value="item.autCd" v-text="item.autNm">사용자</option>
                                            </select>
                                            <p v-if="$v.user.autCd.$error">권한설정 값을 선택해주세요.</p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- //.pop_mdl -->
                </div>
                <!-- //.counsel_stn_manage -->
            </div>
        </section>
        <section slot="btn">
            <div class="btnBox">
                <a @click="setOrPatchUser" class="btn_lyr_save">저장</a>
                <a v-if="parameters.user" @click="delUser" class="btn_lyr_close">삭제</a>
                <a @click="closeModal" class="btn_lyr_close">닫기</a>
            </div>
        </section>
    </modal-component>
</template>

<script>
import ModalComponent from "./ModalComponent";
import {mapActions} from "vuex";
import {required, maxLength, alphaNum, minLength, requiredUnless, helpers, requiredIf} from 'vuelidate/lib/validators';
const alphaNumAndSpecialValidator = helpers.regex('alphaNumAndSpecial', /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/i);
export default {
    name: "UserModal",
    components: {ModalComponent},
    props: {
        parameters: {
            type: Object,
            default: {},
        },
    },
    watch: {

    },
    data(){
        return {
            user : this.parameters.user ? {...this.parameters.user, ...{prevAutCd: this.parameters.user.autCd}} : {userId: null, userNm: null, userPw: null, autCd: null},
            manageRepository: this.parameters.repositoryFactory.get('manage'),
            auths : [],
        }
    },
    validations() {
        if(this.parameters.user){
            return {
                user:{
                    userId:{
                        required,
                        maxLength: maxLength(20),
                        alphaNum,
                    },
                    userNm:{
                        required,
                        maxLength: maxLength(20),
                    },
                    userPw:{
                        required: requiredUnless('isOptional'),
                        maxLength: maxLength(20),
                        minLength: minLength(8),
                        alphaNumAndSpecialValidator
                    },
                    autCd:{
                        required,
                    },
                },
            }
        }else{
            return {
                user:{
                    userId:{
                        required,
                        maxLength: maxLength(20),
                        alphaNum,
                    },
                    userNm:{
                        required,
                        maxLength: maxLength(20),
                    },
                    userPw:{
                        required,
                        maxLength: maxLength(20),
                        minLength: minLength(8),
                        alphaNumAndSpecialValidator
                    },
                    autCd:{
                        required,
                    },
                },
            }
        }
    },
    computed: {
        isOptional() {
            return this.parameters.user && this.userPw
        }
    },
    methods: {
        ...mapActions('base', {
            removeModal: 'removeModal',
        }),
        closeModal() {
            this.removeModal(this);
        },
        async getAuths(){
            const {data: result} = await this.manageRepository.getAuths();
            if(result.status === 'NOT_FOUND') console.log('조회결과 없음 - 권한 목록');
            this.auths = result.data;
        },
        async setOrPatchUser(){
            this.$v.user.$touch();
            if(!this.$v.user.$invalid){
                if(this.parameters.user){
                    const {data: result} = await this.manageRepository.updUser(this.user);
                    if(result.status === 'FAIL'){
                        alert('사용자 수정에 실패하였습니다.');
                    }else if (result.status === 'PASSWORD_VALIDATE_FAIL'){
                        alert('비밀번호 규칙이 올바르지 않습니다. 규칙은 영문+숫자+특수문자 조합 8자리 이상 20자 이하 입니다.')
                    }else if (result.status === 'RESTRICT_USE_PREV_PWD'){
                        alert('이전에 사용된 비밀번호는 사용이 제한됩니다.')
                    }else{
                        alert('사용자 수정이 완료되었습니다.');
                        this.parameters.callback();
                        this.closeModal();
                    }
                }else{
                    const {data: result} = await this.manageRepository.setUser(this.user);
                    if(result.status === 'FAIL'){
                        alert('사용자 등록에 실패하였습니다.');
                    }else if(result.status === 'VIOLATION_OF_PRIMARY_KEY'){
                        alert('중복된 사용자 아이디가 존재합니다.');
                    }else if (result.status === 'PASSWORD_VALIDATE_FAIL'){
                        alert('비밀번호 규칙이 올바르지 않습니다. 규칙은 영문+숫자+특수문자 조합 8자리 이상 20자 이하 입니다.')
                    }else if (result.stats === 'USE_USER_ID'){
                        alert('비밀번호에 사용자 계정 아이디가 포함되어있습니다.')
                    }else{
                        alert('사용자 등록이 완료되었습니다.');
                        this.parameters.callback();
                        this.closeModal();
                    }
                }
            }
        },
        async delUser(){
            const {data: result} = await this.manageRepository.delUser(this.user.userId);
            if(result.status === 'FAIL'){
                alert('사용자 삭제에 실패하였습니다.');
            }else{
                alert('사용자 삭제가 완료되었습니다.');
                this.parameters.callback();
                this.closeModal();
            }
        },
    },
    mounted() {

    },
    created() {
        this.getAuths();
    }
}
</script>

<style lang="scss" scoped>
    @import '~css/popup';
</style>