<template>
    <div class="player">
        <div class="playerBox">
            <div class="player_button">
                <button type="button" @click="fn_toggleAudio()" class="btn_player_play" :class="{pause : audio.is_playing}" title="재생/ 일시정지"></button>
            </div>
            <div class="stopped">
                <button type="button" @click="fn_stopAudio()" class="btn_player_play stop" title="정지"></button>
            </div>
            <div class="player_bar" style="width: 150px;">
                <v-slider 
                    min="0"
                    max="1000"
                    v-model="audio.player_bar"
                    @mousedown="fn_seekAudio()"
                    @mouseup="fn_mouseUp()"
                    color="#009583"
                    track-color="rgba(0,0,0,0.05)"
                    hide-details
                >
                </v-slider>
            </div>
            <div class="player_time">
                <span class="current">{{audio.current_time_format}}</span> / <span class="duration">{{audio.duration_format}}</span>
            </div>
            <div class="player_volume">
                <div class="player_bar_button">
                    <a @click="audio.volume_bar = 0" title="볼륨 0"></a>
                </div>
                <div class="player_bar_adjust" style="width: 80px;">
                    <v-slider min="0" max="100" v-model="audio.volume_bar" color="#009583" track-color="rgba(0,0,0,0.05)"></v-slider>
                </div>
            </div>
        </div>
        <div class="sltBox pyr_speed">
            <select class="select" v-model="audio.speedRate">
                <option value="1">1X</option>
                <option value="1.2">1.2X</option>
                <option value="1.5">1.5X</option>
                <option value="2">2X</option>
                <option value="3">3X</option>
            </select>
        </div>
    </div>
</template>

<script>
export default {
    name: "AudioComponent",
    props: {
        audioParam: {
            type: Object,
        },
    },
    created() {
        if(this.$props.audioParam.audioSrc) {
            let url = '/listen' + this.$props.audioParam.audioSrc;
            if(process.env.NODE_ENV === 'development'){
                //this.audio.object.src = require(`@/assets/audio/aekukka.mp3`);
                this.audio.object.src = 'http://10.122.64.167' + url;
            }else{
                this.audio.object.src = url;
            }
        }

        const vm = this;
        const audio = this.audio.object;
        audio.addEventListener("play", function () {
            if(audio.src) {
                vm.audio.is_playing = true;
            }
        }, false);

        audio.addEventListener("pause", function () {
            vm.audio.is_playing = false;
        }, false);

        audio.addEventListener("ended", function () {
            vm.audio.is_playing = false;
        }, false);

        audio.addEventListener("timeupdate", function() {
            vm.audio.current_time_format = vm.fn_formatToHHMMSS(audio.currentTime);
            vm.audio.player_bar = audio.currentTime / audio.duration * 1000;
            let seconds = parseInt(audio.currentTime);
            if(seconds != this.currentTimeInt) {
                vm.$emit('currentTime', seconds);
                this.currentTimeInt = seconds;
            }
        }, false);

        audio.addEventListener("loadeddata", function() {
            vm.audio.is_playing = false;
            vm.audio.duration_format = vm.fn_formatToHHMMSS(audio.duration);
        }, false);

        audio.addEventListener("playing", function() {
            vm.audio.is_playing = true;
        }, false);
    },
    watch: {
        'audio.volume_bar': function() {
            this.audio.object.volume = this.audio.volume_bar / 100;
        },
        'audio.speedRate': function() {
            this.audio.object.playbackRate = this.audio.speedRate;
        },
        // 재생바 드래그시에 작동
        'audio.player_bar': function(n, o) {
            if(this.audio.object.paused){
                if(this.audio.player_bar) {
                    this.audio.current_time_format = this.fn_formatToHHMMSS(this.audio.player_bar / 1000 * this.audio.object.duration);
                }
            }
        },
        audioParam: function(n, o) {
            if(!this.audio.object.paused) {
                this.audio.object.pause();
            }
            if(o.audioSrc != n.audioSrc) {
                if(n.audioSrc) {
                    let url = '/listen' + this.$props.audioParam.audioSrc;
                    if(process.env.NODE_ENV === 'development'){
                        //this.audio.object.src = require(`@/assets/audio/aekukka.mp3`);
                        this.audio.object.src = 'http://10.122.64.167' + url;
                    }else{
                        this.audio.object.src = url;
                    }
                }else {
                    this.audio.object.src = '';
                    this.audio.duration_format = '00:00:00';
                    this.audio.is_playing = false;
                }
            }
            if(n.jumpTime) {
                this.audio.object.currentTime = this.$props.audioParam.jumpTime;
                this.audio.object.play();
            }
            if(n.playYN) {
                n.playYN === 'N' ? this.audio.object.pause() : this.audio.object.play();
            }
        },
    },
    data() {
        return {
            audio: {
                object: new Audio(),
                is_playing: false,
                player_bar: '',
                current_time_format: '00:00:00',
                duration_format: '00:00:00',
                volume_bar: '100',
                speedRate: '1',
                prev_is_playing: false,
                currentTimeInt: 0,
            },
        }
    },
    methods: {
        fn_toggleAudio() {
            if(this.audio.object.src) {
                this.audio.object.paused ? this.audio.object.play() : this.audio.object.pause();
            }
        },
        fn_stopAudio() {
            if(this.audio.object.src) {
                this.audio.object.currentTime = 0;
                this.audio.object.pause();
            }
        },
        fn_seekAudio() {
            if(this.audio.object.src) {
                if(!this.audio.object.paused) {
                    this.audio.object.pause();
                    this.audio.prev_is_playing = true;
                }
                this.audio.object.currentTime = this.audio.player_bar/1000 * this.audio.object.duration;
            }
        },
        fn_mouseUp() {
            if(this.audio.object.src) {
                this.audio.object.currentTime = this.audio.player_bar / 1000 * this.audio.object.duration;
                if(this.audio.prev_is_playing) {
                    this.audio.object.play();
                    this.audio.prev_is_playing = false;
                }
            }
        },
        fn_formatToHHMMSS(timestamp) {
            if(!timestamp) return '00:00:00';

            let sec_num = parseInt(timestamp, 10);
            let hours   = Math.floor(sec_num / 3600);
            let minutes = Math.floor((sec_num - (hours * 3600)) / 60);
            let seconds = sec_num - (hours * 3600) - (minutes * 60);

            if (hours   < 10) {hours   = "0"+hours;}
            if (minutes < 10) {minutes = "0"+minutes;}
            if (seconds < 10) {seconds = "0"+seconds;}

            return hours+':'+minutes+':'+seconds;
        },
    },
    beforeDestroy() {
        this.audio.object.pause();
    }
}
</script>