<template>
    <v-app>
        <div class="popup_wrap middle tm_qa_stt">
            <h1>TM_QA ‐ STT 전수</h1>

            <div class="customInfo">
                <table class="tbl_line_view" summary="청약일자, 센터, 실, 상담원, 담당QA, 증권번호로 구성">
                    <colgroup>
                        <col width="100">
                        <col width="310">
                        <col width="100">
                        <col>
                        <col width="100">
                        <col>
                        <col width="100">
                        <col>
                        <col width="100">
                        <col>
                        <col width="100">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row">청약일자</th>
                            <td>
                                <span class="consult_time custom_info">{{sttRstInfo.regDy}}</span>
                                <span>‐</span>
                                <span class="consult_time custom_info">{{sttRstInfo.regDy}}</span>
                            </td>
                            <th scope="row">센터</th>
                            <td>
                                <span class="name custom_info">{{sttRstInfo.cntrNm}}</span>
                            </td>
                            <th scope="row">실</th>
                            <td>
                                <span class="custom_num custom_info">{{sttRstInfo.prtNme}}</span>
                            </td>
                            <th scope="row">상담원/사번</th>
                            <td>
                                <span class="consultant custom_info">{{sttRstInfo.saesEmnm}}/{{sttRstInfo.saesEmno}}</span>
                            </td>
                            <th scope="row">담당QA</th>
                            <td>
                                <span class="epy_num custom_info">{{sttRstInfo.qaUserNm}}</span>
                            </td>
                            <th scope="row">증권번호</th>
                            <td>
                                <span class="work_type custom_info">{{$route.query.nsplNo}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="dataTableBox">
                <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
                    <div class="dataTables_scroll">
                        <div class="dataTables_scrollHead" style="overflow: hidden; width: 100%;" :class="{pr10 : callList.length > 2}">
                            <div class="dataTables_scrollHeadInner" style="box-sizing: content-box;">
                                <table class="dataTable tbl_counsel_list no-footer" role="grid">
                                    <thead>
                                        <tr role="row">
                                            <th style="width: 50px;">NO</th>
                                            <th style="width: 200px;">상담일시</th>
                                            <th style="width: 150px;">통화시간</th>
                                            <th style="width: 100px;">청약</th>
                                            <th style="width: 150px;">STT 상태</th>
                                            <th style="width: 150px;">센터</th>
                                            <th style="width: 150px;">실</th>
                                            <th style="width: 100px;">상담원</th>
                                            <th style="width: 501px;">콜키</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div class="dataTables_scrollBody" style="overflow: auto; max-height: 90px;">
                            <table class="dataTable tbl_counsel_list no-footer dtr-inline" id="DataTables_Table_0" role="grid">
                                <colgroup>
                                    <col width="50">
                                    <col width="200">
                                    <col width="150">
                                    <col width="100">
                                    <col width="150">
                                    <col width="150">
                                    <col width="150">
                                    <col width="100">
                                    <col width="501">
                                </colgroup>
                                <tbody>
                                    <tr v-for="(v, i) in callList" :key="v.recKey" :class="{active: v.active}" @click="fn_changeCallKey(i)" style="cursor: pointer;">
                                        <td>{{i+1}}</td>
                                        <td>{{v.callDt}}</td>
                                        <td>{{fn_formatToHHMMSS(v.recDuTm)}}</td>
                                        <td>{{v.callType}}</td>
                                        <td>{{v.progStatCdNm}}</td>
                                        <td>{{v.cntrNm}}</td>
                                        <td>{{v.prtNme}}</td>
                                        <td>{{v.saesEnmn}}</td>
                                        <td>{{v.recKey}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <AudioComponent :audio-param="audioParam" @currentTime="handlerCurrentTime" />
                <div class="auto_scroll">
                    <v-checkbox v-model="auto_scroll" label="자동 스크롤" color="#009583" hide-details dense></v-checkbox>
                </div>
                
                <div class="term_srch_box">
                    <div id="findTxt" class="srchBox">
                        <input type="search" v-model="searchKeyword" id="findTxtField" class="srchText" placeholder="검색어 입력" @keyup.enter="fn_findText()">
                        <a @click="fn_findText()" class="btn_srch">
                            <span>검색버튼</span>
                        </a>
                    </div>
                    <div v-if="search" class="pageing">
                        <div class="page"><span class="nowNum">{{searchCount}}</span>/ <span class="allNum">{{searchTotalCount}}</span></div>
                        <a @click="fn_selectText('prev')" class="btn_page_prev" :class="{disabled : searchCount == 1 || searchCount == 0}">이전</a>
                        <a @click="fn_selectText('next')" class="btn_page_next" :class="{disabled : searchCount == searchTotalCount || searchCount == 0}">다음</a>
                    </div>
                </div>

                <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper no-footer">
                    <div class="dataTables_scroll">
                        <div class="dataTables_scrollHead" style="overflow: hidden; width: 100%; padding-right: 10px;">
                            <div class="dataTables_scrollHeadInner">
                                <table class="dataTable tbl_counsel_script no-footer" role="grid">
                                    <thead>
                                        <tr role="row">
                                            <th style="width: 50px;">콜 NO</th>
                                            <th style="width: 70px;">영역</th>
                                            <th style="width: 60px;">구분</th>
                                            <th style="width: 70px;">시작시간</th>
                                            <th style="width: 1092px;">STT 결과</th>
                                            <th style="width: 50px;">순번</th>
                                            <th style="width: 100px;">탐지 구간</th>
                                            <th style="width: 60px;">수정</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div class="dataTables_scrollBody stt_scroll" style="position: relative; overflow: auto; max-height: 575px; width: 100%;">
                            <table class="dataTable tbl_counsel_script no-footer dtr-inline" id="DataTables_Table_1" role="grid" style="width: 100%;">
                                <colgroup>
                                    <col width="50">
                                    <col width="70">
                                    <col width="60">
                                    <col width="70">
                                    <col width="1092">
                                    <col width="50">
                                    <col width="100">
                                    <col width="60">
                                </colgroup>
                                <tbody>
                                    <tr v-for="(v, i) in scriptList" :key="i" :class="{currentPlay : v.isPlaying}">
                                        <td :class="'reckey-'+v.recKey">{{v.callNo}}</td>
                                        <td>{{v.scriptYn}}</td>
                                        <td :class="{seller : v.spkDivCd === 'S', customer : v.spkDivCd === 'C'}">{{v.spkDivCdNm}}</td>
                                        <td>{{v.stmtStTm}}</td>
                                        <td @contextmenu="fn_openCtxMenu($event, i)">
                                            <a @click="fn_setAudioPosition(v.recKey, v.sttmSec)">
                                                <span v-html="v.stmt"></span>
                                            </a>
                                        </td>
                                        <td>{{v.stmtNo}}</td>
                                        <td>{{v.chkItmNm}}</td>
                                        <td>{{v.updateStmtYn}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="dt-buttons">
                            <button type="button" @click="fn_exportExcel()" class="dt-button buttons-excel buttons-html5"><span>Excel 다운로드</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </v-app>
</template>

<script>
import AudioComponent from "./AudioComponent";
import {RepositoryFactory} from '@/repositories/RepositoryFactory';
import excelUtils from '@/utils/excelUtils';
import {EventBus} from "@/utils/bus";

const QaSttAllRepository = RepositoryFactory.get('qaSttAll');
const QaAuditRepository = RepositoryFactory.get('qaAudit');

export default {
    name: 'TmQaSttAllPopup',
    components: {
        AudioComponent,
    },
    async created() {
        // TODO API 호출해서 오디오파일 set
        await this.getTmqaAllSttRstInfo();
        await this.getQaAuditCallList();
        await this.getTmqaAllSttRstList();
        this.originScriptList = _.cloneDeep(this.scriptList);

        // STT 문장 수정시 데이터 전달 받음
        EventBus.$on('update_stmt_obj', (data) => {
            this.updateStmtObj = data;
        });
    },
    data() {
        return {
            currentTime: 0,
            searchKeyword: '',
            search: false,
            searchCount: 0,
            searchTotalCount: 0,
            sttRstInfo: {},
            callList: [],
            scriptList: [],
            originScriptList: [],
            scriptPlayIndex: 0,
            updateStmtObj: {},
            auto_scroll: true,

            audioParam: {
                audioSrc: '',
                jumpTime: 0,
            },

            header: {
                callNo: '콜 NO',
                scriptYn: '영역',
                spkDivCdNm: '구분',
                stmtStTm: '시작시간',
                stmt: 'STT 결과',
                stmtNo: '순번',
                chkItmNm: '탐지 구간',
                updateStmtYn: '수정',
            },
            callNo: 1,  // 현재 로드된 오디오 순번
        }
    },
    watch: {
        // 현재 재생중인 텍스트 포커스
        currentTime() {
            this.$nextTick(() => {
                let el = document.querySelector('.currentPlay');
                if(el && this.auto_scroll) {
                    el.scrollIntoView({behavior: 'smooth', block: "center"});
                }
            });
        },
        updateStmtObj: {
            deep: true,
            handler() {
                this.scriptList.forEach(v => {
                    if(v.stmtNo == this.updateStmtObj.stmtNo) {
                        v.updateStmt = this.updateStmtObj.updateStmt;
                        v.updateStmtYn = 'Y';
                    }
                });
            }
        }
    },
    methods: {
        // 마스터 정보
        async getTmqaAllSttRstInfo() {
            const {data: result} = await QaAuditRepository.getQaAuditMasterInfo(this.$route.query.nsplNo);
            if(result.data) {
                this.sttRstInfo = result.data;
            }else {
                alert("유효하지않은 증권번호입니다.");
                window.close();
            }
        },
        // 콜 목록
        async getQaAuditCallList() {
            const {data: result} = await QaAuditRepository.getQaAuditCallList(this.$route.query.nsplNo);
            if(result.data) {
                this.callList = result.data;
                this.fn_changeCallActive(0);    // 콜 목록에서 첫번째 데이터 하이라이트(active = true)
                this.audioParam = {
                    audioSrc: this.callList[0].audioSrc,
                }
            }else {
                alert("녹취 목록을 가져오지 못했습니다.");
            }
        },
        // STT 스크립트 목록
        async getTmqaAllSttRstList() {
            const {data: result} = await QaSttAllRepository.getTmqaAllSttRstList(new URLSearchParams(location.search).toString());
            if(result.data){
                this.scriptList = result.data;
            }
        },
        fn_findText() {
            if(this.searchKeyword) {
                // 검색 관련 변수 초기화
                this.scriptList = _.cloneDeep(this.originScriptList);
                this.searchCount = 0;
                this.searchTotalCount = 0;

                this.search = true;
                this.scriptList.forEach((v, i) => {
                    v.stmt = v.stmt.replace(new RegExp(this.searchKeyword, "gi"), match => {
                        this.searchTotalCount++;
                        return `<strong id="selection${this.searchTotalCount}">${match}</strong>`;
                    });
                });
                this.$nextTick(() => {
                    this.fn_selectText('next');
                });
            }else {
                alert("검색어를 입력해주세요.");
            }
        },
        fn_selectText(direction) {
            // 단어 검색 이전, 다음 클릭 시 유효성 검증
            if(direction === 'next') {
                if(this.searchCount >= this.searchTotalCount) {
                    return false;
                }else {
                    this.searchCount++;
                }
            }else if(direction === 'prev') {
                if(this.searchCount <= 1) {
                    return false;
                }else {
                    this.searchCount--;
                }
            }else {
                return false;
            }

            this.fn_clearBackground();
            let el = document.querySelector('#selection' + this.searchCount);
            el.scrollIntoView({behavior: 'smooth', block: "center"});
            el.style.background = '#ffb624';

        },
        // 검색으로 인해 백그라운드에 색상이 입혀진 텍스트 다시 흰색으로 변경
        fn_clearBackground() {
            document.querySelectorAll('[id *= selection]').forEach(v => {
                v.style.background = '#fff';
            });
        },
        fn_formatToHHMMSS(timestamp) {
            if(!timestamp) return '00:00:00';

            let sec_num = parseInt(timestamp, 10);
            let hours   = Math.floor(sec_num / 3600);
            let minutes = Math.floor((sec_num - (hours * 3600)) / 60);
            let seconds = sec_num - (hours * 3600) - (minutes * 60);

            if (hours   < 10) {hours   = "0"+hours;}
            if (minutes < 10) {minutes = "0"+minutes;}
            if (seconds < 10) {seconds = "0"+seconds;}

            return hours+':'+minutes+':'+seconds;
        },
        // 오디오 재생시간을 받아와서 현재 재생중인 텍스트 하이라이트 처리
        handlerCurrentTime(value) {
            this.currentTime = value;
            this.scriptList.forEach((v, i) => {
                if(v.callNo == this.callNo && v.stmtStTm === this.fn_formatToHHMMSS(value)) {
                    this.scriptList[this.scriptPlayIndex].isPlaying = false;
                    this.scriptPlayIndex = i;
                    v.isPlaying = true;
                }
            });
        },
        // 마우스 우클릭시 컨텍스트 메뉴 오픈
        fn_openCtxMenu(e, i) {
            e.preventDefault();
            let data = {
                sttText: this.scriptList[i].stmt,
                recKey: this.scriptList[i].recKey,
                stmtNo: this.scriptList[i].stmtNo,
                updateStmt: this.scriptList[i].updateStmt,
            }
            EventBus.$emit('seleted_stt', data);
            EventBus.$emit('QaSttAllRepository', QaSttAllRepository);

            // 마우스 커서위치 기준으로 ctxMenu 열기
            let ctx = document.querySelector('.contextMenu');
            ctx.style.left = e.clientX + 'px';
            ctx.style.top = e.clientY + 'px';
            ctx.style.display = 'block';

        },
        // 콜 목록에서 로우를 클릭했을시
        fn_changeCallKey(index) {
            this.audioParam = {
                'audioSrc': this.callList[index].audioSrc,
                'jumpTime': 0,
                'playYN': 'N',
            }

            this.fn_changeCallActive(index);

            // STT결과 해당 스크립트 처음 텍스트로 스크롤 이동
            this.handlerCurrentTime(0);
            this.$nextTick(() => {
                let el = document.querySelector('.reckey-'+this.callList[index].recKey);
                el.scrollIntoView();
            });

        },
        // 텍스트 클릭시 해당 위치의 오디오 재생
        fn_setAudioPosition(recKey, position) {
            let audioSrc = _.find(this.callList, {recKey: recKey}).audioSrc;
            this.audioParam.jumpTime = Number(position);
            this.audioParam = {
                'audioSrc': audioSrc,
                'jumpTime': position,
            }

            // 콜 목록에서 현재 재생중인 오디오 하이라이트(active)
            let index = _.findIndex(this.callList, {recKey: recKey});
            this.fn_changeCallActive(index);
        },
        // 엑셀 다운로드
        fn_exportExcel() {
            excelUtils.dataTableToXLSX(this.header, this.scriptList, 'STT 전수', 'STT 전수');
        },
        // 콜 목록에서 재생중인 오디오에 해당하는 데이터 하이라이트
        fn_changeCallActive(index) {
            this.callNo = index + 1;
            this.callList.forEach(v => v.active = false);
            this.callList[index].active = true;
        },
    }
}
</script>

<style lang="scss" scoped>
    ::v-deep {
        .v-slider {cursor: pointer;}
        .seller {background: rgb(253, 237, 220);}
        .customer {background: rgb(233, 241, 243);}
        .tm_qa_stt .dataTables_scroll table tr td a {color: #000;}
        .tm_qa_stt .dataTables_scroll table tr td a:hover {font-weight: bold;}

        .pr10 {padding-right: 10px;}

        .auto_scroll {float: left; height: 30px; margin: 5px 5px;}
        .v-input--selection-controls {margin-top: 0px;}
    }
</style>
