<template>
  <div class="tab_content">
    <!-- .srchArea -->
    <div class="srchArea">
      <table
        class="tbl_line_view"
        summary="청약일자, 센터, 실, 상담원, 사번, 상품명, 청약상태로 구성"
      >
        <caption class="hide">
          검색조건
        </caption>
        <colgroup>
          <col width="100" />
          <col width="310" />
          <col width="100" />
          <col />
          <col width="100" />
          <col />
          <col width="100" />
          <col />
        </colgroup>

        <tbody>
          <tr>
            <th scope="row">청약일자</th>
            <!-- [D] 처음 페이지 들어왔을때의 초기 날짜세팅: 1일자부터 현재날짜 -->
            <!-- [D] 월 변경 시 다시 1일부터 세팅 -->
            <td>
              <div class="iptBox">
                <!-- <input type="text" id="fromDate" class="iptDateTime" /> -->
                <datepicker
                  id="datepickerStDt"
                  input-class="iptDateTime"
                  @input="
                    searchParams.fromDate = moment($event).format('yyyyMMDD')
                  "
                  :format="'yyyy-MM-dd'"
                  :language="ko"
                >
                </datepicker>
                <span>&hyphen;</span>
                <!-- <input type="text" id="toDate" class="iptDateTime" /> -->
                <datepicker
                  id="datepickerEdDt"
                  input-class="iptDateTime"
                  @input="
                    searchParams.toDate = moment($event).format('yyyyMMDD')
                  "
                  :format="'yyyy-MM-dd'"
                  :language="ko"
                >
                </datepicker>
              </div>
            </td>

            <th scope="row">상품명</th>
            <td colspan="3">
              <div class="iptBox">
                <input type="text" v-model="searchParams.prodNm" />
              </div>
            </td>

            <th scope="row">청약상태</th>
            <td>
              <div class="sltBox">
                <select class="select" v-model="searchParams.aptnCd">
                  <option v-show="aptnList.length < 1" disabled>
                    기간계 데이터 참조
                  </option>
                  <template v-if="aptnList.length > 0">
                    <option value="">전체</option>
                    <option
                      v-for="(item, idx) in aptnList"
                      v-bind:key="idx"
                      :value="item.aptnCd"
                    >
                      {{ item.aptnCd }}
                    </option>
                  </template>
                </select>
              </div>
            </td>
          </tr>

          <tr>
            <th scope="row">센터</th>
            <td>
              <div class="sltBox">
                <select class="select" v-model="searchParams.cntrCd">
                  <option v-show="cntrList.length < 1" disabled>
                    기간계 데이터 참조
                  </option>
                  <template v-if="cntrList.length > 0">
                    <option value="">전체</option>
                    <option
                      v-for="(item, idx) in cntrList"
                      v-bind:key="idx"
                      :value="item.saesCntrCd"
                    >
                      {{ item.cntrNm }}
                    </option>
                  </template>
                </select>
              </div>
            </td>

            <th scope="row">실</th>
            <td>
              <div class="sltBox">
                <select class="select" v-model="searchParams.partCd">
                  <option v-show="partList.length < 1" disabled>
                    기간계 데이터 참조
                  </option>
                  <template v-if="partList.length > 0">
                    <option value="">전체</option>
                    <option
                      v-for="(item, idx) in partList"
                      v-bind:key="idx"
                      :value="item.saesPrtCd"
                    >
                      {{ item.prtNme }}
                    </option>
                  </template>
                </select>
              </div>
            </td>

            <th scope="row">상담원</th>
            <td>
              <div class="sltBox">
                <select class="select" v-model="searchParams.empNo">
                  <option v-show="empList.length < 1" disabled>
                    기간계 데이터 참조
                  </option>
                  <template v-if="empList.length > 0">
                    <option value="">전체</option>
                    <option
                      v-for="(item, idx) in empList"
                      v-bind:key="idx"
                      :value="item.saesEmno"
                    >
                      {{ item.saesEmnm }}
                    </option>
                  </template>
                </select>
              </div>
            </td>

            <th scope="row">사번</th>
            <td>
              <div class="iptBox">
                <input type="text" numberOnly v-model="searchParams.사번" />
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- [D] 조회 버튼(.btn_srch)클릭 시 하단 리스트 오름차순으로 기본 정렬된 상태로 조회되며, 입력된 검색조건 값들은 reset되어야함 -->
      <!-- [D] 초기화 버튼(.btn_reset)클릭 시 검색조건 테이블 상 입력값들 모두 reset됨 -->
      <div class="btnBox">
        <a class="btn_srch" @click="onSearch()">조회</a>
        <a class="btn_reset" @click="onReset()">초기화</a>
      </div>
    </div>
    <!-- //.srchArea -->

    <!-- .dataTableBox -->
    <div class="dataTableBox">
      <!-- [D] datatables 라이브러리 영역 -->
      <!-- [D] 'Excel 다운로드' 버튼 클릭 시 파일 다운로드됨 -->
      <table class="dataTable" :style="{ width: '100%' }">
        <thead :style="{ width: '100%' }">
          <tr>
            <th>NO</th>
            <th>센터</th>
            <th>실</th>
            <th>상담원</th>
            <th>사번</th>
            <th>상담차월</th>
            <th>청약건수</th>
            <th>QA건수</th>
            <th>QA배정률</th>
            <th>QA보완율</th>
            <th>QA보완 완료율</th>
            <th>QA 전체점수</th>
            <th>QA 평균점수</th>
            <th>TA 전체점수</th>
            <th>TA 평균점수</th>
            <th>심사패널티</th>
          </tr>
        </thead>

        <!-- [D] 조회된 목록(tbody tr) 더블클릭 시 심사페이지 윈도우 팝업으로 등장 -->
        <!-- [D] 계약자, 피보험자 이름 첫번째, 마지막 글자 제외 가운데 글자 모두 마스킹 해야함 -->
        <!-- [D] 질의요청, 응답결과 셀은 해당 내용이 있을때만 텍스트 들어감 -->
        <tbody
          :style="{
            display: 'block',
            maxHeight: '510px',
            overflow: 'auto',
            width: '98vw',
          }"
        >
          <tr
            v-for="(item, idx) in gridData"
            v-bind:key="idx"
            :style="{ display: 'table', tableLayout: 'fixed', width: '100%' }"
          >
            <td>{{ idx + 1 }}</td>
            <td>{{ item.cntrNm }}</td>
            <td>{{ item.prtNme }}</td>
            <td>{{ item.saesEmnm }}</td>
            <td>{{ item.saesEmno }}</td>
            <td>{{ item.dutyMtcnt }}</td>
            <td>{{ item.nsplCnt }}</td>
            <td>{{ item.qaCnt }}</td>
            <td>{{ `${Math.round(item.qaRate, 0)}%` }}</td>
            <td>{{ `${item.qaSuppRate}%` }}</td>
            <td>
              {{
                typeof item.qaSuppFinRate === "number"
                  ? `${item.qaSuppFinRate}%`
                  : "-"
              }}
            </td>
            <td>{{ item.qaFinScr }}</td>
            <td>{{ item.qaFinAvg }}</td>
            <td>{{ item.ta1FinScr }}</td>
            <td>{{ item.ta1FinAvg }}</td>
            <td>{{ item.심사페널티 }}</td>
          </tr>
        </tbody>

        <!-- [D] 하단 셀(tfoot th)에 순서대로 청약건수 / QA건수 / QA배정율(평균) / QA보완율(평균) / QA보완완료율(평균) / QA전체점수(sum) / QA평균 점수(평균) / TA전체점수(sum) / TA평균점수(평균) / 심사패널티 (sum) - 필드별 합계 넣어야함  -->
        <!-- <tfoot>
          <tr>
            <th colspan="6">합계&colon;</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </tfoot> -->
      </table>

      <table class="dataTable" :style="{ width: '100%' }">
        <tfoot>
          <tr>
            <th colspan="6">합계&colon;</th>
            <th>{{ totalValues.nsplCnt }}</th>
            <th>{{ totalValues.qaCnt }}</th>
            <th>{{ totalValues.qaRate }}</th>
            <th>{{ totalValues.qaSuppRate }}</th>
            <th>{{ totalValues.qaSuppFinRate }}</th>
            <th>{{ totalValues.qaFinScr.toFixed(1) }}</th>
            <th>{{ totalValues.qaFinAvg }}</th>
            <th>{{ totalValues.ta1FinScr.toFixed(1) }}</th>
            <th>{{ totalValues.ta1FinAvg }}</th>
            <th>{{ totalValues.심사페널티 }}</th>
          </tr>
        </tfoot>
      </table>
      <div class="btnBox">
        <a @click="exportStatExcel(searchParams)">엑셀 다운로드</a>
      </div>
    </div>
    <!-- //.dataTableBox -->
  </div>
</template>

<script>
import { EventBus } from "../../utils/bus";
import PaginationComponent from "../pagination/PaginationComponent";
import { RepositoryFactory } from "@/repositories/RepositoryFactory";
import Datepicker from "vuejs-datepicker";
import excelUtils from "../../utils/excelUtils";
const StatisticsRepository = RepositoryFactory.get("statistics");

export default {
  name: "Consultant",
  components: {
    PaginationComponent,
    Datepicker,
  },
  data() {
    return {
      aptnList: [],
      cntrList: [],
      partList: [],
      empList: [],
      searchParams: {
        fromDate: "20201201",
        toDate: "20210630",
        prodNm: null,
        aptnCd: "",
        cntrCd: "",
        partCd: "",
        empNo: "",
      },
      gridHeaders: [
        { text: "NO", value: "rowNum", align: "center", sortable: true },
        { text: "센터", value: "cntrNm", align: "center", sortable: true },
        { text: "실", value: "prtNme", align: "center", sortable: true },
        { text: "상담원", value: "saesEmnm", align: "center", sortable: true },
        { text: "사번", value: "saesEmno", align: "center", sortable: true },
        {
          text: "상담차월",
          value: "dutyMtcnt",
          align: "center",
          sortable: true,
        },
        {
          text: "청약건수",
          value: "nsplCnt",
          align: "center",
          sortable: true,
        },
        { text: "QA건수", value: "qaCnt", align: "center", sortable: true },
        {
          text: "QA배정률",
          value: "qaRate",
          align: "center",
          sortable: true,
        },
        {
          text: "QA보완율",
          value: "qaSuppRate",
          align: "center",
          sortable: true,
        },
        {
          text: "QA보완 완료율",
          value: "qaSuppFinRate",
          align: "center",
          sortable: true,
        },
        {
          text: "QA 전체점수",
          value: "qaFinScr",
          align: "center",
          sortable: true,
        },
        {
          text: "QA 평균점수",
          value: "qaFinAvg",
          align: "center",
          sortable: true,
        },
        {
          text: "TA 전체점수",
          value: "ta1FinScr",
          align: "center",
          sortable: true,
        },
        {
          text: "TA 평균점수",
          value: "ta1FinAvg",
          align: "center",
          sortable: true,
        },
        {
          text: "심사패널티",
          value: "심사페널티",
          align: "center",
          sortable: true,
        },
      ],
      gridData: [],
      totalValues: {
        nsplCnt: 0,
        qaCnt: 0,
        qaRate: "-",
        qaSuppRate: "-",
        qaSuppFinRate: "-",
        qaFinScr: 0,
        qaFinAvg: "-",
        ta1FinScr: 0,
        ta1FinAvg: "-",
        심사페널티: "-",
      },
    };
  },
  methods: {
    // 조회 버튼
    onSearch() {
      this.getConsultantStatMainList(this.searchParams);
    },
    // 초기화 버튼
    onReset() {
      this.searchParams = {
        fromDate: null,
        toDate: null,
        prodNm: null,
        aptnCd: "",
        saesCntrCd: "",
        saesPrtCd: "",
        saesEmno: "",
      };
    },
    // 보완율, 보완완료율 계산
    calcRate(jsonArr) {
      jsonArr.forEach((item) => {
        Number(item.qaCnt) > 0
          ? (item.qaSuppRate =
              Math.round(Number(item.qaSuppCnt) / Number(item.qaCnt), 2) * 100)
          : (item.qaSuppRate = "-"),
          Number(item.qaSuppCnt) > 0
            ? (item.qaSuppFinRate =
                Math.round(
                  Number(item.SuppFinCnt) / Number(item.qaSuppCnt),
                  2
                ) * 100)
            : (item.qaSuppFinRate = "-");
      });
      return jsonArr;
    },
    // 총합 계산
    calcTotal(jsonArr) {
      jsonArr.forEach((item) => {
        Object.keys(item).forEach((key) => {
          // typeof this.totalValues[key] === "Number"
          key !== "qaRate" &&
          key !== "qaSuppRate" &&
          key !== "qaSuppFinRate" &&
          key !== "qaFinAvg" &&
          key !== "ta1FinAvg" &&
          key !== "심사페널티"
            ? (this.totalValues[key] += Number(item[key]))
            : null;
        });
      });
    },
    //// api
    // 기간계 연동
    // // 센터 목록 조회
    // async getCntrList() {
    //   console.log("센터 목록 조회 >>>>>");
    // },
    // // 실 목록 조회
    // async getPartList() {
    //   console.log("실 목록 조회 >>>>>");
    // },
    // // 사번 목록 조회
    // async getEmployeeList() {
    //   console.log("사번 목록 조회 >>>>>");
    // },
    // 상담원 통계 메인리스트 조회
    async getConsultantStatMainList(jsonData) {
      console.log(jsonData);
      const { data: result } = await StatisticsRepository.getTmrStatMainList(
        jsonData
      );
      console.log("상담원 통계 메인리스트 조회 >>>>>");
      console.log(result);
      this.gridData = this.calcRate(result.dataList);
      this.calcTotal(this.gridData);
    },
    // 엑셀 파일 다운로드
    async exportStatExcel(jsonData) {
      const { data: result } = await StatisticsRepository.getTmrStatMainList(
        jsonData
      );
      console.log("excelDownload result >>>>>>>");
      console.log(result);
      result.dataList.forEach((v, i) => (v.rowNum = i + 1));
      excelUtils.dataTableToXLSX(
        this.gridHeaders,
        this.calcRate(result.dataList),
        "상담원통계",
        "상담원 통계"
      );
    },
  },
  activated() {
    EventBus.$emit("setContetnsClass", { className: "admin qa_result" });
  },
  created() {
    EventBus.$emit("setContetnsClass", {
      className: "admin qa_result",
    });
  },
  mounted() {
    this.getConsultantStatMainList(this.searchParams);
  },
};
</script>

<style scoped>
</style>