<template>
  <div class="tab_content">
    <!-- .srchArea -->
    <div class="srchArea">
      <table class="tbl_line_view" summary="청약일자, 담당QA로 구성">
        <caption class="hide">
          검색조건
        </caption>
        <colgroup>
          <col width="100" />
          <col />
          <col width="100" />
          <col />
        </colgroup>

        <tbody>
          <tr>
            <th scope="row">청약일자</th>
            <!-- [D] 처음 페이지 들어왔을때의 초기 날짜세팅: 1일자부터 현재날짜 -->
            <!-- [D] 월 변경 시 다시 1일부터 세팅 -->
            <td>
              <div class="iptBox">
                <!-- <input type="text" id="fromDate" class="iptDateTime" /> -->
                <datepicker
                  id="datepickerStDt"
                  input-class="iptDateTime"
                  @input="
                    searchParams.fromDate = moment($event).format('yyyyMMDD')
                  "
                  :format="'yyyy-MM-dd'"
                  :language="ko"
                >
                </datepicker>
                <span>&hyphen;</span>
                <!-- <input type="text" id="toDate" class="iptDateTime" /> -->
                <datepicker
                  id="datepickerEdDt"
                  input-class="iptDateTime"
                  @input="
                    searchParams.toDate = moment($event).format('yyyyMMDD')
                  "
                  :format="'yyyy-MM-dd'"
                  :language="ko"
                >
                </datepicker>
              </div>
            </td>

            <th scope="row">담당QA</th>
            <td>
              <div class="sltBox">
                <select class="select" v-model="searchParams.qaId">
                  <option v-show="qaList.length < 1" disabled>
                    담당QA 정보가 없습니다
                  </option>
                  <template v-if="qaList.length > 0">
                    <option value="">전체</option>
                    <option
                      v-for="(item, idx) in qaList"
                      v-bind:key="idx"
                      :value="item.userId"
                    >
                      {{ item.userNm }}
                    </option>
                  </template>
                </select>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- [D] 조회 버튼(.btn_srch)클릭 시 하단 리스트 오름차순으로 기본 정렬된 상태로 조회되며, 입력된 검색조건 값들은 reset되어야함 -->
      <!-- [D] 초기화 버튼(.btn_reset)클릭 시 검색조건 테이블 상 입력값들 모두 reset됨 -->
      <div class="btnBox">
        <a class="btn_reset" @click="onReset()">초기화</a>
        <a class="btn_srch" @click="onSearch()">조회</a>
      </div>
    </div>
    <!-- //.srchArea -->

    <!-- .dataTableBox -->
    <div class="dataTableBox">
      <!-- [D] datatables 라이브러리 영역 -->
      <!-- [D] 'Excel 다운로드' 버튼 클릭 시 파일 다운로드됨 -->
      <table class="dataTable" :style="{ width: '100%' }">
        <thead>
          <tr>
            <th>NO</th>
            <th>청약일자</th>
            <th>담당 QA</th>
            <th>처리건수</th>
            <th>계약자수</th>
            <th>처리시간</th>
            <th>TA 점수(총)</th>
            <th>TA 점수(평균)</th>
            <th>콜타임</th>
            <th>QA 점수(총)</th>
            <th>QA 점수(평균)</th>
            <!-- <th>수용건</th>
              <th>불수용건</th>
              <th>부분 수용건</th>
              <th>타부서 검토필요</th>
              <th>단순문의답변</th> -->
          </tr>
        </thead>

        <!-- [D] 담당QA 이름 첫번째, 마지막 글자 제외 가운데 글자 모두 마스킹 해야함, 외자는 성만 제외 -->
        <tbody
          :style="{
            display: 'block',
            maxHeight: '560px',
            overflow: 'auto',
            width: '98vw',
          }"
        >
          <tr
            v-for="(item, idx) in gridData"
            v-bind:key="idx"
            :style="{ display: 'table', tableLayout: 'fixed', width: '100%' }"
          >
            <td :style="{ width: '100%' }">{{ idx + 1 }}</td>
            <td :style="{ width: '100%' }">{{ item.regDy }}</td>
            <td :style="{ width: '100%' }">{{ item.qaUserNm }}</td>
            <td :style="{ width: '100%' }">{{ item.nsplNoCnt }}</td>
            <td :style="{ width: '100%' }">{{ item.csmrAdmnNo }}</td>
            <td :style="{ width: '100%' }">{{ item.accessTime }}</td>
            <td :style="{ width: '100%' }">{{ item.oneTotal }}</td>
            <td :style="{ width: '100%' }">{{ item.oneAverage }}</td>
            <td :style="{ width: '100%' }">{{ item.callTime }}</td>
            <td :style="{ width: '100%' }">{{ item.finalTotal }}</td>
            <td :style="{ width: '100%' }">{{ item.finalAverage }}</td>
            <!-- <td>{{ item.수용건 }}</td>
              <td>{{ item.불수용건 }}</td>
              <td>{{ item.부분수용건 }}</td>
              <td>{{ item.타부서검토필요 }}</td>
              <td>{{ item.단순문의답변 }}</td> -->
          </tr>
        </tbody>
      </table>
      <table class="dataTable" :style="{ width: '100%' }">
        <tfoot>
          <tr>
            <th colspan="3">합계&colon;</th>
            <th>
              {{ totalValues.nsplNoCnt }}
            </th>
            <th>{{ totalValues.csmrAdmnNo }}</th>
            <th>
              <!-- {{
                  moment.duration(totalValues.accessTime).hours() +
                  ":" +
                  moment.duration(totalValues.accessTime).minutes() +
                  ":" +
                  moment.duration(totalValues.accessTime).seconds()
                }} -->
              {{
                Math.floor(
                  moment.duration(totalValues.accessTime).asMinutes(),
                  1
                ) +
                "분 " +
                moment.duration(totalValues.accessTime).seconds() +
                "초"
              }}
            </th>
            <th>{{ totalValues.oneTotal.toFixed(1) }}</th>
            <th>
              <!-- {{ totalValues.oneAverage }} -->
              <!-- {{ (totalValues.oneTotal / gridData.length).toFixed(1) }} -->
              -
            </th>
            <th>
              <!-- {{
                  moment.duration(totalValues.callTime).hours() +
                  ":" +
                  moment.duration(totalValues.callTime).minutes() +
                  ":" +
                  moment.duration(totalValues.callTime).seconds()
                }} -->
              {{
                Math.floor(
                  moment.duration(totalValues.callTime).asMinutes(),
                  1
                ) +
                "분 " +
                moment.duration(totalValues.callTime).seconds() +
                "초"
              }}
            </th>
            <th>{{ totalValues.finalTotal.toFixed(1) }}</th>
            <th>
              <!-- {{ totalValues.finalAverage }} -->
              <!-- {{ (totalValues.finalTotal / gridData.length).toFixed(1) }} -->
              -
            </th>
            <!-- <th>{{ totalValues.수용건 }}</th>
              <th>{{ totalValues.불수용건 }}</th>
              <th>{{ totalValues.부분수용건 }}</th>
              <th>{{ totalValues.타부서검토필요 }}</th>
              <th>{{ totalValues.단순문의답변 }}</th> -->
          </tr>
        </tfoot>
      </table>

      <div class="btnBox">
        <a @click="exportStatExcel(searchParams)">엑셀 다운로드</a>
      </div>
    </div>
    <!-- //.dataTableBox -->
  </div>
</template>

<script>
import { EventBus } from "../../utils/bus";
import PaginationComponent from "../pagination/PaginationComponent";
import { RepositoryFactory } from "@/repositories/RepositoryFactory";
import excelUtils from "../../utils/excelUtils";
import Datepicker from "vuejs-datepicker";
import moment from "moment";
const StatisticsRepository = RepositoryFactory.get("statistics");

export default {
  name: "Reviewer",
  components: {
    PaginationComponent,
    Datepicker,
  },
  data() {
    return {
      qaList: [],
      searchParams: {
        fromDate: null,
        toDate: null,
        qaId: "",
      },
      gridHeaders: [
        { text: "NO", value: "rowNum", sortable: true },
        { text: "청약일자", value: "regDy", sortable: false },
        { text: "담당 QA", value: "qaUserNm", sortable: true },
        { text: "처리건수", value: "nsplNoCnt", sortable: true },
        { text: "계약자수", value: "csmrAdmnNo", sortable: true },
        { text: "처리시간", value: "accessTime", sortable: false },
        { text: "TA 점수(총)", value: "oneTotal", sortable: false },
        { text: "TA 점수(평균)", value: "oneAverage", sortable: true },
        { text: "콜타임", value: "callTime", sortable: true },
        { text: "QA 점수(총)", value: "finalTotal", sortable: true },
        { text: "QA 점수(평균)", value: "finalAverage", sortable: true },
        // { text: "수용건", value: "수용건", sortable: true },
        // { text: "불수용건", value: "불수용건", sortable: true },
        // { text: "부분 수용건", value: "부분수용건", sortable: true },
        // { text: "타부서 검토필요", value: "타부서검토필요", sortable: true },
        // { text: "단순문의답변", value: "단순문의답변", sortable: true },
      ],
      excelHeaders: [
        { text: "NO", value: "rowNum", sortable: true },
        { text: "청약일자", value: "regDy", sortable: false },
        { text: "담당 QA", value: "qaUserNm", sortable: true },
        { text: "처리건수", value: "nsplNoCnt", sortable: true },
        { text: "계약자수", value: "csmrAdmnNo", sortable: true },
        { text: "처리시간", value: "accessTime", sortable: false },
        { text: "TA 점수(총)", value: "oneTotal", sortable: false },
        { text: "TA 점수(평균)", value: "oneAverage", sortable: true },
        { text: "콜타임", value: "callTime", sortable: true },
        { text: "QA 점수(총)", value: "finalTotal", sortable: true },
        { text: "QA 점수(평균)", value: "finalAverage", sortable: true },
        // { text: "수용건", value: "수용건", sortable: true },
        // { text: "불수용건", value: "불수용건", sortable: true },
        // { text: "부분 수용건", value: "부분수용건", sortable: true },
        // { text: "타부서 검토필요", value: "타부서검토필요", sortable: true },
        // { text: "단순문의답변", value: "단순문의답변", sortable: true },
        // Excel 다운로드시에만 사용
        { text: "상품 건수", value: "objectContentProduct" },
        { text: "TA점수 건수", value: "objectContentTaScore" },
        { text: "TA구간 건수", value: "objectContentTaSection" },
        { text: "TMR 건수", value: "objectContentTmr" },
      ],
      gridData: [],
      totalValues: {
        nsplNoCnt: 0,
        csmrAdmnNo: 0,
        accessTime: moment.duration(0),
        oneTotal: 0,
        oneAverage: 0,
        callTime: moment.duration(0),
        finalTotal: 0,
        finalAverage: 0,
        수용건: 0,
        불수용건: 0,
        부분수용건: 0,
        타부서검토필요: 0,
        단순문의답변: 0,
      },
    };
  },
  methods: {
    onSearch() {
      this.getReviewerStatMainList(this.searchParams);
    },
    onReset() {
      this.searchParams = {
        fromDate: null,
        toDate: null,
        qaId: "",
      };
    },
    //// api
    // 담당 QA 리스트 조회
    async getQaList() {
      const { data: result } = await StatisticsRepository.getQaSelectBoxList();
      console.log("담당 QA 리스트 조회 >>>>>");
      console.log(result);
      this.qaList = result.dataList;
    },
    // 심사자 통계 메인리스트 조회
    async getReviewerStatMainList(jsonData) {
      const { data: result } = await StatisticsRepository.getQaStatMainList(
        jsonData
      );
      console.log("심사자 통계 메인리스트 조회 >>>>>");
      console.log(result);
      this.gridData = result.dataList;

      result.dataList.forEach((item) => {
        Object.keys(item).forEach((key) => {
          // typeof this.totalValues[key] === "Number"
          key !== "callTime" && key !== "accessTime"
            ? (this.totalValues[key] += Number(item[key]))
            : (this.totalValues[key] += moment.duration(item[key]));
        });
      });

      console.log(this.totalValues);
      // this.total = this.gridData
      //   .map((itm) => {
      //     return Number(itm.nsplNoCnt);
      //   })
      //   .reduce((acc, val) => acc + val, 0);
    },
    // 엑셀 파일 다운로드
    async exportStatExcel(jsonData) {
      const { data: result } = await StatisticsRepository.getQaStatMainList(
        jsonData
      );
      console.log("excelDownload result >>>>>>>");
      console.log(result);
      result.dataList.forEach((v, i) => (v.rowNum = i + 1));
      excelUtils.dataTableToXLSX(
        this.excelHeaders,
        result.dataList,
        "심사자통계",
        "심사자 통계"
      );
    },
  },
  activated() {
    EventBus.$emit("setContetnsClass", { className: "admin qa_result" });
  },
  created() {
    EventBus.$emit("setContetnsClass", {
      className: "admin qa_result",
    });
  },
  mounted() {
    this.getQaList();
    this.getReviewerStatMainList(this.searchParams);
  },
};
</script>

<style scoped>
</style>