<template>
    <div>
        <modal-component :is-close="true" @modal:close="clearModal" :modal-add-style="{width: '1250px', height: '900px', overflow: 'auto'}">
            <section slot="title">
                문장 설정
            </section>
            <section slot="content">
               <div class="prdt_script_manage admin">
				<!-- .pop_mdl -->
				<div class="pop_mdl">
					<!-- .setBox -->
					<div class="setBox detail_set" v-if="$props.parameters.data.flag == 'script'">
                        <h2>점검기준 상세 설정</h2>
                        
                        <!-- .tbl_popup_set -->
                        <div class="tbl_popup_set">
                            <table summary="NO, 대분류, 중분류, 소분류, 특약코드, 특약명, 가이드 문구, 문장내용, 고객답변, 답변내용, 시작문장, 필수문장으로 구성됨">
                                <caption class="hide">점검기준 상세 설정</caption>
                                <colgroup>
                                    <col width="50"><col width="80"><col width="80"><col width="80"><!-- <col width="80"><col> -->
                                    <col><col width="250"><col width="70"><col width="100"><col width="70"><col width="70">
                                </colgroup>
                                
                                <thead>
                                    <tr>
                                        <th scope="col">NO</th>
                                        <th scope="col">대분류</th>
                                        <th scope="col">중분류</th>
                                        <th scope="col">소분류</th>
                                        <!-- <th scope="col">특약코드</th>
                                        <th scope="col">특약명</th> -->
                                        <th scope="col">가이드 문구</th>
                                        <th scope="col">문장내용</th>
                                        <th scope="col">고객답변</th>
                                        <th scope="col">답변내용</th>
                                        <th scope="col">시작문장</th>
                                        <th scope="col">필수문장</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    <tr>
                                        <td scope="row">1</td>
                                        <td>{{article.scrpLctgNm}}</td>
                                        <td>{{article.scrpMctgNm}}</td>
                                        <td>{{article.scrpSctgNm}}</td>
                                        <!-- <td></td>
                                        <td></td> -->
                                        <td>{{article.gudStmt || '-'}}</td>
                                        <td>{{article.scrp}}</td>
                                        <td style="text-align: center;">
                                            <div class="chkBox" @click="alert_disabled">
                                                <input type="checkbox" id="each_check1" :checked="article.custAnsYn == 'Y'" disabled>
                                                <label for="each_check1"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <select class="select" v-model="article.ansCd">
												<option v-for="(item, idx) in ansList" :key="idx" :value="item.ansCd">
													{{ item.ansNm }}
												</option>
                                            </select>
                                        </td>
                                        <td>
                                            <div class="chkBox">
                                                <input type="checkbox" id="each_check2" v-model="article.stScrpYn" true-value="Y" false-value="N">
                                                <label for="each_check2"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="chkBox" @click="alert_disabled">
                                                <input type="checkbox" id="each_check3" :checked="article.estyScrpYn == 'Y'" disabled>
                                                <label for="each_check3"></label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- //.tbl_popup_set -->
                    </div>
					<!-- //.setBox -->
					<!-- .setBox -->
					<div class="setBox" v-if="$props.parameters.data.flag == 'script'">
                        <h2>문장 발화 조건 관리</h2>
                        
                        <!-- .tbl_popup_set -->
                        <div class="tbl_popup_set">
                            <table summary="조건항목, 조건값1, 비교 연산자, 조건값2, 비교 연산자, 조건값3, 논리 연산자로 구성됨">
                                <caption class="hide">문장 발화 조건 관리</caption>
                                <colgroup>
                                    <col width="200"><col><col width="100">
                                    <col><col width="100"><col><col width="100">
                                </colgroup>
                                
                                <thead>
                                    <tr>
                                        <th scope="col">조건항목</th>
                                        <th scope="col">조건값1</th>
                                        <th scope="col">비교 연산자</th>
                                        <th scope="col">조건값2</th>
                                        <th scope="col">비교 연산자</th>
                                        <th scope="col">조건값3</th>
                                        <th scope="col">논리 연산자</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    <tr>
                                        <td scope="row">
                                            <select class="select" v-model="article.condItmCd" @change="fn_getCondDetail">
                                                <option v-for="(v, i) in options_cond" :key="i" :value="v.condItmCd">{{v.condItmNm}}</option>
                                            </select>
                                        </td>
                                        <td>{{condDetail[0] ? condDetail[0].condValFir : '-'}}</td>
                                        <td>{{condDetail[0] ? condDetail[0].condOpFir : '-'}}</td>
                                        <td>{{condDetail[0] ? condDetail[0].condValSe : '-'}}</td>
                                        <td>{{condDetail[0] ? condDetail[0].condOpSe : '-'}}</td>
                                        <td>{{condDetail[0] ? condDetail[0].condValThr : '-'}}</td>
                                        <td>{{condDetail[0] ? condDetail[0].logicOp : '-'}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- //.tbl_popup_set -->
                    </div>
					<!-- //.setBox -->
					<div class="pop_btm" v-if="$props.parameters.data.flag == 'script'">
						<div class="btnBox">
							<a class="btn_save" @click="fn_updArticle">저장</a>
						</div>
					</div>

					<!-- .setBox -->
					<div class="setBox" v-if="$props.parameters.data.flag == 'sentence'">
						<h2>문장 관리</h2>
						<!-- <div class="btnBox">
							<a class="btn_delete" @click="onDelete()">삭제</a>
						</div> -->

						<div class="tbl_popup_set tbl_include_btn">
							<table summary="문장내용, 특약코드, 특약명, 고객답변, 필수문장으로 구성됨">
								<caption class="hide">문장관리</caption>
								<colgroup>
									<col />
									<col />
									<!-- <col width="120" />
									<col width="120" /> -->
									<col width="120" />
									<col width="160" />
								</colgroup>

								<thead>
									<tr>
										<th scope="col">가이드 문장</th>
										<th scope="col">문장내용</th>
										<!-- <th scope="col">특약코드</th>
										<th scope="col">특약명</th> -->
										<th scope="col">고객답변유무</th>
										<th scope="col">답변내용</th>
									</tr>
								</thead>

								<tbody>
									<tr>
										<td scope="row">
											<div class="iptBox">
												<input type="text" v-model="sentenceInfo.gudStmt" />
											</div>
										</td>
										<td scope="row">
											<div class="iptBox">
												<input type="text" v-model="sentenceInfo.scrp" />
											</div>
										</td>
										<!-- <td>
											<div class="iptBox">
												<input type="text" v-model="sentenceInfo.damboCd" />
											</div>
										</td>
										<td>
											<div class="iptBox">
												<input type="text" v-model="sentenceInfo.damboNm" />
											</div>
										</td> -->
										<td>
											<select class="select" v-model="sentenceInfo.custAnsYn">
												<option value="Y">Y</option>
												<option value="N">N</option>
											</select>
										</td>
										<td>
											<select class="select" v-model="sentenceInfo.ansCd">
												<option v-for="(item, idx) in ansList" :key="idx" :value="item.ansCd">
													{{ item.ansNm }}
												</option>
												<!-- <option value="긍정답변">긍정답변</option>
													<option value="부정답변">부정답변</option> -->
											</select>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="lyr_ft" style="margin-top: 10px;">
							<div class="btnBox">
								<a class="btn_save" @click="updateSentence">수정</a>
								<a class="btn_lyr_close" @click="onDelete">삭제</a>
							</div>
						</div>
					</div>
					<!-- //.setBox -->

					<!-- .setBox -->
					<div class="setBox">
						<h2>등록문장 검색</h2>

						<div class="srchBox">
							<input type="search" v-model="searchParams.scrp" @keyup.enter="fn_search" />
							<a class="btn_srch" @click="fn_search">
								<span>검색버튼</span>
							</a>
						</div>

						<div class="dataTableBox">
                            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
								<table class="dataTable tbl_include_btn no-footer" id="DataTables_Table_0" role="grid" style="width: 1200px;">
									<colgroup>
										<col width="938px;">
										<col width="260px;">
									</colgroup>
									<thead>
										<tr>
											<th class="sorting_disabled">검색결과</th>
											<th class="sorting_disabled">탐지사전 반영</th>
										</tr>
									</thead>
									<tbody>
										 <tr v-if="!gridData">
											<td colspan="2">조회된 데이터가 없습니다.</td>
										</tr>
										<template v-else>
											<tr v-for="(item, index) in gridData" :key="index">
												<td :title="item.scrp">{{item.scrp}}</td>
												<td>
													<div class="btnBox">
														<a @click="setCopyTarget(item)">문장내용 복사</a>
														<a @click="copyDetectDict(item)">탐지사전 복사</a>
													</div>
												</td>
											</tr>
										</template>
									</tbody>
                            	</table>
							</div>
                        </div>
						<v-app>
							<pagination-component :pagination="pagination"/>
						</v-app>
					</div>
					<!-- //.setBox -->

					<!-- .setBox -->
					<div class="setBox dtcn_dic_add">
						<h2>탐지사전 입력</h2>

						<div class="tbl_popup_set tbl_include_btn">
							<table summary="문장내용, 형태소 분리 문장, 탐지사전(예시), 탐지사전 입력으로 구성됨">
								<caption class="hide">탐지사전 입력</caption>
								<colgroup>
									<col width="120" />
									<col width="50" />
									<col />
									<col width="100" />
									<col width="130" />
								</colgroup>

								<tbody>
									<tr>
										<th scope="row">문장내용</th>
										<td colspan="3">
											<div class="iptBox">
												<input v-model="newDictItemContent" type="text" />
											</div>
										</td>
										<td>
											<div class="btnBox">
												<a class="btn_sentence_anls" @click="getNlp(newDictItemContent)">분석</a>
											</div>
										</td>
									</tr>

									<tr>
										<th scope="row">형태소 분리 문장</th>
										<td colspan="4">{{ nlpResult.sentence }}</td>
									</tr>

									<tr>
										<th scope="row">탐지사전(예시)</th>
										<td colspan="4">
											{{nlpResult.dtctEx}}
										</td>
									</tr>

									<tr v-for="(item, idx) in dtctDictInputList" :key="idx">
										<th scope="row" v-if="idx === 0" :rowspan="dtctDictInputList.length">
											탐지사전 입력
										</th>

										<td>{{idx + 1}}</td>
										<td>
											<div class="iptBox">
												<input type="text" v-model="item.dtctDtcCon" />
											</div>
										</td>
										<td :style="{ borderRight: '1px solid #C7D0D3' }">
											<div class="btnBox">
												<a
												v-if="idx === 0"
												class="btn_sentence_sprt"
												@click="addInputRow(idx)"
												>문장분리</a
												>
												<a
												v-else
												class="btn_delete"
												@click="deleteInputRow(idx)"
												>삭제</a
												>
											</div>
										</td>
										<td v-if="idx === 0" :rowspan="dtctDictInputList.length">
											<div class="btnBox">
												<a
												class="btn_detectDic_add"
												@click="addDictItem(dtctDictInputList)"
												>탐지사전 추가</a
												>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<!-- //.setBox -->

					<!-- .setBox -->
					<div class="setBox dtcn_dic_sentence">
						<h2>탐지사전 리스트</h2>

						<div class="tbl_popup_set tbl_include_btn">
						<div class="tbl_hd">
							<table summary="탐지사전 번호, 그룹 순번, 연결 순번, 탐지사전 내용으로 구성됨">
								<caption class="hide">탐지사전 리스트</caption>
								<colgroup>
									<col width="100" />
									<col width="80" />
									<col width="80" />
									<col />
									<!-- <col width="80" />
									<col width="80" /> -->
								</colgroup>

								<thead>
									<tr>
										<th scope="col">탐지사전 번호</th>
										<th scope="col">그룹 순번</th>
										<th scope="col">연결 순번</th>
										<th scope="col" colspan="3">탐지사전 내용</th>
									</tr>
								</thead>
							</table>
						</div>

						<div class="tbl_bd tbl_scroll ten_line">
							<table>
							<colgroup>
								<col width="100" />
								<col width="80" />
								<col width="80" />
								<col />
								<col width="80" />
								<col width="80" />
							</colgroup>

							<tbody>
								<tr v-if="!dtctDictList || !dtctDictList.length">
									<td colspan="6">조회된 데이터가 없습니다.</td>
								</tr>
								<template v-else>
									<template v-for="item in dtctDictList">
										<tr v-for="(itm, index) in item">
											<td v-if="index === 0" :rowspan="itm.dtctDtcEdNo">
												{{ itm.dtctDtcNo }}
											</td>
											<td v-if="index === 0" :rowspan="itm.dtctDtcEdNo">
												{{ itm.dtctDtcGrpNo }}
											</td>

											<td>{{ itm.dtctDtcGrpInNo }}</td>
											<td :style="{ borderRight: '1px solid #C7D0D3' }">
												<div class="iptBox">
													<input type="text" v-model="itm.dtctDtcCon" :disabled="!itm.editFlag">
												</div>
											</td>
											<td v-if="index === 0" :rowspan="itm.dtctDtcEdNo">
												<div class="btnBox btn_change_group">
													<a class="btn_edit" @click="editDictItem(item)">{{itm.editFlag ? '완료' : '수정'}}</a>
												</div>
											</td>
											<td v-if="index === 0" :rowspan="itm.dtctDtcEdNo">
												<div class="btnBox">
													<a class="btn_delete" @click="deleteDictItem(item)">삭제</a>
												</div>
											</td>
										</tr>
									</template>
								</template>
							</tbody>
							</table>
						</div>
						</div>
					</div>
					<!-- //.setBox -->
				</div>
				<!-- //.pop_mdl -->
			</div>
            </section>
        </modal-component>
    </div>
</template>

<script>
import PaginationComponent from "@/components/pagination/PaginationComponent";
import ModalComponent from "../ModalComponent";
import {mapActions} from "vuex";

export default {
	name: 'ManageDtctModal',
  	components: {
		ModalComponent,
		PaginationComponent,
  	},
  	props: {
		parameters: {
			type: Object,
			default: {}
		},
	},
  	data() {
    	return {
			repository: this.$props.parameters.repository,
      		ansList: [],
      		sentenceInfo: {
				dtctDtcNo: this.$props.parameters.data.dtctDtcNo,
				gudStmt: null,
				ansCd: null,
				scrp: null,
				// damboCd: null,
				// damboNm: null,
				custAnsYn: null,
				// estyScrpYn: null,
      		},
      		gridData: null,
      		pagination: {
				length: 0, // total row
				rowsPerPage: 5, // row per page
				now: 1, // now page
				navigationLength: 10, // navigation length
				callback: this.getSentencePopupList, // callback
				startRow: 0, // startRow
				endRow: 0, // endRow
				sortingColumn: null,
				sorting: "ASC",
			},
			searchParams: {
				scrp: null,
			},
			// 문장 등록 내용, 번호 버튼
			copyTargetContent: null,
			// 탐지사전 입력 문장내용
			newDictItemContent: null,
			// 복사 대상 탐지사전 내용
			copyTargetDict: [],
			// 형태소 분석 api 결과
			nlpResult: { sentence: null, dtctEx: null },
			// 탐지사전 입력 리스트: addDictItem 함수에 array 형태 그대로 넘겨줘야함
			dtctDictInputList: [
				{
					dtctDtcNo: this.$props.parameters.data.dtctDtcNo,
					dtctDtcCon: null,
					dtctDtcEdNo: null, // 이 array의 길이
					dtctDtcGrpInNo: null, // 이 array 내에서의 순서
					dtctDtcGrpNo: null, // 서버로부터 받아온 탐지사전 리스트에서 마지막 GrpNo + 1 => getGrpNo에서 지정
				},
			],
      		// 탐지사전 리스트: GrpNo 기준 Array로 묶음
			dtctDictList: [],
			dtctDictLength: null,
			// 탐지사전 리스트 수정 항목 리스트
			dtctDictEditList: [],
			// 탐지사전 리스트 삭제 항목 리스트
			dtctDictDeleteList: [],

			article: {},		// 점검기준 상세 조회
			options_cond: [],	// 문장발화 조건관리
			condDetail: [],		// 문장발화 조건 상세값
		};
  	},
  	methods: {
		  ...mapActions('base', {
            clearModal: 'clearModal'
        }),
		// 탐지사전 리스트 내 그룹 개수 저장: 탐지사전 항목 추가 시 dtctDtcGrpNo 자동 입력에 사용
		getGrpNo() {
			if(this.dtctDictList.length > 0) {
				this.dtctDictLength = this.dtctDictList.length;
				this.dtctDictInputList[0].dtctDtcGrpNo = String(this.dtctDictLength + 1);
			}else {
				this.dtctDictInputList[0].dtctDtcGrpNo = "1";
			}
		},
		// 탐지사전 복사: 다른 문장의 탐지사전을 현재 문장으로 복사해옴
		async copyDetectDict(rowInfo) {
			if(confirm("해당 문장의 탐지사전을 현재 문장에 복사하시겠습니까?")) {
				// 복사할 탐지사전 데이터 호출
				//const { data: result } = await this.repository.getSentenceDtcList({dtctDtcNo: rowInfo.dtctDtcNo});
				const { data: result } = await this.repository.updateDtcDtl({selectDtctDtcNo: rowInfo.dtctDtcNo, targetDtctDtcNo: this.sentenceInfo.dtctDtcNo});
				if(result.isSuccess) {
					this.getDictItemApi();
				}else {
					alert("오류가 발생했습니다.");
				}

				// 응답 데이터 포맷
				/* let tmpArr = [];
				result.dataList.forEach((item) => {
					item.dtctDtcNo = this.$props.parameters.data.dtctDtcNo; // 복사할 데이터의 탐지사전 번호를 현재 문장의 탐지사전 번호로 교체
					if(tmpArr[Number(item.dtctDtcGrpNo) - 1]) {
						// 데이터를 그룹순번으로 묶음
						tmpArr[Number(item.dtctDtcGrpNo) - 1].push(item);
					}else {
						tmpArr[Number(item.dtctDtcGrpNo) - 1] = new Array(item);
					}
				});
				// 각 그룹 배열마다 연결순번 기준으로 정렬
				tmpArr.forEach((item) =>
					item.sort((a, b) => {
						if(a.dtctDtcGrpGrpInNo > b.dtctDtcGrpGrpInNo) {
							return 1;
						}
						if(a.dtctDtcGrpGrpInNo < b.dtctDtcGrpGrpInNo) {
							return -1;
						}
						return 0;
					})
				);
				this.dtctDictList = tmpArr;
				this.getGrpNo(); */
			}
		},

		// 탐지사전 목록 결과 데이터 포맷팅
		/* formatData(resultList) {
			let tmpArr = [];
			// grouping by dtctDtcGrpNo
			resultList.forEach((item) => {
				if(tmpArr[Number(item.dtctDtcGrpNo) - 1]) {
					tmpArr[Number(item.dtctDtcGrpNo) - 1].push(item);
				}else {
					tmpArr[Number(item.dtctDtcGrpNo) - 1] = new Array(item);
				}
			});
			// sorting
			tmpArr.forEach((item) =>
				item.sort((a, b) => {
				if(a.dtctDtcGrpGrpInNo > b.dtctDtcGrpGrpInNo) {
					return 1;
				}
				if(a.dtctDtcGrpGrpInNo < b.dtctDtcGrpGrpInNo) {
					return -1;
				}
				return 0;
				})
			);
			this.dtctDictList = tmpArr;
			this.getGrpNo();
		}, */
		setCopyTarget(rowData) {
			this.newDictItemContent = rowData.scrp;
		},
		// 탐지사전 입력 열 추가
		addInputRow() {
			this.getGrpNo();
			this.dtctDictInputList.push({
				dtctDtcNo: this.$props.parameters.data.dtctDtcNo,
				dtctDtcCon: null,
				dtctDtcEdNo: null,
				dtctDtcGrpInNo: null,
				dtctDtcGrpNo: this.dtctDictInputList[0].dtctDtcGrpNo,
			});
		},
		// 탐지사전 입력 열 삭제
		deleteInputRow(index) {
			this.dtctDictInputList = this.dtctDictInputList.filter(
				(item, idx) => idx !== index
			);
		},
		// 탐지사전 그룹(탐지사전 내용 input set) 추가: 받는 인자는 array
		async addDictItem(dtctDictArr) {
			// input set 그룹의 item.dtctDtcEdNo, dtctDtcGrpInNo 값 일괄 지정
			let invalid = false;
			dtctDictArr.forEach((item, idx) => {
				if(!item.dtctDtcCon) {
					invalid = true;
				}
				(item.dtctDtcEdNo = String(dtctDictArr.length)),
				(item.dtctDtcGrpInNo = String(idx + 1));
			});
			if(invalid) {
				alert("내용을 입력해주세요.");
				return false;
			}
			
			const { data: result } = await this.repository.addSentenceDtcDtlInfo(dtctDictArr);
			if(result.isSuccess) {
				// 탑지사전 입력 리스트 초기화
				this.dtctDictInputList = [
					{
						dtctDtcNo: this.$props.parameters.data.dtctDtcNo,
						dtctDtcEdNo: null,
						dtctDtcGrpInNo: null,
						dtctDtcGrpNo: null,
						dtctDtcCon: null,
					},
				];
				this.dtctDictList.push(dtctDictArr);
			}else {
				alert("오류가 발생했습니다.");
			}

			//this.getGrpNo();
			//this.copyTargetContent = null;
			//this.copyTargetId = null;
		},
		// 탐지사전 리스트 열 수정 버튼
		async editDictItem(item) {
			if(item[0].editFlag) {
				const { data: result } = await this.repository.addSentenceDtcDtlInfo(item);
				if(result.isSuccess) {
					item.forEach(v => v.editFlag = false);
				}else {
					alert("오류가 발생했습니다.");
					console.log(result.failInfo);
				}
			}else {
				item.forEach(v => v.editFlag = true);
			}

			/* if(this.dtctDictEditList.includes(item)) {
				this.dtctDictEditList = this.dtctDictEditList.filter((itm) => itm !== item);
			}else {
				this.dtctDictEditList.push(item);
			} */
		},
		// 탐지사전 리스트 열 삭제 버튼
		async deleteDictItem(item) {
			if(confirm("삭제하시겠습니까?")) {
				let result = await this.deleteDictItemApi(item[0]);
				if(result) {
					this.getSentenceDetail();
					this.getDictItemApi();
				}else {
					//this.dtctDictList = this.dtctDictList.filter((itm) => itm !== item);
					alert("오류가 발생했습니다.");
				}
			}
		},
		// 저장 버튼
		/* async onSubmit() {
			if (confirm("변경사항을 저장하시겠습니까?")) {
				// 상단 문장 상세 정보 수정
				this.updateSentence();
				// 탐지사전 항목 추가 및 수정
				let result = await this.addDictItemApi(this.dtctDictList);
				if(result.isSuccess !== null) {
					this.getDictItemApi();
					popupUtils.callOpenerFunction(window, "getSentenceList", {scrp: null});
					window.close();
				}
			}
		}, */
		// 문장 삭제버튼
		onDelete() {
			if (confirm("현재 문장을 삭제하시겠습니까?")) {
				this.deleteSentence();
				this.clearModal();
			}
		},
		// 답변내용 selectbox 리스트 조회
		async getAnsList() {
			const { data: result } = await this.repository.getAddPopupList({});
			this.ansList = result.dataList;
		},
		// 상단 문장 정보 조회
		async getSentenceDetail() {
			let obj = {dtctDtcNo: this.$props.parameters.data.dtctDtcNo};
			const { data: result } = await this.repository.getSentenceDetail(obj);
			this.sentenceInfo = result.detail;
			this.newDictItemContent = this.sentenceInfo.scrp;
		},
		// 등록문장 리스트 조회
		async getSentencePopupList() {
			const { data: result } = await this.repository.getSentencePopupList({...this.searchParams, ...this.pagination});
			this.gridData = result.dataList;
			this.pagination.length = result.totalCnt;
		},
		// 등록문장 검색
		fn_search() {
			this.getSentencePopupList();
			this.pagination.now = 1;
		},
		// 상단 문장 상세 정보 수정
		async updateSentence() {
			let text = '문장 정보를 수정하시겠습니까?';
			if(confirm(text)) {
				const { data: result } = await this.repository.updateSentenceDetail(this.sentenceInfo);
				if(result.isSuccess) {
					alert("문장이 수정되었습니다.");
					this.$props.parameters.callback();
				}else {
					alert("오류가 발생했습니다.");
				}
			}
		},
		// 문장 삭제
		async deleteSentence() {
			await this.repository.deleteSentenceDetail(this.sentenceInfo);
			this.$props.parameters.callback();
			alert("문장이 삭제되었습니다.");
		},
		// 탐지사전 목록 조회
		async getDictItemApi() {
			const { data: result } = await this.repository.getSentenceDtcList(this.sentenceInfo);
			this.formatData(result.dataList);
		},
		// 탐지사전 목록 결과 데이터 포맷팅
		formatData(resultList) {
			let tmpArr = [];
			// grouping by dtctDtcGrpNo
			resultList.forEach((item) => {
				if(tmpArr[Number(item.dtctDtcGrpNo) - 1]) {
					tmpArr[Number(item.dtctDtcGrpNo) - 1].push(item);
				}else {
					tmpArr[Number(item.dtctDtcGrpNo) - 1] = new Array(item);
				}
			});
			// sorting
			tmpArr.forEach((item) =>
				item.sort((a, b) => {
				if(a.dtctDtcGrpGrpInNo > b.dtctDtcGrpGrpInNo) {
					return 1;
				}
				if(a.dtctDtcGrpGrpInNo < b.dtctDtcGrpGrpInNo) {
					return -1;
				}
					return 0;
				})
			);
			this.dtctDictList = tmpArr;
			this.getGrpNo();
		},
		// 탐지사전 내용 삭제
		async deleteDictItemApi(jsonData) {
			const { data: result } = await this.repository.deleteSentenceDtcDtlInfo(jsonData);
			console.log("탐지사전 항목 삭제 >>>>>");
			console.log(result.isSuccess);
			return result.isSuccess;
		},
		// 탐지사전 내용 추가
		async addDictItemApi(jsonArr) {
			let requestArr = [];
			jsonArr.forEach((item) => item.forEach((itm) => requestArr.push(itm)));
			console.log(requestArr);
			const { data: result } = await this.repository.addSentenceDtcDtlInfo(requestArr);
			console.log("탐지사전 항목 추가 >>>>>");
			console.log(result);
			return result.isSuccess;
		},
		// 탐지사전 형태소분석 api
		async getNlp(sentenceStr) {
			if(sentenceStr) {
				let jsonData = { jsonStr: sentenceStr };
				const { data: result } = await this.repository.getSimulationNlp(jsonData);
				console.log("형태소 분석 >>>>>");
				console.log(result);
				this.nlpResult.sentence = result.output[0].nlp_sent.slice(18, -5);
				this.nlpResult.dtctEx = result.output[0].hmd_sample;
			}
		},
		// 스크립트 구간관리 - 점검기준 상세 조회
		async fn_getArticleDetail() {
			const { data: result } = await this.repository.getArticleDetail(new URLSearchParams(this.$props.parameters.data));
			if(result.data) {
				this.article = result.data;
			}else {
				alert("점검기준 상세 항목을 불러오지 못했습니다.");
			}
		},
		alert_disabled() {
			alert('시작문장 여부만 수정할 수 있습니다.');
		},
		// 조건항목 옵션 목록 조회
		async fn_getCondList() {
			const { data: result } = await this.repository.getCondList();
			if(result.data) {
				this.options_cond = result.data;
			}else {
				alert('조건항목을 불러오지 못했습니다.');
			}
		},
		// 조건항목 선택 시 세부 조건값 조회
		async fn_getCondDetail(event) {
			if(!this.article.condItmCd) {	// 최초 진입시 저장된 발화 조건이 없는 경우
				return false;
			}else {
				let obj = {condItmCd: event ? event.target.value : this.article.condItmCd};		// click인지 create인지 판별
				const { data: result } = await this.repository.getCondDetail(new URLSearchParams(obj));
				if(result.data) {
					this.condDetail = result.data;
					this.article.condItmCd = result.data[0].condItmCd;
				}else {
					this.condDetail = [];
					alert('문장 발화 조건 메뉴에서 발화 조건을 먼저 설정해주세요.');
				}
			}
		},
		// 점검기준 상세 설정 수정
		async fn_updArticle() {
			const { data: result } = await this.repository.updArticle(this.article);
			if(result.status === 'SUCCESS') {
				alert("수정 완료했습니다.");
			}else {
				alert("오류가 발생했습니다.");
			}
		}

  	},
	async created() {
		if(this.$props.parameters.data.flag == 'script') {
			await this.fn_getArticleDetail();
			await this.fn_getCondList();
			await this.fn_getCondDetail();
		}

		await this.getSentenceDetail();
		await this.getDictItemApi();
		await this.getSentencePopupList();
		await this.getAnsList();
		this.getGrpNo();	// 탐지사전 리스트 갱신 시 그룹 개수 저장(리스트 길이)
	},
	mounted() {
		
	},
};
</script>

<style lang="scss" scoped>
    @import "~css/popup";
	.admin .pop_mdl > div {margin: 0 0 10px !important;}
	.admin .dataTableBox {padding: 0 0 15px !important;}
</style>
