<template>
    <div class="login_area">
        <div class="img_box fl">
            <div class="img_group">
                <h1>STT TM_QA</h1>
                <img class="logo_img" src="~@/assets/images/img_mindslab_logo.png" alt="마인즈랩 로고" />
                <img class="bg_img" src="~@/assets/images/bg_login.png" alt="로그인화면 이미지" />
            </div>
        </div>

        <div class="login_box fr">
            <div class="login_group">
                <h2>Login</h2>
                <form>
                    <fieldset class="login_form">
                        <legend>로그인</legend>
                        <label class="hide">아이디</label>
                        <input type="text" id="user_id" v-model.trim="userId" ref="userId" placeholder="아이디" maxlength="30" autocomplete="off" :class="{on: userId}">
                        <label for="user_pw" class="hide">비밀번호</label>
                        <input type="password" id="user_pw" v-model="userPw" ref="userPw" placeholder="비밀번호" @keyup.enter="submitLogin" :class="{on: userPw}">
                        <div class="chkBox">
                            <input type="checkbox" id="save_id" v-model="saveId" />
                            <label for="save_id">아이디 저장</label>
                        </div>

                        <span v-if="loginFail" class="login_error on">
                            아이디 또는 비밀번호를 다시 확인해주세요.
                        </span>

                        <div class="btnBox">
                            <a class="bg_blue" @click="submitLogin">로그인</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <!-- //.login_area -->
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex';
import {RepositoryFactory} from '@/repositories/RepositoryFactory';
const UserRepository = RepositoryFactory.get("user");

export default {
    data() {
        return {
            userId: '',
            userPw: '',
            saveId: false,
            loginFail: false,
        }
    },
    mounted() {
        const saved_id = window.localStorage.getItem("user_id");
        if(saved_id) {
            this.userId = saved_id;
            this.saveId = true;
            this.$refs.userPw.focus();
        }else {
            this.$refs.userId.focus();
        }
    },
    computed: {
        ...mapGetters('user', {
            userInfo: 'getUserInfo',
        }),
    },
    methods: {
        ...mapActions('base', {
            setModal: 'setModal'
        }),
        ...mapActions('user', {
            signIn: 'signIn'
        }),
        chkValidation() {
            if(!this.userId) {
                alert("아이디를 입력해주세요.");
                this.$refs.userId.focus();
                return false;
            }

            if(!this.userPw) {
                alert("비밀번호를 입력해주세요.");
                this.$refs.userPw.focus();
                return false;
            }

            return true;
        },
        open_modal(user) {
            const obj = {
                repository: UserRepository,
                callback: () => this.$router.push("/"),
                user: user
            };
            this.setModal({name: 'FirstLoginChangePasswordModal', parameters: obj});
        },
        submitLogin() {
            if(this.chkValidation()) {
                this.saveId ? window.localStorage.setItem("user_id", this.userId) : window.localStorage.removeItem("user_id");

                this.signIn({'userId': this.userId, 'userPw': this.userPw}).then((user) => {
                    if(user){
                        this.open_modal(user);
                    }else{
                        // 로그인 후 기존 경로로 redirect
                        if(this.$route.params.next != undefined){
                            this.$router.push(this.$route.params.next);
                        }else{
                            // TODO 여기서 권한에 따라 메인화면으로 보내줌
                            // TODO uw_reviewer 초기화면 맞는지 다시 확인할 필요가 있음
                            switch(this.userInfo.userRole) {
                                case "ROLE_ADMIN":
                                case "ROLE_QA_ADMIN":
                                case "ROLE_UW_ADMIN": this.$router.push('/main/dashboard'); break;
                                case "ROLE_QA_REVIEWER":
                                case "ROLE_UW_REVIEWER": this.$router.push('/qa/assign/reviewer'); break;
                                case "ROLE_TM_CENTER": this.$router.push('/qa/result'); break;
                                default: alert("오류가 발생했습니다.");
                            }
                        }
                    }
                }).catch((reason)=>{
                    console.log(reason);
                    alert(reason.rMsg);
                    if(reason.status === 401) {
                        this.loginFail = true;
                    }
                });
            }
        }
    }
}
</script>

<style lang="scss" scoped>
    
</style>
