<template>
  <div class="tab_content">
    <h3>고객 답변 관리</h3>

    <!-- [D] 답변 등록(.btn_answer_rgst) 버튼 클릭 시 '답변 등록(STTMN0007P1)' 팝업 보여져야함 -->
    <div class="btnBox">
      <a class="btn_answer_rgst" @click="openAddAnswerModal()">답변 등록</a>
    </div>

    <!-- .srchArea -->
    <div class="srchArea">
      <table class="tbl_line_view" summary="답변명, 답변내용으로 구성">
        <caption class="hide">
          검색조건
        </caption>
        <colgroup>
          <col width="100" />
          <col />
          <col width="100" />
          <col />
        </colgroup>

        <tbody>
          <tr>
            <th scope="row">답변명</th>
            <td>
              <div class="iptBox">
                <input type="text" v-model="searchParams.ansNm" />
              </div>
            </td>

            <th scope="row">답변내용</th>
            <td>
              <div class="iptBox">
                <input type="text" v-model="searchParams.ansCont" />
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="btnBox">
        <a
          class="btn_srch"
          @click="
            getAnswerMainList({
              startRow: -1,
              rowsPerPage: pagination.rowsPerPage,
            })
          "
          >조회</a
        >
      </div>
    </div>
    <!-- //.srchArea -->

    <!-- .dataTableBox -->
    <div class="dataTableBox">
	  <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
			<table class="dataTable tbl_include_btn no-footer" id="DataTables_Table_0" role="grid" style="width: 1890px;">
				<thead>
					<tr role="row">
						<th class="sorting_disabled" rowspan="1" colspan="1" aria-label="NO" style="width: 50px;">NO</th>
						<th class="sorting_disabled" rowspan="1" colspan="1" aria-label="답변명" style="width: 200px;">답변명</th>
						<th class="sorting_disabled" rowspan="1" colspan="1" aria-label="답변내용" style="width: 667px;">답변내용</th>
						<th class="sorting_disabled" rowspan="1" colspan="1" aria-label="답변설명" style="width: 667px;">답변설명</th>
						<th class="sorting_disabled" rowspan="1" colspan="1" aria-label="상세설정" style="width: 100px;">상세설정</th>
						<th class="sorting_disabled" rowspan="1" colspan="1" aria-label="등록일자" style="width: 100px;">등록일자</th>
						<th class="sorting_disabled" rowspan="1" colspan="1" aria-label="수정일자" style="width: 100px;">수정일자</th>
					</tr>
				</thead>

				<!-- [D] 조회 또는 설정(.btn_check, .btn_set)버튼 클릭 시 해당 목록(tr)에 addclass('active')되며 하이라이트 처리됨 -->
				<tbody>
					<tr v-if="!gridData.length" role="row">
						<td colspan="7">조회된 데이터가 없습니다.</td>
					</tr>
					<template v-else>
						<tr v-for="(item, index) in gridData" :key="index" :class="{active : index === flag.gridDataIndex}">
							<td>{{item.rowNum}}</td>
							<td>{{item.ansNm}}</td>
							<td>{{item.ansCont.map(v => v.ansCont).join(', ')}}</td>
							<td>{{item.ansDesc}}</td>
							<td>
								<div class="btnBox">
									<a @click="openAnswerSettingsModal(item, index)" class="btn_check">설정</a>
								</div>
							</td>
							<td>{{item.createdTm.slice(0, 10)}}</td>
							<td>{{item.updatedTm.slice(0, 10)}}</td>
						</tr>
					</template>
				</tbody>
			</table>
		</div>
    </div>
    <!-- //.dataTableBox -->

	<!-- paging -->
	<v-app>
		<pagination-component :pagination="pagination"/>
	</v-app>
	<!-- // paging -->	
  </div>
</template>

<script>
import { EventBus } from "../../utils/bus";
import { mapActions } from "vuex";
import PaginationComponent from "../pagination/PaginationComponent";
import { RepositoryFactory } from "@/repositories/RepositoryFactory";
const ManageRepository = RepositoryFactory.get("manage");

export default {
  name: "ManageAnswer",
  components: {
    PaginationComponent,
  },

  data() {
    return {
      gridData: [],
      searchParams: {
        ansNm: null,
        ansCont: null,
      },
      pagination: {
        length: 0, // total row
        rowsPerPage: 10, // row per page
        now: 1, // now page
        navigationLength: 10, // navigation length
        callback: this.paginationCallback, // callback
        startRow: -1, // startRow
        endRow: 0, // endRow
      },
	  flag: {
		  gridDataIndex: null,
	  }
    };
  },
  methods: {
    ...mapActions("base", {
      setModal: "setModal",
    }),
    paginationCallback() {
      this.getData();
    },
    async getData(now) {
      if (now != undefined) {
        this.pagination.now = now;
      }
      this.getAnswerMainList(this.pagination);
    },
    // modal control
    openAddAnswerModal() {
      this.setModal({
        name: "StandardScriptAddAnswerModal",
        parameters: {
          title: "addAnswerModal",
          repository: ManageRepository,
          getAnswerMainList: this.getAnswerMainList,
          pagination: this.pagination,
        },
      });
    },
    openAnswerSettingsModal(rowData, index) {
      this.setModal({
        name: "StandardScriptAnswerSettingsModal",
        parameters: {
          title: "answerSettingsModal",
          repository: ManageRepository,
          rowInfo: rowData,
          getAnswerMainList: this.getAnswerMainList,
          getAnsEditList: this.getAnsEditList,
          pagination: this.pagination,
        },
      });
	  this.flag.gridDataIndex = index;
    },
    // response JSON 데이터 가공, add col 'rowNum'
    formatData(jsonData) {

      let tmpList = [];
      jsonData.forEach((item) => {
        // ansCont는 array로 묶음 -> 묶는 기준: ansNm(ansCd)
        if (!tmpList.some((itm) => itm.ansNm === item.ansNm)) {
          let tmpObj = {
            ansNm: null,
            ansSeq: null,
            ansCont: [],
            ansDesc: null,
            createdTm: null,
            updatedTm: null,
            settingsBtn: "설정",
          };
          tmpObj.ansNm = item.ansNm;
          tmpObj.ansCd = item.ansCd;
          tmpObj.ansDesc = item.ansDesc;
          tmpObj.createdTm = item.createdTm;
          tmpObj.updatedTm = item.updatedTm;
          tmpObj.ansCont.push({
            ansCd: item.ansCd,
            ansSeq: item.ansSeq,
            ansCont: item.ansCont,
          });
          tmpList.push(tmpObj);
        } else {
          tmpList
            .find((itm) => itm.ansNm === item.ansNm)
            .ansCont.push({
              ansCd: item.ansCd,
              ansSeq: item.ansSeq,
              ansCont: item.ansCont,
            });
        }
      });
      // rowNum 키 추가
      tmpList.forEach((item, idx) => (item.rowNum = idx + 1));
      // ansCont(array) 내 항목들 ansSeq 기준 오름차순으로 정렬
      tmpList.forEach((item) => {
        item.ansCont.sort((a, b) => {
          if (a.ansSeq > b.ansSeq) {
            return 1;
          }
          if (a.ansSeq < b.ansSeq) {
            return -1;
          }
          return 0;
        });
      });
      this.gridData = tmpList;
      this.pagination.length = tmpList.length;
      console.log("답변관리 메인리스트 조회 결과 형식 변환 >>>>>>");
      console.log(tmpList);
      // this.pagination.length = tmpList.length;
    },
    // api
    async getAnswerMainList(jsonData) {
      const { data: result } = await ManageRepository.getAnswerMainList(
        // jsonData
        { startRow: -1, rowsPerPage: this.pagination.rowsPerPage }
      );
      console.log("답변관리 메인리스트 조회 >>>>>>>>");
      console.log(result);
      // result json의 요소들을 ansNm 기준으로 묶어야함
      this.formatData(result.dataList);
      // this.pagination.length = result.length;
    },
    async getAnsEditList(jsonData) {
      const { data: result } = await ManageRepository.getAnsEditList(jsonData);
    },
  },
  activated() {
    EventBus.$emit('setContetnsClass', {className: 'admin answer_manage'});
  },
  created() {
    EventBus.$emit("setContetnsClass", {className: 'admin answer_manage'});
	this.getAnswerMainList({startRow: -1, rowsPerPage: this.pagination.rowsPerPage});
  },
  mounted() {
    
  },
};
</script>

<style scoped>
</style>