<template>
	<div class="tab_content">
		<h3>화면 권한 관리</h3>
		<div class="btnBox">
			<a @click="open_modal()" class="btn_right_add">권한 등록</a>
		</div>

		<!-- .srchArea -->
		<div class="srchArea">
			<table class="tbl_line_view" summary="권한ID, 권한명으로 구성">
				<caption class="hide">검색조건</caption>
				<colgroup>
					<col width="100">
					<col width="310">
					<col width="100"
					><col>
				</colgroup>

				<tbody>
					<tr>
						<th scope="row">권한ID</th>
						<td>
							<div class="iptBox">
								<input type="text" v-model="searchParams.autCd" maxlength="20" @keydown.enter="fn_getAuthList">
							</div>
						</td>

						<th scope="row">권한명</th>
						<td>
							<div class="iptBox">
								<input type="text" v-model="searchParams.autNm" maxlength="20" @keydown.enter="fn_getAuthList">
							</div>
						</td>
					</tr>
				</tbody>
			</table>

			<div class="btnBox">
				<a @click="fn_getAuthList" class="btn_srch">조회</a>
			</div>
		</div>
		<!-- //.srchArea -->

		<!-- .dataTableBox -->
		<div class="dataTableBox">
			<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
				<table class="dataTable tbl_include_btn no-footer" id="DataTables_Table_0" role="grid" style="width: 1890px;">
				<thead>
					<tr role="row">
						<th style="width: 50px;">NO</th>
						<th style="width: 200px;">권한 ID</th>
						<th style="width: 1194px;">권한명</th>
						<th style="width: 100px;">조회</th>
						<th style="width: 100px;">설정</th>
						<th style="width: 120px;">등록일자</th>
						<th style="width: 120px;">수정일자</th>
					</tr>
				</thead>

				<tbody>
					<tr v-if="!userAuthList.length" role="row">
						<td colspan="7">조회된 데이터가 없습니다.</td>
					</tr>
					<template v-else>
						<tr v-for="(item, index) in userAuthList" :key="index" :class="{active : index === flag.userAuthListIndex}">
							<td>{{item.rowNum}}</td>
							<td>{{item.autCd}}</td>
							<td>{{item.autNm}}</td>
							<td>
								<div class="btnBox">
									<a @click="[fn_getAccessibleMenuList(item.autCd), flag.userAuthListIndex = index]" class="btn_check">조회</a>
								</div>
							</td>
							<td>
								<div class="btnBox">
									<a @click="[open_modal(item.autCd), flag.userAuthListIndex = index]" class="btn_set">설정</a>
								</div>
							</td>
							<td>{{item.createdTm}}</td>
							<td>{{item.updatedTm || '-'}}</td>
						</tr>
					</template>
				</tbody>
			</table>
			</div>
		</div>
		<!-- //.dataTableBox -->
		<!-- paging -->
		<v-app>
			<pagination-component :pagination="pagination"/>
		</v-app>
		<!-- // paging -->
        <v-container v-if="flag.screen">
            <h3>화면 매핑</h3>
            <div class="btnBox">
                <!-- 추후작업 -->
                <!--<a @click="fn_openMenuModal" class="btn_save">화면 등록</a>-->
                <a @click="() => this.accessibleMenuList = this.menuList" class="btn_save">전체선택</a>
                <a @click="() => this.accessibleMenuList = []" class="btn_save">전체선택해제</a>
                <a @click="setAccessibleMenu" class="btn_save">저장</a>
            </div>
            <br/>
            <br/>
            <v-row>
                <v-col>
                    <v-treeview
                        v-model="accessibleMenuList"
                        :items="menuList"
                        selection-type="independent"
                        selectable
                        return-object
                        open-all>
                    </v-treeview>
                </v-col>
                <v-divider vertical></v-divider>
                <v-col class="pa-6" cols="6">
                    <template v-if="!accessibleMenuList.length">
                        선택된 페이지가 없습니다.
                    </template>
                    <template v-else>
                        <div v-for="node in accessibleMenuList" :key="node.id">
                            {{ node.name }}
                        </div>
                    </template>
                </v-col>
            </v-row>
        </v-container>
	<!-- //.setArea -->
	</div>
</template>

<script>
import {EventBus} from "@/utils/bus";
import {mapActions} from "vuex";
import {RepositoryFactory} from '@/repositories/RepositoryFactory';
import PaginationComponent from "@/components/pagination/PaginationComponent";

const ManageRepository = RepositoryFactory.get("manage");

export default {
	name: 'Auth',
	components: {
        PaginationComponent,
    },
    activated() {
        EventBus.$emit('setContetnsClass', {className: 'admin right_manage'});
    },
    created() {
        EventBus.$emit('setContetnsClass', {className: 'admin right_manage'});
		this.fn_getAuthList();
    },
    methods: {
        ...mapActions('base', {
            setModal: 'setModal',
            clearModal: 'clearModal'
        }),
		// 권한 등록, 수정
        open_modal(autCd) {
            const obj = {
				repository: ManageRepository,
				callback: this.fn_getAuthList,
				autCd: autCd,
			};
            this.setModal({name: 'ManageAuthModal', parameters: obj});
        },
		// 화면 등록
		async setAccessibleMenu() {
            this.accessibleMenuList.forEach((v) => v.autCd = this.autCd);
            const {data: result} = await ManageRepository.setAccessibleMenu(this.accessibleMenuList);
            if(result.status === 'SUCCESS') {
                alert('등록이 완료되었습니다.');
            }else {
                alert('오류가 발생했습니다. 사유 : '+result.message);
            }
		},
		// 권한 목록 조회
		async fn_getAuthList() {
			const {data: result} = await ManageRepository.getAuthList(new URLSearchParams({...this.searchParams, ...this.pagination}));
			this.userAuthList = result.data;
			this.pagination.length = result.cnt || 0;
            if(this.userAuthList) {
                this.userAuthList.forEach((v, i) => v.rowNum = (this.pagination.length - ((this.pagination.now - 1) * this.pagination.rowsPerPage)) - (i));
            }
		},
		// 권한별 접근가능한 화면 목록 조회
		async fn_getAccessibleMenuList(data) {
            this.autCd = data;
            this.accessibleMenuList = [];
            const {data: menuResult} = await ManageRepository.getMenuList();
            this.menuList = menuResult.data;
            this.menuList && this.menuList.forEach((v, i) => {
                v.name = `${v.pageNm} - ${v.pageLoc}`;
                v.id = i;
            });
			const {data: result} = await ManageRepository.getAccessibleMenuList(new URLSearchParams({autCd: data}));
            result.data.forEach((v, i) => {
                const page = _.find(this.menuList, {pageCd: v.pageCd});
                this.accessibleMenuList.push(page);
                v.name = `${page.pageNm} - ${page.pageLoc}`;
                v.id = i;
            });
			this.flag.screen = true;
		},
		// 화면 삭제
		async fn_delAccessibleMenu(data) {
			const text = '삭제하시겠습니까?';
			if(confirm(text)) {
				const {data: result} = await ManageRepository.delAccessibleMenu(data);
				if(result.status === 'SUCCESS') {
					alert('삭제되었습니다.');
					const autCd = this.userAuthList[this.flag.userAuthListIndex].autCd;
					this.fn_getAccessibleMenuList(autCd);
				}else {
					alert('오류가 발생했습니다');
				}
			}
		}
    },
    data() {
        return {
            userAuthList: [],
			accessibleMenuList: [],
			menuList: [],
            autCd: '',
			pagination: {
                length: 0, // total row
                rowsPerPage: 10, // row per page
                now: 1, // now page
                navigationLength: 10, // navigation length
                callback: this.fn_getScriptAreaMainList, // callback
                startRow: 0,
                endRow: 0,
            },
			searchParams: {
				autCd: '',
				autNm: '',
			},
			flag: {
				userAuthListIndex: null,
				screen: false,
			},
        }
    }
}
</script>

<style>

</style>