<template>
  <div class="tab_content">
    <h3>문장 발화 조건 관리 현황</h3>

    <!-- [D] 조건항목 등록(.btn_counselCode_rgst) 버튼 클릭 시 '조건항목 등록(STTMN0004P2)' 팝업 보여져야함 -->
    <div class="btnBox">
      <a class="btn_counselCode_rgst" @click="openAddConditionModal()"
        >조건항목 등록</a
      >
    </div>

    <!-- .srchArea -->
    <div class="srchArea">
      <table class="tbl_line_view" summary="상품 구분, 조건 항목으로 구성">
        <caption class="hide">
          검색조건
        </caption>
        <colgroup>
          <col width="100" />
          <col width="200" />
          <col width="100" />
          <col />
        </colgroup>

        <tbody>
          <tr>
            <th scope="row">상품 구분</th>
            <td>
              <select class="select" v-model="searchParams.prodCat">
                <option value="">전체</option>
                <option
                  v-for="item in prodCatList"
                  v-bind:key="item.cd"
                  :value="item.cd"
                >
                  {{ item.cdNm }}
                </option>
              </select>
            </td>

            <th scope="row">조건 항목</th>
            <td>
              <div class="iptBox">
                <input type="text" v-model="searchParams.condItmNm" />
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="btnBox">
        <a
          class="btn_srch"
          @click="getConditionList(Object.assign(pagination, searchParams))"
          >조회</a
        >
      </div>
    </div>
    <!-- //.srchArea -->

    <!-- .dataTableBox -->
    <div class="dataTableBox">
	  <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
		<table class="dataTable tbl_include_btn no-footer" id="DataTables_Table_0" role="grid" style="width: 1890px;">
		  <thead>
			<tr role="row">
			  <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="NO" style="width: 50px;">NO</th>
			  <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="조건 항목" style="width: 1637px;">조건 항목</th>
			  <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="조회" style="width: 100px;">조회</th>
			  <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="설정" style="width: 100px;">설정</th>
			</tr>
		  </thead>
		  <!-- [D] 조회 또는 설정(.btn_check, .btn_set)버튼 클릭 시 해당 목록(tr)에 addclass('active')되며 하이라이트 처리됨 -->
		  <tbody>
			<tr v-if="!grid1Data.length" role="row">
			  <td colspan="4">조회된 데이터가 없습니다.</td>
			</tr>
			<template v-else>
			  <tr v-for="(item, index) in grid1Data" :key="index" :class="{active : index === flag.grid1DataIndex}">
			    <td>{{item.rowNum}}</td>
			    <td>{{item.condItmNm}}</td>
			    <td>
			      <div class="btnBox">
			        <a @click="openGrid2(item, index)" class="btn_check">조회</a>
			      </div>
			    </td>
			    <td>
			      <div class="btnBox">
			        <a @click="openConditionSettingsModal(item, index)" class="btn_set">설정</a>
			      </div>
			    </td>
			  </tr>
			</template>
			</tbody>
		</table>
	  </div>
    </div>
    <!-- //.dataTableBox -->
	<!-- paging -->
    <v-app>
      <pagination-component :pagination="pagination" />
    </v-app>
	<!-- // paging -->

    <!-- .setArea -->
    <div ref="setSentenceArea" class="setArea">
      <!-- .set_sentence -->
      <div class="set_sentence">
        <h3>문장 발화 조건 설정</h3>

        <div class="btnBox btn_change_group">
          <template v-if="!editStatus">
            <a class="btn_edit" @click="toggleEditStatus()">수정</a>
          </template>
          <template v-else>
            <a class="btn_save" @click="saveChanges()">저장</a>
            <a class="btn_delete" @click="deleteRow()">삭제</a>
            <a class="btn_cancel" @click="cancelEdit()">취소</a>
          </template>
          <a class="btn_cdin_code_manage" @click="openAddDamboCdModal()">특약코드 조회 및 추가</a>
        </div>

        <div class="tbl_set_view">
          <div class="tbl_hd">
            <table
              summary="(체크박스), NO, 비교값, 조건값1, 연산자, 비교값, 조건값2, 연산자, 비교값, 조건값3, 논리연산자, 추가(버튼)으로 구성"
            >
              <caption class="hide">
                문장 발화 조건 설정
              </caption>
              <colgroup>
                <col width="50" v-if="editStatus" />
                <col width="50" />
                <col width="120" />
                <col width="120" />
                <col width="120" />
                <col width="120" />
                <col width="120" />
                <col width="120" />
                <col width="120" />
                <col width="120" />
                <col width="120" />
                <col width="80" v-if="editStatus" />
              </colgroup>

              <!-- [D] 테이블 상단 수정버튼 클릭 시 선택, 추가(버튼) 컬럼이 추가되어야함 -->
              <thead>
                <tr>
                  <th scope="col" v-if="editStatus">선택</th>
                  <th scope="col">NO</th>
                  <th scope="col">비교값</th>
                  <th scope="col">조건값1</th>
                  <th scope="col">연산자</th>
                  <th scope="col">비교값</th>
                  <th scope="col">조건값2</th>
                  <th scope="col">연산자</th>
                  <th scope="col">비교값</th>
                  <th scope="col">조건값3</th>
                  <th scope="col">논리연산자</th>
                  <th scope="col" v-if="editStatus">추가</th>
                </tr>
              </thead>
            </table>
          </div>

          <div class="tbl_bd tbl_scroll five_line">
            <table>
              <colgroup>
                <col width="50" v-if="editStatus" />
                <col width="50" />
                <col width="120" />
                <col width="120" />
                <col width="120" />
                <col width="120" />
                <col width="120" />
                <col width="120" />
                <col width="120" />
                <col width="120" />
                <col width="120" />
                <col width="80" v-if="editStatus" />
              </colgroup>

              <tbody>
                <template v-if="grid2Data.length < 1 && editStatus">
                  <tr>
                    <td scope="row" v-if="editStatus"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td v-if="editStatus">
                      <!-- [D] 추가버튼 클릭 시 테이블 행 추가되어야 함 -->
                      <div class="btnBox">
                        <a class="btn_add" @click.prevent="addRow()">
                          <span>추가버튼</span>
                        </a>
                      </div>
                    </td>
                  </tr>
                </template>
                <template v-else>
                  <tr v-for="(item, idx) in grid2Data" v-bind:key="idx">
                    <td scope="row" v-if="editStatus">
                      <!-- [D] input[type="checkbox"]의 id와 label의 for 값을 동일하게 주어야함 -->
                      <div class="chkBox">
                        <input
                          type="checkbox"
                          :id="`each_chk${idx + 1}`"
                          :checked="deleteTargets.includes(idx)"
                          @change="setDeleteTargets(idx)"
                        />
                        <label :for="`each_chk${idx + 1}`"></label>
                      </div>
                    </td>
                    <td>{{ idx + 1 }}</td>
                    <td>
                      <select class="select" v-model="item.condTpFir">
                        <option
                          v-for="itm in selectboxData.compareList"
                          v-bind:key="itm.cd"
                          :value="itm.cd"
                          :disabled="!editStatus"
                        >
                          {{ itm.cdNm }}
                        </option>
                      </select>
                    </td>
                    <td>
                      <select class="select" v-model="item.condValFir">
                        <option
                          v-for="itm in selectboxData.condValList"
                          v-bind:key="itm.condDataCd"
                          :value="itm.condDataCd"
                          :disabled="!editStatus"
                        >
                          {{ itm.condDataNm }}
                        </option>
                      </select>
                    </td>
                    <td>
                      <select class="select" v-model="item.condOpFir">
                        <option
                          v-for="itm in selectboxData.operatorList"
                          v-bind:key="itm.cd"
                          :value="itm.cd"
                          :disabled="!editStatus"
                        >
                          {{ itm.cd }}
                        </option>
                      </select>
                    </td>
                    <td>
                      <select class="select" v-model="item.condTpSe">
                        <option
                          v-for="itm in selectboxData.compareList"
                          v-bind:key="itm.cd"
                          :value="itm.cd"
                          :disabled="!editStatus"
                        >
                          {{ itm.cdNm }}
                        </option>
                      </select>
                    </td>
                    <td>
                      <select class="select" v-model="item.condValSe">
                        <option
                          v-for="itm in selectboxData.condValList"
                          v-bind:key="itm.condDataCd"
                          :value="itm.condDataCd"
                          :disabled="!editStatus"
                        >
                          {{ itm.condDataNm }}
                        </option>
                      </select>
                    </td>
                    <td>
                      <select class="select" v-model="item.condOpSe">
                        <option
                          v-for="itm in selectboxData.operatorList"
                          v-bind:key="itm.cd"
                          :value="itm.cd"
                          :disabled="!editStatus"
                        >
                          {{ itm.cd }}
                        </option>
                      </select>
                    </td>
                    <td>
                      <select class="select" v-model="item.condTpThr">
                        <option
                          v-for="itm in selectboxData.compareList"
                          v-bind:key="itm.cd"
                          :value="itm.cd"
                          :disabled="!editStatus"
                        >
                          {{ itm.cdNm }}
                        </option>
                      </select>
                    </td>
                    <td>
                      <select class="select" v-model="item.condValThr">
                        <option
                          v-for="itm in selectboxData.condValList"
                          v-bind:key="itm.condDataCd"
                          :value="itm.condDataCd"
                          :disabled="!editStatus"
                        >
                          {{ itm.condDataNm }}
                        </option>
                      </select>
                    </td>
                    <td>
                      <select class="select" v-model="item.logicOp">
                        <option
                          v-for="itm in selectboxData.logicList"
                          v-bind:key="itm.cd"
                          :value="itm.cd"
                          :disabled="!editStatus"
                        >
                          {{ itm.cdNm }}
                        </option>
                      </select>
                    </td>
                    <td v-if="editStatus">
                      <!-- [D] 추가버튼 클릭 시 테이블 행 추가되어야 함 -->
                      <div class="btnBox">
                        <a class="btn_add" @click.prevent="addRow()">
                          <span>추가버튼</span>
                        </a>
                      </div>
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- //.set_sentence -->
    </div>
    <!-- //.setArea -->
  </div>
</template>

<script>
import { EventBus } from "../../utils/bus";
import PaginationComponent from "../pagination/PaginationComponent";
import { mapActions } from "vuex";
import _ from "lodash";
import { RepositoryFactory } from "@/repositories/RepositoryFactory";
const ManageRepository = RepositoryFactory.get("manage");

export default {
  name: "ManageCondition",
  components: {
    PaginationComponent,
  },
  data() {
    return {
      visibleStatus: { setSentence: false },
      searchParams: {
        prodCat: "",
        conItmNm: null,
      },
      prodCatList: [],
      grid1Data: [],
      selectedRow: {
        condItmCd: null,
        prodCat: null,
        condItmNm: null,
      },
      grid2Data: [],
      grid2DataBackup: [],
      pagination: {
        length: 0, // total row
        rowsPerPage: 10, // row per page
        now: 1, // now page
        navigationLength: 10, // navigation length
        callback: this.paginationCallback, // callback
        startRow: 0, // startRow
        endRow: 0, // endRow
      },
      selectboxData: {
        compareList: [], // 비교값
        condValList: [], // 조건값
        logicList: [], // 연산자
        operatorList: [], // 비교연산자
      },
      editStatus: false,
      deleteTargets: [],
      deleteConfirm: [],

	  flag: {
		  grid1DataIndex: null,
	  }
    };
  },
  methods: {
    ...mapActions("base", {
      setModal: "setModal",
    }),
    paginationCallback() {
      this.getData();
    },
    async getData(now) {
      if (now != undefined) {
        this.pagination.now = now;
      }
      this.getConditionList(this.searchParams);
    },
    // 조건항목 조회 버튼
    openGrid2(rowInfo, index) {
      this.$refs.setSentenceArea.style.display = "block";
      this.selectedRow = {
        condItmCd: rowInfo.condItmCd,
        prodCat: rowInfo.prodCat,
        condItmNm: rowInfo.condItmNm,
      };
      this.getPuncList({ condItmCd: rowInfo.condItmCd });
	  this.flag.grid1DataIndex = index;
    },
    // modal control
    openAddConditionModal() {
      this.setModal({
        name: "StandardScriptAddConditionModal",
        parameters: {
          title: "addConditionModal",
          repository: ManageRepository,
          prodCatList: this.prodCatList,
          getMainList: this.getConditionList,
          pagination: this.pagination,
        },
      });
    },
    openConditionSettingsModal(rowInfo, index) {
      this.setModal({
        name: "StandardScriptConditionSettingsModal",
        parameters: {
          title: "conditionSettingsModal",
          repository: ManageRepository,
          prodCatList: this.prodCatList,
          rowData: rowInfo,
          getMainList: this.getConditionList,
          pagination: this.pagination,
        },
      });
	  this.flag.grid1DataIndex = index;
    },
    openAddDamboCdModal() {
      this.setModal({
        name: "StandardScriptAddDamboCdModal",
        parameters: {
          title: "addDamboCdModal",
          repository: ManageRepository,
        },
      });
    },
    // 문장발화조건설정 테이블 - 수정 버튼
    toggleEditStatus() {
      this.editStatus = !this.editStatus;
      this.grid2DataBackup = _.cloneDeep(this.grid2Data);
    },
    // 문장발화조건설정 테이블 - 취소 버튼
    cancelEdit() {
      this.grid2Data = this.grid2DataBackup;
      this.editStatus = false;
    },
    // 문장발화조건설정 테이블 - 삭제 버튼
    deleteRow() {
      this.deleteConfirm = this.grid2Data.filter((item, idx) =>
        this.deleteTargets.includes(idx)
      );
      this.grid2Data = this.grid2Data.filter(
        (item, idx) => !this.deleteTargets.includes(idx)
      );
      this.deleteTargets = [];
    },
    // 문장발화조건설정 테이블 - 저장 버튼
    saveChanges() {
      // console.log(this.grid2Data);
      if (confirm("변경사항을 저장하시겠습니까?")) {
        // 삭제 반영
        if (this.deleteConfirm.length > 0) {
          this.deleteSpChkItem(this.deleteConfirm);
          this.deleteConfirm = [];
        }
        // 추가, 수정 반영
        if (this.grid2Data !== this.grid2DataBackup) {
          this.addSpChkItem(this.grid2Data);
        }
        this.editStatus = false;
        // 갱신
        setTimeout(() => {
          this.getPuncList({ condItmCd: this.selectedRow.condItmCd });
        }, 100);
      }
    },
    // 문장발화조건설정 테이블 수정: 열 추가
    addRow() {
      let maxCondNo =
        this.grid2Data.length > 0
          ? Math.max.apply(
              null,
              this.grid2Data.map((item) => {
                return Number(item.condNo);
              })
            ) + 1
          : 0;

      let newRow = {
        condItmCd: this.selectedRow.condItmCd,
        prodCat: this.selectedRow.prodCat,
        condNo: maxCondNo,
        condItmNm: this.selectedRow.condItmNm,

        condTpFir: null,
        condValFir: null,
        condOpFir: null,
        condTpSe: null,
        condValSe: null,
        condOpSe: null,
        condTpThr: null,
        condValThr: null,
        logicOp: null,
      };
      this.grid2Data.push(newRow);
    },
    // 문장발화조건설정 테이블 수정: 체크박스 컨트롤
    setDeleteTargets(index) {
      if (this.deleteTargets.includes(index)) {
        this.deleteTargets = this.deleteTargets.filter(
          (item, idx) => idx !== index
        );
      } else {
        this.deleteTargets.push(index);
      }
    },

    //// api
    // 상품구분 SELECTBOX 목록 조회
    async getProdCatList() {
      const { data: result } = await ManageRepository.getConditionProdCatList();
      this.prodCatList = result.dataList;
    },
    // 조건항목 메인리스트 조회
    async getConditionList(jsonData) {
      const { data: result } = await ManageRepository.getConditionMainList(
        Object.assign(this.pagination, jsonData)
      );
      console.log("조건 메인리스트 조회 >>>>>");
      console.log(result);
      result.dataList.forEach(
        (item, idx) => (
          (item.rowNum = idx + 1),
          (item.lookupBtn = "조회"),
          (item.settingsBtn = "설정")
        )
      );
      this.grid1Data = result.dataList;
      this.pagination.length = result.totalCnt;
      this.searchParams = { prodCat: "", condItmNm: null };
    },
    // 조건설정 리스트 조회
    async getPuncList(jsonData) {
      const { data: result } = await ManageRepository.getPuncList(jsonData);
      console.log("조건설정 리스트 조회 >>>>>");
      console.log(result);
      this.selectboxData.compareList = result.compareList;
      this.selectboxData.condValList = result.condValList;
      this.selectboxData.operatorList = result.operatorList;
      this.selectboxData.logicList = result.logicList;
      this.grid2Data = result.puncStcList;
      this.grid2DataBackup = _.cloneDeep(this.grid2Data);
    },
    // 조건설정 리스트 항목 추가/수정
    async addSpChkItem(jsonArr) {
      const { data: result } = await ManageRepository.addSpChkItem(jsonArr);
      console.log("조건설정 추가 수정 result >>>>>");
      console.log(result);
    },
    async deleteSpChkItem(jsonArr) {
      const { data: result } = await ManageRepository.deleteSpChkItem(jsonArr);
      console.log("조건설정 삭제 >>>>>");
      console.log(result);
    },
    // 조건설정 리스트 항목 삭제
  },
    activated() {
        EventBus.$emit('setContetnsClass', {className: 'admin sentence_talk_cdtn'});
    },
  created() {
    EventBus.$emit("setContetnsClass", {
      className: "admin sentence_talk_cdtn",
    });
  },
  mounted() {
    // this.pagination.length = this.grid1Data.length;
    // this.grid2DataBackup = _.cloneDeep(this.grid2Data);
    this.getProdCatList();
    this.getConditionList();
  },
};
</script>

<style>
</style>