<template>
    <div>
        <!-- .tab_content -->
        <div class="tab_content">
            <h3>상담 구간 관리</h3>
            <div class="btnBox">
                <a @click="openCodeModal" class="btn_counsel_code_rgst">상담코드 등록</a>
                <a @click="openConsultModal" class="btn_use_rgst">사용 등록</a>
            </div>
            <!-- .srchArea -->
            <div class="srchArea">
                <table class="tbl_line_view" summary="상담 코드, 상담 코드명, 적용일자로 구성">
                    <caption class="hide">검색조건</caption>
                    <colgroup>
                        <col width="100"><col><col width="100"><col><col width="100"><col width="310">
                    </colgroup>

                    <tbody>
                    <tr>
                        <th scope="row">상담 코드</th>
                        <td>
                            <div class="iptBox">
                                <input v-model="searchParam.cuslCd" type="text" maxlength="24">
                            </div>
                        </td>

                        <th scope="row">상담 코드명</th>
                        <td>
                            <div class="iptBox">
                                <input v-model="searchParam.cuslNm" type="text" maxlength="64">
                            </div>
                        </td>

                        <th scope="row">적용일자</th>
                        <td>
                            <div class="iptBox">
                                <datepicker @input="searchParam.cuslAppStDt = moment($event).format('yyyyMMDD')" input-class="iptDateTime" :format="'yyyy-MM-dd'" :language="ko"></datepicker>
                                <span>&hyphen;</span>
                                <datepicker @input="searchParam.cuslAppEdDt = moment($event).format('yyyyMMDD')" input-class="iptDateTime" :format="'yyyy-MM-dd'" :language="ko"></datepicker>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="btnBox">
                    <a @click="getConsultSections(true)" class="btn_srch">조회</a>
                </div>
            </div>
            <!-- //.srchArea -->

            <!-- .dataTableBox -->
            <div class="dataTableBox">
                <table class="dataTable tbl_include_btn">
                    <thead>
                    <tr>
                        <th>NO</th>
                        <th>상담 코드</th>
                        <th>상담 코드명</th>
                        <th>적용차수</th>
                        <th>적용시작</th>
                        <th>적용종료</th>
                        <th>사용여부</th>
                        <th>조회</th>
                        <th>설정</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, index) in consults" :key="index" :class="{active: consult.cuslCd && consult.cuslAppOrd && item.cuslCd  === consult.cuslCd && item.cuslAppOrd === consult.cuslAppOrd}">
                        <td v-text="item.rowNum">1</td>
                        <td v-text="item.cuslCd">FD0001</td>
                        <td v-text="item.cuslNm">과도한 표현</td>
                        <td v-text="item.cuslAppOrd">1</td>
                        <td v-text="item.cuslAppStDt">20200101</td>
                        <td v-text="item.cuslAppEdDt">20201231</td>
                        <td v-text="item.usedYn">N</td>
                        <td>
                            <div class="btnBox">
                                <a class="btn_check" @click="consult = item">조회</a>
                            </div>
                        </td>
                        <td>
                            <div class="btnBox">
                                <a @click="openConsultModal(item)" class="btn_set">설정</a>
                            </div>
                        </td>
                    </tr>
                    <tr v-if="consults.length === 0">
                        <td colspan="9">검색된 결과가 없습니다.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <v-app>
                <pagination-component :pagination="pagination"/>
            </v-app>
            <!-- //.dataTableBox -->

            <!-- .setArea -->
            <div v-if="sentences != null" class="setArea" style="display: block">
                <!-- .set_sentence -->
                <div class="set_sentence">
                    <h3>문장 관리</h3>

                    <div class="btnBox btn_change_group">
                        <a v-if="!editable" @click="editable = true" class="btn_edit">수정</a>
                        <a v-if="editable" @click="openSentenceModal" class="btn_edit">문장추가</a>
                        <a v-if="editable" @click="delConsultSectionSentences" class="btn_delete">삭제</a>
                        <a v-if="editable" @click="editable = false" class="btn_cancel">취소</a>
                    </div>

                    <div class="tbl_set_view">
                        <div class="tbl_hd">
                            <table summary="선택(체크박스), NO, 문장, 탐지사전 유무, 상세설정, 문장추가(버튼)으로 구성">
                                <caption class="hide">문장 관리</caption>
                                <colgroup>
                                    <col width="50"><col width="50"><col><col width="150"><col width="100">
                                </colgroup>
                                <!-- [D] 테이블 상단 수정버튼 클릭 시 선택, 문장추가 컬럼 추가되어야함 -->
                                <thead>
                                <tr>
                                    <th scope="col">선택</th>
                                    <th scope="col">NO</th>
                                    <th scope="col">문장</th>
                                    <th scope="col">탐지사전 유무</th>
                                    <th scope="col">상세설정</th>
                                </tr>
                                </thead>
                            </table>
                        </div>

                        <div class="tbl_bd tbl_scroll five_line">
                            <table>
                                <colgroup>
                                    <col width="50"><col width="50"><col><col width="150"><col width="100">
                                </colgroup>

                                <tbody>
                                <tr v-for="(item, index) in sentences" :key="index">
                                    <td scope="row">
                                        <div class="chkBox">
                                            <input type="checkbox" v-model="modifySentences" :value="item" :id="'each_chk-'+item.dtctDtcNo+'-'+index" :disabled="!editable">
                                            <label :for="'each_chk-'+item.dtctDtcNo+'-'+index"></label>
                                        </div>
                                    </td>
                                    <td v-text="index+1">1</td>
                                    <td v-text="item.scrp">모든 암</td>
                                    <td v-text="item.dtctDtcYn">Y</td>
                                    <td>
                                        <div class="btnBox">
                                            <a @click="openConsultSentenceConfigModal(item)" class="btn_set">설정</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr v-if="sentences.length === 0">
                                    <td colspan="6">조회된 결과가 없습니다.</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- //.set_sentence -->
            </div>
            <!-- //.setArea -->
        </div>
        <!-- //.tab_content -->
    </div>
</template>

<script>
import {EventBus} from "../../utils/bus";
import PaginationComponent from "../pagination/PaginationComponent";
import {RepositoryFactory} from '@/repositories/RepositoryFactory';
import Datepicker from 'vuejs-datepicker';
import {mapActions} from "vuex";

const manageRepository = RepositoryFactory.get('manage');

export default {
    name: "Consult",
    components: {
        PaginationComponent,
        Datepicker
    },
    computed: {

    },
    watch: {
        consult(){
            this.getConsultSentences();
        },
    },
    data: function () {
        return {
            consults: [],
            sentences: null,
            consult: {},
            sentence: {},
            modifySentences: [],
            searchParam: {
                cuslCd: '',
                cuslAppOrd: 0,
                cuslNm: '',
                cuslAppStDt: '',
                cuslAppEdDt: '',
            },
            editable: false,
            pagination: {
                length: 0, // total row
                rowsPerPage: 10, // row per page
                now: 1, // now page
                navigationLength: 10, // navigation length
                callback: this.paginationCallback, // callback
                startRow: 0, // startRow
                endRow: 0, // endRow
                sortingColumn: null,
                sorting: null,
            },
        }
    },
    methods: {
        ...mapActions('base', {
            setModal: 'setModal'
        }),
        paginationCallback() {
            this.getConsultSections(null);
            if(this.sentences) this.sentences = null;
        },
        async getConsultSections(flag){
            if(this.sentences) this.sentences = null;
            const {data: result} = await manageRepository.getConsultSections(flag ? {...this.searchParam, ...{startRow: -1}} : {...this.searchParam, ...{startRow: this.pagination.startRow, rowsPerPage: this.pagination.rowsPerPage}});
            if(result.status === 'NOT_FOUND') console.log('조회결과 없음 - 상담구간 목록');
            this.pagination.length = result.length;
            result.data.forEach((v, i) => v.rowNum = (this.pagination.now - 1) * this.pagination.rowsPerPage + (i + 1));
            this.consults = result.data;
        },
        async getConsultSentences(){
            this.sentence = {};
            const {data: result} = await manageRepository.getConsultSentences(this.consult.cuslCd, this.consult.cuslAppOrd);
            if(result.status === 'NOT_FOUND') console.log('조회결과 없음 - 문장 목록');
            this.sentences = result.data;
        },
        async delConsultSectionSentences() {
            const {data: result} = await manageRepository.delConsultSectionSentences(this.consult.cuslCd, this.consult.cuslAppOrd, {data: this.modifySentences});
            switch (result.status){
                case 'SUCCESS':
                    alert('문장 삭제에 성공했습니다.');
                    this.modifySentences.forEach((v) => this.sentences.splice(_.findIndex(this.sentences, sv => sv == v), 1));
                    this.modifySentences = [];
                    break;
                case 'PARTIAL_SUCCESS':
                    alert('문장 삭제에 일부 실패했습니다. 데이터가 롤백 됩니다.');
                    break;
                case 'FAIL':
                    alert('문장 삭제에 실패했습니다.');
                    break;
            }
        },
        openCodeModal(){
            this.setModal({name: 'ConsultCodeModal', parameters: {repositoryFactory: RepositoryFactory}});
        },
        openConsultModal(item){
            this.setModal({name: 'ConsultAddAndEditModal', parameters: {repositoryFactory: RepositoryFactory, getConsultSections: this.getConsultSections, code: item}});
        },
        openSentenceModal(){
            this.setModal({name: 'ConsultSentenceModal', parameters: {repositoryFactory: RepositoryFactory, consult: this.consult, getConsultSentences: this.getConsultSentences}});
        },
        openConsultSentenceConfigModal(item){
            this.setModal({name: 'ManageDtctModal', parameters: {repository: manageRepository, data: item}});
        },
    },
    mounted() {
        this.getConsultSections();
    },
    activated() {
        EventBus.$emit('setContetnsClass', {className: 'admin counsel_stn_manage'});
    },
    created() {
        EventBus.$emit('setContetnsClass', {className: 'admin counsel_stn_manage'});
    },
}
</script>

<style lang="scss" scoped>
	::v-deep {
        .vdp-datepicker__calendar {
            left: -300px;
        }
    }
</style>