<template>
  <div class="tab_content">
    <h3>평가표 관리</h3>

    <!-- [D] 상품구분 등록(.btn_prdtCtgr_rgst) 버튼 클릭 시 '상품구분 등록(STTMN0005P3)' 팝업 보여져야함 -->
    <!-- [D] 평가표 등록(.btn_eval_tbl_rgst) 버튼 클릭 시 '평가표 등록(STTMN0005P1)' 팝업 보여져야함 -->
    <div class="btnBox">
      <a class="btn_prdtCtgr_rgst" @click="openAddProdCatModal()">상품구분 등록</a>
      <a class="btn_eval_tbl_rgst" @click="openAddApplyOrdModal()">평가표 등록</a>
    </div>

    <!-- .srchArea -->
    <div class="srchArea">
      <table class="tbl_line_view" summary="상품구분, 적용차수로 구성">
        <caption class="hide">
          검색조건
        </caption>
        <colgroup>
          <col width="100" />
          <col />
          <col width="100" />
          <col />
        </colgroup>

        <tbody>
          <tr>
            <th scope="row">상품구분</th>
            <td>
              <select class="select" v-model="searchParams.prodCat" @change="onProdCatChange()">
                <option v-if="prodCatList.length < 1" disabled value="">
                  상품구분 정보없음
                </option>
                <option v-else value="">전체</option>
                <option v-for="(item, idx) in prodCatList" v-bind:key="idx" :value="item.cd">
                  {{ item.cdNm }}
                </option>
              </select>
            </td>

            <th scope="row">적용차수</th>
            <td>
              <select class="select" v-model="searchParams.chkAppOrd">
                <option v-if="prodOrdList.length === 0" disabled value="">
                  적용차수 정보없음
                </option>
                <option v-else value="">전체</option>
                <option v-for="(item, idx) in prodOrdList" v-bind:key="idx" :value="item.chkAppOrd">
                  {{ item.chkAppOrd }}
                </option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="btnBox">
        <a class="btn_srch" @click="getEvalMainList(Object.assign(pagination, searchParams))">조회</a>
      </div>
    </div>
    <!-- //.srchArea -->

    <!-- .dataTableBox -->
    <div class="dataTableBox">
      <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
		<table class="dataTable tbl_include_btn no-footer" id="DataTables_Table_0" role="grid" style="width: 1890px;">
		  <thead>
		  	<tr role="row">
		  	  <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="상품구분" style="width: 337px;">상품구분</th>
		  	  <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="적용차수" style="width: 336px;">적용차수</th>
		  	  <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="적용시작일" style="width: 337px;">적용시작일</th>
		  	  <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="적용종료일" style="width: 337px;">적용종료일</th>
		  	  <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="등록일자" style="width: 337px;">등록일자</th>
		  	  <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="조회" style="width: 100px;">조회</th>
		  	  <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="설정" style="width: 100px;">설정</th>
		  	</tr>
		  </thead>
		  
		  <!-- [D] 조회 또는 설정(.btn_check, .btn_set)버튼 클릭 시 해당 목록(tr)에 addclass('active')되며 하이라이트 처리됨 -->
		  <tbody>
		  	<tr role="row" v-if="grid1Data.length === 0">
		  	  <td colspan="7">조회된 데이터가 없습니다.</td>
		  	</tr>
		  	<template v-else>
		  	  <tr v-for="(item, index) in grid1Data" :key="index" :class="{active : index === flag.grid1DataIndex}">
		  	  	<td>{{item.cdNm}}</td>
		  	  	<td>{{item.chkAppOrd}}</td>
		  	  	<td>{{item.chkAppStDt}}</td>
		  	  	<td>{{item.chkAppEdDt}}</td>
		  	  	<td>{{item.createdTm}}</td>
		  	  	<td>
		  	  	  <div class="btnBox">
		  	  	    <a @click="[getEvalSubList({prodCat: item.prodCat, chkAppOrd: item.chkAppOrd,}), showEvalList(), fn_setRowActive('grid1DataIndex', index)]" class="btn_check">조회</a>
		  	  	  </div>
		  	  	</td>
		  	  	<td>
		  	  	  <div class="btnBox">
		  	  	    <a @click="[openEvalListSettingsModal(item), fn_setRowActive('grid1DataIndex', index)]" class="btn_check">설정</a>
		  	  	  </div>
		  	  	</td>
		  	  </tr>
		  	</template>
		  </tbody>
		</table>
	  </div>
    </div>
    <!-- //.dataTableBox -->
	<v-app>
	  <pagination-component :pagination="pagination" />
	</v-app>

    <!-- .setArea -->
    <div
      v-if="visibleStatus.showEvalList"
      class="setArea"
      :style="{ display: 'block' }"
    >
      <!-- .set_eval_list -->
      <div class="set_eval_list">
        <h3>평가항목 리스트</h3>

        <div class="btnBox btn_change_group">
          <a v-if="!visibleStatus.editEvalList" class="btn_edit" @click.prevent="toggleEditStatus()" >수정</a>
		  <template v-if="visibleStatus.editEvalList">
            <a class="btn_save" @click="onSave()" >저장</a>
            <a class="btn_delete" @click="onDeleteBtnClick()" >삭제</a>
            <a class="btn_cancel" @click.prevent="onCancel()" >취소</a>
		  </template>
        </div>

        <div class="tbl_set_view">
          <div class="tbl_hd">
            <table summary="선택(체크박스), NO, 점검항목 코드, 점검항목명, 점검항목 설명, 부분검수여부, 자동검수여부, 평가구분, 평가항목 기준점수(정상, 보완, 반송), 등록일자, 수정일자, 추가(버튼)으로 구성">
              <caption class="hide">평가항목 리스트</caption>
              <colgroup>
                <col v-if="visibleStatus.editEvalList" width="50" />
                <col width="50" />
                <col width="80" />
                <col width="200" />
                <col width="200" />
                <col width="80" />
                <col width="80" />
                <col width="100" />
                <col width="60" />
                <col width="60" />
                <col width="60" />
                <col width="100" />
                <col width="100" />
                <col v-if="visibleStatus.editEvalList" width="50" />
              </colgroup>

              <!-- [D] 테이블 상단 수정버튼 클릭 시 선택, 추가 컬럼 추가되어야함 -->
              <thead>
                <tr>
                  <th v-if="visibleStatus.editEvalList" scope="col" rowspan="2">선택</th>
                  <th scope="col" rowspan="2">NO</th>
                  <th scope="col" rowspan="2">점검항목<br />코드</th>
                  <th scope="col" rowspan="2">점검항목명</th>
                  <th scope="col" rowspan="2">점검항목 설명</th>
                  <th scope="col" rowspan="2">부분검수<br />여부</th>
                  <th scope="col" rowspan="2">자동검수<br />여부</th>
                  <th scope="col" rowspan="2">평가구분</th>
                  <th scope="col" colspan="3">평가항목 기준점수</th>
                  <th scope="col" rowspan="2">탐지구분</th>
                  <th scope="col" rowspan="2">조건항목</th>
                  <th v-if="visibleStatus.editEvalList" scope="col" rowspan="2">추가</th>
                </tr>
                <tr>
                  <th scope="col">정상</th>
                  <th scope="col">보완</th>
                  <th scope="col">반송</th>
                </tr>
              </thead>
            </table>
          </div>

          <!-- [D] 목록 5개까지 한번에 볼 수 있으며 그 이상은 스크롤처리됨 -->
          <div class="tbl_bd tbl_scroll five_line" :ref="'chkItemList'">
            <table>
              <colgroup>
                <col v-if="visibleStatus.editEvalList" width="50" />
                <col width="50" />
                <col width="80" />
                <col width="200" />
                <col width="200" />
                <col width="80" />
                <col width="80" />
                <col width="100" />
                <col width="60" />
                <col width="60" />
                <col width="60" />
                <col width="100" />
                <col width="100" />
                <col v-if="visibleStatus.editEvalList" width="50" />
              </colgroup>

              <tbody>
                <template v-if="grid2Data.length < 1">
                  <tr>
                    <td :style="{ width: '100%' }">데이터가 없습니다</td>
                  </tr>
                </template>

                <template v-else>
                  <tr v-for="(item, idx) in grid2Data" v-bind:key="idx">
                    <td v-if="visibleStatus.editEvalList" scope="row">
                      <!-- [D] input[type="checkbox"]의 id와 label의 for 값을 동일하게 주어야함 -->
                      <div class="chkBox">
                        <template v-if="deleteTargets.includes(idx)">
                          <input
                            type="checkbox"
                            :id="`each_chk${idx}`"
                            @change="setDeleteTargets(idx)"
                            :checked="true"
                          />
                          <label :for="`each_chk${idx}`"></label>
                        </template>
                        <template v-else>
                          <input
                            type="checkbox"
                            :id="`each_chk${idx}`"
                            @change="setDeleteTargets(idx)"
                            :checked="false"
                          />
                          <label :for="`each_chk${idx}`"></label>
                        </template>
                      </div>
                    </td>
                    <td>{{ item.chkNo }}</td>
                    <td>
                      <div class="iptBox">
                        <input
                          type="text"
                          :disabled="!visibleStatus.editEvalList"
                          v-model="item.chkItmCd"
                        />
                      </div>
                      <!-- {{ item.chkItmCd }} -->
                    </td>
                    <td>
                      <div class="iptBox">
                        <input
                          type="text"
                          :disabled="!visibleStatus.editEvalList"
                          v-model="item.chkItmNm"
                        />
                      </div>
                      <!-- {{ item.chkItmNm }} -->
                    </td>
                    <td>
                      <div class="iptBox">
                        <input
                          type="text"
                          :disabled="!visibleStatus.editEvalList"
                          v-model="item.chkItmDesc"
                        />
                      </div>
                      <!-- {{ item.chkItmDesc }} -->
                    </td>
                    <td>
                      <select
                        class="select"
                        v-model="item.partInspYn"
                        :disabled="!visibleStatus.editEvalList"
                      >
                        <option value="Y">Y</option>
                        <option value="N">N</option>
                      </select>
                    </td>
                    <td>
                      <select
                        class="select"
                        v-model="item.autoInspYn"
                        :disabled="!visibleStatus.editEvalList"
                      >
                        <option value="Y">Y</option>
                        <option value="N">N</option>
                      </select>
                    </td>
                    <td>
                      <select
                        class="select"
                        v-model="item.chkCtgNm"
                        :disabled="!visibleStatus.editEvalList"
                      >
                        <option
                          v-for="(itm, id) in evalCategoryList"
                          v-bind:key="id"
                          :value="itm.cdNm"
                        >
                          {{ itm.cdNm }}
                        </option>
                      </select>
                    </td>
                    <td>
                      <div class="iptBox">
                        <input
                          type="text"
                          :disabled="!visibleStatus.editEvalList"
                          v-model="item.norScr"
                        />
                      </div>
                    </td>
                    <td>
                      <div class="iptBox">
                        <input
                          type="text"
                          :disabled="!visibleStatus.editEvalList"
                          v-model="item.supScr"
                        />
                      </div>
                    </td>
                    <td>
                      <div class="iptBox">
                        <input
                          type="text"
                          :disabled="!visibleStatus.editEvalList"
                          v-model="item.rtnScr"
                        />
                      </div>
                    </td>
                    <td>
                      <!-- <div class="iptBox">
                      <input
                        type="text"
                        :disabled="!visibleStatus.editEvalList"
                        :value="
                          item.dtctCtgCd === '1' ? '탐지-정상' : '탐지-비정상'
                        "
                      />
                    </div> -->

                      <select
                        class="select"
                        v-model="item.dtctCtgCd"
                        :disabled="!visibleStatus.editEvalList"
                      >
                        <option value="1">탐지-정상</option>
                        <option value="2">탐지-비정상</option>
                      </select>
                    </td>
                    <td>
                      <select
                        class="select"
                        v-model="item.condItmCd"
                        :disabled="!visibleStatus.editEvalList"
                      >
                        <option
                          v-for="(itm, id) in condList"
                          v-bind:key="id"
                          :value="itm.condItmCd"
                        >
                          {{ itm.condItmNm }}
                        </option>
                      </select>
                    </td>
                    <td v-if="visibleStatus.editEvalList">
                      <!-- [D] 추가버튼 클릭 시 테이블 행 추가되어야 함 -->
                      <div class="btnBox">
                        <a class="btn_add" @click="addChkItemRow()">
                          <span>추가버튼</span>
                        </a>
                      </div>
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- //.set_eval_list -->
    </div>
    <!-- //.setArea -->
  </div>
</template>

<script>
import { EventBus } from "../../utils/bus";
import { mapActions } from "vuex";
import PaginationComponent from "../pagination/PaginationComponent";
import { RepositoryFactory } from "@/repositories/RepositoryFactory";
const ManageRepository = RepositoryFactory.get("manage");

export default {
  name: "ManageEvaluation",
  components: {
    PaginationComponent,
  },
  data() {
    return {
      grid1Data: [],
      grid2Data: [],

      pagination: {
        length: 0, // total row
        rowsPerPage: 10, // row per page
        now: 1, // now page
        navigationLength: 10, // navigation length
        callback: this.paginationCallback, // callback
        startRow: 0, // startRow
        endRow: 0, // endRow
        sortingColumn: null,
        sorting: "ASC",
      },
      visibleStatus: {
        showEvalList: false,
        editEvalList: false,
      },
      searchParams: {
        mode: "",
        prodCat: "",
        chkAppOrd: null,
        startRow: 0,
        rowsPerPage: 10,
      },
      // selectBox Option Lists
      prodCatList: [],
      prodOrdList: [],
      condList: [],
      evalCategoryList: [],
      // grid2 CRUD
      serverGrid2Data: [], // 취소 버튼 클릭시 원상복구용 데이터
      selectedRow: null,
      deleteTargets: [],
      deleteConfirm: [],

	  flag: {
		  grid1DataIndex: null,
	  }
    };
  },
  methods: {
    ...mapActions("base", {
      setModal: "setModal",
    }),
    paginationCallback() {
      this.getData();
    },
    async getData(now) {
      if (now != undefined) {
        this.pagination.now = now;
      }
      this.getEvalMainList(Object.assign(this.pagination, this.searchParams));
    },
    showEvalList() {
      this.visibleStatus.showEvalList = true;
    },
    toggleEditStatus() {
      this.visibleStatus.editEvalList = !this.visibleStatus.editEvalList;
    },
    // modal control
    openAddApplyOrdModal() {
      this.setModal({
        name: "StandardScriptAddApplyOrdModal",
        parameters: {
          title: "addApplyOrdModal",
          repository: ManageRepository,
          refreshMainList: this.getFirstEvalMainList,
        },
      });
    },
    openAddProdCatModal() {
      this.setModal({
        name: "StandardScriptAddProdCatModal",
        parameters: {
          title: "addProdCatModal",
          repository: ManageRepository,
          refreshMainList: this.getFirstEvalMainList,
        },
      });
    },
    openEvalListSettingsModal(rowData) {
      this.setModal({
        name: "StandardScriptEvalListSettingsModal",
        parameters: {
          title: "evalListSettingsModal",
          repository: ManageRepository,
          rowInfo: rowData,
          refreshMainList: this.getFirstEvalMainList,
        },
      });
    },
    // selectbox Control
    onProdCatChange() {
      this.grid1Data = [];
      this.grid2Data = [];
	  this.visibleStatus.showEvalList = false;
      this.getProdOrdList(this.searchParams.prodCat);
      // this.getFirstEvalMainList(
      //   Object.assign({ prodCat: this.searchParams.prodCat }, this.pagination)
      // );
    },
    //// api
    // 상품구분 selectbox options list
    async getProdCatList() {
      const { data: result } = await ManageRepository.getProdCatList({});
      console.log("상품구분 리스트 >>>>>");
      console.log(result);
      this.prodCatList = result.codeList;
      this.getProdOrdList();
    },
    // 적용차수 selectbox options list
    async getProdOrdList(prodCat) {
      const { data: result } = await ManageRepository.getProdOrdList({
        prodCat: prodCat,
      });
      console.log("적용차수 리스트 >>>>>");
      console.log(result);
      this.prodOrdList = result.dataList;
    },
    // 평가표관리 초기 진입 메인리스트 조회
    async getFirstEvalMainList(jsonData) {
      const { data: result } = await ManageRepository.getEvalMainList(
        Object.assign({ mode: "FIR", startRow: 0, rowsPerPage: 10 }, jsonData)
      );
      console.log("평가표 메인리스트 조회(초기) >>>>>");
      console.log(result);
      result.dataList.forEach((item) => {
        item.chkAppStDt ? (item.chkAppStDt = `${item.chkAppStDt.slice(0, 4)}-${item.chkAppStDt.slice(4, 6)}-${item.chkAppStDt.slice(6, 8)}`) : (item.chkAppStDt = null);
        item.chkAppEdDt ? (item.chkAppEdDt = `${item.chkAppEdDt.slice(0, 4)}-${item.chkAppEdDt.slice(4, 6)}-${item.chkAppEdDt.slice(6, 8)}`) : (item.chkAppEdDt = null);
        item.createdTm ? (item.createdTm = `${item.createdTm.slice(0, 10)}`) : (item.createdTm = null);
      });
      this.pagination.length = result.totalCnt;
      this.grid1Data = result.dataList;
    },
    // 평가항목관리 조건항목 selectbox options 목록 조회
    async getEvalCondList(jsonData) {
      const { data: result } = await ManageRepository.getEvalCondList(jsonData);
      this.condList = result.dataList;
      console.log("평가항목관리 조건항목 리스트 >>>>>");
      console.log(result);
    },
    // 평가표관리 메인리스트 조회
    async getEvalMainList(jsonData) {
      const { data: result } = await ManageRepository.getEvalMainList(jsonData);
      console.log("평가표관리 메인리스트");
      console.log(result);
      result.dataList.forEach((item) => {
        item.chkAppStDt ? (item.chkAppStDt = `${item.chkAppStDt.slice(0, 4)}-${item.chkAppStDt.slice(4, 6)}-${item.chkAppStDt.slice(6, 8)}`) : (item.chkAppStDt = null);
        item.chkAppEdDt ? (item.chkAppEdDt = `${item.chkAppEdDt.slice(0, 4)}-${item.chkAppEdDt.slice(4, 6)}-${item.chkAppEdDt.slice(6, 8)}`) : (item.chkAppEdDt = null);
        item.createdTm ? (item.createdTm = `${item.createdTm.slice(0, 10)}`) : (item.createdTm = null);
      });
      this.pagination.length = result.totalCnt;
      this.grid1Data = result.dataList;
    },
    // 평가항목관리 서브리스트 조회
    async getEvalSubList(jsonData) {
      this.visibleStatus.editEvalList = false;
      this.getEvalCondList({ prodCat: jsonData.prodCat });
      const { data: result } = await ManageRepository.getEvalSubList(jsonData);
      console.log("평가항목관리 서브리스트 >>>>>");
      console.log(result);
      this.selectedRow = {
        prodCat: jsonData.prodCat,
        chkAppOrd: jsonData.chkAppOrd,
        chkCtgCd: result.dataList[0] ? result.dataList[0].chkCtgCd : null,
      };
      // console.log(result.dataList);
      this.getEvalCategoryList();

      this.grid2Data = result.dataList.sort(function (a, b) {
        if (Number(a.chkNo) > Number(b.chkNo)) {
          return 1;
        }
        if (Number(a.chkNo) < Number(b.chkNo)) {
          return -1;
        }
        return 0;
      }); // 편집할 데이터
      this.serverGrid2Data = _.cloneDeep(result.dataList); // 원복용 데이터
    },
    // 평가항목관리 서브리스트 추가 임시 반영
    addChkItemRow() {
      this.grid2Data.push({
        prodCat: this.selectedRow.prodCat,
        chkAppOrd: this.selectedRow.chkAppOrd,
        chkNo: Number(this.grid2Data[this.grid2Data.length - 1].chkNo) + 1,
        chkItmCd: null,
        chkItmNm: null,
        chkItmDesc: null,
        partInspYn: null,
        autoInspYn: null,
        chkCtgNm: null,
        norScr: null,
        supScr: null,
        rtnScr: null,
        dtctCtgCd: null,
        condItmCd: null,
      });
    },
    // 평가항목코드 리스트
    async getEvalCategoryList() {
      const { data: result } = await ManageRepository.getEvalCategoryList({});
      console.log("평가항목코드 리스트 >>>>>");
      console.log(result);
      this.evalCategoryList = result.dataList;
      // console.log(this.evalCategoryList);
    },
    // chkCtgNm => chkCtgCd 매칭 함수
    findChkCtgCd(obj, evalListArr) {
      // console.log(evalListArr.find((item) => obj.chkCtgNm === item.cdNm).cd);
      return evalListArr.find((item) => obj.chkCtgNm === item.cdNm).cd;
    },
    // 평가항목 추가 및 수정 api 호출
    async addChkItem(jsonArr) {
      jsonArr.forEach((itm, idx) => {
        itm.chkCtgCd = this.findChkCtgCd(itm, this.evalCategoryList);
      });
      // console.log(jsonArr);
      const { data: result } = await ManageRepository.addCheckItem(jsonArr);
      console.log("평가항목 추가 및 수정 >>>>>");
      console.log(result);
    },
    // chkItms delete checkbox
    setDeleteTargets(index) {
      if (this.deleteTargets.includes(index)) {
        this.deleteTargets = this.deleteTargets.filter(
          (item) => item !== index
        );
      } else {
        this.deleteTargets.push(index);
      }
    },
    // 평가항목 삭제 임시 반영
    onDeleteBtnClick() {
      this.deleteConfirm = this.deleteConfirm.concat(
        this.serverGrid2Data.filter((itm, idx) =>
          this.deleteTargets.includes(idx)
        )
      );
      this.grid2Data = this.grid2Data.filter(
        (item, idx) => !this.deleteTargets.includes(idx)
      );
      this.deleteTargets = [];
    },
    // 평가항목 삭제 api 호출
    async onCheckItemDelete(jsonArr) {
      const { data: result } = await ManageRepository.deleteCheckItem(jsonArr);
      console.log("평가항목 삭제 >>>>>");
      console.log(result);
      this.deleteConfirm = [];
    },
    // 변경사항 서버 저장
    onSave() {
      // 1. delete
      if (this.deleteConfirm.length > 0) {
        console.log("삭제 데이터");
        console.log(this.deleteConfirm);
        this.onCheckItemDelete(this.deleteConfirm);
      }
      // 2. add/update
      console.log("추가 및 수정 데이터");
      console.log(this.grid2Data);
      this.addChkItem(this.grid2Data);

      this.visibleStatus.editEvalList = false;
      this.getEvalSubList({
        prodCat: this.selectedRow.prodCat,
        chkAppOrd: this.selectedRow.chkAppOrd,
      });
    },
    // 취소: 임시편집 데이터 원복
    onCancel() {
      this.grid2Data = this.serverGrid2Data;
      this.deleteTargets = [];
      this.deleteConfirm = [];
      this.visibleStatus.editEvalList = false;
    },
	//  클릭한 tr background active
	fn_setRowActive(target, index) {
		if(target) {
			this.flag[target] = index;
		}
	}
  },
    activated() {
        EventBus.$emit('setContetnsClass', {className: 'admin eval_tbl_manage'});
    },
  created() {
    EventBus.$emit("setContetnsClass", {
      className: "admin eval_tbl_manage",
    });
  },
  mounted() {
    this.getProdCatList();
    this.getFirstEvalMainList({});
  },
};
</script>

<style>
</style>