<template>
    <div>
        <h3>구간 관리</h3>

        <!-- [D] 구간 코드 관리(.btn_code_manage) 버튼 클릭 시 '분류 코드 관리(STTMN0002P1)' 팝업 보여져야함 -->
        <!-- [D] 구간 등록(.btn_stn_rgst) 버튼 클릭 시 '구간 등록(STTMN0002P2)' 팝업 보여져야함 -->
        <div class="btnBox">
            <a @click="open_modal('ManageCodeModal')" class="btn_code_manage">구간 코드 관리</a>
            <a @click="open_modal('ManageAreaModal')" class="btn_stn_rgst">구간 등록</a>
        </div>

        <!-- .srchArea -->
        <div class="srchArea">
            <table class="tbl_line_view" summary="대분류, 중분류, 소분류, 적용일자로 구성">
                <caption class="hide">검색조건</caption>
                <colgroup>
                    <col width="100"><col><col width="100"><col>
                    <col width="100"><col><col width="100"><col width="310">
                </colgroup>

                <tbody>
                    <tr>
                        <th scope="row">대분류명</th>
                        <td>
                            <select class="select" v-model="searchArea.scrpLctgCd">
                                <option v-for="item in lctgList" :key="item.scrpLctgCd" :value="item.scrpLctgCd">{{item.scrpLctgNm}}</option>
                            </select>
                        </td>

                        <th scope="row">중분류명</th>
                        <td>
                            <div class="iptBox">
                                <input type="text" v-model="searchArea.scrpMctgNm" maxlength="100" @keyup.enter="fn_search">
                            </div>
                        </td>

                        <th scope="row">소분류명</th>
                        <td>
                            <div class="iptBox">
                                <input type="text" v-model="searchArea.scrpSctgNm" maxlength="100" @keyup.enter="fn_search">
                            </div>
                        </td>

                        <th scope="row">적용일자</th>
                        <td>
                            <div class="iptBox">
                                <datepicker @input="searchArea.scrpAppStDt = moment($event).format('yyyyMMDD')" input-class="iptDateTime" :format="'yyyy-MM-dd'" :language="ko"></datepicker>
                                <span>‐</span>
                                <datepicker @input="searchArea.scrpAppEdDt = moment($event).format('yyyyMMDD')" input-class="iptDateTime" :format="'yyyy-MM-dd'" :language="ko"></datepicker>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="btnBox">
                <a @click="fn_search" class="btn_srch">조회</a>
            </div>
        </div>
        <!-- //.srchArea -->

        <!-- .dataTableBox -->
        <div class="dataTableBox">
            <!-- [D] datatables 라이브러리 영역 -->
            <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
				<table class="dataTable tbl_include_btn no-footer" id="DataTables_Table_0" role="grid" style="width: 1890px;">
					<thead>
						<tr role="row"><th class="sorting_disabled" rowspan="1" colspan="1" aria-label="NO" style="width: 50px;">NO</th><th class="sorting_disabled" rowspan="1" colspan="1" aria-label="대분류명" style="width: 423px;">대분류명</th><th class="sorting_disabled" rowspan="1" colspan="1" aria-label="중분류명" style="width: 424px;">중분류명</th><th class="sorting_disabled" rowspan="1" colspan="1" aria-label="소분류명" style="width: 424px;">소분류명</th><th class="sorting_disabled" rowspan="1" colspan="1" aria-label="적용차수" style="width: 80px;">적용차수</th><th class="sorting_disabled" rowspan="1" colspan="1" aria-label="적용시작" style="width: 100px;">적용시작</th><th class="sorting_disabled" rowspan="1" colspan="1" aria-label="적용종료" style="width: 100px;">적용종료</th><th class="sorting_disabled" rowspan="1" colspan="1" aria-label="사용여부" style="width: 80px;">사용여부</th><th class="sorting_disabled" rowspan="1" colspan="1" aria-label="조회" style="width: 100px;">조회</th><th class="sorting_disabled" rowspan="1" colspan="1" aria-label="설정" style="width: 100px;">설정</th></tr>
					</thead>
					
					<!-- [D] 조회 또는 설정(.btn_check, .btn_set)버튼 클릭 시 해당 목록(tr)에 addclass('active')되며 하이라이트 처리됨 -->
					<tbody>
						<tr v-if="!scriptAreaMainList" role="row">
							<td colspan="10">조회된 데이터가 없습니다.</td>
						</tr>
						<template v-else>
							<tr v-for="(item, index) in scriptAreaMainList" :key="index" :class="{active : index === flag.scriptAreaMainListIndex}">
								<td>{{item.rowNum}}</td>
								<td>{{item.scrpLctgNm}}</td>
								<td>{{item.scrpMctgNm}}</td>
								<td>{{item.scrpSctgNm}}</td>
								<td>{{item.scrpAppOrd}}</td>
								<td>{{item.scrpAppStDt}}</td>
								<td>{{item.scrpAppEdDt}}</td>
								<td>{{item.usedYn}}</td>
								<td>
									<div class="btnBox">
										<a @click="fn_getScriptSentenceList(item, index)" class="btn_check">조회</a>
									</div>
								</td>
								<td>
									<div class="btnBox">
										<a @click="open_modal('ManageAreaModal2', index)" class="btn_set">설정</a>
									</div>
								</td>
							</tr>
						</template>
					</tbody>
				</table>
			</div>
        </div>
        <!-- //.dataTableBox -->
		<!-- paging -->
		<v-app>
			<pagination-component :pagination="pagination"/>
		</v-app>
		<!-- // paging -->

        <!-- .setArea -->
        <div v-if="flag.sentence" class="setArea" style="display: block;">
            <!-- .set_sentence -->
            <div class="set_sentence">
                <h3>문장관리</h3>

                <div class="btnBox btn_change_group">
                    <a v-if="!flag.editable" @click="flag.editable = true" class="btn_edit">수정</a>
                    <a v-if="flag.editable" @click="open_modal('ManageSentenceModal')" class="btn_edit">문장추가</a>
                    <a v-if="flag.editable" @click="fn_delScriptSentence" class="btn_delete">삭제</a>
                    <a v-if="flag.editable" @click="flag.editable = false" class="btn_cancel">취소</a>
                </div>

                <div class="tbl_set_view">
                    <div class="tbl_hd">
                        <table summary="선택(체크박스), NO, 가이드문구, 문장내용, 특약코드, 특약명, 고객답변, 문장발화조건, 탐지사전유무, 시작문장, 필수문장, 상세설정, 문장추가(버튼)으로 구성">
                            <caption class="hide">문장관리 내용</caption>
                            <colgroup>
                                <col width="50"><col width="50"><col width="150"><col><col width="80">
                                <col width="120"><col width="80"><col width="100"><col width="80"><col width="50">
                                <col width="50"><col width="80">
                            </colgroup>

                            <!-- [D] 테이블 상단 수정버튼 클릭 시 선택, 문장추가 컬럼 추가되어야함 -->
                            <!-- [D] 테이블 상단 수정버튼 클릭 시 상세설정 컬럼은 삭제되며, 문장추가 컬럼이 대신 추가되어야함 -->
                            <thead>
                                <tr>
                                    <th scope="col">선택</th>
                                    <th scope="col">NO</th>
                                    <th scope="col">가이드문구</th>
                                    <th scope="col">문장내용</th>
                                    <th scope="col">특약코드</th>
                                    <th scope="col">특약명</th>
                                    <th scope="col">고객답변</th>
                                    <th scope="col">문장발화조건</th>
                                    <th scope="col">탐지사전<br>유무</th>
                                    <th scope="col">시작<br>문장</th>
                                    <th scope="col">필수<br>문장</th>
                                    <th scope="col">상세설정</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    
                    <div class="tbl_bd tbl_scroll five_line">
                        <table>
                            <colgroup>
                                <col width="50"><col width="50"><col width="150"><col><col width="80">
                                <col width="120"><col width="80"><col width="100"><col width="80"><col width="50">
                                <col width="50"><col width="80">
                            </colgroup>
                            
                            <tbody>
                                <tr v-if="!scriptSentenceList">
                                    <td colspan="12">조회된 데이터가 없습니다.</td>
                                </tr>
                                <tr v-for="(item, index) in scriptSentenceList" :key="index">
                                    <td scope="row">
                                        <div class="chkBox">
                                            <div class="chkBox">
                                                <input type="checkbox" :id="'each_chk'+index" v-model="item.isChecked">
                                                <label :for="'each_chk'+index"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{item.stmtSeq}}</td>
                                    <td>{{item.gudStmt}}</td>
                                    <td>{{item.scrp}}</td>
                                    <td>{{item.damboCd}}</td>
                                    <td>{{item.damboNm}}</td>
                                    <td>{{item.custAnsYn}}</td>
                                    <td>{{item.condItmNm}}</td>
                                    <td>{{item.dtctDtcYn}}</td>
                                    <td>{{item.stScrpYn}}</td>
                                    <td>{{item.estyScrpYn}}</td>
                                    <td>
                                        <div class="btnBox">
                                            <a class="btn_set" @click="open_modal('ManageDtctModal', index)">설정</a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>                                
                </div>
            </div>
            <!-- //.set_sentence -->
        </div>
        <!-- //.setArea -->
    </div>
</template>

<script>
import {EventBus} from "@/utils/bus";
import {mapGetters, mapActions} from "vuex";
import {RepositoryFactory} from '@/repositories/RepositoryFactory';
import Datepicker from 'vuejs-datepicker';
import PaginationComponent from "@/components/pagination/PaginationComponent";

const ManageRepository = RepositoryFactory.get("manage");

export default {
    name: 'script-area',
    components: {
        Datepicker,
        PaginationComponent,
    },
    activated() {
        EventBus.$emit('setContetnsClass', {className: 'admin prdt_script_manage'});
    },
    async created() {
        EventBus.$emit('setContetnsClass', {className: 'admin prdt_script_manage'});
        await this.fn_getLctgList();
        await this.fn_getScriptAreaMainList();
    },
    methods: {
        ...mapActions('base', {
            setModal: 'setModal',
            clearModal: 'clearModal'
        }),
        open_modal(modalName, index) {
            let obj = {repository: ManageRepository};

            if(modalName === 'ManageAreaModal') {
                obj.callback = this.fn_getScriptAreaMainList;
            }else if(modalName === 'ManageAreaModal2') {
                obj.callback = this.fn_getScriptAreaMainList;
                obj.data = this.scriptAreaMainList[index];
				this.flag.scriptAreaMainListIndex = index;
            }else if(modalName === 'ManageSentenceModal') {
                obj.callback = this.fn_getScriptSentenceList;
                obj.data = this.selected.scriptAreaMain;
            }else if(modalName === 'ManageDtctModal') {
				obj.callback = this.fn_getScriptSentenceList;
				obj.data = this.scriptSentenceList[index];
				obj.data.flag = 'script';
			}
			
            this.setModal({name: modalName, parameters: obj});
        },
        // 대분류명 조회
        async fn_getLctgList() {
            const {data: result} = await ManageRepository.getLctgList();
            result.data.unshift({scrpLctgCd: '', scrpLctgNm: '전체'});
            this.lctgList = result.data;
        },
        // 구간 관리 메인 목록 조회
        fn_search() {
            if(this.searchArea.scrpAppStDt || this.searchArea.scrpAppEdDt) {
                if(this.searchArea.scrpAppStDt && this.searchArea.scrpAppEdDt) {
                    if(this.searchArea.scrpAppStDt > this.searchArea.scrpAppEdDt) {
                        alert("적용일자 항목이 올바르지 않습니다.");
                    }else {
                        this.pagination.now = 1;
                        this.fn_getScriptAreaMainList();
                    }
                }else {
                    alert("적용일자를 입력해주세요.");
                    return false;
                }
            }else {
                this.pagination.now = 1;
                this.fn_getScriptAreaMainList();
            }
        },
        // 구간 관리 메인 목록 조회 API
        async fn_getScriptAreaMainList() {
            const {data: result} = await ManageRepository.getScriptAreaMainList(new URLSearchParams({...this.searchArea, ...this.pagination}).toString());
            this.scriptAreaMainList = result.data;
            this.pagination.length = result.cnt || 0;
            if(this.scriptAreaMainList) {
                this.scriptAreaMainList.forEach((v, i) => v.rowNum = (this.pagination.length - ((this.pagination.now - 1) * this.pagination.rowsPerPage)) - (i));
            }
        },
        // 문장관리 목록 조회
        async fn_getScriptSentenceList(item, index) {
            this.flag.sentence = true;
			if(item) {
				this.selected.scriptAreaMain = item;
			}
            const {data: result} = await ManageRepository.getScriptSentenceList(new URLSearchParams(this.selected.scriptAreaMain).toString());
            this.scriptSentenceList = result.data;
			this.flag.scriptAreaMainListIndex = index;
        },
        // 문장 삭제
        async fn_delScriptSentence() {
            let index = _.findIndex(this.scriptSentenceList, v => v.isChecked);
            if(index === -1) {
                alert("삭제할 문장을 선택해주세요.");
                return false;
            }
            let text = '정말 삭제하시겠습니까?';
            if(confirm(text)) {
                let deleteList = this.scriptSentenceList.filter(v => v.isChecked);
                const {data: result} = await ManageRepository.delScriptSentence(deleteList);
                if(result.status === 'SUCCESS') {
                    alert("문장을 삭제했습니다.");
                }else if(result.status === 'PARTIAL_SUCCESS') {
                    alert("오류가 발생하여 일부 데이터를 삭제하지 못했습니다.");
                }else {
                    alert("오류가 발생했습니다.");
                }
                this.fn_getScriptSentenceList(this.selected.scriptAreaMain);
            }
        }
    },
    data() {
        return {
            lctgList: [],
            searchArea: {
                scrpLctgCd: '',
                scrpMctgNm: '',
                scrpSctgNm: '',
                scrpAppStDt: '',
                scrpAppEdDt: '',
            },
            scriptAreaMainList: null,
            scriptSentenceList: null,
            pagination: {
                length: 0, // total row
                rowsPerPage: 10, // row per page
                now: 1, // now page
                navigationLength: 10, // navigation length
                callback: this.fn_getScriptAreaMainList, // callback
                startRow: 0,
                endRow: 0,
            },

            flag: {
                sentence: false,
                editable: false,
				scriptAreaMainListIndex: null,
            },

            selected: {
                scriptAreaMain: null,
            }
        }
    }
}
</script>

<style lang="scss" scoped>
    ::v-deep {
        .vdp-datepicker__calendar {
            left: -300px;
        }
    }
</style>