<template>
  <div class="tab_content">
    <h3>문장 관리</h3>

    <div class="btnBox">
      <a class="btn_add_sentence" @click="openAddSentenceModal()">문장 등록</a>
    </div>

    <div class="srchBox">
      <input type="search" placeholder="문장내용 검색" v-model="searchParams.scrp" @keydown.enter="getSentenceList">
      <a class="btn_srch" @click="getSentenceList()">
        <span>검색버튼</span>
      </a>
    </div>

    <!-- .dataTableBox -->
    <div class="dataTableBox">
		<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
			<table class="dataTable tbl_include_btn no-footer dtr-inline" id="DataTables_Table_0" role="grid" style="width: 100%;">
				<thead>
					<tr role="row">
						<th style="width: 50px;">NO</th>
						<th style="width: 1728px;">표준스크립트 문장내용</th>
						<th style="width: 100px;">상세설정</th>
					</tr>
				</thead>
				<tbody>
					<tr v-if="!gridData.length" role="row">
						<td colspan="3">조회된 데이터가 없습니다.</td>
					</tr>
					<template v-else>
						<tr v-for="(item, index) in gridData" :key="index">
							<!-- <td>{{item.dtctDtcNo}}</td> -->
							<td>{{item.rowNum}}</td>
							<td>{{item.scrp}}</td>
							<td class="dtr-control">
								<div class="btnBox">
									<a @click="openSentenceSettingsModal(item.dtctDtcNo)" class="btn_set">설정</a>
								</div>
							</td>
						</tr>
					</template>
				</tbody>
			</table>
		</div>
    </div>
    <!-- //.dataTableBox -->

	<!-- paging -->
	<v-app>
		<pagination-component :pagination="pagination"/>
	</v-app>
	<!-- // paging -->
  </div>
</template>

<script>
import { EventBus } from "../../utils/bus";
import { mapActions } from "vuex";
import PaginationComponent from "../pagination/PaginationComponent";
import { RepositoryFactory } from "@/repositories/RepositoryFactory";
const ManageRepository = RepositoryFactory.get("manage");

export default {
  name: "SentenceInterval",
  components: {
    PaginationComponent,
  },
  data() {
    return {
      gridData: [],
      pagination: {
        length: 0, // total row
        rowsPerPage: 10, // row per page
        now: 1, // now page
        navigationLength: 10, // navigation length
        callback: this.paginationCallback, // callback
        startRow: 0, // startRow
        endRow: 0, // endRow
      },
      searchParams: {
        scrp: '',
      },
    };
  },
  methods: {
    ...mapActions("base", {
      setModal: "setModal",
    }),
    paginationCallback() {
      this.getData();
    },
    async getData(now) {
      if (now != undefined) {
        this.pagination.now = now;
      }
      this.getSentenceList();
    },
    // modal control
    openAddSentenceModal() {
      this.setModal({
        name: "StandardScriptAddSentenceModal",
        parameters: {
          title: "addSentenceModal",
          repository: ManageRepository,
          getSentenceList: this.getSentenceList,
          pagination: this.pagination,
        },
      });
    },
    openSentenceSettingsModal(dtctDtcNo) {
	  let obj = {
		  dtctDtcNo: dtctDtcNo,
		  flag: 'sentence',
		  callback: this.getSentenceList(),
	  }
	  this.setModal({name: 'ManageDtctModal', parameters: {repository: ManageRepository, data: obj}});
    },
    // 문장리스트 조회
    async getSentenceList() {
      const { data: result } = await ManageRepository.getSentenceMainList(Object.assign(this.pagination, this.searchParams));
      this.pagination.length = result.totalCnt;
      result.dataList.forEach((v, i) => v.rowNum = (this.pagination.length - ((this.pagination.now - 1) * this.pagination.rowsPerPage)) - (i));
      this.gridData = result.dataList;
    },
  },
    activated() {
        EventBus.$emit('setContetnsClass', {className: 'admin sentence_manage'});
    },
  created() {
	  this.getSentenceList(this.searchParams);
	  EventBus.$emit("setContetnsClass", {className: "admin sentence_manage"});
  },
  mounted() {
    
  },
};
</script>

<style>

</style>