<template>
  <div class="tab_content">
    <h3>탐지사전 검증</h3>

    <!-- .actionArea -->
    <div class="actionArea">
      <div class="btnBox">
        <a class="btn_action" @click="runNlp()">형태소 분리 실행</a>
      </div>

      <!-- .scriptArea -->
      <div class="scriptArea">
        <h4>대상 스크립트</h4>
        <div class="scriptBox">
          <textarea
            :style="{ resize: 'none' }"
            placeholder="직접 입력해 주세요."
            v-model="nlpParam"
          ></textarea>
        </div>
      </div>
      <!-- //.scriptArea -->

      <!-- .scriptArea -->
      <div class="scriptArea">
        <h4>형태소 분리 결과</h4>
        <div class="scriptBox">
          <textarea :style="{ resize: 'none' }" v-model="nlpResult"></textarea>
        </div>
      </div>
      <!-- //.scriptArea -->
    </div>
    <!-- //.actionArea -->

    <!-- .actionArea -->
    <div class="actionArea">
      <div class="btnBox">
        <a class="btn_action" @click="runHmd(table1Data)">탐지사전 실행</a>
        <a class="btn_delete" @click="onDelete()">삭제</a>
      </div>

      <!-- .tbl_set_view -->
      <div class="tbl_set_view">
        <div class="tbl_hd">
          <table
            summary="선택(체크박스), 스크립트(선택입력), 탐지사전번호, 탐지사전(필수입력), 추가(버튼)으로 구성됨"
          >
            <caption class="hide">
              탐지사전 스크립트 리스트
            </caption>
            <colgroup>
              <col width="50" />
              <!-- <col /> -->
              <col width="200" />
              <col />
              <col width="80" />
            </colgroup>

            <thead>
              <tr>
                <th scope="col">선택</th>
                <!-- <th scope="col">스크립트&lpar;선택입력&rpar;</th> -->
                <th scope="col">탐지사전번호</th>
                <th scope="col">탐지사전&lpar;필수입력&rpar;</th>
                <th scope="col">추가</th>
              </tr>
            </thead>
          </table>
        </div>

        <div class="tbl_bd tbl_scroll five_line">
          <table>
            <colgroup>
              <col width="50" />
              <!-- <col /> -->
              <col width="200" />
              <col />
              <col width="80" />
            </colgroup>

            <tbody>
              <template v-if="table1Data.length < 1">
                <tr>
                  <td colspan="5">조회된 데이터가 없습니다.</td>
                </tr>
              </template>
              <template v-else>
                <tr v-for="(item, idx) in table1Data" v-bind:key="idx">
                  <td scope="row">
                    <!-- [D] input[type="checkbox"]의 id와 label의 for 값을 동일하게 주어야함 -->
                    <div class="chkBox">
                      <input
                        type="checkbox"
                        :id="`each_chk${idx}`"
                        @change="setDeleteTarget(idx)"
                        :checked="deleteTarget.includes(idx)"
                      />
                      <label :for="`each_chk${idx}`"></label>
                    </div>
                  </td>
                  <!-- <td>
                    <div class="iptBox">
                      <input type="text" v-model="table1Data[idx].target_str" />
                    </div>
                  </td> -->
                  <td :style="{ textAlign: 'center' }">
                    <div class="iptBox">
                      <input type="text" v-model="table1Data[idx].cate" />
                    </div>
                  </td>
                  <td>
                    <div class="iptBox">
                      <input type="text" v-model="table1Data[idx].rule" />
                    </div>
                  </td>
                  <td :style="{ textAlign: 'center' }">
                    <div class="btnBox">
                      <a class="btn_add" @click="addRow()">
                        <span>추가버튼</span>
                      </a>
                    </div>
                  </td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
      </div>
      <!-- //.tbl_set_view -->

      <!-- .tbl_set_view -->
      <div class="tbl_set_view">
        <div class="tbl_hd">
          <table summary="NO, 대상 스크립트, 탐지사전번호, 탐지 결과로 구성됨">
            <caption class="hide">
              탐지사전 스크립트 리스트
            </caption>
            <colgroup>
              <col width="50" />
              <col width="600" />
              <col width="100" />
              <col />
            </colgroup>

            <thead>
              <tr>
                <th scope="col">NO</th>
                <th scope="col">대상 스크립트</th>
                <th scope="col">탐지사전번호</th>
                <th scope="col">탐지 결과</th>
              </tr>
            </thead>
          </table>
        </div>

        <div class="tbl_bd tbl_scroll five_line">
          <table>
            <colgroup>
              <col width="50" />
              <col width="600" />
              <col width="100" />
              <col />
            </colgroup>

            <tbody>
              <template v-if="table2Data.length < 1">
                <tr>
                  <td colspan="5">조회된 데이터가 없습니다.</td>
                </tr>
              </template>
              <template v-else>
                <tr v-for="(item, idx) in table2Data" v-bind:key="idx">
                  <td scope="row">{{ idx + 1 }}</td>
                  <td>{{ item.sent }}</td>
                  <td>{{ item.cate }}</td>
                  <td>{{ item.hmd_rule }}</td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>
      </div>
      <!-- //.tbl_set_view -->
    </div>
    <!-- //.actionArea -->
  </div>
</template>

<script>
import { EventBus } from "../../utils/bus";
import { RepositoryFactory } from "@/repositories/RepositoryFactory";
const ManageRepository = RepositoryFactory.get("manage");

export default {
  name: "Simulation",
  components: {},
  data() {
    return {
      nlpParam: null, // 대상 스크립트
      nlpResult: null, // 형태소 분리 결과
      table1Data: [
        {
          cate: null,
          rule: null,
        },
      ],
      newItem: {
        cate: null,
        rule: null,
      },
      hmdParam: {
        uni_id: "1",
        target_str: null,
        hmd_info: [],
      },
      table2Data: [
        // {
        //   sent: null,                    // 대상 스크립트
        //   cate: null,                    // 탐지사전 번호
        //   hmd_rule: null                 // 탐지 결과
        // },
      ],
      deleteTarget: [],
    };
  },
  methods: {
    // 추가 버튼
    addRow() {
      this.table1Data.push(this.newItem);
      this.newItem = {
        cate: null,
        rule: null,
      };
    },
    // 체크박스 컨트롤
    setDeleteTarget(index) {
      if (this.deleteTarget.includes(index)) {
        this.deleteTarget = this.deleteTarget.filter(
          (item, idx) => idx !== index
        );
      } else {
        this.deleteTarget.push(index);
      }
    },
    // 삭제 버튼
    onDelete() {
      this.table1Data = this.table1Data.filter(
        (item, idx) => !this.deleteTarget.includes(idx)
      );
      this.deleteTarget = [];
    },
    // 형태소 분리 실행 버튼
    runNlp() {
      this.getNlpResult({ jsonStr: this.nlpParam });
    },
    // 탐지사전 실행 버튼
    runHmd() {
      // this.hmdParam.target_str = this.table1Data[0].target_str;
      this.hmdParam.target_str = this.nlpParam;
      this.hmdParam.hmd_info = this.table1Data;
      this.getHmdResult(this.hmdParam);
    },
    //// api
    // NLP api
    async getNlpResult(jsonData) {
      const { data: result } = await ManageRepository.getSimulationNlp(
        jsonData
      );
      console.log("NLP 결과 >>>>>");
      console.log(result);
      this.nlpResult = result.output[0].nlp_sent.slice(18, -4);
    },
    // HMD api
    async getHmdResult(jsonData) {
      const { data: result } = await ManageRepository.getSimulationHmd(
        jsonData
      );
      console.log("HMD 결과 >>>>>");
      console.log(result);
      this.table2Data = result.output;
    },
  },
  mounted() {},
    activated() {
        EventBus.$emit('setContetnsClass', {className: 'admin simulation_screen'});
    },
  created() {
    EventBus.$emit("setContetnsClass", {
      className: "admin simulation_screen",
    });
  },
};
</script>

<style>
</style>