<template>
  <div id="contents" class="admin gnr_script_manage">
    <h3>보험 상품 리스트</h3>

    <div class="btnBox">
      <a class="btn_prdt_add" @click.prevent="openAddProdModal()">상품 등록</a>
      <a
        class="btn_gnr_script_copy"
        @click.prevent="openProdCopyModal(copyTarget)"
        >상품 복사</a
      >
    </div>

    <div class="srchArea">
      <table class="tbl_line_view" summary="상품구분, 상품명, 상품 코드로 구성">
        <caption class="hide">
          검색조건
        </caption>
        <colgroup>
          <col width="100" />
          <col />
          <col width="100" />
          <col />
          <col width="100" />
          <col />
        </colgroup>

        <tbody>
          <tr>
            <th scope="row">상품구분</th>
            <td>
              <select class="select" v-model="searchParams.prodCat">
                <option value="">전체</option>
                <option
                  v-for="(item, idx) in prodCatList"
                  v-bind:key="idx"
                  :value="`${item}`"
                >
                  {{ item }}
                </option>
              </select>
            </td>

            <th scope="row">상품명</th>
            <td>
              <div class="iptBox">
                <input type="text" v-model="searchParams.prodNm" />
              </div>
            </td>

            <th scope="row">상품코드</th>
            <td>
              <div class="iptBox">
                <input type="text" v-model="searchParams.prodCd" />
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="btnBox">
        <a
          class="btn_srch"
          @click.prevent="
            getProductList(
              searchParams.prodCat,
              searchParams.prodNm,
              searchParams.prodCd
            )
          "
          >조회</a
        >
      </div>
    </div>

	<div class="dataTableBox">
      <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
		<table class="dataTable tbl_include_btn no-footer" id="DataTables_Table_0" role="grid" style="width: 1890px;">
		  <thead>
		  	<tr role="row">
			  <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="NO" style="width: 50px;">NO</th>
			  <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="상품코드" style="width: 100px;">상품코드</th>
			  <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="플랜코드" style="width: 100px;">플랜코드</th>
			  <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="상품명" style="width: 575px;">상품명</th>
			  <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="스크립트명">스크립트명</th>
			  <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="판매시작일" style="width: 100px;">판매시작일</th>
			  <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="판매종료일" style="width: 100px;">판매종료일</th>
			  <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="사용여부" style="width: 80px;">사용여부</th>
			  <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="조회" style="width: 100px;">조회</th>
			  <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="설정" style="width: 100px;">설정</th>
			</tr>
		  </thead>
		  
		  <tbody>
		  	<tr role="row" v-if="grid1Data.length === 0">
		  	  <td colspan="10">조회된 데이터가 없습니다.</td>
		  	</tr>
		  	<template v-else>
		  	  <tr v-for="(item, index) in grid1Data" :key="index">
		  	  	<td>{{item.idx}}</td>
		  	  	<td>{{item.prodCd}}</td>
		  	  	<td>{{item.plnCd}}</td>
		  	  	<td>{{item.prodNm}}</td>
		  	  	<td>{{item.scprNm}}</td>
		  	  	<td>{{item.saleEdDt}}</td>
		  	  	<td>{{item.saleEdDt}}</td>
		  	  	<td>{{item.usedYn}}</td>
		  	  	<td>
		  	  	  <div class="btnBox">
		  	  	    <a @click="[getEvalList(item.prodCat, item.prodCd, item.plnCd), setProdCopyTarget(item), setEvalItemProdInfo(item)]" class="btn_check">조회</a>
		  	  	  </div>
		  	  	</td>
		  	  	<td>
		  	  	  <div class="btnBox">
		  	  	    <a @click="openProdSettingsModal(item.idx - 1)" class="btn_check">설정</a>
		  	  	  </div>
		  	  	</td>
		  	  </tr>
		  	</template>
		  </tbody>
		</table>
	  </div>
    </div>

    <v-app>
      <pagination-component :pagination="pagination" />
    </v-app>

    <div class="setArea" ref="setArea">
      <div class="set_script_eval fl">
        <h3>평가항목</h3>

        <div class="btnBox btn_change_group">
          <a class="btn_edit" v-show="!grid2Edit" @click.prevent="onEvalEdit()"
            >수정</a
          >
          <a class="btn_save" v-show="grid2Edit" @click.prevent="onEvalSave()"
            >저장</a
          >
          <a
            class="btn_delete"
            v-show="grid2Edit"
            @click.prevent="onEvalDelete()"
            >삭제</a
          >
          <a
            class="btn_cancel"
            v-show="grid2Edit"
            @click.prevent="onEvalCancel()"
            >취소</a
          >
          <a class="btn_cancel btn_slt_eval" @click="openEvalModal()"
            >평가항목 선택</a
          >
        </div>

        <div class="tbl_set_view">
          <div class="tbl_hd">
            <table
              summary="체크박스, NO, 평가항목코드, 평가항목명, 조회(버튼)로 구성됨"
            >
              <caption class="hide">
                스크립트 평가표 조회
              </caption>
              <colgroup>
                <col v-if="grid2Edit" width="50" />
                <col width="50" />
                <col width="100" />
                <col />
                <col width="80" />
              </colgroup>

              <thead>
                <tr>
                  <th v-if="grid2Edit" scope="col">선택</th>
                  <th scope="col">NO</th>
                  <th scope="col">평가항목코드</th>
                  <th scope="col">평가항목명</th>
                  <th scope="col">조회</th>
                </tr>
              </thead>
            </table>
          </div>

          <div class="tbl_bd tbl_scroll five_line">
            <table>
              <colgroup>
                <col v-if="grid2Edit" width="50" />
                <col width="50" />
                <col width="100" />
                <col />
                <col width="80" />
              </colgroup>

              <tbody>
                <tr v-show="grid2Data.length < 1">
                  <td :style="{ width: '100%' }">데이터가 없습니다</td>
                </tr>
                <template :v-if="grid2Data.length > 0">
                  <tr v-for="(item, idx) in grid2Data" v-bind:key="idx">
                    <td v-if="grid2Edit" scope="row">
                      <div class="chkBox">
                        <input
                          :checked="grid2DeleteTarget.includes(idx)"
                          type="checkbox"
                          :id="`each_chk${idx}`"
                          @change="setEvalDeleteTarget(idx)"
                        />
                        <label :for="`each_chk${idx}`"></label>
                      </div>
                    </td>
                    <td>{{ idx + 1 }}</td>
                    <td>{{ item.chkItmCd }}</td>
                    <td>{{ item.chkItmNm }}</td>
                    <td>
                      <div class="btnBox">
                        <a
                          class="btn_check"
                          @click.prevent="
                            [
                              getIntervalList(
                                item.prodCat,
                                item.prodCd,
                                item.plnCd,
                                item.chkItmCd
                              ),
                              setIntervalItemEvalInfo(item),
                            ]
                          "
                          >조회</a
                        >
                      </div>
                    </td>
                  </tr>
                </template>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="set_script fr">
        <div class="stn_slt" ref="intervalArea">
          <h3>구간 선택</h3>

          <div class="btnBox btn_change_group">
            <a
              class="btn_edit"
              v-show="!grid3Edit"
              @click.prevent="onIntervalEdit()"
              >수정</a
            >
            <a
              class="btn_save"
              v-show="grid3Edit"
              @click.prevent="onIntervalSave()"
              >저장</a
            >
            <a
              class="btn_delete"
              v-show="grid3Edit"
              @click.prevent="onIntervalDelete()"
              >삭제</a
            >
            <a
              class="btn_cancel"
              v-show="grid3Edit"
              @click.prevent="onIntervalCancel()"
              >취소</a
            >
            <a class="btn_stn_slt" @click="openIntervalModal()">구간 선택</a>
          </div>

          <div class="tbl_set_view">
            <div class="tbl_hd">
              <table
                summary="선택(체크박스), NO, 소분류 코드, 적용차수, 소분류명, 조회(버튼)로 구성됨"
              >
                <caption class="hide">
                  상담 선택 내용
                </caption>
                <colgroup>
                  <col v-if="grid3Edit" width="50" />
                  <col width="80" />
                  <col width="150" />
                  <col width="80" />
                  <col />
                  <col width="80" />
                </colgroup>

                <thead>
                  <tr>
                    <th v-if="grid3Edit" scope="col">선택</th>
                    <th scope="col">NO</th>
                    <th scope="col">소분류 코드</th>
                    <th scope="col">적용차수</th>
                    <th scope="col">소분류명</th>
                    <th scope="col">조회</th>
                  </tr>
                </thead>
              </table>
            </div>

            <div class="tbl_bd tbl_scroll three_line">
              <table>
                <colgroup>
                  <col v-if="grid3Edit" width="50" />
                  <col width="80" />
                  <col width="150" />
                  <col width="80" />
                  <col />
                  <col width="80" />
                </colgroup>

                <tbody>
                  <tr v-show="grid3Data.length < 1">
                    <td :style="{ width: '100%' }">데이터가 없습니다</td>
                  </tr>
                  <template :v-if="grid3Data">
                    <tr v-for="(item, idx) in grid3Data" v-bind:key="idx">
                      <td v-if="grid3Edit" scope="row">
                        <div class="chkBox">
                          <input
                            :checked="grid3DeleteTarget.includes(idx)"
                            type="checkbox"
                            :id="`each_chk${idx}`"
                            @change="setIntervalDeleteTarget(idx)"
                          />
                          <label :for="`each_chk${idx}`"></label>
                        </div>
                      </td>
                      <td>{{ idx + 1 }}</td>
                      <td>{{ item.scrpSctgCd }}</td>
                      <td>{{ item.scrpAppOrd }}</td>
                      <td>{{ item.scrpSctgNm }}</td>
                      <td>
                        <div class="btnBox">
                          <a
                            class="btn_check"
                            @click.prevent="
                              getSubguideList(
                                item.scrpLctgCd,
                                item.scrpMctgCd,
                                item.scrpSctgCd,
                                item.scrpAppOrd
                              )
                            "
                            >조회</a
                          >
                        </div>
                      </td>
                    </tr>
                  </template>
                </tbody>
              </table>
            </div>
          </div>

          <div class="custom_tbl tbl_stn_script" ref="subguideArea">
            <table summary="NO, 가이드문구, 문장내용으로 구성">
              <caption class="hide">
                구간 스크립트
              </caption>
              <colgroup>
                <col width="80" />
                <col width="150" />
                <col />
              </colgroup>

              <thead>
                <tr>
                  <th scope="col">NO</th>
                  <th scope="col">가이드 문구</th>
                  <th scope="col">문장내용</th>
                </tr>
              </thead>

              <tbody>
                <tr v-for="(item, idx) in grid4Data" v-bind:key="idx">
                  <td scope="row">{{ idx + 1 }}</td>
                  <td>{{ item.gudStmt }}</td>
                  <td>{{ item.scrp }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { EventBus } from "../../utils/bus";
import { RepositoryFactory } from "@/repositories/RepositoryFactory";
import PaginationComponent from "../pagination/PaginationComponent";
import { mapActions } from "vuex";
import store from "../../store/index";
import _ from "lodash";
import StandardScriptAddProdModal from "../modal/StandardScriptAddProdModal";
import StandardScriptProdSettingsModal from "../modal/StandardScriptProdSettingsModal";
const ManageRepository = RepositoryFactory.get("manage");

export default {
  name: "StandardScript",
  components: {
    StandardScriptAddProdModal,
    StandardScriptProdSettingsModal,
    PaginationComponent,
  },
  computed: {
    pages() {
      if (
        this.pagination.rowsPerPage == null ||
        this.pagination.totalItems == null
      ) {
        return 0;
      }

      return Math.ceil(
        this.pagination.totalItems / this.pagination.rowsPerPage
      );
    },
    // userId 가져오기(상품등록 팝업)
    userInfo() {
      return store.getters["user/getUserInfo"];
    },
  },

  data() {
    return {
      prodCatList: [],
      // getProductList search params
      searchParams: {
        prodCat: "",
        prodNm: null,
        prodCd: null,
      },
      grid1Data: [],
      copyTarget: {},
      pagination: {
        length: 0, // total row
        rowsPerPage: 10, // row per page
        now: 1, // now page
        navigationLength: 10, // navigation length
        callback: this.paginationCallback, // callback
        startRow: 0, // startRow
        endRow: 0, // endRow
        sortingColumn: null,
        sorting: "ASC",
      },
      // copyTargetInfo (passed to prodCopy popup)
      copyTarget: {},
      // grid2 variables
      evalItemProdInfo: null,
      grid2Data: [],
      grid2DataBackup: [], // 수정 취소시 원복용 백업 데이터
      grid2Edit: false, // 수정중 여부
      grid2DeleteTarget: [], // 삭제 대상(임시)
      grid2DeleteConfirm: [], // 삭제 요청에 담을 데이터(확정)
      // grid3 variables
      intervalItemEvalInfo: null,
      grid3Data: [],
      grid3DataBackup: [],
      grid3Edit: false,
      grid3DeleteTarget: [],
      grid3DeleteConfirm: [],
      // grid4 variables
      grid4Data: [],
    };
  },
  methods: {
    paginationCallback() {
      this.getData();
    },
    async getData(now) {
      if (now != undefined) {
        this.pagination.now = now;
      }
      this.getProductList(this.searchParams);
    },
    // 평가항목: 수정 버튼
    onEvalEdit() {
      this.grid2Edit = true;
    },
    // 평가항목 리스트: 대상 상품 정보
    setEvalItemProdInfo(item) {
      this.evalItemProdInfo = item;
    },
    // 평가항목: 체크박스 컨트롤
    setEvalDeleteTarget(index) {
      if (this.grid2DeleteTarget.includes(index)) {
        this.grid2DeleteTarget = this.grid2DeleteTarget.filter(
          (item, idx) => idx !== index
        );
      } else {
        this.grid2DeleteTarget.push(index);
      }
    },
    // 평가항목: 삭제 버튼
    onEvalDelete() {
      this.grid2DeleteConfirm = this.grid2Data.filter((item, idx) =>
        this.grid2DeleteTarget.includes(idx)
      );
      this.grid2Data = this.grid2Data.filter(
        (item, idx) => !this.grid2DeleteTarget.includes(idx)
      );
      this.grid2DeleteTarget = [];
    },
    // 평가항목: 취소 버튼
    onEvalCancel() {
      this.grid2Data = this.grid2DataBackup;
      this.grid2DeleteTarget = [];
      this.grid2DeleteConfirm = [];
      this.grid2Edit = false;
    },
    // 평가항목: 저장 버튼
    async onEvalSave() {
      if (confirm("변경사항을 저장하시겠습니까?")) {
        // 선택된 항목 삭제 요청
        if (this.grid2DeleteConfirm) {
          let res = await this.deleteEvalList(this.grid2DeleteConfirm);
          if (res) {
            this.grid2DeleteConfirm = [];
            this.getProductList();
            this.grid2Edit = false;
          }
        }
      }
    },
    // 구간 선택 리스트: 대상 평가항목 정보
    setIntervalItemEvalInfo(item) {
      this.intervalItemEvalInfo = item;
    },
    // 구간선택: 수정 버튼
    onIntervalEdit() {
      this.grid3Edit = true;
    },
    // 구간선택: 체크박스 컨트롤
    setIntervalDeleteTarget(index) {
      if (this.grid3DeleteTarget.includes(index)) {
        this.grid3DeleteTarget = this.grid3DeleteTarget.filter(
          (item, idx) => idx !== index
        );
      } else {
        this.grid3DeleteTarget.push(index);
      }
    },
    // 구간선택: 삭제 버튼
    onIntervalDelete() {
      this.grid3DeleteConfirm = this.grid3Data.filter((item, idx) =>
        this.grid3DeleteTarget.includes(idx)
      );
      this.grid3Data = this.grid3Data.filter(
        (item, idx) => !this.grid3DeleteTarget.includes(idx)
      );
      this.grid3DeleteTarget = [];
    },
    // 구간선택: 취소 버튼
    onIntervalCancel() {
      this.grid3Data = this.grid3DataBackup;
      this.grid3DeleteTarget = [];
      this.grid2DeleteConfirm = [];
      this.grid3Edit = false;
    },
    // 구간선택: 저장 버튼
    async onIntervalSave() {
      // console.log("구간선택 저장");
      // this.grid3Edit = false;
      // this.grid3DataBackup = _.cloneDeep(this.grid3Data);
      if (confirm("변경사항을 저장하시겠습니까?")) {
        // 선택된 항목 삭제 요청
        if (this.grid3DeleteConfirm) {
          let res = await this.deleteIntervalList(this.grid3DeleteConfirm);
          if (res) {
            this.grid3DeleteConfirm = [];
            this.getProductList();
            this.grid3Edit = false;
          }
        }
      }
    },
    // modal control
    ...mapActions("base", {
      removeModal: "removeModal",
      setModal: "setModal",
    }),
    closeModal() {
      this.removeModal(this);
    },
    openAddProdModal() {
      this.setModal({
        name: "StandardScriptAddProdModal",
        parameters: {
          userInfo: this.userInfo,
          addProduct: this.addProduct, // api call 함수
        },
      });
    },
    setProdCopyTarget(rowData) {
      this.copyTarget = rowData;
    },
    openProdCopyModal(copyTarget) {
      this.setModal({
        name: "StandardScriptProdCopyModal",
        parameters: {
          userInfo: this.userInfo,
          repository: ManageRepository,
          copyTarget: copyTarget,
          copyProduct: this.copyProduct, // api call 함수
        },
      });
    },
    openProdSettingsModal(rowIdx) {
      this.setModal({
        name: "StandardScriptProdSettingsModal",
        parameters: {
          userInfo: this.userInfo,
          prodData: this.grid1Data[rowIdx],
          addProduct: this.addProduct, // api call 함수
        },
      });
    },
    openEvalModal() {
      this.setModal({
        name: "StandardScriptEvalModal",
        parameters: {
          userInfo: this.userInfo,
          repository: ManageRepository,
          prodInfo: this.evalItemProdInfo,
          getProductList: this.getProductList,
        },
      });
    },
    openIntervalModal() {
      this.setModal({
        name: "StandardScriptIntervalModal",
        parameters: {
          userInfo: this.userInfo,
          repository: ManageRepository,
          prodInfo: this.evalItemProdInfo,
          evalInfo: this.intervalItemEvalInfo,
          getProductList: this.getProductList,
        },
      });
    },
    //// modal api functions
    // 상품 등록/수정/삭제
    async addProduct(jsonData) {
      // jsonData.mode: "A": 등록, "U": 수정, "D": 삭제
      const { data: result } = await ManageRepository.addProductList(jsonData);
      console.log("상품 등록/수정/삭제 >>>>>");
      console.log(result);
      jsonData.mode === "D"
        ? alert("성공적으로 삭제되었습니다")
        : alert("성공적으로 등록되었습니다");
      this.getProductList("", "", "");
    },
    // 상품 복사
    async copyProduct(jsonData) {
      const { data: result } = await ManageRepository.copyProduct(jsonData);
      console.log("상품 복사 >>>>>");
      console.log(result);
      this.getProductList("", "", "");
    },
    //// api
    // 상품구분 selectbox 리스트 조회
    async getProdCatList() {
      const { data: result } = await ManageRepository.getProductList({});
      let prodCatList = [];
      result.list.forEach((item) => {
        if (!prodCatList.includes(item.prodCat)) {
          prodCatList.push(item.prodCat);
        }
      });
      this.prodCatList = prodCatList;
    },
    // 상품 메인리스트 조회
    async getProductList(prodCat, prodNm, prodCd) {
      this.$refs.setArea.style.display = "none";
      this.grid2Data = [];
      this.$refs.intervalArea.style.display = "none";
      this.grid3Data = [];
      this.$refs.subguideArea.style.display = "none";
      this.grid4Data = [];
      const jsonData = { prodCat: prodCat, prodNm: prodNm, prodCd: prodCd };
      const { data: result } = await ManageRepository.getProductList(jsonData);
      console.log("상품 리스트 조회 >>>>>");
      console.log(result);
      this.grid1Data = result.list.map((item, idx) => {
        return {
          idx: idx + 1,
          prodCat: item.prodCat,
          prodCd: item.prodCd,
          plnCd: item.plnCd,
          prodNm: item.prodNm,
          scprNm: item.scprNm,
          saleStDt: item.saleStDt,
          saleEdDt: item.saleEdDt,
          usedYn: item.usedYn,
          lookupBtn: "조회",
          settingsBtn: "설정",
        };
      });
      this.pagination.length = result.list.length;
    },
    // 평가항목 리스트 조회
    async getEvalList(prodCat, prodCd, plnCd) {
      this.$refs.intervalArea.style.display = "none";
      this.grid3Data = [];
      this.$refs.subguideArea.style.display = "none";
      this.grid4Data = [];
      const jsonData = { prodCat: prodCat, prodCd: prodCd, plnCd: plnCd };
      const { data: result } = await ManageRepository.getEvalList(jsonData);
      console.log("평가항목 리스트 >>>>>");
      console.log(result);
      this.grid2Data = result.list;
      this.grid2DataBackup = _.cloneDeep(this.grid2Data);
      this.$refs.setArea.style.display = "block";
    },
    // 평가항목 삭제
    async deleteEvalList(jsonArr) {
      console.log(jsonArr);
      const { data: result } = await ManageRepository.deleteEvalItem(jsonArr);
      console.log("평가항목 수정 삭제 >>>>>");
      console.log(result);
      return result.isSuccess;
    },
    // 구간선택 리스트 조회
    async getIntervalList(prodCat, prodCd, plnCd, chkItmCd) {
      this.$refs.subguideArea.style.display = "none";
      this.grid4Data = [];
      const jsonData = {
        prodCat: prodCat,
        prodCd: prodCd,
        plnCd: plnCd,
        chkItmCd: chkItmCd,
      };
      const { data: result } = await ManageRepository.getIntervalList(jsonData);
      console.log("구간선택 리스트 >>>>>");
      console.log(result);
      this.grid3Data = result.list;
      this.grid3DataBackup = _.cloneDeep(this.grid3Data);
      this.$refs.intervalArea.style.display = "block";
    },
    // 구간선택 삭제
    async deleteIntervalList(jsonArr) {
      console.log(jsonArr);
      const { data: result } = await ManageRepository.deleteScrpSecInfo(
        jsonArr
      );
      console.log("구간선택 리스트 항목 삭제 >>>>>");
      console.log(result);
      return result.isSuccess;
    },
    // 가이드문장 리스트 조회
    async getSubguideList(scrpLctgCd, scrpMctgCd, scrpSctgCd, scrpAppOrd) {
      const jsonData = {
        scrpLctgCd: scrpLctgCd,
        scrpMctgCd: scrpMctgCd,
        scrpSctgCd: scrpSctgCd,
        scrpAppOrd: scrpAppOrd,
      };
      const { data: result } = await ManageRepository.getSubguideList(jsonData);
      console.log("가이드문구 리스트 >>>>>");
      console.log(result);
      this.grid4Data = result.list;
      this.$refs.subguideArea.style.display = "block";
    },
  },
  mounted() {
    this.getProdCatList();
    this.getProductList();
  },
  activated() {
    EventBus.$emit('setContetnsClass', {className: 'gnr_script_manage'});
  },
  created() {
    EventBus.$emit("setContetnsClass", { className: "gnr_script_manage" });
  },
};
</script>

<style lang='scss' scoped>
	::v-deep {
	@import "~css/datatables.min";
	@import "~css/common";
	}

	@import "~css/stt_tm_qa";
</style>
