<template>
  <div class="tab_content">
    <h3>재처리 조회</h3>

    <!-- .srchArea -->
    <div class="srchArea">
      <table class="tbl_line_view" summary="QA 요청시간, 증권번호로 구성">
        <caption class="hide">
          검색조건
        </caption>
        <colgroup>
          <col width="100" />
          <col width="310" />
          <col width="100" />
          <col />
        </colgroup>

        <tbody>
          <tr>
            <th scope="row">조회일자</th>
            <td>
              <div class="iptBox">
                <datepicker
                  id="datepickerStDt"
                  input-class="iptDateTime"
                  :format="'yyyy-MM-dd'"
                  :language="ko"
                  v-model="searchParams.fromDate"
                ></datepicker>
                <!-- <input type="text" id="fromDate" class="iptDateTime" /> -->
                <span>&hyphen;</span>
                <datepicker
                  id="datepickerEdDt"
                  input-class="iptDateTime"
                  :format="'yyyy-MM-dd'"
                  :language="ko"
                  v-model="searchParams.toDate"
                ></datepicker>
                <!-- <input type="text" id="toDate" class="iptDateTime" /> -->
              </div>
            </td>

            <th scope="row">증권번호</th>
            <td>
              <div class="iptBox">
                <input type="text" numberOnly v-model="searchParams.nsplNo" />
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="btnBox">
        <a class="btn_srch" @click="onSearch()">조회</a>
      </div>
    </div>
    <!-- //.srchArea -->

    <!-- .dataTableBox -->
    <div class="dataTableBox">
	  <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
			<table class="dataTable tbl_include_btn no-footer dtr-inline" id="DataTables_Table_0" role="grid" style="width: 1890px;">
				<thead>
					<tr role="row">
						<th style="width: 563px;">증권번호</th>
						<th style="width: 562px;">QC 요청시간</th>
						<th style="width: 562px;">처리상태</th>
						<th style="width: 200px;">TA 재처리</th>
					</tr>
				</thead>
				<tbody>
					<tr v-if="!gridData.length" role="row">
						<td colspan="4">조회된 데이터가 없습니다.</td>
					</tr>
					<template v-else>
						<tr v-for="(item, index) in gridData" :key="index">
							<td>{{item.nsplNo}}</td>
							<td>{{item.qaReqTm}}</td>
							<td>{{item.cdNm}}</td>
							<td>
								<div class="btnBox">
									<a @click="reprocessOne(item)" class="btn_ta_rprcs">TA 재처리</a>
								</div>
							</td>
						</tr>
					</template>
				</tbody>
			</table>
		</div>
    </div>
    <!-- //.dataTableBox -->
	<!-- paging -->
	<v-app>
		<pagination-component :pagination="pagination"/>
	</v-app>
	<!-- // paging -->

    <!-- .setArea -->
    <div class="setArea">
      <h3>TA 건수</h3>

      <div class="tbl_set_view" style="width: 600px;">
        <table summary="해당건수, TA 재처리(버튼)로 구성">
          <caption class="hide">TA 건수</caption>
          <thead>
            <tr>
              <th scope="col">해당건수</th>
              <th scope="col">TA 재처리</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td scope="row">{{ table1Data.totalCnt }}</td>
              <td>
                <div class="btnBox">
                  <a class="btn_ta_rprcs" @click="reprocessAll()">TA 재처리</a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- //.setArea -->

    <!-- .setArea -->
    <div class="setArea">
      <h3>TA 처리상태</h3>

      <div class="btnBox">
        <a class="reload" @click="onRefresh()">새로고침</a>
      </div>

      <div class="tbl_set_view">
        <table summary="해당건수, 처리건수, 오류건수로 구성">
          <caption class="hide">TA 처리상태</caption>
          <thead>
            <tr>
              <th scope="col">해당건수</th>
              <th scope="col">TA 처리대기</th>
              <th scope="col">TA 처리중</th>
              <th scope="col">TA 처리완료</th>
              <th scope="col">TA 처리오류</th>
              <th scope="col">녹취없음</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td scope="row">{{ table2Data.totalCnt }}</td>
              <td>{{ table2Data.taList[0].cnt }}</td>
              <td>{{ table2Data.taList[1].cnt }}</td>
              <td>{{ table2Data.taList[2].cnt }}</td>
              <td>{{ table2Data.taList[3].cnt }}</td>
              <td>{{ table2Data.taList[4].cnt }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- //.setArea -->
  </div>
</template>

<script>
import Datepicker from "vuejs-datepicker";
import { EventBus } from "../../utils/bus";
import PaginationComponent from "../pagination/PaginationComponent";
import { RepositoryFactory } from "@/repositories/RepositoryFactory";
const ManageRepository = RepositoryFactory.get("manage");

export default {
  name: "TaReprocess",
  components: {
    PaginationComponent,
    Datepicker,
  },
  data() {
    return {
      statusCodeList: [],
      searchParams: {
        fromDate: null,
        toDate: null,
        nsplNo: null,
      },
      gridData: [],
      pagination: {
        length: 0, // total row
        rowsPerPage: 10, // row per page
        now: 1, // now page
        navigationLength: 10, // navigation length
        callback: this.paginationCallback, // callback
        startRow: 0, // startRow
        endRow: 0, // endRow
      },

      table1Data: {
        totalCnt: 0,
        // progStatCd: null,
      },

      table2Data: {
        totalCnt: 0, // 해당건수
        taList: [
          { progStatCd: "43", cnt: 0 }, // TA 처리대기
          { progStatCd: "40", cnt: 0 }, // TA 처리중
          { progStatCd: "41", cnt: 0 }, // TA 처리완료
          { progStatCd: "42", cnt: 0 }, // TA 처리오류
          { progStatCd: "44", cnt: 0 }, // 녹취없음
        ],
      },
    };
  },
  methods: {
    paginationCallback() {
      this.getData();
    },
    async getData(now) {
      if (now != undefined) {
        this.pagination.now = now;
      }
      this.getTaReprocessMainList(
        Object.assign(this.pagination, this.searchParams)
      );
    },
    // 조회 버튼
    onSearch() {
      this.getTaReprocessMainList(this.searchParams);
      this.getTaReprocessGroupCount(this.searchParams);
    },
    // 단일 데이터 재처리
    reprocessOne(item) {
      this.updateTaReprocess([item]);
    },
    // 전체 데이터 재처리
    async reprocessAll() {
      let res = await this.getTaReprocessMainList(
        Object.assign({ startRow: -1, rowsPerPage: 10 }, this.searchParams)
      );
      if (res) {
        this.updateTaReprocess(res);
      }
    },
    // 새로고침
    onRefresh() {
      this.getTaReprocessGroupCount(this.searchParams);
    },
    // 진행상태코드 리스트 조회
    async getProgressStatusCode() {
      const {data: result} = await ManageRepository.getTaReProgressStatusCode();
      if (result.status === "SUCCESS") {
        this.statusCodeList = result.data;
      }
    },
    // TA재처리 메인리스트 조회
    async getTaReprocessMainList(jsonData) {
      const {data: result} = await ManageRepository.getTaReMainList(jsonData);

      this.gridData = result.dataList;
      this.pagination.length = result.totalCnt;
    },
    // TA재처리 전체 건수 조회
    async getTaReprocessTotalCount(jsonData) {
      const {data: result} = await ManageRepository.getTaReTotalCount(jsonData);
      this.table1Data.totalCnt = result.taReTotalCnt;
      this.table2Data.totalCnt = result.taReTotalCnt;
    },
    // TA재처리 건수 별 리스트 조회
    async getTaReprocessGroupCount(jsonData) {
      this.table2Data.taList = [
        { progStatCd: "43", cnt: 0 }, // TA 처리대기
        { progStatCd: "40", cnt: 0 }, // TA 처리중
        { progStatCd: "41", cnt: 0 }, // TA 처리완료
        { progStatCd: "42", cnt: 0 }, // TA 처리오류
        { progStatCd: "44", cnt: 0 }, // 녹취없음
      ];
      const {data: result} = await ManageRepository.getTaReGroupCount(jsonData);
      if (result.dataList.length > 0) {
        result.dataList.forEach((item) => {
          if (item.progStatCd === "43") {
            this.table2Data.taList[0].cnt += Number(item.cnt);
          } else if (item.progStatCd === "40") {
            this.table2Data.taList[1].cnt += Number(item.cnt);
          } else if (item.progStatCd === "41") {
            this.table2Data.taList[2].cnt += Number(item.cnt);
          } else if (item.progStatCd === "42") {
            this.table2Data.taList[3].cnt += Number(item.cnt);
          } else if (item.progStatCd === "44") {
            this.table2Data.taList[4].cnt += Number(item.cnt);
          }
        });
      }
    },
    // TA재처리 요청
    async updateTaReprocess(jsonArr) {
      const { data: result } = await ManageRepository.updateTaReprocess(jsonArr);
    },
  },
  mounted() {
    
  },
  activated() {
      EventBus.$emit('setContetnsClass', {className: 'admin ta_rprcs'});
  },
  created() {
	EventBus.$emit("setContetnsClass", {className: "admin ta_rprcs"});
	this.getProgressStatusCode();
	this.getTaReprocessMainList(Object.assign(this.pagination, this.searchParams));
	this.getTaReprocessTotalCount(this.searchParams);
	this.getTaReprocessGroupCount(this.searchParams);
  },
};
</script>

<style>
</style>