<template>
    <div>
        <!-- .tab_content -->
        <div class="tab_content">
            <h3>사용자 권한 관리</h3>

            <!-- [D] 사용자 추가(.btn_user_add) 버튼 클릭 시 '사용자 추가(STTMN0009P1)' 팝업 보여져야함 -->
            <div class="btnBox">
                <a @click="openUserModal()" class="btn_user_add">사용자 추가</a>
            </div>

            <!-- .srchArea -->
            <div class="srchArea">
                <table class="tbl_line_view" summary="사용자ID, 사용자명으로 구성">
                    <caption class="hide">검색조건</caption>
                    <colgroup>
                        <col width="100"><col width="310"><col width="100"><col>
                    </colgroup>

                    <tbody>
                    <tr>
                        <th scope="row">사용자ID</th>
                        <td>
                            <div class="iptBox">
                                <input v-model="searchParam.userId" maxlength="12" type="text">
                            </div>
                        </td>

                        <th scope="row">사용자명</th>
                        <td>
                            <div class="iptBox">
                                <input v-model="searchParam.userNm" maxlength="12" type="text">
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="btnBox">
                    <a @click="getUsers(false)" class="btn_srch">조회</a>
                </div>
            </div>
            <!-- //.srchArea -->

            <!-- .dataTableBox -->
            <div class="dataTableBox">
                <!-- [D] datatables 라이브러리 영역 -->
                <!-- [D] 초기 화면 진입 시 전체 리스트 조회 상태여야함 -->
                <table class="dataTable tbl_include_btn">
					<colgroup>
						<col width="50px">
						<col width="*">
						<col width="*">
						<col width="*">
						<col width="100px">
						<col width="100px">
						<col width="120px">
						<col width="120px">
					</colgroup>
                    <thead>
                    <tr>
                        <th>NO</th>
                        <th>사용자 ID</th>
                        <th>사용자명</th>
                        <th>권한 설정</th>
                        <th>계정잠금 해제</th>
                        <th>설정</th>
                        <th>등록일자</th>
                        <th>수정일자</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-if="users.length > 0" v-for="(item, index) in users" :class="{active : user && user.userId == item.userId}">
                        <td v-text="item.rowNum">1</td>
                        <td v-text="item.userId">aa</td>
                        <td v-text="item.userNm">관리자1</td>
                        <td v-text="item.auth">관리자</td>
                        <td>
                            <template v-if="item.loginFailCount >= 5">
                                <div class="btnBox">
                                    <a @click="loginUnlock(item)" class="btn_delete">잠금해제</a>
                                </div>
                            </template>
                            <template v-else>
                                -
                            </template>
                        </td>
                        <td>
                            <!-- [D] 설정(.btn_set) 버튼 클릭 시 '사용자 설정(STTMN0009P2)' 팝업 보여져야함 -->
                            <div class="btnBox">
                                <a @click="openUserModal(item)" class="btn_set">설정</a>
                            </div>
                        </td>
                        <td v-text="item.createdTm">2020-09-20</td>
                        <td v-text="item.updatedTm || '-'">2020-10-20</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- //.dataTableBox -->
            <v-app>
                <pagination-component :pagination="pagination"/>
            </v-app>
        </div>
        <!-- //.tab_content -->
    </div>
</template>

<script>
import {EventBus} from "../../utils/bus";
import PaginationComponent from "../pagination/PaginationComponent";
import {RepositoryFactory} from '@/repositories/RepositoryFactory';
import Datepicker from 'vuejs-datepicker';
import {mapActions} from "vuex";

const manageRepository = RepositoryFactory.get('manage');

export default {
    name: "User",
    components: {
        PaginationComponent,
        Datepicker
    },
    computed: {

    },
    watch: {

    },
    data: function () {
        return {
            users: [],
            user: null,
            searchParam: {
                userId: '',
                userNm: '',
            },
            pagination: {
                length: 0, // total row
                rowsPerPage: 10, // row per page
                now: 1, // now page
                navigationLength: 10, // navigation length
                callback: this.paginationCallback, // callback
                startRow: 0, // startRow
                endRow: 0, // endRow
                sortingColumn: null,
                sorting: null,
            },
        }
    },
    methods: {
        ...mapActions('base', {
            setModal: 'setModal'
        }),
        paginationCallback() {
            this.getUsers(null);
        },
        async getUsers(flag){
            if(flag) this.pagination.startRow = 0;
            const {data: result} = await manageRepository.getUsers({...this.searchParam, ...{startRow: this.pagination.startRow, rowsPerPage: this.pagination.rowsPerPage}});
            if(result.status === 'NOT_FOUND') console.log('조회결과 없음 - 사용자 목록');
            this.pagination.length = result.length;
            result.data.forEach((v, i) => v.rowNum = (this.pagination.now - 1) * this.pagination.rowsPerPage + (i + 1));
            this.users = result.data;
        },
        async loginUnlock(user){
            const {data: result} = await manageRepository.updUnlockUser(user.userId);
            if(result.status === 'FAIL'){
                alert('계정잠금 해제에 실패했습니다.');
            }else{
                alert('계정잠금 해제에 성공했습니다.');
                await this.getUsers();
            }
        },
        openUserModal(item){
            this.user = item;
            this.setModal({name: 'UserModal', parameters: {repositoryFactory: RepositoryFactory, user: this.user, callback: this.getUsers}});
        },
    },
    mounted() {
        this.getUsers();
    },
    activated() {
        EventBus.$emit('setContetnsClass', {className: 'admin right_manage'});
    },
    created() {
        EventBus.$emit('setContetnsClass', {className: 'admin right_manage'});
    },
}
</script>

<style scoped>

</style>