<template>
    <body :class="isModal ? 'lyr_bg_dim' : ''" oncontextmenu="return false;" ondragstart="return false;">
        <UserLayout v-if="$route.meta.layout === 'UserLayout'"></UserLayout>
        <LoginLayout v-else-if="$route.meta.layout === 'LoginLayout'"></LoginLayout>
        <PopupLayout v-else-if="$route.meta.layout === 'PopupLayout'"></PopupLayout>
        <UserLayout v-else></UserLayout>
        <modal-layout/>
    </body>
</template>

<script>

import {mapGetters} from "vuex";
import UserLayout from "@/components/layout/UserLayout";
import LoginLayout from "@/components/layout/LoginLayout";
import PopupLayout from "@/components/layout/PopupLayout";
import ModalLayout from "@/components/layout/ModalLayout";

export default {
    name: 'App',
    components: {
        ModalLayout,
        LoginLayout,
        UserLayout,
        PopupLayout,
    },
    computed: {
        ...mapGetters('base', {
            isModal: 'isModal',
        }),
    },
    created() {
    }
}
</script>
<style lang="scss">
    @import '~css/common';
    .v-application--wrap {
        -webkit-backface-visibility: unset !important;
        backface-visibility: unset !important;
        display: unset !important;
        min-height: unset !important;
        max-width: unset !important;
        position: unset !important;
    }
</style>

